﻿@using Now.Domain;

@model IList<DashboardRankingVendedores>

<div class="box box-widget widget-user-2">
    <div class="widget-user-header bg-black" style="background: url(@Url.Content("~/Images/destaaque_picapau_p.fw.png")) center right no-repeat;">
        <div class="widget-user-image">
            <img class="img-circle" src="@(Model.Count() > 0 ? String.IsNullOrEmpty(Model[0].img_perfil) ? Url.Content("~/dist/img/user2-160x160.jpg") : "http://usereserva.dyndns.org:82/Intranet/images/fotosVendedores/" + Model[0].img_perfil : Url.Content("~/dist/img/user2-160x160.jpg"))" alt="@(Model.Count() > 0 ? Model[0].vendedor.ToUpper() : "-")">
        </div>
        <h3 class="widget-user-username responsive" data-compression="25" data-min="14" data-max="24">Ranking vendedores (@(Model.FirstOrDefault() == null ? "-" : Model.FirstOrDefault().loja.ToUpper().Trim()))</h3>
        <h5 class="widget-user-desc responsive" data-compression="25" data-min="10" data-max="14">Destaque: @(Model.Count() > 0 ? Model[0].vendedor.ToUpper() : "-") </h5>

    </div>

    <div class="box-footer no-padding scroll400">
        <table class="responsive table table-bordered tableOrder" data-min="4" data-max="12" cellpadding="0" cellspacing="0">
            <thead>
                <tr style="vertical-align:central!important">
                    <th class="text-center" style="vertical-align:middle!important">#</th>
                    <th class="text-center" style="vertical-align:middle!important">Loja</th>
                    <th class="text-center" style="vertical-align:middle!important">Vendedor</th>
                    <th class="text-center" style="vertical-align:middle!important">Valor Loja</th>

                    <th class="text-center" style="vertical-align:middle!important" title="quantidade de clientes que foi responsável pelo valor desta coluna.Ex:2 clientes compraram R$5.651 Esta coluna pode ser representada por um ícone, para que ela não ocupe muito espaço no relatório">C</th>
                    <th class="text-center" style="vertical-align:middle!important" title="quantidade de peças que foi responsável pelo valor desta coluna.Ex:107 peças corresponderam a 81k OBS: No caso das trocas: Considerar a diferença de peças, quando se tratar de uma troca (a mesma foram que você calcula o PA)">P</th>
                    <th class="text-center" style="vertical-align:middle!important">Vendeu</th>

                    <th class="text-center" style="vertical-align:middle!important" title="quantidade de clientes que foi responsável pelo valor desta coluna.Ex:8 clientes compraram...">C</th>
                    <th class="text-center" style="vertical-align:middle!important" title="quantidade de peças que foi responsável pelo valor desta coluna. Ex: 117 peças corresponderam a 83k OBS: No caso das trocas: Considerar a diferença de peças, quando se tratar de uma troca (a mesma foram que você calcula o PA)">P</th>
                    <th class="text-center" style="vertical-align:middle!important">Gerou</th>

                    <th class="text-center" style="vertical-align:middle!important" title="quantidade de clientes que foi responsável pelo valor desta coluna.Ex:8 clientes compraram...">C</th>
                    <th class="text-center" style="vertical-align:middle!important" title="quantidade de peças que foi responsável pelo valor desta coluna. Ex: 117 peças corresponderam a 83k OBS: No caso das trocas: Considerar a diferença de peças, quando se tratar de uma troca (a mesma foram que você calcula o PA)">P</th>
                    <th class="text-center" style="vertical-align:middle!important">Gerou/Vendeu Mesmo Cliente</th>
                    <th></th>
                </tr>
            </thead>
            <thead>
                <tr class="bg-gray-gradient" style="vertical-align:central!important">
                    <th></th>
                    <th class="text-center" style="vertical-align:middle!important"></th>
                    <th class="text-center" style="vertical-align:middle!important">Total</th>
                    <th class="text-center" style="vertical-align:middle!important">@(String.Format("{0:C}", (Model).Sum(x => x.valor)))</th>

                    <th class="text-center" style="vertical-align:middle!important">@((Model).Sum(x => x.qtde_venda_clientes))</th>
                    <th class="text-center" style="vertical-align:middle!important">@((Model).Sum(x => x.qtde_venda_pecas))</th>
                    <th class="text-center" style="vertical-align:middle!important">@(String.Format("{0:C}", (Model).Sum(x => x.valor_venda_now)))</th>

                    <th class="text-center" style="vertical-align:middle!important">@((Model).Sum(x => x.qtde_contato_clientes))</th>
                    <th class="text-center" style="vertical-align:middle!important">@((Model).Sum(x => x.qtde_contato_pecas))</th>
                    <th class="text-center" style="vertical-align:middle!important">@(String.Format("{0:C}", (Model).Sum(x => x.valor_contato_now)))</th>

                    <th class="text-center" style="vertical-align:middle!important">@((Model).Sum(x => x.qtde_contato_venda_clientes))</th>
                    <th class="text-center" style="vertical-align:middle!important">@((Model).Sum(x => x.qtde_contato_venda_pecas))</th>
                    <th class="text-center" style="vertical-align:middle!important">@(String.Format("{0:C}", (Model).Sum(x => x.valor_contato_venda_now)))</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (DashboardRankingVendedores item in Model)
            {
                    <tr style="vertical-align:middle!important">
                        <td style="vertical-align:middle!important">@item.ranking</td>
                        <td style="vertical-align:middle!important">@item.loja</td>
                        <td style="vertical-align:middle!important">@Html.Raw(item.vendedor.ToUpper())</td>
                        <td class="text-center" style="vertical-align:middle!important">@(String.Format("{0:C}", @item.valor))</td>

                        <td class="text-center" style="vertical-align:middle!important">@item.qtde_venda_clientes</td>
                        <td class="text-center" style="vertical-align:middle!important">@item.qtde_venda_pecas</td>
                        <td class="text-center" style="vertical-align:middle!important">@(String.Format("{0:C}", @item.valor_venda_now))</td>

                        <td class="text-center" style="vertical-align:middle!important">@item.qtde_contato_clientes</td>
                        <td class="text-center" style="vertical-align:middle!important">@item.qtde_contato_pecas</td>
                        <td class="text-center" style="vertical-align:middle!important">@(String.Format("{0:C}", @item.valor_contato_now))</td>

                        <td class="text-center" style="vertical-align:middle!important">@item.qtde_contato_venda_clientes</td>
                        <td class="text-center" style="vertical-align:middle!important">@item.qtde_contato_venda_pecas</td>
                        <td class="text-center">@(String.Format("{0:C}", item.valor_contato_venda_now))</td>

                        <td class="text-center" style="vertical-align:middle!important">
                            @if (item.posicao == 1)
                            {<i class="fa fa-chevron-up text-green"></i>}
                            else if (item.posicao == -1)
                            {
                                <i class="fa fa-chevron-down text-red"></i>
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>