﻿@{
    ViewBag.Title = "Estoque Tal Pai Tal Filho";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-widget widget-user-2">
            <div class="box box-widget widget-user-2">
                <div class="box-header with-border">
                    <h3 class="box-title">Pesquisa</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" data-original-title="Contacts">
                            <i class="fa fa-comments"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="divPesqCatalogo">
                        <div class="col-md-10 border-right">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Loja</label>
                                    @if (((SelectList)ViewBag.LojasFiltradoLojaId).Count() > 1)
                                    {
                                        @Html.DropDownList("ddlLoja",
                            (SelectList)ViewBag.LojasFiltradoLojaId,
                            new { @class = "form-control select2 input-lg", @onchange = "$('#hddlojaId').val(this.value)", @style = "width: 100%;" })
                                    }
                                    else
                                    {
                                        <h4 class="text-center">@Html.Label("lblLoja", (String)ViewBag.NomeLojaSelecionada)</h4>
                                    }
                                    <input type="hidden" id="hddlojaId" value="@ViewBag.LojaIdLojaSelecionada" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Código</label>
                                    <input class="form-control input-lg text-center" type="text" placeholder="Informe..." id="txtPesqCodProduto">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Produto</label>
                                    <input class="form-control input-lg" type="text" placeholder="Informe..." id="txtPesqProduto">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label style="color:white">.</label>
                                    <button class="btn2-gradient btn-warning btn-block text-center" type="submit" onclick="LimparCamposCatalogo()"><i class="fa fa-eraser"></i> <b>LIMPAR</b></button>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Griffe</label>
                                    @Html.DropDownList("ddlGrife", new List<SelectListItem>(),
                            new { @class = "form-control select2 input-lg", @onchange = "$('#hddGriffeProduto').val(this.value); carregarDropGrupo();", @style = "width: 100%;" })
                                    <input type="hidden" id="hddGriffeProduto" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Grupo</label>
                                    @Html.DropDownList("ddlGrupo", new List<SelectListItem>(),
                            new { @class = "form-control select2 input-lg", @onchange = "$('#hddGrupoProduto').val(this.value)", @style = "width: 100%;" })
                                    <input type="hidden" id="hddGrupoProduto" />
                                </div>
                            </div>
                            @*<div class="col-md-2">
                                <div class="form-group">
                                    <label style="color:white">.</label>
                                    <br />
                                    <label>
                                        <input type="checkbox" id="chkConsulta" class="chkpesquisa" /> Consultar peças sem estoque?
                                    </label>
                                    <input type="hidden" id="hddTipoEstoque" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Ordenação</label>
                                    @Html.DropDownList("ddlOrdenacao", new List<SelectListItem>
                 {
                    new SelectListItem{ Text="Alfabética", Value = "", Selected=true },
                    new SelectListItem{ Text="Menor Preço", Value = "MENORPRECO" },
                    new SelectListItem{ Text="Maior Preço", Value = "MAIORPRECO" },
                    new SelectListItem{ Text="Mais Vendidos", Value = "MAISVENDIDOSLOJA" }

                 }, new { @class = "form-control select2 input-lg", @style = "width: 100%;", required = "required" })
                                </div>
                            </div>*@
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label style="color:white">.</label>
                                    <button class="btn2-gradient btn-primary btn-block text-center" type="submit" onclick="InicioCarregacatalogo()"><i class="fa fa-search"></i> <b>BUSCAR</b></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-center" style="padding-top:40px">
                            <span class="info-box-text">Qtde. Produtos Localizados <span class="info-box-number" id="totBusca">0</span></span>
                            <div class="progress progress-sm active">
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="divPercentualCat">
                                    <span class="sr-only">20% Complete</span>
                                </div>
                            </div>
                            <span class="progress-description" id="catDescPercentual">

                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="divCatalogoProduto">
                            <div class="col-md-12">
                                <div class="scroll600" id="listCatProdutos" onscroll="CatalogoProdutos()">
                                    <div class="col-md-12" id="catalogoGridImg">

                                    </div>

                                    <div class="col-md-12" id="catalogoGridImg">
                                    </div>
                                    <div class="alert alert-warning alert-dismissible" style="width:100%!important;" id="alertCatalogo">
                                        <h4><i class="icon fa fa-warning"></i> Atenção!</h4>
                                        Nenhum registro encontrado!
                                    </div>
                                    <div class="text-center" id="catLoading" style="display:none">
                                        <img src="~/Images/loading___.gif" />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="divMarcarProduto" style="display:none">
                            <h2 class="page-header">Marcar Produtos</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <input class="form-control input-lg text-center" type="text" placeholder="Pesquise o Produto" onchange="PesquisaProdutosMarcacao(this.value)" id="txtPesqProduto">
                                        <div class="scroll400" id="listProdutoMarcar" onscroll="produtos()">
                                            <ul class="products-list product-list-in-box" id="listProdutosMarcar"></ul>
                                        </div>
                                        <hr />
                                        <div class="alert alert-info alert-dismissible">
                                            <h4><i class="icon fa fa-info"></i> Objetivo!</h4>
                                            O objetivo é marcar o produto, para que o sistema avise quando o mesmo chegar na loja!
                                            <br />
                                            <br />
                                            Só pode ser marcado o produto que não existe na loja.
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="box box-primary">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Produtos Marcados</h3>

                                                <div class="box-tools pull-right">
                                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <ul class="products-list product-list-in-box">
                                                    <li class="item">
                                                        <div class="product-img">
                                                            <img src="https://imagens.usereserva.com.br/images/853x1280/0028423312_01.jpg?ims=66x90" style="height:68px!important" alt="Product Image">
                                                        </div>
                                                        <div class="product-info">
                                                            <a href="javascript:void(0)" class="product-title">
                                                                Samsung TV
                                                            </a>
                                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                            <span class="product-description">
                                                                Samsung 32" 1080p 60Hz LED Smart HDTV.
                                                            </span>
                                                        </div>
                                                    </li>
                                                    <!-- /.item -->
                                                    <li class="item">
                                                        <div class="product-img">
                                                            <img src="dist/img/default-50x50.gif" alt="Product Image">
                                                        </div>
                                                        <div class="product-info">
                                                            <a href="javascript:void(0)" class="product-title">
                                                                Bicycle
                                                            </a>
                                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                            <span class="product-description">
                                                                26" Mongoose Dolomite Men's 7-speed, Navy Blue.
                                                            </span>
                                                        </div>
                                                    </li>
                                                    <!-- /.item -->
                                                    <li class="item">
                                                        <div class="product-img">
                                                            <img src="dist/img/default-50x50.gif" alt="Product Image">
                                                        </div>
                                                        <div class="product-info">
                                                            <a href="javascript:void(0)" class="product-title">Xbox One <span class="label label-danger pull-right">$350</span></a>
                                                            <span class="product-description">
                                                                Xbox One Console Bundle with Halo Master Chief Collection.
                                                            </span>
                                                        </div>
                                                    </li>
                                                    <!-- /.item -->
                                                    <li class="item">
                                                        <div class="product-img">
                                                            <img src="dist/img/default-50x50.gif" alt="Product Image">
                                                        </div>
                                                        <div class="product-info">
                                                            <a href="javascript:void(0)" class="product-title">
                                                                PlayStation 4
                                                                <span class="label label-success pull-right">$399</span>
                                                            </a>
                                                            <span class="product-description">
                                                                PlayStation 4 500GB Console (PS4)
                                                            </span>
                                                        </div>
                                                    </li>
                                                    <!-- /.item -->
                                                </ul>
                                            </div>
                                            <!-- /.box-body -->
                                            <div class="box-footer text-center">
                                                <a href="javascript:void(0)" class="uppercase">View All Products</a>
                                            </div>
                                            <!-- /.box-footer -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="divCampanhaProduto" style="display:none;">
                            <h2 class="page-header">Campanha de Produtos</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="modalFotos" tabindex="-1" role="dialog" aria-labelledby="modalFotosLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:400px!important">
        <div class="modal-content">
            <div class="modal-body" style="padding:0px!important" id="bodyCarrossel">

            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">

        $('#ddlGrife').empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetGriffe", "CatalogoProdutos")',
            dataType: 'json',
            success: function (dados) {
                $.each(dados, function (i, item) {
                    $('#ddlGrife').append('<option value="' + item.Value + '">' + item.Text + '</option>');
                });
            }
        });

        carregarDropGrupo();
        function carregarDropGrupo() {
            $('#ddlGrupo').empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetGrupoProdutos", "CatalogoProdutos")',
                data: { griffe: $('#hddGriffeProduto').val() },
                dataType: 'json',
                success: function (dados) {
                    $.each(dados, function (i, item) {
                        $('#ddlGrupo').append('<option value="' + item.Value + '">' + item.Text + '</option>');
                    });
                }
            });
        }

        var catPageIndex = 0;
        var catPageCount = 0;
        var catPageCountRegistro = 0;
        var RecordCount = 0;
        var posicaoScroll = 0;

        function CatalogoProdutos() {
            var scrollHeight = $('#listCatProdutos').prop("scrollHeight"); // total scrollable height of the element
            var scrollTop = $('#listCatProdutos').scrollTop(); // how far you have come from the top while scrolling vertically
            var height = $('#listCatProdutos').height(); // the constant height of the portion in display at all times

            if (posicaoScroll > scrollTop) {
                // Exibo a pesquisa
                //$('#divPesqCatalogo').fadeIn();
            }
            else {
                // Escondo a pesquisa
                //$('#divPesqCatalogo').fadeOut();
            }
            posicaoScroll = scrollTop;

            if (scrollHeight === (scrollTop + height)) {
                carregacatalogo();
                
            }
            else {
                //$('#divPercentualCat').width(100 + '%');
            }
        }

        function InicioCarregacatalogo() {
            //loading();

            $('#catPainel').removeClass("bg-red").addClass("bg-yellow");
            catPageIndex = 0;
            catPageCount = 0;
            catPageCountRegistro = 0;
            RecordCount = 0;
            carregacatalogo();
            //alert('FIm');
            // $.unblockUI();
        }

        function LimparCamposCatalogo() {
            $('#ddlGrife').val('');
            $('#txtPesqCodProduto').val('');
            $('#hddGriffeProduto').val('');
            $('#hddGrupoProduto').val('');
            $('#txtPesqProduto').val('');
            carregarDropGrupo();
        }

        function carregacatalogo() {
            catPageIndex++;
            if (catPageIndex == 1)
            { loading(); }

            if (catPageIndex == 1 || catPageIndex <= catPageCount) {
                var _lojaId = 'TLMIGP';
                var _griffe = 'RESERVA MINI';

                if ($('#hddlojaId').val().indexOf('#') > -1) {
                    _lojaId = $('#hddlojaId').val().split('#')[0];
                    _griffe = $('#hddlojaId').val().split('#')[1];
                }

                var _strCodigo = $('#txtPesqCodProduto').val();
                var _strGriffe = $('#hddGriffeProduto').val();
                var _strGrupo = $('#hddGrupoProduto').val();
                var _strPesq = $('#txtPesqProduto').val();

                var _strSemEstoque = $('#hddTipoEstoque').val();
                var _strOrdenacao = $('#ddlOrdenacao').val();
                // url: 'http://usereserva.dyndns.org:82/NowApi/api/EstoqueDisponivel/GetCatalogo',
               
                $('#catLoading').fadeIn();
                $.ajax({
                    type: 'GET',
                    url: 'http://usereserva.dyndns.org:82/NowEstoqueApi/api/EstoqueDisponivel/GetCatalogo',
                    dataType: 'json',
                    data: {
                        griffe: _griffe
                          , strPesq: _strPesq
                          , strCodigo: _strCodigo
                          , strGriffe: _strGriffe
                          , strGrupo: _strGrupo
                          , pageIndex: catPageIndex
                          , pageCount: catPageCount
                          , lojaId: _lojaId
                          , strSemEstoque: ''
                          , strOrdenacao: ''
                    },
                    success: function (data) {
                        var _produto = '';
                        var _produtoLinha = '';
                        var i = 0;
                        // _produto += '<div class="row">';
                        $.each(data, function (i, item) {
                            catPageCount = (item.PageCount != null ? item.PageCount : 0);
                            RecordCount = item.RecordCount;
                            catPageCountRegistro++;
                            i++;

                            _produtoLinha += '<div class="col-xs-12 col-sm-6 col-md-6"> ';
                            _produtoLinha += '<div class="col-xs-12 col-sm-12 col-md-12 well well-sm">';
                            _produtoLinha += '<div class="col-xs-12 col-sm-6 col-md-6">  ';
                            _produtoLinha += '<div class="row">';
                            _produtoLinha += '<div class="col-sm-12 col-md-12">';
                            _produtoLinha += '<div class="col-xs-12">';
                            _produtoLinha += '<h5 class="page-header">';
                            _produtoLinha += '<i class="fa fa-globe"></i> Tal Pai ';
                            _produtoLinha += '<small class="pull-right"></small>';
                            _produtoLinha += '</h5>';
                            _produtoLinha += '</div>      ';
                            _produtoLinha += '</div>';
                            _produtoLinha += ' <div class="col-sm-12 col-md-12"><div class="col-sm-1 col-md-1"></div><div class="col-sm-10 col-md-10">';
                            _produtoLinha += '<img src="https://imagens.usereserva.com.br/images/853x1280/' + item.tal_pai_produto + item.tal_pai_produto_cor + '_01.jpg?ims=800x1200" alt="" class="img-rounded img-responsive" onerror="this.src = \'@Url.Content("~/Images/imgNotFound.jpg")\'" onclick="AbrirModalFoto(\' ' + item.tal_pai_produto + item.tal_pai_produto_cor + ' \');" style="cursor:pointer"/>';
                            _produtoLinha += '</div><div class="col-sm-1 col-md-1"></div></div>';
                            _produtoLinha += '<div class="col-sm-12 col-md-12">';
                            _produtoLinha += '<div class="col-sm-12">';
                            _produtoLinha += item.descricao_produto;
                            _produtoLinha += '<h4>Ref: ' + item.tal_pai_produto + item.tal_pai_produto_cor + '</h4>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '<div class="col-sm-12">';
                            _produtoLinha += '<div class="description-block" style="text-align:left!important">';
                            _produtoLinha += '<h6 class="description-header">Loja</h6>';
                            _produtoLinha += '<span class="description-text">';
                            _produtoLinha += item.tamanho_pai_loja;
                            _produtoLinha += '</span>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '<div class="col-sm-12">';
                            _produtoLinha += '<div class="description-block" style="text-align:left!important">';
                            _produtoLinha += '<h6 class="description-header">E-Commerce</h6>';
                            _produtoLinha += '<span class="description-text">';
                            _produtoLinha += item.tamanho_pai_ecomerce;
                            _produtoLinha += '</span>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '<div class="col-xs-12 col-sm-6 col-md-6">';
                            _produtoLinha += '<div class="row">';
                            _produtoLinha += '<div class="col-sm-12 col-md-12">';
                            _produtoLinha += '<div class="col-xs-12">';
                            _produtoLinha += '<h4 class="page-header">';
                            _produtoLinha += '<i class="fa fa-globe"></i> Tal Filho';
                            _produtoLinha += '<small class="pull-right"></small>';
                            _produtoLinha += '</h4>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '<div class="col-sm-12 col-md-12"><div class="col-sm-1 col-md-1"></div><div class="col-sm-10 col-md-10">';
                            _produtoLinha += '<img src="https://imagens.usereserva.com.br/images/853x1280/' + item.tal_filho_produto + item.tal_filho_produto_cor + '_01.jpg?ims=800x1200" alt="" class="img-rounded img-responsive" onerror="this.src = \'@Url.Content("~/Images/imgNotFound.jpg")\'" onclick="AbrirModalFoto(\' ' + item.tal_filho_produto + item.tal_filho_produto_cor + ' \');" style="cursor:pointer"/>';
                            _produtoLinha += '</div><div class="col-sm-1 col-md-1"></div></div>';
                            _produtoLinha += '<div class="col-sm-12 col-md-12">';
                            _produtoLinha += '<div class="col-sm-12">';
                            _produtoLinha +=  item.descricao_produto_filho;
                            _produtoLinha += '<h4>Ref: ' + item.tal_filho_produto + item.tal_filho_produto_cor + '</h4>';
                            _produtoLinha += '</div>';  
                            _produtoLinha += '<div class="col-sm-12">';
                            _produtoLinha += '<div class="description-block" style="text-align:left!important">';
                            _produtoLinha += '<h6 class="description-header">Loja</h6>';
                            _produtoLinha += '<span class="description-text">';
                            _produtoLinha += item.tamanho_filho_loja;
                            _produtoLinha += '</span>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '<div class="col-sm-12">';
                            _produtoLinha += '<div class="description-block" style="text-align:left!important">';
                            _produtoLinha += '<h6 class="description-header">E-Commerce</h6>';
                            _produtoLinha += '<span class="description-text">';
                            _produtoLinha += item.tamanho_filho_ecomerce;
                            _produtoLinha += '</span>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '<div>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '</div></div></div>';

                            @*_produtoLinha += '<div class="col-xs-12 col-sm-6 col-md-6">';
                            _produtoLinha += '<div class="well well-sm">';
                            _produtoLinha += '<div class="row">';
                            _produtoLinha += '<div class="col-sm-6 col-md-3">';
                            _produtoLinha += '<img src="https://imagens.usereserva.com.br/images/853x1280/' + item.produto + item.cor_produto + '_01.jpg?ims=800x1200" alt="" class="img-rounded img-responsive" onerror="this.src = \'@Url.Content("~/Images/imgNotFound.jpg")\'" onclick="AbrirModalFoto(\' ' + item.produto + item.cor_produto + ' \');" style="cursor:pointer"/>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '<div class="col-sm-6 col-md-9">';
                            _produtoLinha += '<h4>';
                            _produtoLinha += item.descricao_produto
                            _produtoLinha += '</h4>';
                            _produtoLinha += '<small>';
                            _produtoLinha += '<cite title="' + item.descricao_produto + '">';
                            _produtoLinha += 'Ref: ' + item.produto + ' <br />Cor: ' + item.cor_produto + ' <br>' + item.preco;
                            _produtoLinha += '</cite>';
                            _produtoLinha += '</small>';
                            _produtoLinha += '<div class="col-sm-12">';
                            _produtoLinha += '<div class="description-block" style="text-align:left!important">';
                            _produtoLinha += '<h6 class="description-header">Loja</h6>';
                            _produtoLinha += '<span class="description-text">';
                            _produtoLinha += item.tamanho_loja;
                            _produtoLinha += '</span>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '<div class="col-sm-12">';
                            _produtoLinha += '<div class="description-block" style="text-align:left!important">';
                            _produtoLinha += '<h6 class="description-header">E-Commerce</h6>';
                            _produtoLinha += '<span class="description-text">';
                            _produtoLinha += item.tamanho_ecomerce;
                            _produtoLinha += '</span>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '</div>';
                            _produtoLinha += '</div>';*@

                           

                            if (i % 2 == 0) {
                                i = 0;
                                _produto += '<div class="row">';
                                _produto += _produtoLinha;
                                _produto += '</div>';
                                _produtoLinha = '';
                            }

                        });

                        if (data.length % 2 != 0) {
                            _produto += '<div class="row">';
                            _produto += _produtoLinha;
                            _produto += '</div>';
                        }

                        // _produto += '</div>';
                        $('#totBusca').html(RecordCount);
                        var percentual = parseInt((catPageCountRegistro / RecordCount) * 100) + '%';
                        $('#divPercentualCat').width(percentual);
                        $('#catDescPercentual').html(percentual + ' dos produtos foram listados.');
                        if (catPageIndex == 1) {
                            $('#catalogoGridImg').html('');
                            $('#catalogoGridImg').html(_produto);
                        }
                        else {
                            $('#catalogoGridImg').html($('#catalogoGridImg').html() + _produto);
                        }
                        if (data.length > 0) {
                            $('#alertCatalogo').fadeOut();
                            //$('#idGridCatalogo').fadeIn();
                        }
                        else {
                            $('#alertCatalogo').fadeIn();
                            // $('#idGridCatalogo').fadeOut();
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (ex) {
                        alert('Erro');
                        $.unblockUI();
                    }
                });

                $('#catLoading').fadeOut();

            } else {
                $('#divPercentualCat').width(100 + '%');
                $('#catDescPercentual').html('100% dos produtos foram listados.');
                // $('#catPainel').removeClass("bg-yellow").addClass("bg-red");
            }

        }

        var carrIndicador = '';
        var carrInner = '';

        function AbrirModalFoto(codProduto) {
            var numbers = [0, 1, 2, 3, 4, 5];

            carrIndicador = '';
            carrInner = '';

            $.each(numbers, function (i, item) {
                var imgSrc = 'https://imagens.usereserva.com.br/images/853x1280/' + codProduto.trim() + '_0' + (parseInt(item) + 1) + '.jpg?ims=400x550';

                var image = new Image();
                image.onload = function () {
                    imgValida(codProduto, item, imgSrc);
                };
                image.src = imgSrc;
            });

            $("#modalFotos").modal("show");
        }

        function imgValida(codProd, item, src) {
            codProd = codProd.trim();
            var carrossel = '';
            carrIndicador += '<li data-target="#' + codProd + '" data-slide-to="' + item + '" ' + (item == 0 ? 'class="active"' : '') + ' ></li>';
            carrInner += '<div class="item ' + (item == 0 ? 'active' : '') + '"><img src="' + src + '" alt="First slide"></div>';

            //$('.carousel-inner').html('');
            //$('.carousel-inner').html(carrInner);
            //$('.carousel-indicators').html('');
            //$('.carousel-indicators').html(carrIndicador);

            carrossel += '<div id="' + codProd + '" class="carousel slide" data-ride="carousel">';
            carrossel += '<ol class="carousel-indicators">' + carrIndicador + '</ol>';
            carrossel += '<div class="carousel-inner">' + carrInner + '</div>';
            carrossel += '<a class="left carousel-control" href="#' + codProd + '" data-slide="prev">';
            carrossel += '<span class="fa fa-angle-left"></span>';
            carrossel += '</a>';
            carrossel += '<a class="right carousel-control" href="#' + codProd + '" data-slide="next">';
            carrossel += '<span class="fa fa-angle-right"></span>';
            carrossel += '</a>';
            carrossel += '</div>';

            $('#bodyCarrossel').html(carrossel);

        }

        $(".chkpesquisa").on('ifChecked', function (event) {
            $("#hddTipoEstoque").val('COMESTOQUE');
        });

        $(".chkpesquisa").on('ifUnchecked', function (event) {
            $("#hddTipoEstoque").val('');
        });

        var pageIndex = 1;
        var pageCount;

        //$('#example1').DataTable();

        function produtos() {
            var scrollHeight = $('#listProdutoMarcar').prop("scrollHeight"); // total scrollable height of the element
            var scrollTop = $('#listProdutoMarcar').scrollTop(); // how far you have come from the top while scrolling vertically
            var height = $('#listProdutoMarcar').height(); // the constant height of the portion in display at all times

            if (scrollHeight === (scrollTop + height)) {
                ListaProdutosMarcacao($('#txtPesqProduto').val());
            }
        }

        function ExibirDiv(objShow, objHide1) {
            $('#' + objShow).show('show');
            $('#' + objHide1).hide('show');
        }

        function PesquisaProdutosMarcacao(strPergunta) {
            pageIndex = 1;
            pageCount = 0;

            ListaProdutosMarcacao(strPergunta);
        }

        // Carregar Produtos
        function ListaProdutosMarcacao(strPergunta) {
            pageIndex++;
            if (pageIndex == 2 || pageIndex <= pageCount) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("BuscarProdutos", "CatalogoProdutos")',
                    dataType: 'json',
                    data: { strPesqProduto: strPergunta, pageIndex: pageIndex },
                    success: function (result) {
                        pageCount = result.pageCount;
                        var _produto = '';
                        $.each(result.list, function (i, item) {
                            var _descrEcomm = item.produto + item.cor_produto;
                            _descrEcomm = "https://imagens.usereserva.com.br/images/853x1280/" + _descrEcomm + "_01.jpg?ims=66x90";

                            _produto += '<li class="item">';
                            _produto += '<div class="product-img">';
                            _produto += '<img src="' + _descrEcomm + '" style="height:68px!important" onerror="this.src = \'@Url.Content("~/Images/notFound70x94.png")\'" alt ="Product Image">';
                            _produto += '</div>';
                            _produto += '<div class="product-info">';
                            _produto += '<a href="javascript:void(0)" class="product-title">';
                            _produto += item.descricao_produto;
                            _produto += '<span class="label label-warning pull-right">Adicionar</span>';
                            _produto += '</a>';
                            _produto += '<span class="product-description">';
                            _produto += 'Produto: ' + item.produto + ' Cor: ' + item.cor_produto;
                            _produto += '</span>';
                            _produto += '</div>';
                            _produto += '</li>';
                        });

                        if (pageIndex == 2) {
                            $('#listProdutosMarcar').html('');
                            $('#listProdutosMarcar').html(_produto);
                        }
                        else {
                            $('#listProdutosMarcar').html($('#listProdutosMarcar').html() + _produto);
                        }


                        //$("#idPergunta").val(idPergunta);
                        //ListaGridRespostas(result);
                        //$("#tituloPergResposta").html(pergunta);
                        //$("#lblPergunta").html(pergunta);

                        //var selectedEffect = 'bounce';
                        //var options = {};
                        //// some effects have required parameters
                        //if (selectedEffect === "scale") {
                        //    options = { percent: 50 };
                        //} else if (selectedEffect === "transfer") {
                        //    options = { to: "#button", className: "ui-effects-transfer" };
                        //} else if (selectedEffect === "size") {
                        //    options = { to: { width: 200, height: 60 } };
                        //}

                        //$("#listResposta").show();
                        //$("#listResposta").effect(selectedEffect, options, 500, callback);
                    },
                    error: function (ex) {
                        //SessaoAtiva();
                    }
                });
            }

            return false;
        }

    </script>
}
