﻿@using Now.Controllers.DTO;
@using Now.Domain;

@model IList<MenuAgendamento>

@{
    int count = 0;
}



<div class="row" >


    @foreach (MenuAgendamento item in Model)
    {
        count++;

        <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="@Url.Action("Agenda", "Agenda")?idAgenda=@item.id&parametro=@item.parametro&titulo=@item.titulo" class="loading">
                <div class="info-box @(count < 5? "bg-red-gradient" : (count < 9  ? "bg-yellow-gradient":(count < 13  ? "bg-blue-gradient":"bg-aqua-gradient"))) ">
                    <span class="info-box-icon">@item.qtdeTotal</span>

                    <div class="info-box-content">
                        <span class="info-box-text">@((item.titulo).ToUpper())</span>
                        <span class="info-box-number">@item.qtdeLigacoes</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: @(Decimal.ToInt32(item.percentual*100).ToString())%"></div>
                        </div>
                        <span class="progress-description">
                            @(String.Format("{0:P}", item.percentual)) Ligações
                        </span>
                    </div>
                </div>
            </a>

        </div>
    }
</div>