﻿@using Now.Domain;

@model IList<Agendamento>


<div class="row">


    @if (Model.Count() > 0)
    {
        foreach (Agendamento item in Model)
        {

            <a href="@Url.Action("Perfil", "Cliente")?clienteId=@item.cliente_id&idAgenda=@item.tipo_agendamento_id&param=@item.agendamento&tituloAgenda=@item.titulo_tipo_agendamento&tipoPagina=Agenda&ticket=@item.ticket_ultima_compra" class="loading">
                <div class="col-md-3">
                    <div class="box box-widget widget-user" style="font-size:12px!important">
                        <div class="widget-user-header  @(item.pos_venda_delivery ==1 ? "bg-yellow-gradient":"bg-aqua-active" )">
                            @*<div id="mapa" style="width: 100%; height: 120px" class="map-canvas"></div>*@
                            <h3 class="widget-user-username">@item.nome.ToUpper()</h3>
                        </div>
                        <div class="widget-user-image">
                            <img class="img-circle" src="@Url.Content(string.Concat("~/dist/img/img_", @item.sexo == "M" ? "m" : "f", ".png"))" alt="@item.nome" />
                        </div>
                        @*<img src="/Images/delivery2.png" style="position:absolute; top:10px; right:10px" class="img-responsive">*@
                        <div class="box-footer">
                            <div class="row" style="height: 200px!important;">
                                <div class="col-sm-12 text-center">
                                    <br />
                                    <h5 class="widget-user-desc">CPF: @(String.Format(@"{0:000\.000\.000\-00}", @item.cpf)) </h5>
                                    <strong><i class="fa fa-map-marker margin-r-5"></i>ENDEREÇO</strong>
                                    <div class="text-muted">@item.bairro - @item.cidade</div>

                                </div>
                                <div class="col-sm-6 border-right">
                                    <div class="description-block">
                                        <span class="text-muted">Última Loja</span>
                                        <h5 class="description-header" style="font-size:12px!important">@item.filial</h5>
                                        <span class="description-text">@(@item.data_venda.ToString("dd/MM/yyyy"))</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="description-block">
                                        <span class="text-muted">Loja Preferência</span>
                                        <h5 class="description-header" style="font-size:12px!important">@item.filial</h5>
                                        <span class="description-text">@item.nome_vendedor</span>
                                    </div>
                                </div>
                                @if (item.apto_reservado == 1)
                                {
                                    <div class="col-sm-12 text-center">
                                        <span class="label label-danger">APTO A RECEBER RESERVADO</span>
                                    </div>
                                }
                                @if (item.pos_venda_delivery == 1)
                                {
                                    <div class="col-sm-12 text-center">
                                        <span class="label bg-yellow-gradient">DELIVERY</span>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        }
    }
    else
    {
        <div class="col-md-12 text-center">
            <h1>Não foi encontrado nenhum cliente...</h1>
        </div>
    }
</div>


