﻿@using Now.Domain;

@model  Agendamento

@{
    ViewBag.Title = "Agenda - " + @ViewBag.TituloAgenda;
}

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.2.4.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/plugins/jQueryUI/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/angular.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/angular-route.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Vendedor/vendedor.Module.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Vendedor/vendedor.Controller.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/firebase.app.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/firebase.database.js")"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div class="row" ng-controller="vendedorController">
    <div class="col-sm-12">
        <a href="#" data-toggle="modal" data-target="#modalRegraAgenda" onmouseout="$.unblockUI();">
            <span class="label bg-blue-gradient" data-toggle="tooltip" data-original-title="@ViewBag.TituloAgenda">REGRA DA AGENDA <i class="fa fa-question-circle"></i></span>
        </a>
        <br />
        <br />
    </div>
</div>

@using (Ajax.BeginForm("Pesquisar", "dadosPesquisa", new AjaxOptions
{
    HttpMethod = "POST",
}, new { @id = "form-pesquisa", @class = "form-pesquisa" }))
{

    <div class="row">
        <div class="col-md-6">
            <div class="input-group input-group-lg">
                @Html.HiddenFor(x => x.tipo_agendamento_id, new { @Value = @ViewBag.idAgenda })
                @Html.TextBoxFor(x => x.nome, new { @class = "form-control input-lg", placeholder = "Informe a agenda que deseja procurar" })
                <span class="input-group-btn">
                    <button type="button" name="btnLimpar" class="btn btn-danger btn-flat btnLimpar" title="Limpar Busca!" data-toggle="tooltip"><i class="fa fa-times"></i></button>
                    <button type="button" name="btnConsultar" class="btn btn-success btn-flat btnConsultar" title="Procurar!" data-toggle="tooltip">Procurar!</button>
                </span>
            </div>
        </div>
    </div>
    <hr />
}


<div id="divConsulta">
</div>

<div class="modal fade" id="modalRegraAgenda" tabindex="-1" role="dialog" aria-labelledby="modalRegraAgendaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-blue-gradient">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">×</span>
                </button>
                <h2 class="modal-title">REGRA da Agenda</h2>
            </div>
            <div class="modal-body">
                <blockquote>
                    <p>
                        @ViewBag.TituloAgenda
                    </p>
                    <h4>
                        @(Html.Raw(ViewBag.AgendaTipo == null ? "Para carregar as regras reinicie o sistema!" : (ViewBag.AgendaTipo as MenuTipoAgendamento).regra_agenda))
                    </h4>
                </blockquote>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>

        setTimeout(function () { $(".btnConsultar").click(); }, 10);

        $(".btnConsultar").click(function (e) {
            loading();
            e.preventDefault();
            $.ajaxSubmitLoadResultCallback("", ".form-pesquisa", "#divConsulta", function () {
            });
        });

        setTimeout(function () { $(".btnLimpar").click(); }, 10);

        $(".btnLimpar").click(function (e) {
            $("#nome").val('');
            loading();
            e.preventDefault();
            $.ajaxSubmitLoadResultCallback("", ".form-pesquisa", "#divConsulta", function () {
            });
        });

    </script>
}