﻿@using Now.Domain;

@model IList<MenuAgendamento>

@{
    ViewBag.Title = "Agendas";
}
@Html.Partial("_Agenda", Model)

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.2.4.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/plugins/jQueryUI/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/angular.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/angular-route.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Vendedor/vendedor.Module.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Vendedor/vendedor.Controller.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/firebase.app.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/firebase.database.js")"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div class="row" ng-controller="vendedorController">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Legenda</h3>
            </div>
            <div class="box-body">
                <blockquote class="pull-left">
                    <p>A cor corresponde a prioridade de cada agenda.</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
