﻿@using Now.Domain;

@model Lembrete

@{
    ViewBag.Title = "Lembrete";
}
<div class="row">
    <div class="col-md-3">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h4 class="box-title">Adicionar lembrete</h4>
            </div>
            @using (Ajax.BeginForm("Agendamento", "Cliente", "lembrete", new AjaxOptions
            {
                HttpMethod = "POST",
            }, new { @id = "form-validation-agendamento", @class = "form-agendamento " }))
            {
                <div class="box-body">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Loja</label>
                            @Html.DropDownListFor(x => x.loja_id,
                  new SelectList(ViewBag.LojasFiltrado, "Value", "Text"),
                           new { @class = "form-control select2", @style = "width: 100%;", @onchange = "onVendedorChange('vendedorId');", required = "required" })
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Vendedor</label>
                            @Html.DropDownListFor(x => x.vendedorId
                                        , (SelectList)ViewBag.Vendedores
                                        , new { @class = "form-control select2", @style = "width: 100%;", required = "required" })
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            @Html.TextBoxFor(x => x.cpf, new { @class = "form-control", @placeholder = "Cpf", required = "required" })
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Período Inicial - Final</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.TextBoxFor(x => x.data_inicio
                                         , new { @class = "form-control datepickerAgendamentoIni", @id = "reservation", @style = "width: 100%;", required = "required" })

                                @*<input type="text" class="form-control pull-right" id="reservation" disabled="disabled">*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.TextBoxFor(x => x.data_final
                                         , new { @class = "form-control datepickerAgendamentoFim", @id = "reservation", @style = "width: 100%;", disabled = "disabled" })

                                @*<input type="text" class="form-control pull-right" id="reservation" disabled="disabled">*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>Motivo</label>
                            @Html.DropDownListFor(x => x.motivo,
                  (SelectList)ViewBag.TipoAgendas,
                  new { @class = "form-control select2", @style = "width: 100%;", required = "required" })
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <div class="col-md-12">
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>Dica</label>
                            @Html.TextAreaFor(x => x.dica, new { @class = "form-control", @style = "width: 100%;", @row = "3" })
                        </div>
                        <!-- /.form-group -->
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn2-gradient blue btn-block btnSalvarAgendamento text-uppercase text-bold" type="submit"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar</button>
                </div>
            }
            <!-- /.box-body -->
        </div>

    </div>
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">Clientes Para Ligar</a></li>
                <li><a href="#tab_2" data-toggle="tab">Lista de Lembretes</a></li>                
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                   @Html.Partial("../Agenda/_DadosAgenda", ViewBag.AgendaLembretes as List<Agendamento>)
                </div>                
                <div class="tab-pane" id="tab_2">
                    <div class="table-responsive no-padding tableExport">
                        <table id="tbPesquisa" class="table table-bordered table-striped">
                            <thead>
                                <tr class="bg-gray-gradient">
                                    <th class="text-center" #titulo#>CPF</th>
                                    <th class="text-center" #titulo#>CLIENTE</th>
                                    <th class="text-center" #titulo#>AGENDA</th>
                                    <th class="text-center" #titulo#>DATA INICIO</th>
                                    <th class="text-center" #titulo#>DATA FIM</th>
                                    <th class="text-center" #titulo#>DICA</th>
                                    <th class="text-center" #titulo#>STATUS</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Lembrete item in ((@ViewBag.ListaLembretes) as List<Lembrete>).OrderByDescending(x => x.data_final).ToList())
                                {
                                    <tr>
                                        <td class="text-center">@item.cpf</td>
                                        <td class="text-center">@item.nome_cliente</td>
                                        <td class="text-center">@item.titulo</td>
                                        <td class="text-center">@item.data_inicio.Value.ToString("dd/MM/yyyy")</td>
                                        <td class="text-center">@item.data_final.Value.ToString("dd/MM/yyyy")</td>
                                        <td class="text-center">@item.dica</td>
                                        <td class="text-center">
                                            @{
                                                DateTime dataInicio = Convert.ToDateTime(item.data_inicio.Value.ToString("dd/MM/yyyy"));
                                                DateTime dataFim = Convert.ToDateTime(item.data_final.Value.ToString("dd/MM/yyyy"));
                                                DateTime dataAtual = Convert.ToDateTime(DateTime.Now.ToString("dd/MM/yyyy"));
                                            }
                                            @if (dataInicio <= dataAtual && dataFim >= dataAtual)
                                            {
                                                <a href="@Url.Action("Perfil", "Cliente")?clienteId=@item.cliente_id&idAgenda=@item.idAgenda&param=@item.prametroAgenda&tituloAgenda=@item.titulo&tipoPagina=Agenda" class="loading">
                                                    <span class='badge bg-green-gradient'><i class="fa fa-phone"></i> Ligar</span>
                                                </a>
                                            }
                                            else if (dataInicio > dataAtual)
                                            {
                                                <span class='badge bg-blue-gradient'>Pendente</span>
                                            }
                                            else if (dataFim < dataAtual)
                                            {
                                                <span class='badge bg-gray-gradient'>Expirou</span>
                                            }
                                        </td>
                                    </tr>
                                                }
                            </tbody>
                        </table>
                    </div>
                </div>              
            </div>            
        </div>
            @*<div id="calendar"></div>*@
        
    </div>
</div>
<div class="modal fade" id="modalDetalhe" tabindex="-1" role="dialog" aria-labelledby="modalDetalheLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">×</span>
                </button>
                <h2 class="modal-title">Detalhe do Agendamento!</h2>
            </div>
            <div class="modal-body">

                <ul class="list-group list-group-unbordered" id="listaDetalheAg"></ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary pull-left" data-dismiss="modal" type="button">Editar</button>
                <button class="btn btn-primary" type="submit">Excluir</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section Scripts{
    <script>

        @*/* initialize the external events
         -----------------------------------------------------------------*/
        function ini_events(ele) {
            ele.each(function () {

                var eventObject = {
                    title: $.trim($(this).text())
                };

                $(this).data('eventObject', eventObject);
                $(this).draggable({
                    zIndex: 1070,
                    revert: true, // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });

            });
        }

        ini_events($('#external-events div.external-event'));

        /* initialize the calendar
         -----------------------------------------------------------------*/
        //Date for the calendar events (dummy data)
        var date = new Date();
        var d = date.getDate(),
            m = date.getMonth(),
            y = date.getFullYear();


        $.ajax({
            dataType: "json",
            type: "GET",
            url: "Lembrete/CarregarCalendario",
            success: function (dados) {
                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    dayNames: ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sabado'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outrubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Maio', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    allDayText: 'Dia inteiro',
                    buttonText: {
                        today: 'Hoje',
                        month: 'Mês',
                        week: 'Semana',
                        day: 'Dia'
                    },
                    //Random default events
                    events: dados,
                    editable: true,
                    droppable: true, // this allows things to be dropped onto the calendar !!!
                    drop: function (date, allDay) { // this function is called when something is dropped

                        // retrieve the dropped element's stored Event Object
                        var originalEventObject = $(this).data('eventObject');

                        // we need to copy it, so that multiple events don't have a reference to the same object
                        var copiedEventObject = $.extend({}, originalEventObject);

                        // assign it the date that was reported
                        copiedEventObject.start = date;
                        copiedEventObject.allDay = allDay;
                        copiedEventObject.backgroundColor = $(this).css("background-color");
                        copiedEventObject.borderColor = $(this).css("border-color");

                        // render the event on the calendar
                        // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                        $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                        // is the "remove after drop" checkbox checked?
                        if ($('#drop-remove').is(':checked')) {
                            // if so, remove the element from the "Draggable Events" list
                            $(this).remove();
                        }

                    },
                    eventClick: function (calEvent, jsEvent, view) {
                        BuscarDetalheAgendamento(calEvent.id);

                        //alert('Event: ' + calEvent.title);
                        //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                        //alert('View: ' + view.name);

                        //// change the border color just for fun
                        //$(this).css('border-color', 'red');

                    }
                    //dayClick: function (date, jsEvent, view) {

                    //    alert('Clicked on: ' + date.format());

                    //    alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);

                    //    alert('Current view: ' + view.name);

                    //    // change the day's background color just for fun
                    //    $(this).css('background-color', 'red');

                    //}
                });
            },
            error: function (ex) {
                $.unblockUI();
                SessaoAtiva();
            }
        });

        function BuscarDetalheAgendamento(idLembrete) {
            $("#listaDetalheAg").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DetalheAgendamento", "Lembrete")',
                dataType: 'json',
                data: { id: idLembrete },
                success: function (dados) {
                    $("#listaDetalheAg").append('<li class="list-group-item"><b>Cpf</b> <a class="pull-right">' + dados.cpf + '</a></li>');
                    $("#listaDetalheAg").append('<li class="list-group-item"><b>Cliente</b> <a class="pull-right">' + dados.cliente + '</a></li>');
                    $("#listaDetalheAg").append('<li class="list-group-item"><b>Data Inicial</b> <a class="pull-right">' + dados.data_inicial + '</a></li>');
                    $("#listaDetalheAg").append('<li class="list-group-item"><b>Data Final</b> <a class="pull-right">' + dados.data_final + '</a></li>');
                    $("#listaDetalheAg").append('<li class="list-group-item"><b>Agenda</b> <a class="pull-right">' + dados.agenda + '</a></li>');
                    $("#listaDetalheAg").append('<li class="list-group-item"><b>Dica</b> <a class="pull-right">' + dados.dica + '</a></li>');
                    $("#listaDetalheAg").append('<li class="list-group-item"><b>Loja</b> <a class="pull-right">' + dados.filial + '</a></li>');
                    $("#listaDetalheAg").append('<li class="list-group-item"><b>Vendedor</b> <a class="pull-right">' + dados.vendedor + '</a></li>');

                    $("#modalDetalhe").modal("show");
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
        }


        /* ADDING EVENTS */
        var currColor = "#3c8dbc"; //Red by default
        //Color chooser button
        var colorChooser = $("#color-chooser-btn");
        $("#color-chooser > li > a").click(function (e) {
            e.preventDefault();
            //Save color
            currColor = $(this).css("color");
            //Add color effect to button
            $('#add-new-event').css({ "background-color": currColor, "border-color": currColor });
        });
        $("#add-new-event").click(function (e) {
            e.preventDefault();
            //Get value and make sure it is not null
            var val = $("#new-event").val();
            if (val.length == 0) {
                return;
            }

            //Create events
            var event = $("<div />");
            event.css({ "background-color": currColor, "border-color": currColor, "color": "#fff" }).addClass("external-event");
            event.html(val);
            $('#external-events').prepend(event);

            //Add draggable funtionality
            ini_events(event);

            //Remove event from text input
            $("#new-event").val("");
        });*@


        //<!-- AGENDAMENTO - INICIO -->
        $(".btnSalvarAgendamento").click(function () {
            $('#form-validation-agendamento').data('bootstrapValidator').validate();

            if ($('#form-validation-agendamento').data('bootstrapValidator').isValid()) {
                //SalvarContato();
            }
            else {
                $.msg({ content: 'Campos obrigatórios!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
            }
        });

        ValidarAgendamento();

        function ValidarAgendamento() {
            $('#form-validation-agendamento')
                .bootstrapValidator({
                    message: 'This value is not valid',
                    excluded: [':disabled', ':hidden', ':not(:visible)'],
                    fields: {

                        loja_id: {
                            validators: {
                                notEmpty: {
                                    message: 'Seleção da loja é obrigatória!'
                                }
                            }
                        },
                        vendedorId: {
                            validators: {
                                notEmpty: {
                                    message: 'Seleção do modo obrigatório!'
                                }
                            }
                        },
                        cpf: {
                            validators: {
                                notEmpty: {
                                    message: 'Preenchimento do Cpf é obrigatório!'
                                }
                            }
                        },
                        data_inicio: {
                            validators: {
                                notEmpty: {
                                    message: 'Insira o período obrigatório!'
                                },
                                date: {
                                    format: 'DD/MM/YYYY',
                                    message: 'Está data é inválida!'
                                }
                            }
                        },
                        motivo: {
                            validators: {
                                notEmpty: {
                                    message: 'Seleção do tipo agendamento obrigatório!'
                                }
                            }
                        }
                    }
                }).on('success.form.bv', function (e, data) {
                    loading();
                });
        }

        $('#data_inicio')
            .datepicker({
                autoclose: true,
                format: 'DD/MM/YYYY'
            })
            .on('changeDate', function (e) {
                // Revalidate the date field
                $('#eventForm').formValidation('revalidateField', 'date');
            });





        // <!-- AGENDAMENTO - FIM -->

    </script>
}
