﻿@using Now.Domain;
@model RelatorioPesquisa


<div class="row">
    <div class="col-xs-12">
        @using (Ajax.BeginForm("ListarRelatorioVisitas", "dadosPesquisa", new AjaxOptions
            {
                HttpMethod = "POST",
            }, new { @id = "form-pesquisa-visitas", @class = "form-pesquisa-visitas" }))
            {
            <div class="box-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.TextBoxFor(x => x.data_inicial, new { @class = "form-control pull-right datepicker text-center", required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.TextBoxFor(x => x.data_final, new { @class = "form-control pull-right datepicker text-center", required = "required" })
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-2">
                            <!-- /.form-group -->
                            <div class="form-group">
                                <label>Data Visita</label>
                                @Html.DropDownListFor(x => x.data_inicial,
                                    (SelectList)ViewBag.Visitas,
                                    new { @class = "form-control select2", @style = "width: 100%;", required = "required", @onchange = "onLojaVisitasChange(this);" })
                            </div>
                            <!-- /.form-group -->
                        </div>*@
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Loja</label>
                            @Html.DropDownListFor(x => x.loja_id,
                                        (SelectList)ViewBag.LojasFiltrado,
                             new { @class = "form-control select2", @style = "width: 100%;", required = "required" })



                        </div>
                        <!-- /.form-group -->
                    </div>

                </div>
                <div class="box-footer">
                    <button type="submit" name="btnConsultar" class="btn btn-primary pull-right btnConsultaMensuracao">Pesquisar</button>
                </div>
                <!-- /.row -->

            </div>

        }
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <div id="divRelatorioVisitas">
        </div>
    </div>
</div>

@*<div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#listagemValor" data-toggle="tab">Média Efetividade</a></li>
            <li><a href="#listagemMedia" data-toggle="tab">Média % Efetividade</a></li>
            <li><a href="#grafico" data-toggle="tab" onclick="CarregarGraficoEfetividade();">Gráfico</a></li>
        </ul>
        <div class="tab-content">
            <div class="active tab-pane" id="listagemValor">

            </div>
            <div class="tab-pane" id="listagemMedia">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="divRelatorioMedia">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="grafico">
                <div class="box-body">
                    <div class="row">
                        <div class="chart" id="bar-chart" style="position: relative; height: 300px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
