﻿@using Now.Domain;
@model RelatorioPesquisa


<div class="row">
    <div class="col-xs-12">
        @using (Ajax.BeginForm("ListarEfetividadePorMesVisitasLojas", "dadosPesquisa", new AjaxOptions
            {
                HttpMethod = "POST",
            }, new { @id = "form-pesquisa", @class = "form-pesquisa" }))
            {

            <div class="box-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Loja</label>
                            @Html.DropDownListFor(x => x.loja_id,
                                        (SelectList)ViewBag.LojasFiltrado,
                             new { @class = "form-control select2", @style = "width: 100%;", @onchange = "onVendedorChange('vendedor_id');", required = "required" })



                        </div>
                        <!-- /.form-group -->
                    </div>
                    <div class="col-md-2">
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>Ano</label>
                            @Html.DropDownListFor(x => x.ano, new List<SelectListItem>
                 {
                    new SelectListItem{ Text="Selecione", Value = "0", Selected=true },
                    new SelectListItem{ Text="2014", Value = "2014" },
                    new SelectListItem{ Text="2015", Value = "2015" },
                    new SelectListItem{ Text="2016", Value = "2016" },

                 }, new { @class = "form-control select2", @style = "width: 100%;", required = "required" })
                        </div>
                        <!-- /.form-group -->
                    </div>
                </div>
                <div class="box-footer">                    
                    <a href="#" class="btn btn-primary pull-right btnConsulta">Pesquisar</a>
                </div>
                <!-- /.row -->

            </div>

        }
    </div>
</div>

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#listagemValor" data-toggle="tab">Média Efetividade</a></li>
        <li><a href="#listagemMedia" data-toggle="tab">Média % Efetividade</a></li>
        <li><a href="#grafico" data-toggle="tab" onclick="CarregarGraficoEfetividade();">Gráfico</a></li>
    </ul>
    <div class="tab-content">
        <div class="active tab-pane" id="listagemValor">
            <div class="row">
                <div class="col-xs-12">
                    <div id="divRelatorio">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="listagemMedia">
            <div class="row">
                <div class="col-xs-12">
                    <div id="divRelatorioMedia">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="grafico">
            <div class="box-body">
                <div class="row">
                    <div class="chart" id="bar-chart" style="position: relative; height: 300px;"></div>
                </div>
            </div>
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
</div>
