﻿@using Now.Domain;


@model Usuario

@{
    ViewBag.Title = "Detalhe do Usuário";
}


<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Dados</h3>
    </div>
    @Html.HiddenFor(x => x.id)
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome Usuario</label>
                    @Html.TextBoxFor(x => x.username
                         , ""
                         , new { @class = "form-control", @style = "width: 100%;", required = "required" })
                </div>
                <div class="form-group">
                    <label>Login</label>
                    @Html.TextBoxFor(x => x.email
                         , ""
                         , new { @class = "form-control", @style = "width: 100%;", required = "required" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Perfil</label>
                    @Html.DropDownListFor(x => x.id_perfil
                         , (SelectList)ViewBag.ListaPerfis
                         , new { @class = "form-control select2", @style = "width: 100%;" })
                </div>
                <div class="form-group">
                    <label>Rede</label>
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" checked="@Model.Rede" class="checkCss">
                            Sim

                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*@if (Model.id_perfil == 5)
    {*@
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Associar Loja e Vendedor</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Loja</label>
                    @Html.DropDownListFor(x => x.loja_id,
                     new SelectList(ViewBag.LojasTodas, "id", "filial"),
          new { @class = "form-control select2", @style = "width: 100%;", @onchange = "onVendedorChange('vendedor_id');", required = "required"  })
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-6">
                <div class="form-group">
                    <label>Vendedor</label>
                    @Html.DropDownListFor(x => x.vendedor_id
                     , new SelectList(ViewBag.VendedorLojaSelect, "id", "nome"), "Selecione..."
                     , new { @class = "form-control select2", @style = "width: 100%;", required = "required" })
                </div>
            </div>
        </div>
    </div>
</div>
@*  }*@


<div class="row">
    <div class="col-md-6">
        @if (Model.id_perfil == 1)
        {
            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title">Lojas Não Associadas</h3>
                </div>
                <div class="box-body">
                    <div class="scroll400">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Loja</th>
                                    <th>Supervisor</th>
                                    <th>Gerente</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Loja item in (List<Loja>)ViewBag.LojasTodas)
                                {
                                    if (((List<Loja>)ViewBag.LojasUsuario).Where(x => x.id == item.id).Count() == 0)
                                    {
                                        <tr>
                                            <td style="width: 70%">@item.filial</td>
                                            <td style="width: 15%">
                                                @{
                                                    int i = 0;
                                                    @*foreach (var sup in item.Supervisores)
                                                        {
                                                            if (i > 0)
                                                            {
                                                                <br />
                                                            }

                                                                <span style="padding-left:5px" class="label label-@(item.Supervisores.Count > 1 || item.Supervisores.Count == 0 ? "danger" : "primary") ">@sup.username.Split(' ')[0].ToUpper().Trim()
                                                                    <a href="@Url.Action("DetalheUsuario", "Manutencao")?id=@item.id" style="color:#fff !important" onmouseout="$.unblockUI();" data-toggle="tooltip" data-placement="left" data-original-title="Retirar do Supervisor">
                                                                        <i class="fa fa-close"></i>
                                                                    </a>
                                                                </span>
                                                            i++;
                                                        }*@
                                                }
                                            </td>
                                            <td style="width: 15%">
                                                @{
                                                    int b = 0;
                                                    @*foreach (var sup in item.Gerentes)
                                                        {
                                                            if (b > 0)
                                                            {
                                                                <br />
                                                            }
                                                                <span class="label label-@(item.Gerentes.Count > 1 || item.Gerentes.Count == 0 ? "danger" : "warning")">@sup.username.Split(' ')[0].ToUpper().Trim()
                                                                    <a href="@Url.Action("DetalheUsuario", "Manutencao")?id=@item.id" style="color:#fff !important"  onmouseout="$.unblockUI();" data-toggle="tooltip" data-placement="left" data-original-title="Retirar do Gerente">
                                                                        <i class="fa fa-close"></i>
                                                                    </a>
                                                                </span>
                                                            b++;
                                                        }*@
                                                }
                                            </td>
                                            <td style="width: 10px">
                                                <a href="@Url.Action("DetalheUsuario", "Manutencao")?id=@item.id" class="dropdown-toggle text-blue" onmouseout="$.unblockUI();" data-toggle="tooltip" data-placement="left" data-original-title="Associar">
                                                    <i class="fa fa-share"></i>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        }

        @*@if (Model.id_perfil == 1)
            {*@
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Controle do Vendedor</h3>
            </div>
            <div class="box-body">

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tipo Controle</label>
                        @Html.DropDownList("tipoControle"
                             , (SelectList)ViewBag.ListaControle
                             , new { @class = "form-control select2", @style = "width: 100%;" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Período</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="periodoControle">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">

                    <div>
                        <div class="box-footer">
                            <button type="button" name="btnSalvarControle" class="btn2-gradient blue pull-right text-uppercase text-bold" onclick="SalvarControle();"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar</button>
                        </div>
                    </div>

                    <hr />
                </div>
                <table class="table no-margin">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Data Inicio</th>
                            <th>Data Fim</th>
                            <th>Data Atualização</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Call of Duty IV</td>
                            <td>Call of Duty IV</td>
                            <td>Call of Duty IV</td>
                            <td>Call of Duty IV</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        @*}*@
    </div>
    <!-- /.col (left) -->
    <div class="col-md-6">
        @if (Model.id_perfil == 1)
        {
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Lojas Associadas</h3>
                </div>
                <div class="box-body">
                    <div class=" scroll400">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Loja</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Loja item in (List<Loja>)ViewBag.LojasUsuario)
                                {
                                    <tr>
                                        <td style="width: 10px">
                                            <a href="@Url.Action("DetalheUsuario", "Manutencao")?id=@item.id" class="dropdown-toggle text-red" onmouseout="$.unblockUI();" data-placement="right" data-toggle="tooltip" data-original-title="Desassociar">
                                                <i class="fa fa-reply"></i>
                                            </a>

                                        </td>
                                        <td>@item.filial</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        }

        <div class="box box-success">
            <div class="box-header">
                <h3 class="box-title">Ações no Login</h3>
            </div>
            <div class="box-body">
                @*<div class="form-group">
                        <label>Período de Expiração</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="reservation">
                        </div>

                    </div>*@

                <div class="form-group">
                    <label>
                        @{
                            string _checked = "";
                            if (Model.acesso_bloqueado == 1)
                            {
                                _checked = "checked='checked'";
                            }
                        }

                        <input type="checkbox" class="checkCss chekUsuBloqueado" @_checked>
                        Bloquear Usuário
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        @{
                            string _checked2 = "";
                            if (!Model.recriar_senha)
                            {
                                _checked2 = "checked='checked'";
                            }
                        }

                        <input type="checkbox" class="checkCss chekUsuResetSenha" @_checked2>
                        Solicitar Alteração de Senha
                    </label>
                </div>

                @*<div class="form-group">
                        <label>
                            <input type="checkbox" class="checkCss" checked>
                            Solicitar Alteração de Senha!
                        </label>
                    </div>*@
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col (right) -->
    <div class="col-md-12">
        <div>
            <div class="box-footer">
                <button type="button" name="btnSalvaAcoes" class="btn2-gradient blue pull-right btnSalvaAcoes text-uppercase text-bold" onclick="SalvarAcoesUsuario();"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    
    <!-- ANK - INICIO -->
    <script type="text/javascript">


        //Date range picker
        $('#periodoControle').daterangepicker();

        function SalvarAcoesUsuario() {
            var uBloqueado = 0;
            if ($(".chekUsuBloqueado").is(':checked')) {
                uBloqueado = 1;
            }

            var uchekUsuResetSenha = 0;
            if ($(".chekUsuResetSenha").is(':checked')) {
                uchekUsuResetSenha = 0;
            }

            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SalvarUsuario", "Usuario")',
                dataType: 'json',
                data: { nomeUsuario: $("#username").val(), login: $("#email").val(), idLoja: $("#loja_id").val(), idVendedor: $("#vendedor_id").val(), aBloquearUsuario: uBloqueado, aResetar: uchekUsuResetSenha },
                success: function () {
                    $.msg({ content: 'Operação Realizada com Sucesso!', tipo: 'alert-success', titulo: 'Sucesso', img: 'fa-check' });
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
            return false;
        }


        function SalvarControle() {
            var _vendedor = $("#vendedor_id").val();
            var _tipoControle = $("#tipoControle").val();
            var _periodoControleIni = $("#periodoControle").val().split(' - ')[0];
            var _periodoControleFim = $("#periodoControle").val().split(' - ')[1];

            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SalvarControleVendedor", "Vendedor")',
                dataType: 'json',
                data: { vendedor: _vendedor, tipoControle: _tipoControle, periodoControleIni: _periodoControleIni, periodoControleFim: _periodoControleFim },
                success: function () {
                    $.msg({ content: 'Operação Realizada com Sucesso!', tipo: 'alert-success', titulo: 'Sucesso', img: 'fa-check' });
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
            return false;
        }
    </script>

    <!-- AGENDAMENTO - FIM -->
}