﻿@{
    ViewBag.Title = "DistribuicaoLojaOrigemDestino";
}
<div class="row">
    <div class="col-md-9">
        <div class="box">            
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Loja Origem</th>
                            <th class="text-center"></th>
                            <th>Loja Destino</th>
                            <th style="width: 100px" class="text-center">Qtde Clientes</th>
                            <th></th>
                            <th style="width: 80px" class="text-center"></th>
                            <th style="width: 80px" class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody id="tbLinhas"></tbody>
                </table>
            </div>            
        </div>
    </div>

</div>
@section Scripts{



    <!-- ANK - INICIO -->
    <script type="text/javascript">


        $.ajax({
            type: 'POST',
            url: '@Url.Action("ListarLojaDistribuicaoOrigemDestino", "Loja")',
            dataType: 'json',
            //data: { cpf: _cpf, id_agenda: _agenda, status: _status, modo: _modo, termometro: _termometro, vendedor_id: _vendedor, caracteristicas: _caracteristicas, obs: _obs, tipoPagina: 'Cliente' },
            success: function (result) {
                CarregarLista(result.lista);

            },
            complete: function () {
                $.unblockUI();
            },
            error: function (ex) {
                $.unblockUI();
                SessaoAtiva();
            }
        });
        $.unblockUI();

        function AdicionarLinha() {
            var _linha = `
                        <tr>
                        <td>
                                                @Html.DropDownList("ddlLojaOrigem",
                                            (SelectList)ViewBag.LojasFiltrado,
                                            new { @class = "form-control select2", @style = "width: 100%;", required = "required" })
                                            </td>
                                            <td class="text-center">
                                                <img src="@Url.Content("~/Images/arrow-orange-gif.gif")" width="36" height="36">
                                            </td>
                                            <td>
                                                @Html.DropDownList("ddlLojaDestino",
                                            (SelectList)ViewBag.LojasFiltrado,
                                            new { @class = "form-control select2", @style = "width: 100%;", required = "required" })
                                            </td>
                                            <td class="text-center">
                                                <input type="text" class="form-control text-center" id="txtTotalClientes"/>
                                            </td>
                                            <td class="text-center">
                                                <img src="@Url.Content("~/Images/advertencia_p.png")" >
                                            </td>
                                              <td class="text-center">
                                                <a href="#" onclick="SalvarDePara(this, 'INCLUIR')">Salvar</a>
                                            </td>
                                            <td class="text-center">
                                            </td>
                                        </tr>
            `;

            $('#tbLinhas').html($('#tbLinhas').html() + _linha);
        }

        function SalvarDePara(obj, _acao) {

            var _ddlOrigem = $(obj).parent().parent().find("#ddlLojaOrigem");
            var _ddlDestino = $(obj).parent().parent().find("#ddlLojaDestino");
            var _ddlQtdeClientes = $(obj).parent().parent().find("#txtTotalClientes");
            var _IdTr = $(obj).parent().parent().attr("id");

            if (_acao == "INCLUIR") {
                if (ValidarDados(_IdTr, JSON.parse(localStorage.getItem("lista")), _ddlOrigem.val(), _ddlDestino.val(), $(obj).parent().parent())) {

                    // Validação
                    if (_ddlOrigem.val() == "" || _ddlDestino.val() == "" || _ddlQtdeClientes.val() == "") {
                        if (_ddlOrigem.val() == "")
                            _ddlOrigem.css('border', '1px solid red');
                        else
                            _ddlOrigem.css('border', 'none');

                        if (_ddlDestino.val() == "")
                            _ddlDestino.css('border', '1px solid red');
                        else
                            _ddlDestino.css('border', 'none');

                        if (_ddlQtdeClientes.val() == "")
                            _ddlQtdeClientes.css('border', '1px solid red');
                        else
                            _ddlQtdeClientes.css('border', 'none');

                        $.msg({ content: 'Campos obrigatórios!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });

                    } else {
                        Salvar(_IdTr, _ddlOrigem.val(), _ddlDestino.val(), _ddlQtdeClientes.val(), _acao);
                    }
                }

                $.unblockUI();
            }
            else {
                Salvar(_IdTr,_ddlOrigem.val(), _ddlDestino.val(), _ddlQtdeClientes.val(), _acao);
            }
        }

        function Salvar(_id, _ddlOrigem, _ddlDestino, _ddlQtdeClientes, _acao) {

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("SalvarLojaDistribuicaoOrigemDestino", "Loja")',
                        dataType: 'json',
                        data: {id: _id, lojaOrigem: _ddlOrigem, lojaDestino: _ddlDestino, total: _ddlQtdeClientes, acao: _acao },
                        success: function (result) {
                            $.msg({ content: 'Distribuição Salvo Com Sucesso!', tipo: 'alert-success', titulo: 'Sucesso', img: 'fa-check' });
                            CarregarLista(result.lista);
                        },
                        complete: function () {
                            $.unblockUI();
                        },
                        error: function (ex) {
                            $.unblockUI();
                        }
                    });
                     $.unblockUI();
        }

        function ValidarDados(_IdTr, list, origem, destino, obj) {
            // Valida se já existe a associação
            var validacao = true;
            $.each(list, function (i, item) {
                if (item.origem_loja_id == origem && item.destino_loja_id == destino && _IdTr != item.id && item.data_exclusao == null) {
                    validacao = false;
                }
            });

            if (validacao) {
                obj.css('border', 'none');
            } else {
                $.msg({ content: 'Já existe esta associação!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
                obj.css('border', '1px solid red');
                $.unblockUI();
            }

            return validacao;
        }
        function CarregarLista(list) {
            localStorage.setItem("lista", JSON.stringify(list));

            $('#tbLinhas').html("");
            AdicionarLinha();
            $.each(list, function (i, item) {
                var _url = item.data_exclusao != null ? '@Url.Content("~/Images/delete-button2.png")' : '@Url.Content("~/Images/certo_p.png")';                
                     var _linha = `
                        <tr id="`+ item.id + `" name="` + item.id +`">
                            <td>
                                @Html.DropDownList("ddlLojaOrigem",
                                    (SelectList)ViewBag.LojasFiltrado,
                                new { @class = "form-control select2", @style = "width: 100%;", required = "required" })
                            </td>
                            <td class="text-center">
                                <img src="@Url.Content("~/Images/arrow-orange-gif.gif")" width="36" height="36">
                            </td>
                            <td>
                                @Html.DropDownList("ddlLojaDestino",
                            (SelectList)ViewBag.LojasFiltrado,
                            new { @class = "form-control select2", @style = "width: 100%;", required = "required" })
                            </td>
                            <td class="text-center">
                                <input type="text" class="form-control text-center" id="txtTotalClientes" />
                            </td>
                            <td class="text-center">
                                <img src="`+ _url + `" id="imgStatus" >
                            </td>
                            <td class="text-center">
                                <a href="#" onclick="SalvarDePara(this, 'INCLUIR')">Salvar</a>
                            </td>
                            <td class="text-center">
                                <a href="#" onclick="SalvarDePara(this, 'EXCLUIR')">Remover</a>
                            </td>
                        </tr>
                            `;

                    $('#tbLinhas').html($('#tbLinhas').html() + _linha);
                });

            $.each(list, function (i, item) {
                    var _url = item.data_exclusao != null ? '@Url.Content("~/Images/delete-button2.png")' : '@Url.Content("~/Images/certo_p.png")';   
                    var _linha = $('#tbLinhas').find("#" + item.id);

                    _linha.find("#imgStatus").attr("src", '' + _url + '');
                    _linha.find("#ddlLojaOrigem").val(item.origem_loja_id);
                    _linha.find("#ddlLojaDestino").val(item.destino_loja_id);
                    _linha.find("#txtTotalClientes").val(item.total_distribuicao);
                });
        }

    </script>
}
