﻿@using Now.Domain;

@model IList<LojaDistribuicaoPerfil>

@{
    ViewBag.Title = "Loja x Distribuição Regional";
}

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#activity" data-toggle="tab">Distribuição</a></li>
        <li><a href="#organograma" data-toggle="tab">Organograma</a></li>
    </ul>
    <div class="tab-content">
        <div class="active tab-pane" id="activity">
            <div class="row">
                <div class="col-md-12">

                    <div id="t-responsive" class="table-responsive no-padding">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Filial</th>
                                    <th>Supervisor Brasil</th>
                                    <th>Supervisor Regional</th>
                                    <th>Gerente</th>
                                    <th class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (LojaDistribuicaoPerfil item in (List<LojaDistribuicaoPerfil>)Model)
                                {
                                    <tr>
                                        <td>@item.filial</td>
                                        <td class="@(item.QtdeBrasil == 0 || item.QtdeBrasil > 1 ? "has-error" : "")">
                                            @Html.DropDownList("SupBrasil"
, new SelectList((IList<SelectListItem>)ViewBag.SupervBrasil, "Value", "Text", @item.idBrasil)
, new { @class = "form-control select2", @style = "width: 100%;", required = "required", @onchange = "AlterarPerfilSupervisao(this.value, " + @item.id + ", '2')" })                                            
                                        </td>
                                        <td class="@(item.QtdeRegional == 0 || item.QtdeRegional > 1 ? "has-error" : "")">
                                            @Html.DropDownList("SupRegional"
, new SelectList((IList<SelectListItem>)ViewBag.SupervRegional, "Value", "Text", @item.idRegional)
, new { @class = "form-control select2", @style = "width: 100%;", required = "required", @onchange = "AlterarPerfilSupervisao(this.value, " + @item.id + ", '3')" })
                                        </td>
                                        <td class="@(item.QtdeGerente == 0 || item.QtdeGerente > 1 ? "has-error" : "")">
                                            @Html.DropDownList("Gerennte"
, new SelectList((IList<SelectListItem>)ViewBag.Gerente, "Value", "Text", @item.idGerente)
, new { @class = "form-control select2", @style = "width: 100%;", required = "required", @onchange = "AlterarPerfilSupervisao(this.value, " + @item.id + ", '5')" })

                                        </td>
                                        <td class="text-center">
                                            @Html.Raw(!String.IsNullOrEmpty(item.status) ? "<i class='fa fa-fw fa-warning text-yellow dropdown-toggle' data-toggle='tooltip' data-original-title='" + @item.status + "'></i>" : "")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="tab-pane" id="organograma">

            <div class="row text-center">
                <div class="tree">
                    <ul>
                        <li>
                            <a href=''>NANDÃO</a><ul>
                                @{
                                    string supBrasil = "";
                                    string supRegional = "";
                                    string html = "";
                                    int count = 0;
                                    int countR = 0;

                                    foreach (DistribuicaoSupervisaoOrg itemBrasil in ((List<DistribuicaoSupervisaoOrg>)@ViewBag.SupervisaoOrg).OrderBy(x => x.supBrasil).ToList())
                                    {
                                        if (supBrasil != itemBrasil.supBrasil)
                                        {
                                            if (count > 0)
                                            {
                                                html += "</ul></li></ul></li>";
                                                count = 0;
                                                countR = 0;
                                            }

                                            html += "<li><a href=''>" + itemBrasil.supBrasil.ToUpper() + "</a><ul>";

                                            // Supervisão regional
                                            foreach (DistribuicaoSupervisaoOrg itemRegional in ((List<DistribuicaoSupervisaoOrg>)@ViewBag.SupervisaoOrg).Where(x => x.supBrasil == itemBrasil.supBrasil).OrderBy(x => x.supRegional).ToList())
                                            {
                                                if (supRegional != itemRegional.supRegional)
                                                {
                                                    if (countR > 0)
                                                    {
                                                        html += "</ul>";
                                                        countR = 0;
                                                    }

                                                    html += "<li><a href='#'>" + itemRegional.supRegional.ToUpper() + "</a><ul class='vertical'>";

                                                    supRegional = itemRegional.supRegional;


                                                    // Gerente
                                                    foreach (DistribuicaoSupervisaoOrg itemGerente in ((List<DistribuicaoSupervisaoOrg>)@ViewBag.SupervisaoOrg).Where(x => x.supBrasil == itemBrasil.supBrasil && x.supRegional == itemRegional.supRegional).OrderBy(x => x.gerente).ToList())
                                                    {

                                                        html += "<li class='dropdown-toggle' data-toggle='tooltip' data-original-title='" + itemGerente.gerente.ToUpper() + "' ><a href='#'>" + itemGerente.filial + "</a></li>";
                                                    }
                                                }
                                                countR++;
                                            }
                                        }
                                        supBrasil = itemBrasil.supBrasil;

                                        count++;
                                    }
                                }

                                @Html.Raw(html)
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        $("#example2").DataTable();

        function AlterarPerfilSupervisao(idUsuario, idLoja, idPerfil) {
            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AlterarPerfilSupervisao", "Manutencao")',
                dataType: 'json',
                data: { idUsuario: idUsuario, idLoja: idLoja, idPerfil: idPerfil },
                complete: function () {
                    $.unblockUI();
                    window.location.href = '@Url.Action("LojasDistribuicao", "Manutencao")';
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
            return false;
        }       
    </script>
}
