﻿@using Now.Domain;
@model IList<Loja>

@{
    ViewBag.Title = "Lojas";
}


<div class="box">
    <div class="box-header">
        <h3 class="box-title">Listagem</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Loja</th>
                    <th>Origem</th>
                    <th>Email</th>
                    <th class="text-center">Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Loja item in Model)
                {
                    <tr>
                        <td>@item.filial</td>
                        <td>@item.origem</td>
                        <td>@item.email</td>
                        <td class="text-center">
                            @*<span class="label label-success" data-toggle="tooltip" data-original-title="@item.ListaLojas">@item.Lojas.Count()</span>*@
                            @Html.Raw((item.visivel == 1 ? "<span class='label label-success'>Ativo</span>" : "<span class='label label-danger'>Inativo</span>"))
                        </td>
                        <td>
                            <a href="@Url.Action("LojasDetalhe", "Manutencao")?LojaId=@item.id" onmouseout="$.unblockUI();" class="btn btn-primary">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>

@section Scripts{

    <script type="text/javascript">
        $("#example2").DataTable();
    </script>
}