﻿@using Now.Domain;
@model Loja

@{
    ViewBag.Title = "Edição Loja";
}

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Dados</h3>
    </div>
    <!-- /.box-header -->
    @using (Ajax.BeginForm("SalvarLoja", "loja", new AjaxOptions
    {
        HttpMethod = "POST",
    }, new { @id = "form-validation-loja", @class = "form-loja" }))
    {

        <div class="box-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Código Linx</label>
                        @Html.TextBoxFor(x => x.id_loja
                             , ""
                             , new { @class = "form-control", @disabled = "disabled", @style = "width: 100%;" })
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label>Código Clima</label>
                        @Html.TextBoxFor(x => x.codigo_clima
                             , ""
                             , new { @class = "form-control", @disabled = "disabled", @style = "width: 100%;", required = "required" })
                    </div>
                    <!-- /.form-group -->
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Tipo </label>
                        @Html.DropDownListFor(x => x.tipo_loja, new List<SelectListItem>
                 {
                    new SelectListItem{ Text="EVA", Value = "EVA" },
                    new SelectListItem{ Text="RESERVA", Value = "RESERVA" },
                    new SelectListItem{ Text="INTERNET", Value = "INTERNET" },
                    new SelectListItem{ Text="RESERVA+MINI", Value = "RESERVA+MINI" },
                    new SelectListItem{ Text="MINI", Value = "MINI" }
                 }, @Model.tipo_loja, new { @class = "form-control select2", @style = "width: 100%;" })
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label>Origem</label>
                        @Html.DropDownListFor(x => x.origem, new List<SelectListItem>
                 {
                    new SelectListItem{ Text="DEPÓSITO", Value = "DEPÓSITO" },
                    new SelectListItem{ Text="FILIAL", Value = "FILIAL" },
                    new SelectListItem{ Text="FRANQUIA", Value = "FRANQUIA" },
                    new SelectListItem{ Text="INTERNET", Value = "INTERNET" },
                    new SelectListItem{ Text="LOJA", Value = "LOJA" },
                    new SelectListItem{ Text="MATRIZ", Value = "MATRIZ" },
                   new SelectListItem{ Text="DESCONHECIDO", Value = "DESCONHECIDO" }
                 }, @Model.tipo_loja, new { @class = "form-control select2", @style = "width: 100%;" })
                    </div>
                    <!-- /.form-group -->
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Loja</label>
                        @Html.TextBoxFor(x => x.filial
                             , ""
                             , new { @class = "form-control", @style = "width: 100%;", required = "required" })
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label>Email</label>
                        @Html.TextBoxFor(x => x.email
                             , ""
                             , new { @class = "form-control", @style = "width: 100%;", required = "required" })
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                    <div class="form-group">

                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">



                        @*<div class="checkbox icheck">
                                <label>
                                    <input type="checkbox" checked="@Model.Rede">
                                    Sim

                                </label>
                            </div>*@
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-default">Cancelar</button>
            <button type="submit" class="btn btn-info pull-right">Salvar</button>
        </div>
    }
</div>
