﻿@using Now.Domain;
@{
    ViewBag.Title = "Edição do Manual";
}

<div class="row">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active" id="InfoTab"><a href="#infoVendas" data-toggle="tab" id="lnkInfoVendas" aria-expanded="true">Editor do Manual </a></li>
                <li id="CliNovosTab" class=""><a href="#ClienteNovo" data-toggle="tab" id="lnkClienteNovo" aria-expanded="false">Visualização </a></li>
                <li id="UploadTab" class=""><a href="#Upload" data-toggle="tab" id="lnkUpload" aria-expanded="false">Upload Imagens </a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="infoVendas">
                    <div class="row">
                        <div class="col-md-12" id="edicaoManual" style="display: none">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Titulo Manual</label>
                                        @Html.TextBox("tbxTituloManual", "", new { @class = "form-control", @style = "width: 100%;", required = "required" })
                                    </div>
                                </div>
                            </div>

                            <textarea id="editor1" name="editor1" rows="10" cols="80"></textarea>
                            <div class="box-footer">
                                <button type="button" id="btnCancelManual" name="btnCancelManual" class="btn2-gradient bg-gray-gradient btn-default pull-left" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>  Cancelar</button>
                                <button type="button" id="btnSalvar" name="btnSalvar" class="btn2-gradient blue pull-right btnSalvar"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar</button>
                            </div>
                        </div>

                        <div id="listaManual">
                            <div class="col-md-12 pull-left">
                                <button type="button" id="btnAddManual" name="btnAddManual" class="btn2-gradient blue btnAddManual small" onmouseout="$.unblockUI();"><i class="glyphicon glyphicon-plus"></i> Adicionar</button>
                            </div>
                            <div class="col-md-12">
                                <div id="t-responsive" class="table-responsive no-padding">
                                    <table id="listaInfoVendas" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Titulo</th>
                                                @*<th>Conteudo</th>*@
                                                <th>Ordem</th>
                                                <th class="col-md-1">Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (Manual item in (List<Manual>)ViewBag.Manual)
                                        {
                                                <tr>
                                                    <td>@item.titulo 
                                                        <input type="hidden" id="hddConteudo-@item.id.ToString()" value="@item.conteudo" />
                                                    </td>
                                                    @*<td><a href="#" onclick="ExibirHtml(@Html.Encode(item.conteudo))"> Clique para ver em html</a></td>*@
                                                    <td>@item.ordem </td>
                                                    <td>
                                                        <button type="submit" onclick="location.href='@Url.Action("Excluir", "InfoVendas" )?codigo=' + @item.id.ToString()" name="buttonExcluir" class="btn2-gradient red small pull-right"><i class="glyphicon glyphicon-trash"></i></button>
                                                        <button type="submit" onclick="EditarManual(@item.id.ToString(), '@item.titulo')" name="buttonEditar" class="btn2-gradient blue small pull-right"><i class="glyphicon glyphicon-pencil"></i></button>
                                                    </td>
                                                </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="ClienteNovo">       
                    <div class="row">
                        <div class="col-md-12">
                            <div class="scrollDefault" style="height:700px">
                                @foreach (var item in (List<Manual>)ViewBag.Manual)
                                {
                                    @Html.Raw(item.conteudo)
                                }


                                <div id="content2" style="display: none" data-sample="2">
                                    <p>The number of <code>change</code> events: <strong><span id="changes"></span></strong>.</p>
                                    <h3>Mirrored Content</h3>
                                    <!-- This <div> will be used to display the editor content. -->
                                    <div id="editorcontent2">


                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                <div class="tab-pane" id="Upload">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Partial("../FileUpload/_Files")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- CK Editor -->
    <script src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>

    @section Scripts{
        <script type="text/javascript">

            var changesCount = 0;
            var editor2 = CKEDITOR.replace('editor1', {
                removePlugins: 'sourcearea',
                height: '400px'
            });

            $("#btnSalvar").click(function (e) {
                SalvarManual();
            });

            function replaceAll(str, de, para) {
                var pos = str.indexOf(de);
                while (pos > -1) {
                    str = str.replace(de, para);
                    pos = str.indexOf(de);
                }
                return (str);
            }

            function EditarManual(idManual, titulo) {                
                editor2.setData($('#hddConteudo-' + idManual).val());                
                $('#tbxTituloManual').val(titulo);
                $("#listaManual").hide("show");
                $("#edicaoManual").show("show");
            }

            function SalvarManual() {
                loading();
                var titulo = $('#tbxTituloManual').val();
                var editor = replaceAll(editor2.getData(), '<', '%#');
                editor = replaceAll(editor, '>', '#%');                
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SalvarManual", "Manutencao")',
                    dataType: 'json',
                    data: { titulo: titulo, editor: editor },
                    success: function (result) {
                        if (result.Sucesso) {
                            $.msg({ content: result.Msg, tipo: 'alert-success', titulo: 'Sucesso', img: 'fa-check' });
                            CancelarEdicao();
                        }
                        else { }
                        //$("#tbxQuemEle").text(cliente.caracteristicas);
                        //$("#nmCliente").text(cliente.nome);

                        //if (cliente.id == 0) {
                        //    $("#DivClienteInexistenteQuest").show("show");
                        //    $("#DivClienteNovo").hide("show");
                        //    $("#DivClienteAntigo").hide("show");

                        //    $("#lnkClienteNovo").click();
                        //} else {
                        //    $("#DivClienteAntigo").show("show");
                        //    $("#DivClienteInexistenteQuest").hide("show");
                        //    $("#DivClienteNovo").hide("show");

                        //    $("#lnkInfoVendas").click();
                        //}
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (ex) {
                        $.unblockUI();
                    }
                });
                return false;
            }

            //CKEDITOR.replace('editor1');

            editor2.on('change', function (ev) {
                changesCount++;
                document.getElementById('content2').style.display = '';
                document.getElementById('changes').innerHTML = changesCount.toString();
                document.getElementById('editorcontent2').innerHTML = editor2.getData();
            });

            $("#btnAddManual").click(function (e) {
                $("#listaManual").hide("show");
                $("#edicaoManual").show("show");
            });

            $("#btnCancelManual").click(function (e) {
                CancelarEdicao();
            });

            function CancelarEdicao() {
                //editor2.ins .getData()..instances[instance].setData('');
                $("#listaManual").show("show");
                $("#edicaoManual").hide("show");
            }

            function ExibirHtml(val) {
                alert(val);
            }



            var $form = $('#fileupload').fileupload({
                dataType: 'json',
                prependFiles: true
            });

            $('#fileupload').addClass('fileupload-processing');

            $.ajax({
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                url: '/FileUpload/GetFileList',
                success: function (data) {


                    $('#fileupload').fileupload('option', 'done').call($('#fileupload'), $.Event('done'), { result: { files: data.files } })
                    $('#fileupload').removeClass('fileupload-processing');
                }
            });


            //var copyTextareaBtn = document.querySelector('.copiar');

            //copyTextareaBtn.addEventListener('click', function (event) {
            //    var copyTextarea = document.querySelector('.textarea');
            //    copyTextarea.select();

            //    try {
            //        var successful = document.execCommand('copy');
            //        var msg = successful ? 'sim!' : 'não!';
            //        alert('Texto copiado? ' + msg);
            //    } catch (err) {
            //        alert('Opa, Não conseguimos copiar o texto, é possivel que o seu navegador não tenha suporte, tente usar Crtl+C.');
            //    }
            //});

        </script>
    }

