﻿@using Now.Domain;

@{
    ViewBag.Title = "Manutenção do Login";
}


<div class="box">
    <div class="box-header">
        <h3 class="box-title">Listagem</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="t-responsive" class="table-responsive no-padding">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Lojas</th>
                        <th>Nome</th>
                        <th>Login</th>
                        <th>Data Senha</th>
                        <th>Loja(s)</th>
                        <th>Perfil</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Usuario item in (List<Usuario>)ViewBag.ListaUsuario)
                    {
                        <tr>
                            <td>@item.ListaLojas.Replace(",", "")</td>
                            <td>@item.username.ToUpper()</td>
                            <td>@item.email</td>
                            <td>@(item.updated_at.ToString("dd/MM/yyyy"))</td>
                            <td class="text-center">
                                <span class="label label-success" data-toggle="tooltip" data-original-title="@item.ListaLojas">@item.Lojas.Count()</span>
                            </td>
                            <td class="text-center">                                
                                @Html.Raw((item.Perfil == "Administrador Sistema" ? "<span class='text-green'>"+ item.Perfil + "</span>" : ""))
                                @Html.Raw((item.Perfil == "Supervisor Brasil" ? "<span class='text-blue'>" + item.Perfil + "</span>" : ""))
                                @Html.Raw((item.Perfil == "Supervisor Regional" ? "<span class='text-muted'>" + item.Perfil + "</span>" : ""))
                                @Html.Raw((item.Perfil == "Supervisor" ? "<span class='text-red'>" + item.Perfil + "</span>" : ""))
                                @Html.Raw((item.Perfil == "Gerente" ? "<span class='text-yellow'>" + item.Perfil + "</span>" : ""))
                                @Html.Raw((item.Perfil == "Vendedor" ? "<span class='text-light-blue'>" + item.Perfil + "</span>" : ""))
                                @Html.Raw((item.Perfil == "Administrador Loja" ? "<span class='text-aqua'>" + item.Perfil + "</span>" : ""))
                            </td>
                            <td class="text-center">
                                @Html.Raw((item.acesso_bloqueado == 0 ? "<span class='label label-success'>Ativo</span>" : "<span class='label label-danger'>Bloqueado</span>"))
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("DetalheUsuario", "Manutencao")?id=@item.id" class="btn2-gradient blue mini text-uppercase text-bold" onmouseout="$.unblockUI();" data-toggle="tooltip" data-original-title="Editar">
                                    Editar
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.box-body -->
</div>

@section Scripts{

    <script type="text/javascript">
        $("#example2").DataTable();
    </script>
}