﻿@using Now.Domain;
@model VisitaLojas

@{
    ViewBag.Title = "Cadastro Visitas de Lojas";
}

<style>
    #t-responsive .row {
        margin-right: 0 !important;
    }
</style>

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#activity" data-toggle="tab">Cadastro Visitas</a></li>
        <li><a href="#timeline" data-toggle="tab">Relatórios de Efetividade</a></li>
        <li><a href="#visitas" data-toggle="tab">Relatório Mens. de Visitas</a></li>
    </ul>
    <div class="tab-content">
        <div class="active tab-pane" id="activity">
            <div class="row">
                <div class="col-md-3">
                    <div class="box box-default color-palette-box">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa-info"></i>&nbspDados da Visita</h3>
                        </div>
                        @using (Ajax.BeginForm("IncluirVisitaLojas", "visitaslojas", new AjaxOptions
                        {
                            HttpMethod = "POST",
                        }, new { @id = "form-validation-info-vendas", @class = "form-info-vendas" }))
                        {

                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Loja</label>
                                            @Html.DropDownListFor(x => x.loja_id,
     (SelectList)ViewBag.LojasFiltrado,
new { @class = "form-control select2", @style = "width: 100%;", @onchange = "onVendedorChange('vendedor_id');", required = "required" })



                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Data</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                @Html.TextBoxFor(x => x.data_visita, new { @class = "form-control pull-right datepicker", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Texto</label>
                                            @Html.TextAreaFor(x => x.observacao, new { @class = "form-control", @rows = "3", @placeholder = "Enter ...", required = "required" })
                                        </div>
                                    </div>

                                </div>
                                <div class="box-footer">
                                    <button type="submit" name="buttonSalva" class="btn btn-primary pull-right btnSalvar">Salvar</button>
                                </div>
                                <!-- /.row -->

                            </div>

                        }
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->

                <div class="col-md-9">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Lista de Cadastrados</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div id="t-responsive" class="table-responsive no-padding">
                                <table id="listaInfoVendas" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Loja</th>
                                            <th>Data Visita</th>
                                            <th>Observação</th>
                                            <th class="col-md-1">Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (VisitaLojas item in (List<VisitaLojas>)ViewBag.ListaVisitaLojas)
                                        {
                                            <tr>
                                                <td>@item.filial</td>
                                                <td>@(item.data_visita.ToString("dd/MM/yyyy"))</td>
                                                <td>@item.observacao</td>
                                                <td>
                                                    <button type="submit" onclick="location.href='@Url.Action("ExcluirVisitaLojas", "Manutencao")?codigo=' + @item.id.ToString()" name="buttonExcluir" class="btn btn-danger pull-right">Exluir</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="timeline">
            <!-- The timeline -->
            @Html.Partial("_VisitaLojasEfetividadeporMes", new RelatorioPesquisa())
        </div>
        <div class="tab-pane" id="visitas">
            <!-- The timeline -->
            @Html.Partial("_VisitaLojasRelVisitas", new RelatorioPesquisa())
        </div>
    </div>
    <!-- /.tab-content -->
</div>

@section Scripts{

    <script type="text/javascript">
        $("#listaInfoVendas").DataTable();
    </script>

    <script type="text/javascript">


    </script>

    <script>
        ValidarContato();

        @*function onLojaVisitasChange(obj) {
                loading();
                $("#loja_id").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetLojasVitidas", "Manutencao")',
                    dataType: 'json',
                    data: { data: $(obj).val() },
                    success: function (subcategories) {
                        $.each(subcategories, function (i, subcategory) {
                            $("#loja_id").append('<option value="' + subcategory.Value + '">' + subcategory.Text + '</option>');
                        });
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (ex) {
                        TempData["Erro"] = "Ocorreu um erro ao carregar os vendedores.";
                        adicionarErro("Vendedor", "Script Ajax: GetVendedores", ex, TempData["Erro"]);
                    }
                });
            return false;
        }*@

        function ValidarContato() {
            $('#form-validation-info-vendas').bootstrapValidator({
                message: 'This value is not valid',
                excluded: [':disabled', ':hidden', ':not(:visible)'],
                fields: {
                    loja_id: {
                        validators: {
                            notEmpty: {
                                message: 'Seleção da Loja é obrigatória!'
                            }
                        }
                    },
                    vendedor_id: {
                        validators: {
                            notEmpty: {
                                message: 'Seleção do Vendedor é obrigatório!'
                            }
                        }
                    },
                    cpf: {
                        validators: {
                            notEmpty: {
                                message: 'O preenchimento do Cpf é obrigatório!',
                            }
                        }
                    },
                    data_registro: {
                        validators: {
                            notEmpty: {
                                message: 'O preenchimento da data é obrigatório!',
                            },
                            date: {
                                format: 'DD/MM/YYYY',
                                message: 'Está data é inválida!'
                            }
                        }
                    },
                    info: {
                        validators: {
                            notEmpty: {
                                message: 'O preenchimento do texto é obrigatório!'
                            }
                        }
                    }
                }
            }).on('success.form.bv', function (e, data) {
                loading();
            });
        }

        $(".btnConsultaMensuracao").click(function (e) {            
            loading();
            e.preventDefault();
            $.ajaxSubmitLoadResultCallback(".form-pesquisa-visitas", "#divRelatorioVisitas", function () { });

            //var data1 = $("#data_inicial").val();
            //var data2 = $("#data_final").val();

            //data1 = data1.replace("/", "-").replace("/", "-");
            //data2 = data2.replace("/", "-").replace("/", "-");

            //$.ajax(
            // {
            //     type: 'GET',
            //     url: '/Manutencao/ListarRelatorioVisitas',
            //     data: { data_inicial: data1, data_final: data2 },
            //     dataType: 'html',
            //     cache: false,
            //     async: true,
            //     complete: function () {
            //         $.unblockUI();
            //     },
            //     success: function (data) {
            //         alert($('#divRelatorioVisitas'));
            //         $('#divRelatorioVisitas').html(data);
            //     },
            //     error: function (ex) {
            //         alert(ex.message);
            //         alert($('#divRelatorioVisitas'));
            //     }
            // });
        });

        $(".btnConsulta").click(function (e) {
            e.preventDefault();
            loading();
            //$.ajaxSubmitLoadResultCallback(".form-pesquisa", "#divRelatorio", function () {});
            //$.ajaxSubmitLoadResultCallback(".form-pesquisa-media", "#divRelatorioMedia-media", function () {});

            loading();
            EfetividadePorMes();
            loading();
            EfetividadePorMesMedia();
        });


        function EfetividadePorMes() {
            $.ajax(
                {
                    type: 'GET',
                    url: '/Manutencao/ListarEfetividadePorMesVisitasLojas',
                    data: { loja_id: $("#loja_id").val(), ano: $("#ano").val() },
                    dataType: 'html',
                    cache: false,
                    async: true,
                    complete: function () {
                        $.unblockUI();
                    },
                    success: function (data) {
                        $('#divRelatorio').html(data);
                    }
                });
        }

        function EfetividadePorMesMedia() {
            $.ajax(
                {
                    type: 'GET',
                    url: '/Manutencao/ListarEfetividadePorMesMediaVisitasLojas',
                    dataType: 'html',
                    data: { loja_id: $("#loja_id").val(), ano: $("#ano").val() },
                    cache: false,
                    async: true,
                    complete: function () {
                        $.unblockUI();
                    },
                    success: function (data) {
                        $('#divRelatorioMedia').html(data);
                    }
                });
        }

        function CarregarGraficoEfetividade() {
            $.ajax({
                dataType: "json",
                type: "GET",
                url: "../Manutencao/GetDadosEfetividadePorMes",
                success: function (dados) {
                    var bar = new Morris.Bar({
                        element: 'bar-chart',
                        resize: true,
                        data: [
                          { y: 'Janeiro', a: dados[0].janeiro },
                          { y: 'Fevereiro', a: dados[0].fevereiro },
                          { y: 'Março', a: dados[0].marco },
                          { y: 'Abril', a: dados[0].abril },
                          { y: 'Maio', a: dados[0].maio },
                          { y: 'Junho', a: dados[0].junho },
                          { y: 'Julho', a: dados[0].julho },
                          { y: 'Agosto', a: dados[0].agosto },
                          { y: 'Setembro', a: dados[0].setembro },
                          { y: 'Outubro', a: dados[0].outubro },
                          { y: 'Novembro', a: dados[0].novembro },
                          { y: 'Dezembro', a: dados[0].dezembro },
                        ],
                        barColors: ['#00a65a'],
                        xkey: 'y',
                        ykeys: ['a'],
                        labels: ['Total'],
                        hideHover: 'auto'
                    })

                    //$(dados).each(function (i) {
                    //    document.writeln("<p>Nome: " + dados[i].Nome + " | URL: " + dados[i].URL + "</p>")
                    //});
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
        }


    </script>
}
