﻿@{
    ViewBag.Title = "Manual do NOW";
}

<section id="login">
    <h2 class="page-header"><a href="#login">Login do Sistema</a></h2>
    <p class="lead">
        <b>http://www2.usenow.com.br/</b> is a popular open source WebApp template for admin dashboards and control panels.
        It is a responsive HTML template that is based on the CSS framework Bootstrap 3.
        It utilizes all of the Bootstrap components in its design and re-styles many
        commonly used plugins to create a consistent design that can be used as a user
        interface for backend applications. AdminLTE is based on a modular design, which
        allows it to be easily customized and built upon. This documentation will guide you through
        installing the template and exploring the various components that are bundled with the template.
    </p>
    <div class="row">
        <div class="col-sm-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Acessando o NOW</h3>
                    <span class="label label-primary pull-right"><i class="fa fa-key"></i></span>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="col-sm-6">
                        <ul>
                            <li><b>Status:</b> Entre com seu usuário (seulogin@usereserva.com).</li>
                            <li><b>Senha:</b> Entre com a senha criada.</li>
                            <li><b>Entrar:</b> Clique no botão ENTRAR para acessar o sistema.</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <img src="@Url.Content("~/Images/manual/login.png")" class="img-responsive" />
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-sm-6">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Trocar a Senha</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="col-sm-6">
                        <ul>
                            <li><b>Usuário:</b> Entre com seu usuário (seulogin@usereserva.com).</li>
                            <li><b>Senha:</b> Deixe em Branco.</li>
                            <li><b>Trocar senha:</b> Clique no link Trocar senha.</li>
                            <li><b>Email Código:</b> Sistema enviará um código para o email do login, para dar continuidade da troca da senha.</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <img src="@Url.Content("~/Images/manual/trocarSenha.png")" class="img-responsive" />
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

<section id="contato">
    <h2 class="page-header"><a href="#contato">Registro de Contatos</a></h2>
    <p class="lead">

    </p>
    <div class="row">
        <div class="col-sm-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Acessando o NOW</h3>
                    <span class="label label-primary pull-right"><i class="fa fa-key"></i></span>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="col-sm-6">
                        <ul>
                            <li><b>Usuário:</b> Entre com seu usuário (seulogin@usereserva.com).</li>
                            <li><b>Senha:</b> Entre com a senha criada.</li>
                            <li><b>Entrar:</b> Clique no botão ENTRAR para acessar o sistema.</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <img src="@Url.Content("~/Images/manual/login.png")" class="img-responsive" />
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-sm-6">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Tela Registro de Contatos</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <img src="@Url.Content("~/Images/manual/registroContatos.png")" class="img-responsive" />
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

<li data-target='#Carousel' data-slide-to='0' class='active'></li>
<li data-target='#Carousel' data-slide-to='1' class=''></li>
<li data-target='#Carousel' data-slide-to='2' class=''></li>
<li data-target='#Carousel' data-slide-to='3' class=''></li>

<div class='item active '>
    <div class='row'>
        <div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0025482054_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div>
        <div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0031901040_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div>
        <div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/002458014_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div>
        <div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0033024330_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div>
        <div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0031238330_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div>
        <div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0029707497_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div>
    </div>
</div>
<div class='item  '><div class='row'><div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0029689500_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div><div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0038530498_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div><div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0026219014_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div><div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0034912040_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div><div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0032926330_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div><div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0032698040_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div></div></div>
<div class='item  '><div class='row'><div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0032354040_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div><div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0023531017_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div><div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0023528009_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div><div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0038212435_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div><div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0029708040_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div><div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0032657040_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div></div></div>
<div class='item  '><div class='row'><div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0035134009_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div><div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0030291431_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div><div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0030293173_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div><div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0029008013_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div><div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0029169009_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div><div class='col-md-2'><a href='#' class='thumbnail'><img src='https://imagens.usereserva.com.br/images/853x1280/0021261014_01.jpg?ims=320x480 ' alt='Image' style='max-width:100%;' class='img-responsive'></a></div></div></div>