﻿<ul class="sidebar-menu">
    <li class="header">MENU NAVEGAÇÃO</li>
    <li>
        <a href="@Url.Action("Index", "Dashboard")" class="loading">
            <i class="fa fa-dashboard"></i><span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "InfoVendas")" class="loading">
            <i class="fa fa-file-text-o"></i><span>Info Vendas</span>
        </a>
    </li>
    @*<li> --TODO - RETIRADO DIA 01/07/2019 CONFORME REUNIÃO COM FABINHO E AGLUTINADO APENAS NO INFO VENDAS
            <a href="@Url.Action("QuemeEle", "Cliente")" class="loading">
                <i class="fa fa-user"></i><span>Quem é ELE</span>
            </a>
        </li>*@
    <li>
        <a href="@Url.Action("Index", "Lembrete")" class="loading">
            <i class="fa fa-bell-o"></i><span>Lembrete</span>
        </a>
    </li>
    @*@if ((@ViewBag.TipoLoja == "" || !((string)@ViewBag.TipoLoja).Contains("RESERVA")) && (ViewBag.PerfilSelecionado != "Gerente"))*@
    
        <li>
            <a href="@Url.Action("Index", "Agenda")" class="loading">
                <i class="fa fa-calendar"></i><span>Agenda</span>
                @*<small class="label pull-right bg-red">15</small>*@
            </a>
        </li>
    
    <li>
        <a href="@Url.Action("Index", "Relatorio")" class="loading">
            <i class="fa fa-pie-chart"></i><span>Relatórios</span>
        </a>
    </li>

    <li>
        <a href="@Url.Action("ContatoLote", "Cliente")" class="loading">
            <i class="fa fa-warning"></i><span>Contato em Lote</span>
        </a>
    </li>

    @*<li>
            <a href="@Url.Action("Index", "LicencaVendedores")" class="loading">
                <i class="fa fa-warning"></i><span>Licença Vendedores</span>
            </a>
        </li>*@
    @*@if (ViewBag.IdLojaSelecionada == "308" || ViewBag.IdLojaSelecionada == "314")
        {*@
    <li>
        <a href="@Url.Action("Index", "TalPaiTalFilho")" class="loading">
            <i class="fa fa-camera"></i><span>Tal Pai Tal Filho</span>
        </a>
    </li>
    @*}*@
    @if (ViewBag.PerfilSelecionado != "Vendedor")
    {
        <li>
            <a href="@Url.Action("Index", "ClientesDistribuicao")" class="loading">
                <i class="fa fa-exchange"></i><span>Distribuição de Clientes</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "DistribuicaoAgenda")" class="loading">
                <i class="fa fa-random"></i><span>Distribuição de Agendas</span>
            </a>
        </li>
    }


    <li class="treeview">
        <a href="#">
            <i class="fa fa-cogs"></i>
            <span>Manutenção</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            @if (((string)@ViewBag.Perfil).Contains("Administrador"))
            {
                <li><a href="@Url.Action("Lojas", "Manutencao")" class="loading"><i class="fa fa-circle-o"></i>Loja</a></li>}
            @if (((string)@ViewBag.Perfil).Contains("Administrador"))
            {
                <li><a href="@Url.Action("LojasDistribuicao", "Manutencao")" class="loading"><i class="fa fa-circle-o"></i>Loja/Distribuição</a></li>}
            @if (((string)@ViewBag.Perfil).Contains("Administrador"))
            {
                <li><a href="@Url.Action("ResetarSenha", "Manutencao")" class="loading"><i class="fa fa-circle-o"></i>Usuário</a></li>
            }
            @*@if (((string)@ViewBag.Perfil).Contains("Administrador"))
                {
                    <li><a href="@Url.Action("ResetarSenha", "Manutencao")" class="loading"><i class="fa fa-circle-o"></i>Resertar Senha</a></li>}
                @if (((string)@ViewBag.Perfil).Contains("Administrador"))
                {
                    <li><a href="@Url.Action("AlterarGerente", "Manutencao")" class="loading"><i class="fa fa-circle-o"></i>Alteração Gerente</a></li>}*@
            @if (((string)@ViewBag.Perfil).Contains("Administrador"))
            {
                <li><a href="@Url.Action("Agenda", "Manutencao")" class="loading"><i class="fa fa-circle-o"></i>Agenda</a></li>}
            @if (((string)@ViewBag.Perfil).Contains("Administrador"))
            {
                <li><a href="@Url.Action("Email", "Manutencao")" class="loading"><i class="fa fa-circle-o"></i>Email</a></li>}
            @if (((string)@ViewBag.Perfil).Contains("Administrador"))
            {
                <li><a href="@Url.Action("VisitaLojas", "Manutencao")" class="loading"><i class="fa fa-circle-o"></i>Visitas Lojas</a></li>}
            @if (((string)@ViewBag.Perfil).Contains("Administrador"))
            {
                <li><a href="@Url.Action("Index", "PerguntasQuemEle")" class="loading"><i class="fa fa-circle-o"></i>Cadastro de Perguntas</a></li>}
        </ul>
    </li>
    @*<li>
            <a href="@Url.Action("Index", "Manual")" class="loading">
                <i class="fa fa-book"></i><span>Manual</span>
            </a>
        </li>*@
</ul>