﻿
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-12 col-lg-4">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">Orders Received</h3>
                <div class="card-options">
                    <a class="btn btn-sm btn-primary" href="#">View</a>
                </div>
            </div>
            <div class="card-body ">
                <small class="h6">Today Orders</small>
                <div class="text-dark count mt-0 font-30">6,525</div>
                <div class="progress progress-sm mt-0 mb-2">
                    <div class="progress-bar bg-success w-35" role="progressbar"></div>
                </div>
                <div class=""><i class="fa fa-caret-up text-green"></i>  10% increases</div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-4">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">Atendimentos Convertidos</h3>
                <div class="card-options">
                    <a class="btn btn-sm btn-primary" href="#">Detalhe</a>
                </div>
            </div>
            <div class="card-body ">
                <small class="h6">Total Convertidos</small>
                <div class="text-dark count mt-0 font-30">3,897</div>
                <div class="progress progress-sm mt-0 mb-2">
                    <div class="progress-bar bg-primary w-55" role="progressbar"></div>
                </div>
                <div class=""><i class="fa fa-caret-up text-green"></i> 10% convertido</div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-4">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">Atendimentos Não Convertidos</h3>
                <div class="card-options">
                    <a class="btn btn-sm btn-primary" href="#">Detalhe</a>
                </div>
            </div>
            <div class="card-body ">
                <small class="h6">Total Não Convertidos</small>
                <div class="text-dark count mt-0 font-30">4,256</div>
                <div class="progress progress-sm mt-0 mb-2">
                    <div class="progress-bar bg-danger w-15" role="progressbar"></div>
                </div>
                <div class=""><i class="fa fa-caret-down text-danger"></i> 20% não convertido</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card ">
            <div class="card-header">
                <h3 class="card-title">Frequência</h3>
                <div class="card-options">
                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                </div>
            </div>
            <div class="card-body">
                @*<div class="text-center">
                    <ul class="legend align-items-center ">
                        <li>
                            <span class="legend-dots bg-primary"></span>Sales<span class="ml-2 float-right"></span>
                        </li>
                        <li>
                            <span class="legend-dots bg-pink"></span>Profit<span class="ml-2 float-right"></span>
                        </li>
                    </ul>
                </div>*@
                <div id="echart1" class="chartsh dropshadow"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Ranking Vendedores</h3>
                <div class="card-options">
                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive border-top">
                    <div class="table-responsive border-top">
                        <table class="table card-table table-bordered table-hover table-vcenter text-nowrap">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>User</th>
                                    <th>Role</th>
                                    <th>Salary</th>
                                    <th>Date</th>
                                    <th>Exp</th>
                                    <th>Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#675</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="mr-3"><img class="avatar avatar-md brround " src="assets/images/faces/female/6.jpg" alt="avatar-img"></div>
                                            <div class="">
                                                <h5 class="mb-0  font-weight-semibold">Hanna Gover</h5>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="mb-0">Web Designer</p>
                                    </td>
                                    <td class="font-weight-semibold">$46K</td>
                                    <td>Oct 02, 2018</td>
                                    <td>3y</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-success w-45" role="progressbar"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#789</td>
                                    <td>
                                        <div class="d-flex  align-items-center">
                                            <div class="mr-3"><img class="avatar avatar-md brround " src="assets/images/faces/male/6.jpg" alt="avatar-img"></div>
                                            <div class="">
                                                <h5 class="mb-0 font-weight-semibold">Daniel Kristeen</h5>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="mb-0">Wordpress</p>
                                    </td>
                                    <td class="font-weight-semibold">$76K</td>
                                    <td>Oct 16, 2018</td>
                                    <td>5y</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-primary w-55" role="progressbar"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#234</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="mr-3"><img class="avatar avatar-md brround " src="assets/images/faces/male/7.jpg" alt="avatar-img"></div>
                                            <div class="">
                                                <h5 class="mb-0  font-weight-semibold">Julian Josephs</h5>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="mb-0">Mobile Apps</p>
                                    </td>
                                    <td class="font-weight-semibold">$86K</td>
                                    <td>Oct 21, 2018</td>
                                    <td>2y</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-pink w-40" role="progressbar"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#987</td>
                                    <td>
                                        <div class="d-flex  align-items-center">
                                            <div class="mr-3"><img class="avatar avatar-md brround " src="assets/images/faces/female/7.jpg" alt="avatar-img"></div>
                                            <div class="">
                                                <h5 class="mb-0 font-weight-semibold">Jan Petrovic</h5>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="mb-0">Content Writing</p>
                                    </td>
                                    <td class="font-weight-semibold">$26K</td>
                                    <td>Oct 10, 2018</td>
                                    <td>1y</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-warning w-30" role="progressbar"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#654</td>
                                    <td>
                                        <div class="d-flex  align-items-center">
                                            <div class="mr-3"><img class="avatar avatar-md brround " src="assets/images/faces/male/4.jpg" alt="avatar-img"></div>
                                            <div class="">
                                                <h5 class="mb-0 font-weight-semibold">Leo Amy</h5>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="mb-0">Developer</p>
                                    </td>
                                    <td class="font-weight-semibold">$52K</td>
                                    <td>Oct 15, 2018</td>
                                    <td>4y</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-danger w-15" role="progressbar"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-deck">
    <div class="col-lg-6 col-xl-4 col-sm-12">
        <div class="card ">
            <div class="card-header">
                <div class="card-title">Browser Status</div>
                <div class="card-options">
                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                </div>
            </div>
            <div class="card-body text-center">
                <canvas class="canvasDoughnut dropshadow" width="200" height="220"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-8 col-sm-12">
        <div class="card ">
            <div class="card-header">
                <div class="card-title">Our location</div>
                <div class="card-options">
                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                </div>
            </div>
            <div class="card-body">
                <div id="world-map-gdp" class="h-220"></div>
            </div>
        </div>
    </div>
</div>

<div class="row row-deck">
    <div class="col-lg-8 col-sm-12">
        <div class="card ">
            <div class="card-header">
                <div class="card-title">Browsing Activity</div>
                <div class="card-options">
                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                </div>
            </div>
            <div class="card-body p-4">
                <div class="chats-wrap">
                    <div class="chat-details p-3">
                        <h6 class="mb-0">
                            <span class="font-weight-normal">Male</span>
                            <span class="float-right p-1">33%</span>
                        </h6>
                        <div class="progress progress-md mt-3">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success w-35"></div>
                        </div>
                    </div>
                    <div class="chat-details p-3">
                        <h6 class="mb-0">
                            <span class="font-weight-normal">Female</span>
                            <span class="float-right p-1">76%</span>
                        </h6>
                        <div class="progress progress-md mt-3">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary w-75"></div>
                        </div>
                    </div>
                    <div class="chat-details p-3">
                        <h6 class="mb-0">
                            <span class="font-weight-normal">Students</span>
                            <span class="float-right p-1">65%</span>
                        </h6>
                        <div class="progress progress-md mt-3">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-pink w-65"></div>
                        </div>
                    </div>
                    <div class="chat-details p-3">
                        <h6 class="mb-0">
                            <span class="font-weight-normal">Others</span>
                            <span class="float-right p-1">80%</span>
                        </h6>
                        <div class="progress progress-md mt-3">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning w-80"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-4">
        <div class="card">
            <div class="card-body text-center">
                <div class="profile-pic mb-4">
                    <img src="assets/images/faces/female/21.jpg" width="150" class="brround" alt="user">
                    <h5 class="mt-3 mb-0 font-weight-semibold">Emily Ball</h5>
                    <a href="mailto:liamnolan@gmail.com">emilyball@gmail.com</a>
                </div>
                <div class="chip">Angular</div>
                <div class="chip">PHP</div>
                <div class="chip bg-primary text-white">+7</div>
            </div>
            <div class="p-4  card-footer">
                <div class="row text-center">
                    <div class="col-6  border-right text-center">
                        <div class="text-center">
                            <a href="#" class="fw-500"><i class="fa fa-envelope  mr-5"></i>Chat</a>
                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <a href="#" class="fw-500"><i class="fa fa-user  mr-5"></i>Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>