﻿@using Now.Domain;
@model IList<ClientesDistribuicao>

@{
    ViewBag.Title = "Distribuição Manual de Clientes";
}


<div class="row">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active" id="InfoTab"><a href="#infoVendas" data-toggle="tab" id="lnkInfoVendas">CLIENTES <span class="label bg-blue-gradient" data-toggle="tooltip" data-original-title="Clientes distribuidos automaticamente pelo sistema pendente de aprovação">PENDENTES</span> </a></li>
                <li id="CliNovosTab"><a href="#ClienteNovo" data-toggle="tab" id="lnkClienteNovo">CLIENTES <span class="label bg-green-gradient" data-toggle="tooltip" data-original-title="Clientes já aprovados pelo sistema ou pelo gerente">APROVADOS</span> </a></li>
                <li id="CliTopInativos"><a href="#ClienteTopInativos" data-toggle="tab" id="lnkClienteTopInativos">CLIENTES <span class="label bg-black-gradient" data-toggle="tooltip" data-original-title="Clientes Top Inativos transferidos pelo sistema automático para o Gerente ">TOP INATIVOS</span> </a></li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="infoVendas">

                    <div class="box box-primary">
                        <div class="box-body">
                            <div id="t-responsive" class="table-responsive no-padding">
                                <table id="listaInfoVendas" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center " style="vertical-align:middle">Cpf</th>
                                            <th class="text-center " style="vertical-align:middle">Cliente</th>
                                            <th class="text-center " style="vertical-align:middle">Acumulado 12</th>
                                            <th class="text-center " style="vertical-align:middle">Acumulado Geral</th>
                                            <th class="text-center " style="vertical-align:middle">Vendedor Antigo</th>
                                            <th class="text-center " style="vertical-align:middle">Ligações Vend. Antigo</th>
                                            <th class="text-center " style="vertical-align:middle">Vendedor Sugerido</th>
                                            <th class="text-center " style="vertical-align:middle">Status</th>
                                            <th class="text-center " style="vertical-align:middle">Remaneja para Vendedor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (ClientesDistribuicao item in Model)
                                        {
                                            <tr>
                                                <td class="text-center " style="vertical-align:middle">@item.cpf </td>
                                                <td class="text-center " style="vertical-align:middle">@item.nome</td>
                                                <td class="text-center " style="vertical-align:middle">@(String.Format("{0:C}", item.AcumuladoVenda12)) </td>
                                                <td class="text-center " style="vertical-align:middle">@(String.Format("{0:C}", item.AcumuladoVendaGeral)) </td>
                                                <td class="text-center " style="vertical-align:middle">@item.vendedor_antigo</td>
                                                <td class="text-center " style="vertical-align:middle">
                                                    @if (!string.IsNullOrEmpty(item.vendedor_antigo))
                                                    {
                                                        @item.lig_total_vend_antigo
                                                     }
                                            </td>
                                            <td class="text-center " style="vertical-align:middle">@item.vendedor</td>
                                            <td class="text-center " style="vertical-align:middle">
                                                @if (item.aprovacao_gerente == "P")
                                                {
                                                    <span class="label bg-blue-gradient" data-toggle="tooltip" data-original-title="Cliente distribuido automaticamente pelo sistema">@item.aprovacao_gerente</span>
                                                }
                                                else if (item.aprovacao_gerente == "A")
                                                {
                                                    <span class="label bg-green-gradient" data-toggle="tooltip" data-original-title="+@item.obs+">@item.aprovacao_gerente</span>
                                                }
                                            </td>
                                            <td class="text-center " style="vertical-align:middle">
                                                @Html.DropDownList("ddlVendedorNovo"
                            , (SelectList)ViewBag.Vendedores
                            , new { @class = "form-control select2", @style = "width: 100%;", required = "required", @onchange = "onTrocarVendedorChange(this, " + @item.cliente_id + ");" })

                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="ClienteNovo">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div id="t-responsive" class="table-responsive no-padding">
                                <table id="listaAprovados" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center " style="vertical-align:middle">Cpf</th>
                                            <th class="text-center " style="vertical-align:middle">Cliente</th>
                                            <th class="text-center " style="vertical-align:middle">Acumulado 12</th>
                                            <th class="text-center " style="vertical-align:middle">Acumulado Geral</th>
                                            <th class="text-center " style="vertical-align:middle">Vendedor Antigo</th>
                                            <th class="text-center " style="vertical-align:middle">Ligações Vend. Antigo</th>
                                            <th class="text-center " style="vertical-align:middle">Status</th>
                                            <th class="text-center " style="vertical-align:middle">Sugerido Pelo Sistema</th>
                                            <th class="text-center " style="vertical-align:middle"></th>
                                            <th class="text-center " style="vertical-align:middle">Alterado Pelo Gerente</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (ClientesDistribuicao item in (List<ClientesDistribuicao>)ViewBag.ListaClientesDistribuicaoAprov)
                                        {
                                        <tr>
                                            <td class="text-center " style="vertical-align:middle">@item.cpf </td>
                                            <td class="text-center " style="vertical-align:middle">@item.nome</td>
                                            <td class="text-center " style="vertical-align:middle">@(String.Format("{0:C}", item.AcumuladoVenda12)) </td>
                                            <td class="text-center " style="vertical-align:middle">@(String.Format("{0:C}", item.AcumuladoVendaGeral)) </td>
                                            <td class="text-center " style="vertical-align:middle">@item.vendedor_antigo</td>
                                            <td class="text-center " style="vertical-align:middle">
                                                @if (!string.IsNullOrEmpty(item.vendedor_antigo))
                                                {
                                                    @item.lig_total_vend_antigo
                                                }
                                            </td>

                                            <td class="text-center " style="vertical-align:middle">
                                                @if (item.aprovacao_gerente == "P")
                                                    {
                                                    <span class="label bg-blue-gradient" data-toggle="tooltip" data-original-title="Cliente distribuido automaticamente pelo sistema">@item.aprovacao_gerente</span>
                                                    }
                                                    else if (item.aprovacao_gerente == "A")
                                                    {
                                                    <span class="label bg-green-gradient" data-toggle="tooltip" data-original-title="@item.obs">@item.aprovacao_gerente</span>
                                                    }
                                            </td>
                                            <td class="text-center " style="vertical-align:middle">
                                                @item.vendedor
                                            </td>
                                            <td class="text-center " style="vertical-align:middle">
                                                @if (!String.IsNullOrEmpty(item.vendedor_gerente))
                                                    {
                                                    <i class="fa fa-angle-double-right margin-r-5"></i>
                                                    }

                                            </td>
                                            <td class="text-center " style="vertical-align:middle">@item.vendedor_gerente</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="ClienteTopInativos">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div id="t-responsive" class="table-responsive no-padding">
                                <table id="listaAprovados" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center " style="vertical-align:middle">Cpf</th>
                                            <th class="text-center " style="vertical-align:middle">Cliente</th>
                                            <th class="text-center " style="vertical-align:middle">Acumulado 12</th>
                                            <th class="text-center " style="vertical-align:middle">Acumulado Geral</th>
                                            <th class="text-center " style="vertical-align:middle">Vendedor Antigo</th>
                                            <th class="text-center " style="vertical-align:middle">Ligações Vend. Antigo</th>
                                            <th class="text-center " style="vertical-align:middle">Status</th>
                                            <th class="text-center " style="vertical-align:middle">Gerente</th>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (ClientesDistribuicao item in (List<ClientesDistribuicao>)ViewBag.ListaClientesDistribuicaoTopInativos)
                                        {
                                            <tr>
                                                <td class="text-center " style="vertical-align:middle">@item.cpf </td>
                                                <td class="text-center " style="vertical-align:middle">@item.nome</td>
                                                <td class="text-center " style="vertical-align:middle">@(String.Format("{0:C}", item.AcumuladoVenda12)) </td>
                                                <td class="text-center " style="vertical-align:middle">@(String.Format("{0:C}", item.AcumuladoVendaGeral)) </td>
                                                <td class="text-center " style="vertical-align:middle">@item.vendedor_antigo</td>
                                                <td class="text-center " style="vertical-align:middle">
                                                    @if (!string.IsNullOrEmpty(item.vendedor_antigo))
                                                    {
                                                        @item.lig_total_vend_antigo
                                                    }
                                                </td>
                                                <td class="text-center " style="vertical-align:middle">
                                                    @if (item.aprovacao_gerente == "P")
                                                    {
                                                        <span class="label bg-blue-gradient" data-toggle="tooltip" data-original-title="Cliente distribuido automaticamente pelo sistema">@item.aprovacao_gerente</span>
                                                    }
                                                    else if (item.aprovacao_gerente == "A")
                                                    {
                                                        <span class="label bg-green-gradient" data-toggle="tooltip" data-original-title="@item.obs">@item.aprovacao_gerente</span>
                                                    }
                                                </td>
                                                <td class="text-center " style="vertical-align:middle">
                                                    @item.vendedor
                                                </td>                                               
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(".table").DataTable( {
            "order": [[2, "desc"]],
            "language": {
                "decimal": ",",
                "thousands": "."
            }
        } );

        function onTrocarVendedorChange(ddl, clienteId) {
            loading();
            var idVendedor = ddl.value;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("TrocarVendedorPeloGerente", "ClientesDistribuicao")',
                dataType: 'json',
                data: { vendedorId: idVendedor, clienteId: clienteId },
                success: function () {
                    $.msg({ content: 'Vendedor Alterado Com Sucesso!', tipo: 'alert-success', titulo: 'Sucesso', img: 'fa-check' });
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
            return false;
        }

    </script>
}
