﻿<div class="box-body">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Grau Parentesco</label>
                @Html.DropDownList("tbxGrauParentescoDependente", new List<SelectListItem>
                 {
                    new SelectListItem{ Text="FILHO(A)", Value = "FILHO(A)", Selected=true },
                    new SelectListItem{ Text="AMIGO(A)", Value = "AMIGO(A)" },
                    new SelectListItem{ Text="SOBRINHO(A)", Value = "SOBRINHO(A)" },
                    new SelectListItem{ Text="PRIMO(A)", Value = "PRIMO(A)" },
                    new SelectListItem{ Text="ENTEADO(A)", Value = "ENTEADO(A)" },
                    new SelectListItem{ Text="NETO(A)", Value = "NETO(A)" },
                    new SelectListItem{ Text="IRMÃO(A)", Value = "IRMÃO(Ã)" }
                 }, new { @class = "form-control select2", @style = "width: 100%;", @onchange = "statusChange(this)", required = "required" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Sexo</label>
                @Html.DropDownList("tbxSexo", new List<SelectListItem>
                 {
                    new SelectListItem{ Text="MASCULINO", Value = "M", Selected=true },
                    new SelectListItem{ Text="FEMININO", Value = "F" }
                 }, new { @class = "form-control select2", @style = "width: 100%;", @onchange = "statusChange(this)", required = "required" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Data Nascimento</label>
                @Html.TextBox("tbxDataNascDependente", "", new { @class = "form-control datepicker", @style = "width: 100%;", required = "required" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Nome do Dependente</label>
                @Html.TextBox("tbxNomeDependente", "", new { @class = "form-control", @style = "width: 100%;", required = "required" })
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label>Observações do Cliente</label>
                @Html.TextArea("tbsObsCliente", new { @class = "form-control ", @rows = "3", @style = "width: 100%;" })
            </div>
        </div>
    </div>
</div>


