﻿@*@Html.HiddenFor(x=>x.cliente_id, (Request.QueryString["clienteId"] == null ? "0" : Request.QueryString["clienteId"]))
@Html.HiddenFor(x => x.prametroAgenda, (Request.QueryString["param"] == null ? "" : Request.QueryString["param"]))
@Html.HiddenFor(x => x.tituloAgenda, (Request.QueryString["tituloAgenda"] == null ? "" : Request.QueryString["tituloAgendas"]))
@Html.HiddenFor(x => x.idAgenda, (Request.QueryString["idAgenda"] == null ? "" : Request.QueryString["idAgenda"]))*@
<div class="box-body">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Loja</label>
                @Html.DropDownList("loja_id",
                  new SelectList(ViewBag.LojasFiltrado, "Value", "Text"),
                           new { @class = "form-control select2", @style = "width: 100%;", @onchange = "onVendedorChange('vendedorId');", required = "required" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Vendedor</label>
                @Html.DropDownList("vendedorId"
                                        , (SelectList)ViewBag.Vendedores
                                        , new { @class = "form-control select2", @style = "width: 100%;", required = "required" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Período Inicial - Final</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBox("data_inicio",""
                                         , new { @class = "form-control datepickerAgendamentoIni", @id = "reservation", @style = "width: 100%;", required = "required" })
                                    </div>
            </div>
        </div>
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <div class="form-group">                
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBox("data_final",""
                                         , new { @class = "form-control datepickerAgendamentoFim", @id = "reservation", @style = "width: 100%;", disabled="disabled" })

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Motivo</label>
                @Html.DropDownList("motivo",
                  (SelectList)ViewBag.TipoAgendas,
                  new { @class = "form-control select2", @style = "width: 100%;", @onchange = "statusChange(this)", required = "required" })
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label>Dica</label>
                @Html.TextArea("dica", new { @class = "form-control", @style = "width: 100%;", @rows = "4" })
            </div>
        </div>
    </div>
</div>


