﻿@using Now.Domain;

@model Contato

<div class="box-body">
    @*<div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h4 class="box-title">Status</h4>
                </div>
                <div class="box-body">
                    <div id="external-events">
                        <div class="external-event bg-green ui-draggable ui-draggable-handle" style="position: relative;">Lunch</div>
                        <div class="external-event bg-yellow ui-draggable ui-draggable-handle" style="position: relative;">Go home</div>
                        <div class="external-event bg-aqua ui-draggable ui-draggable-handle" style="position: relative;">Do homework</div>
                        <div class="external-event bg-light-blue ui-draggable ui-draggable-handle" style="position: relative;">Work on UI design</div>
                        <div class="external-event bg-red ui-draggable ui-draggable-handle" style="position: relative;">Sleep tight</div>
                    </div>
                </div>
            </div>
        </div>

            <div class="col-md-4">

            </div>
        </div>*@
    <input type="hidden" id="customInput" data-value="@ViewBag.Termometro" />

    <div class="row">
        <div class="form-group">
            <div class="row" style="margin-left: 0px;margin-right: 0px;">
                <div class="col-md-6">
                    <label style="line-height: 20px;text-decoration: none;font-family: Helvetica,sans-serif;font-size: 11px;font-weight: 800;text-transform: uppercase;">Status</label>
                    @Html.DropDownListFor(x=> x.status, new List<SelectListItem>
                     {
                        new SelectListItem{ Text="Selecione", Value = "", Selected=true },
                        new SelectListItem{ Text="Contato efetuado", Value = "Contato efetuado" },
                        new SelectListItem{ Text="Telefone inválido", Value = "Telefone inválido" },
                        new SelectListItem{ Text="Caixa Postal", Value = "Não consegui falar" }
                     }, new { @class = "form-control select2", @style = "width: 100%;", @onchange = "statusChange(this)", required = "required" })
                </div>
                @*@if (@ViewBag.ativarNovaTelaVendedor == false)
                {
                    <div class="col-md-6">
                        <label style="line-height: 20px;text-decoration: none;font-family: Helvetica,sans-serif;font-size: 11px;font-weight: 800;text-transform: uppercase;">Enviar Avaliação</label>
                        @Html.DropDownListFor(x => x.enviar_avaliacao, new List<SelectListItem>
                         {
                           //new SelectListItem{ Text="Selecione", Value = "", Selected=true },
                           new SelectListItem{ Text="Não", Value = "1" },
                           new SelectListItem{ Text="Sim", Value = "0" },

                         }, new { @class = "form-control select2", @style = "width: 100%;", required = "required" })
                    </div>
                }*@
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="modo-area">Modo</label>
                    @*@Html.DropDownListFor(x=> x.modo, new List<SelectListItem>
                        {
                           new SelectListItem{ Text="Selecione", Value = "", Selected=true },
                           new SelectListItem{ Text="Ligação", Value = "Ligação" },
                           new SelectListItem{ Text="WhatsApp", Value = "WhatsApp" },
                           new SelectListItem{ Text="Facebook", Value = "Facebook" },
                           new SelectListItem{ Text="Cara a cara", Value = "Cara a cara" },
                           new SelectListItem{ Text="SMS", Value = "SMS" },
                           new SelectListItem{ Text="Instagram", Value = "Instagram" },
                           new SelectListItem{ Text="Nenhum", Value = "Nenhum" }
                           //new SelectListItem{ Text="Outros", Value = "Outros" }

                        }, new { @class = "form-control select2", @style = "width: 100%;", required = "required" })*@

                    @foreach (SelectListItem item in ((SelectList)ViewBag.ModoContato).Where(x => x.Value != "").ToList())
                    {
                        <tr class="@item.Value.Replace("+","_").Replace(",", "_") ">
                            <td style="width: 100%">

                                <a href="javascript:void(0)" onclick="selecionarModoContato('@item.Text.Split(' ')[0]')">
                                    <div class="nps-area modo-contato" id="modo_@item.Text.Split(' ')[0]">
                                        <i class="@item.Value modo-contato-icone" aria-hidden="true"></i>
                                        <span class="modo-contato-texto">@item.Text</span>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    }

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="modo-area">Termômetro</label>
                    @*@Html.DropDownListFor(x=> x.termometro, new List<SelectListItem>
                        {
                           new SelectListItem{ Text="Selecione", Value = "", Selected=true },
                           new SelectListItem{ Text="Gostou", Value = "Gostou" },
                           new SelectListItem{ Text="Então tá", Value = "Então tá" },
                           new SelectListItem{ Text="Odiou!!!", Value = "Odiou" }

                        }, new { @class = "form-control select2", @style = "width: 100%;", required = "required" })*@

                    <div>
                        @foreach (SelectListItem item in ((SelectList)ViewBag.Termometro).Where(x => x.Value != "").ToList())
                        {
                            //string _checked = "";
                            //if (((IList<string>)@ViewBag.TermometroSelecionado).Where(x => x.ToString() == item.Value.ToString()).ToList().Count > 0)
                            //{
                            //    _checked = "checked";
                            //}
                            //else
                            //{
                            //    _checked = "unchecked";
                            //}

                            <tr class="@item.Value.Replace("+","_").Replace(",", "_") ">
                                <td style="width: 100%">

                                    <a href="javascript:void(0)" onclick="selecionarTermometro('@item.Text')">
                                        <div class="@item.Text.Replace(' ','_').Replace('ã','a').Replace('á','a') termometro-area" id="nota_@item.Text.Replace(' ','_').Replace('ã','a').Replace('á','a')">
                                            <i class="@item.Value modo-contato-icone" aria-hidden="true"></i>
                                            <span class="termometro-texto">@item.Text</span>
                                        </div>
                                    </a>
                                    @*<div class="radio radio-primary @item.Value.Split(' ')[0]" style="width: 160px;height: 100px;border: solid 1px #E0E0E0;border-radius: 6%;padding: 9px;float: left;margin:14px;">
                                            <input id="_@item.Value.Replace("+","_").Replace(",", "_")" type="radio" name="@Html.RadioButton("nome", "Nome", true)" onclick="selecionarTermometroContato(this,'@item.Value');">
                                            <label for="_@item.Value.Replace("+","_").Replace(",", "_")" style="height: 85px;width: 100%;font-size: 19px;">
                                                <b style="float: left;margin-top: 57px;">@item.Text</b>
                                            </label>
                                        </div>*@
                                </td>
                            </tr>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="margin-left: 18px;margin-right: 18px;">
                    <label style="line-height: 20px;text-decoration: none;font-family: Helvetica,sans-serif;font-size: 11px;font-weight: 800;text-transform: uppercase;">Quem ligou?</label>

                    @Html.DropDownListFor(x => x.vendedor_id,
                        new SelectList(@ViewBag.VendedoresContatos, "Value", "Text", ((SelectList)@ViewBag.VendedoresContatos).SelectedValue),
                         new { @class = "form-control select2", @style = "width: 100%;", required = "required", @enabled = false })

                    @*@foreach (Vendedor item in @ViewBag.ListaVendedoresContato)
                        {
                            <div style="float:left;margin-right: 15px;margin-top: 30px;text-align:center;margin-bottom:15px;margin-left: 15px;">
                                <img class="img-circle" style="width: 50px;" src="@(String.IsNullOrEmpty(item.img_perfil_intranet) ? Url.Content("~/dist/img/user2-160x160.jpg") : "http://usereserva.dyndns.org:82/Intranet/images/fotosVendedores/" + item.img_perfil_intranet)">
                                <div style="font-size:8pt">@item.apelido.Split(' ')[0]</div>
                            </div>
                        }*@
                </div>
            </div>
            @*<div class="col-md-12">
                    <div class="form-group">
                        <label>Quem é ele?</label>
                        @Html.TextAreaFor(x => x.caracteristicas, new { @class = "form-control", @style = "width: 100%;", @rows = "3" })
                    </div>
                </div>*@
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="margin-left: 18px;margin-right: 18px;">
                    <label style="line-height: 20px;text-decoration: none;font-family: Helvetica,sans-serif;font-size: 11px;font-weight: 800;text-transform: uppercase;">Observações da ligação</label>
                    @Html.TextAreaFor(x => x.obs, new { @class = "form-control", @style = "width: 100%;", @rows = "7" })
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" value="" id="hddTermometroContato" />
<input type="hidden" value="" id="hddModoContato" />
<input type="hidden" value="" id="hddEnviarAvaliacao" />
<input type="hidden" value="" id="hddStatusContato" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">


    function selecionarTermometro(ponto) {

        var dados = @Html.Raw(Json.Encode(ViewBag.Termometro));

        //TIRAR A SELECAO ANTERIOR
        for (var i = 0; i < dados.length; i++) {
            $('#nota_' + dados[i].Text.replace(' ', '_').replace('ã', 'a').replace('á', 'a')).removeClass('nps-area-select')
        }

        //ADICIONA SELECAO SOMENTE PARA O PONTO MARCADO
        $('#nota_' + ponto.replace(' ', '_').replace('ã', 'a').replace('á', 'a')).addClass('nps-area-select');

        $("#hddTermometroContato").val(ponto);
    }

    function selecionarModoContato(ponto) {

        var dados = @Html.Raw(Json.Encode(ViewBag.ModoContato));

        //TIRAR A SELECAO ANTERIOR
        for (var i = 0; i < dados.length; i++) {
            $('#modo_' + dados[i].Text.split(' ')[0]).removeClass('nps-area-select')
        }

        //ADICIONA SELECAO SOMENTE PARA O PONTO MARCADO
        $('#modo_' + ponto).addClass('nps-area-select');

        $("#hddModoContato").val(ponto);
    }

        function selecionarEnviarAvaliacao(ponto) {

        var dados = @Html.Raw(Json.Encode(ViewBag.ModoContato));

        //TIRAR A SELECAO ANTERIOR
        for (var i = 0; i < dados.length; i++) {
            $('#modo_' + dados[i].Text.split(' ')[0]).removeClass('nps-area-select')
        }

        //ADICIONA SELECAO SOMENTE PARA O PONTO MARCADO
        $('#modo_' + ponto).addClass('nps-area-select');

            $("#hddEnviarAvaliacao").val(ponto);
    }

    function selecionarStatus(ponto) {

        var dados = @Html.Raw(Json.Encode(ViewBag.StatusContato));

        //TIRAR A SELECAO ANTERIOR
        for (var i = 0; i < dados.length; i++) {
            $('#nota_' + dados[i].Value.split(' ')[0]).removeClass('nps-area-select')
        }

        //ADICIONA SELECAO SOMENTE PARA O PONTO MARCADO
        $('#nota_' + ponto).addClass('nps-area-select');

        $("#hddStatusContato").val(ponto);
    }
</script>
