﻿@using Now.Domain;

@model Contato

<div class="box-body">

    <div class="row">
        <div class="form-group">

            <label class="modo-area">Mensagem</label>
            <div style="margin-left:25px;margin-right:25px;">
                <span style="float: left;width: 100%;margin-bottom: 5px;">@ViewBag.MensagemWhatsapp00.Replace("%20", " ")</span>
                <span style="float: left;width: 100%;margin-bottom: 5px;">@ViewBag.MensagemWhatsapp01.Replace("%20", " ")</span>
                <span style="float: left;width: 100%;margin-bottom: 5px;">@ViewBag.MensagemWhatsapp02.Replace("%20", " ")</span>
                <span style="float: left;width: 100%;margin-bottom: 5px;">@ViewBag.MensagemWhatsapp03.Replace("%20", " ")</span>
                @*<span style="float: left;width: 100%;margin-bottom: 5px;">@ViewBag.MensagemWhatsapp031.Replace("%20", " ")</span>*@
                <span style="float: left;width: 100%;margin-bottom: 5px;">@ViewBag.MensagemWhatsapp04.Replace("%20", " ")</span>
                <span style="float: left;width: 100%;margin-bottom: 5px;">@ViewBag.MensagemWhatsapp05.Replace("%20", " ")</span>
                <span style="float: left;width: 100%;margin-bottom: 5px;">@ViewBag.MensagemWhatsapp06.Replace("%20", " ")</span>
                <span id="myText" style="list-style-type: none;font-weight:900;float: left;width: 100%"></span>
                @*<span style="float: left;width: 100%;margin-bottom: 5px;">@ViewBag.MensagemWhatsapp08.Replace("%20", " ")</span>*@
                <span style="float: left;width: 100%;margin-bottom: 5px;">@ViewBag.MensagemWhatsapp09.Replace("%20", " ")</span>


            </div>

        </div>
        <div class="row" style="text-align: center;">
            <button class="btn2-gradient btn-primary btnSalvarContatoComercioDigital text-uppercase text-bold" type="submit"><b>ENVIAR TEXTO</b></button>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="modo-area">Produtos</label>
                    @foreach (SelectListItem item in ((SelectList)ViewBag.ModoContatoComercioDigital).Where(x => x.Value != "").ToList())
                    {
                        <tr class="@item.Value.Replace("+","_").Replace(",", "_") ">
                            <td style="width: 100%">

                                <a href="javascript:void(0)" onclick="selecionarModoContatoComercioDigital('@item.Text.Split(' ')[0]','@item.Value.Split(' ')[0]')">
                                @*<a href="https://wa.me/@ViewBag.TelefoneCliente/?text=@item.Value.Split(' ')[0]">*@
                                    <div class="nps-area modo-contato" id="modo_@item.Text.Split(' ')[0]">
                                        <i class=" modo-contato-icone" aria-hidden="true"></i>
                                        <span class="modo-contato-texto">@item.Text</span>

                                    </div>
                                </a>
                            </td>
                        </tr>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" value="" id="hddTermometroContato" />
<input type="hidden" value="" id="hddModoContatoComercioDigital" />
<input type="hidden" value="" id="hddModoContatoComercioDigitalValor" />
<input type="hidden" value="" id="hddEnviarAvaliacao" />
<input type="hidden" value="" id="hddStatusContato" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">

    function atualizarListagemComercioDigital() {

        localStorage.setItem('listagem_comercio_digital', JSON.stringify(@Html.Raw(Json.Encode(ViewBag.ModoContatoComercioDigital))));
    }

    atualizarListagemComercioDigital();

    function selecionarModoContatoComercioDigital(ponto, value) {

        // criar rotina para verificar todos os itens marcados
        // criar rotina para desmarcar o item selecionado
        // criar rotina para marcar a opcao

        var dados = JSON.parse(localStorage.getItem('listagem_comercio_digital'));

        //TIRAR A SELECAO ANTERIOR
        for (var i = 0; i < dados.length; i++) {
            if (dados[i].Value.split(' ')[0] == value) {
                if (dados[i].Selected) {
                    $('#modo_' + dados[i].Text.split(' ')[0]).removeClass('nps-area-select')
                    dados[i].Selected = false;
                } else {
                    $('#modo_' + ponto).addClass('nps-area-select');
                    dados[i].Selected = true;
                }
            }
        }

        localStorage.setItem('listagem_comercio_digital', JSON.stringify(dados));


        var list_item = $("#hddModoContatoComercioDigital").val();
        var list_values = $("#hddModoContatoComercioDigitalValor").val();
        var text = "<ul style='list-style-type: none;'>";

        var list_texts_mesclad = "";
        var list_values_mesclad = "";

        //ADICIONA SELECAO SOMENTE PARA O PONTO MARCADO
        for (var i = 0; i < dados.length; i++) {
          if (dados[i].Selected) {

              list_texts_mesclad += dados[i].Text + ';';
              list_values_mesclad += dados[i].Value + ';';
              //text += "<a href='https://wa.me/5521973997541/?text="+dados[i].Value+" data-action='share/whatsapp/share'>Share via Whatsapp</a>"

              text += "<li style='margin-left: -20px;padding-right: 41px;width: 320px;word-break: break-all;'> - " + dados[i].Value + "</li>";
              //text += "<li style='margin-left: -20px;padding-right: 41px;width: 320px;word-break: break-all;'> - " + dados[i].Value + "</li>";
          }
        }

        $("#hddModoContatoComercioDigital").val(list_texts_mesclad);
        $("#hddModoContatoComercioDigitalValor").val(list_values_mesclad);
        text += "</ul>";

        document.getElementById("myText").innerHTML = text;
    }

        function selecionarEnviarAvaliacao(ponto) {

        var dados = @Html.Raw(Json.Encode(ViewBag.ModoContato));

        //TIRAR A SELECAO ANTERIOR
        for (var i = 0; i < dados.length; i++) {
            $('#modo_' + dados[i].Text.split(' ')[0]).removeClass('nps-area-select')
        }

        //ADICIONA SELECAO SOMENTE PARA O PONTO MARCADO
        $('#modo_' + ponto).addClass('nps-area-select');

            $("#hddEnviarAvaliacao").val(ponto);
    }

    function selecionarStatus(ponto) {

        var dados = @Html.Raw(Json.Encode(ViewBag.StatusContato));

        //TIRAR A SELECAO ANTERIOR
        for (var i = 0; i < dados.length; i++) {
            $('#nota_' + dados[i].Value.split(' ')[0]).removeClass('nps-area-select')
        }

        //ADICIONA SELECAO SOMENTE PARA O PONTO MARCADO
        $('#nota_' + ponto).addClass('nps-area-select');

        $("#hddStatusContato").val(ponto);
    }
</script>
