﻿@using Now.Domain;

@model Cliente


<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div class="box box-primary box-client">
    @*<div class="box-body box-profile" style="background: url('@Url.Content(string.Concat("~/Images/", Model.dt_nasc.ToString("dd/MM") == DateTime.Now.ToString("dd/MM") ? "100692" : "214426", ".jpg"))') center center;">*@
    <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle" data-toggle="tooltip" data-original-title="@((Model.sexo.Trim().ToUpper() != "M" && Model.sexo.Trim().ToUpper() != "F") ? "Sexo não informado!" : Model.nome)" src="@Url.Content(string.Concat(@Model.sexo.Trim().ToUpper() == "M" ? "~/dist/img/img_m" : @Model.sexo.Trim().ToUpper() == "F" ? "~/dist/img/img_f" : "~/dist/img/question", ".png"))" alt="@Model.nome">

        <h3 class="profile-username text-center"><strong>@Model.nome.ToUpper()</strong></h3>

        <h4 class="text-muted text-center">
            CPF: @Model.cpf
        </h4>
        <ul class="users-list clearfix text-center">
            <li>
                <a href="#" onclick="@(ViewBag.VendedorPref ? "ClienteFavorito(" + (Request.QueryString["clienteId"] == null ? "" : "" + Request.QueryString["clienteId"]) + ", 'G')" : "$.msg({ content: 'Você não é um vendedor de preferência desse cliente!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });" )"><img id="imgFavorito" style="border-radius:0%!important;" src="@Url.Content(string.Concat("~/Images/star_favorite", Model.cliente_favorito == 1 ? "" : "_disable", ".png"))" /></a>
                <a class="users-list-name @(Model.cliente_favorito == 1 ? "text-yellow" : "")" href="#" onclick="@(ViewBag.VendedorPref ? "ClienteFavorito(" + (Request.QueryString["clienteId"] == null ? "" : "" + Request.QueryString["clienteId"]) + ", 'G')" : "$.msg({ content: 'Você não é um vendedor de preferência desse cliente!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });" )">FAVORITO</a>
                <span class="users-list-date">Cli. Favorito</span>
            </li>
            <li>
                <a><img id="imgFavorito" style="border-radius:0%!important;" src="@Url.Content(string.Concat("~/Images/phone", (Model.ult_contato != null && Model.ult_contato.ToString("dd/MM/yyyy") != "01/01/0001" ) ? "" : "_disable", ".png"))" /></a>
                <a class="users-list-name">@((Model.ult_contato != null && Model.ult_contato.ToString("dd/MM/yyyy") != "01/01/0001") ? Model.ult_contato.ToShortDateString() : "N/A" )</a>
                <span class="users-list-date">Ult. Contato</span>
            </li>
            <li>
                <a><img id="imgFavorito" style="border-radius:0%!important;" src="@Url.Content(string.Concat("~/Images/money",(Model.ult_compra != null && Model.ult_compra.ToString("dd/MM/yyyy") != "01/01/0001") ? "" : "_disable", ".png"))" /></a>
                <a class="users-list-name">@((Model.ult_compra != null && Model.ult_compra.ToString("dd/MM/yyyy") != "01/01/0001") ? Model.ult_compra.ToShortDateString() : "N/A" )</a>
                <span class="users-list-date">Ult. Compra</span>
            </li>
            <li>
                <a href="#" data-toggle="modal" data-target="#modalAlerta" onmouseout="$.unblockUI();"><img id="imgFavorito" style="border-radius:0%!important;" src="@Url.Content(string.Concat("~/Images/birthday", Model.dt_nasc.ToString("dd/MM") == DateTime.Now.ToString("dd/MM") ? "" : "_disable", ".png"))" /></a>
                <a class="users-list-name">@Model.dt_nasc.ToString("dd/MM")</a>
                <span class="users-list-date">Aniversário</span>
            </li>
        </ul>
        <hr />
        <div class="text-muted text-center">
            @if ((Model.preferencia_contato != null) && (Model.preferencia_contato.ToLower() == "whatsapp"))
            {
                <div style="background-color: #25d366;margin-left: -10px;margin-right: -10px;padding: 8px;color:#fff !important;margin-top: -20px;margin-bottom: -20px;">
                    <h4 style="font-weight: bold;text-transform: uppercase;">ATENÇÃO <br /> </h4>
                    <h6 style="line-height: 17px;font-weight: bold;text-transform: uppercase;font-size: 11px!important;">O cliente não quer receber ligações. <br />Contato apenas via <b>WhatsApp</b></h6>
                    <div style="float:right;margin: 14px;font-size: 25px;position: relative;margin-top: -50px;">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    </div>
                    <h4>
                        <strong>
                            @(Model.tel != "" ? "(" + Model.tel_ddd + ")" + Model.tel + " | " : "")
                            @(Model.cel != "" && Model.cel != Model.tel ? "(" + Model.cel_ddd + ")" + Model.cel : "")
                        </strong>
                    </h4>
                </div>
            }
            else
            {
                if (ViewBag.TemContatoOdiou)
                {
                    <div style="background-color: #FF6C5C;margin-left: -10px;margin-right: -10px;padding: 8px;color:#fff !important;margin-top: -20px;margin-bottom: -20px;">
                        <div style="float:left;margin: 14px;font-size: 25px;position: absolute;margin-top: 33px;">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        </div>
                        <h4 style="font-weight: bold;text-transform: uppercase;">ATENÇÃO <br /> </h4>
                        <h6 style="line-height: 17px;font-weight: bold;text-transform: uppercase;font-size: 11px!important;">Não entrar em contato com esse cliente!! <br /><b>NUNCA MAIS</b></h6>
                        <div style="float:right;margin: 14px;font-size: 25px;position: relative;margin-top: -50px;">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        </div>
                    </div>
                }
                else
                {
                    <h4>
                        <strong>
                            @if (Model.dias_ult_contato <= 5)
                            {

                            }
                            else
                            {
                                <div class="row">
                                    <a href="tel:@ViewBag.LigarContatoCliente" onclick="javascript:OpenModal();" style="position: relative;float: left;width: 50%;padding-right: 10px;">
                                        <div class="nps-area modo-contato" style="width: 90% !important;height: 86px !important;background-color:#ECF0F1;">
                                            <i style="position: inherit;float: right;margin-left: 15px;color:#F1C40F !important;" class="fa fa-phone modo-contato-icone" aria-hidden="true"></i>
                                            <div style="width:100%;position: absolute;">
                                                <span class="modo-contato-texto" style="font-family: 'roboto';line-height: 15px;letter-spacing: 2px;font-size: 6pt;"> Ligar para o cliente</span>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="btnSalvarContatoComercioDigitalDireto " style="position: relative;float: left;width: 50%;padding-right: 10px;">
                                        <div class="nps-area modo-contato" style="width: 90% !important;height: 86px !important;background-color:#ECF0F1;">
                                            <i style="position: inherit;float: right;margin-left: 15px;color:#25d366 !important;" class="fa fa-whatsapp modo-contato-icone" aria-hidden="true"></i>
                                            <div style="width:100%;position: absolute;">
                                                <span class="modo-contato-texto" style="font-family: 'roboto';line-height: 15px;letter-spacing: 2px;font-size: 6pt;">Enviar Whatsapp</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                @(Model.tel != "" ? "(" + Model.tel_ddd + ")" + Model.tel + " | " : "")
                                @(Model.cel != "" && Model.cel != Model.tel ? "(" + Model.cel_ddd + ")" + Model.cel : "")

                            }
                        </strong>
                    </h4>
                }
            }

        </div>
        <hr />
        @*<a href="#" class="btn2-gradient yellow btn-block text-center text-uppercase text-bold" data-toggle="modal" data-target="#modalSaldoUnico" onmouseout="$.unblockUI();"><i class="fa fa-usd"></i> <b> SALDO @string.Format("{0:C}", ViewBag.TotalFidelidade)</b></a>*@
        @if (Model.dias_ult_contato == null)
        {
            if (@ViewBag.ContatoDiretoNaAgenda)
            {
                <a href="#" onclick="ModalAlertamsg('@ViewBag.MsgContatoDiretoNaAgenda')" class="btn2-gradient yellow btn-block text-center"><b>CLIENTE NA AGENDA</b></a>
            }
            else
            {
                <a href="#" class="btn2-gradient red btn-block text-center text-uppercase text-bold" data-toggle="modal" data-target="#modalContato"><b>JÁ FALEI COM O CLIENTE</b></a>

            }
        }
        else if ((Model.dias_ult_contato < 30 && Model.dias_ult_contato > 5) || ViewBag.PerfilSelecionado == "Gerente")
        {
            if (@ViewBag.ContatoDiretoNaAgenda)
            {
                <a href="#" onclick="ModalAlertamsg('@ViewBag.MsgContatoDiretoNaAgenda')" class="btn2-gradient yellow btn-block text-center"><b>CLIENTE NA AGENDA</b></a>
            }
            else
            {
                <a href="#" class="btn2-gradient red btn-block text-center text-uppercase text-bold" data-toggle="modal" data-target="#modalContato" onmouseout="$.unblockUI();" onclick="javascript: $.msg({ content: 'O cliente foi contatado nos últimos 30 dias!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });"><i class="fa fa-phone"></i> <b>JÁ LIGUEI PARA O CLIENTE</b></a>
            }
        }
        else if (Model.dias_ult_contato <= 5)
        {
            <a href="javascript:$.msg({ content: 'O cliente foi contatado nos últimos 5 dias!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });" class="btn2-gradient yellow btn-block text-center" onmouseout="$.unblockUI();"><b>CLIENTE JÁ CONTATADO</b></a>
        }

        @if (!ViewBag.TemContatoOdiou)
        {
            <a href="#" class="btn2-gradient blue btn-block text-center text-uppercase text-bold" data-toggle="modal" data-target="#modalAgendamento" onmouseout="$.unblockUI();"><i class="fa fa-calendar"></i> <b> AGENDAR LIGAÇÃO</b></a>
        }

    </div>
</div>
<div class="box box-primary box-client">
    <div class="box-header with-border">
        <h3 class="box-title">Detalhes</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <ul class="list-group list-group-unbordered">
            @*  <li class="list-group-item">
                    <b>Telefone</b> <a class="pull-right">(@Model.tel_ddd) @Model.tel</a>
                </li>
                <li class="list-group-item">
                    <b>Celular</b> <a class="pull-right">(@Model.cel_ddd) @Model.cel</a>
                </li>*@
            <li class="list-group-item">
                <b>Cód. Linx</b> <a class="pull-right">@Model.id_cliente </a>
            </li>
            @*<li class="list-group-item">
                    <b>Aniversário</b> <a class="pull-right">@Model.dt_nasc.ToString("dd/MM")</a>
                </li>*@
            <li class="list-group-item">
                <b>Loja</b> <a class="pull-right">@Model.NomeLoja</a>
            </li>
            <li class="list-group-item">
                <b>Vendedor</b> <a class="pull-right">@Model.NomeVendedor</a>
            </li>

            <li class="list-group-item">
                <b>E-mail</b> <a class="pull-right">@Model.email</a>
            </li>
            @*<li class="list-group-item">
                    <b>Última Compra</b> <a class="pull-right">@(Model.ult_compra != null ? Model.ult_compra.ToShortDateString() : "N/A" )</a>
                </li>
                <li class="list-group-item">
                    <b>Último Contato</b> <a class="pull-right">@(Model.ult_contato != null ? Model.ult_contato.ToShortDateString() : "N/A" )</a>
                </li>*@
            @* <li class="list-group-item">
                               <b>Classificação</b> <a class="pull-right">@Model.classificacao_cliente</a>
                           </li>
                           <li class="list-group-item">
                               <b>Perfil Reservado</b> <a class="pull-right">@(
                Model.perfil_reservado + (String.IsNullOrEmpty(Model.perfil_reservado) ? String.IsNullOrEmpty(Model.perfil_reservado_eva) ? "-" : Model.perfil_reservado_eva + " (Eva)" : String.IsNullOrEmpty(Model.perfil_reservado_eva) ? "" : " - " + Model.perfil_reservado_eva + " (Eva)")
                               )</a>
                           </li>
                           <li class="list-group-item">
                               <b>Acumulado</b> <a class="pull-right">@(String.Format("{0:C}", Model.AcumuladoVendaGeral))</a>
                           </li>*@
        </ul>
        <strong><i class="fa fa-map-marker margin-r-5"></i>Endereço</strong>

        @*@if (ViewBag.VisualizarEndereco == 1)
            {*@
        <p class="text-muted" id="lblEndereco">@(string.Format("{0}, {1} {2} - {3}, {4} ", Model.logradouro, Model.numero, Model.bairro, Model.cidade, Model.uf))</p>
        @*}
             else
             {
                 <p class="text-muted">RUA <span data-toggle="tooltip" data-original-title="Verificar o Endereço no LINX">XXXX,</span> @(string.Format("{0} - {1}, {2} ", Model.bairro, Model.cidade, Model.uf))</p>
            }*@
        <hr>
        <p>
            <strong><i class="fa fa-male margin-r-5"></i>QUEM É ELE</strong>
        </p>
        <p>
            @Html.TextArea("tbxQuemEle", @Model.caracteristicas
                                        , new { @class = "form-control ", @rows = "4", @style = "width: 100%;" })
        </p>
        <p>

            <button class="btn2-gradient small btn-block text-center blue pull-right text-uppercase text-bold" type="submit" onclick="SalvarQuemEEle(@(Request.QueryString["clienteId"] == null ? "0" : Request.QueryString["clienteId"]), 'tbxQuemEle');"><i class="fa fa-check"></i> <b>SALVAR QUEM É ELE</b></button>
        </p>
        @*<p>
                <button class="btn2-gradient small btn-block text-center green pull-right" type="submit" onclick="IniciarPerguntas();"><i class="fa fa-comments"></i> <b>INICIAR PERGUNTAS</b></button>
            </p>*@
        <hr />
        <br />
        <p>
            <strong><i class="fa fa-file-text-o margin-r-5"></i>OBSERVAÇÕES</strong>
        </p>
        <p>
            @Html.TextArea("tbxObs", @Model.obs
                                        , new { @class = "form-control ", @rows = "4", @style = "width: 100%;" })
        </p>
        <p>
            <button class="btn2-gradient small btn-block text-center blue text-uppercase text-bold" type="submit" onclick="SalvarObs(@(Request.QueryString["clienteId"] == null ? "0" : Request.QueryString["clienteId"]),'tbxObs');"><i class="fa fa-check"></i> <b>SALVAR OBSERVAÇÃO</b></button>
        </p>

        @*<button class="btn btn-block btn-primary btn-sm" type="button">Salvar</button>*@
    </div>
</div>


<div class="modal modal-default fade" id="modalContato" tabindex="-1" role="dialog" aria-labelledby="modalContatoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width:700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
                <h2 class="modal-title">Registrar o Contato</h2>
            </div>
            <div id="form-validation-contato" class="form-contato">
                <div class="modal-body">
                    @Html.Partial("_CadastroContato", new Contato())
                </div>

                <div class="modal-footer">
                    <button class="btn2-gradient btn-warning pull-left text-uppercase text-bold" data-dismiss="modal" type="button"><i class="fa fa-close"></i> <b>FECHAR</b></button>
                    <button class="btn2-gradient btn-primary btnSalvarContato text-uppercase text-bold" type="submit"><i class="fa fa-check"></i> <b>SALVAR</b></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Comércio digital -->
<div class="modal modal-default fade" id="modalComercioDigital" tabindex="-1" role="dialog" aria-labelledby="modalContatoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width:700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
                <h2 class="modal-title">Comércio Digital</h2>
            </div>
            <div id="form-validation-contato" class="form-contato">
                <div class="modal-body">
                    @Html.Partial("_ComercioDigital", new Contato())
                </div>

                <div class="modal-footer">
                    <button class="btn2-gradient btn-warning pull-left text-uppercase text-bold" data-dismiss="modal" type="button"><i class="fa fa-close"></i> <b>FECHAR</b></button>
                    <button class="btn2-gradient btn-primary btnSalvarContato text-uppercase text-bold" type="submit"><i class="fa fa-check"></i> <b>REGISTRAR</b></button>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal Agendamento -->
<div class="modal modal-info fade" id="modalAgendamento" tabindex="-1" role="dialog" aria-labelledby="modalAgendamentoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h2 class="modal-title" id="H2">
                    Agendar Ligação
                    (NOME: @Model.nome.ToUpper() - CPF: @Model.cpf)
                </h2>
            </div>
            <div id="form-validation-agendamento" class="form-contato">
                <div class="modal-body">

                    @Html.Partial("_CadastroAgendamento", new Lembrete())

                </div>
                <div class="modal-footer">
                    <button class="btn2-gradient btn-warning pull-left text-uppercase text-bold" data-dismiss="modal" type="button"><i class="fa fa-close"></i> <b>FECHAR</b></button>
                    <button class="btn2-gradient btn-primary btnSalvarAgendamento text-uppercase text-bold" type="submit"><i class="fa fa-check"></i> <b>SALVAR</b></button>
                    @*<asp:button runat="server" clientidmode="Static" text="Salvar" cssclass="btn-large btn-primary btn" id="btnSalvarContato" onclick="SalvarContato" />*@
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Saldo Unico -->
@*<div class="modal modal-info fade" id="modalSaldoUnico" tabindex="-1" role="dialog" aria-labelledby="modalAgendamentoLabel" aria-hidden="true">
        <div class="modal-dialog " style="width: 700px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h2 class="modal-title" id="H2">
                        EXTRATO FIDELIDADE - @Model.nome.ToUpper()
                    </h2>
                </div>
                <div id="form-validation-agendamento" class="form-contato">
                    <div class="modal-body">

                        @Html.Partial("_SaldoUnico", ViewBag.Fidelidade as List<Fidelidade>)

                    </div>
                    <div class="modal-footer">
                        <button class="btn2-gradient btn-warning pull-left text-uppercase text-bold" data-dismiss="modal" type="button"><i class="fa fa-close"></i> <b>FECHAR</b></button>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


<input type="hidden" value="" id="hddTermometroContato" />
<input type="hidden" value="" id="hddModoContatoComercioDigital" />
<input type="hidden" value="" id="hddModoContatoComercioDigitalValor" />
<input type="hidden" value="" id="hddEnviarAvaliacao" />
<input type="hidden" value="" id="hddStatusContato" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
    function OpenModal() {
        $("#modalContato").modal();
    }
</script>