﻿
@using Now.Domain;

@model IList<FraseContato>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Filtro</label>

            <div class="col-sm-10">
                <select class="form-control select2" id="filtroContato" name="status" style="width: 100%;" onchange="MudaTimeLineContatos()">
                    <option selected="selected" value="TODAS">Todas</option>
                    <option value="RESERVA">Reserva</option>
                    <option value="MINI">Mini</option>
                    <option value="EVA">Eva</option>
                </select>
            </div>
        </div>

        <input type="hidden" id="filtroContato" value="TODAS" />
    </div>
</div>
<hr />
<ul class="timeline timeline-inverse" id="ulContatoTodas">
    @foreach (FraseContato item in Model)
    {

        string bgContato = "bg-red-gradient";
        if (item.tipo == "INDICACAO")
        {
            if (item.ListaProdutos != null)
            {
                bgContato = (item.ListaProdutos.cliente_respondeu == 1 ? "bg-green-gradient" : "bg-red-gradient");
            }
        }


        <li class="time-label">
            <span class="@(item.tipo == "CONTATO" ? "bg-gray" : bgContato)">
                @item.data_contato.ToString("dd/MM/yyyy") @item.data_contato.ToString("HH:mm")
            </span>
            <b><span class="text-light-blue">@(string.IsNullOrEmpty(item.loja) ? "NENHUMA LOJA SELECIONADA" : (item.loja + "(" + item.tipo_loja + ")"))</span></b>

        </li>
        <li>
            <i class="fa @item.modo_icone"></i>
            <div class="timeline-item @(item.tipo == "CONTATO"? "":bgContato)  ">
                <span class="time" style="font-size: 100%!important; color:black!important">
                    <span class="label"><i class="fa fa-clock-o"></i> @item.data_contato.ToString("HH:mm")</span>
                </span>

                <h3 class="timeline-header">
                    <b>
                        @((String.IsNullOrEmpty(item.agendamento) ? "SEM AGENDA" : item.agendamento.ToUpper()).ToUpper())


                    </b>
                </h3>
                <div class="timeline-body">
                    @if (item.tipo == "CONTATO")
                    {
                        <div class="direct-chat direct-chat-warning">
                            <div class="direct-chat-messages" style="height: 100%!important">
                                <!-- Message. Default to the left -->
                                <div class="direct-chat-msg">
                                    <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name pull-left">@item.vendedor_contato</span>
                                        <span class="direct-chat-timestamp pull-right">@item.data_contato.ToString("dd/MM/yyyy hh:mm")</span>
                                    </div>
                                    <!-- /.direct-chat-info -->
                                    <img class="direct-chat-img" src="http://usereserva.dyndns.org:82/Intranet/images/fotosVendedores/@item.img_perfil_intranet" onerror="this.src = '@Url.Content("~/dist/img/user2-160x160.jpg")'">
                                    <!-- /.direct-chat-img -->
                                    <div class="direct-chat-text" style="@(item.status == "Não consegui falar"? "background:#e74c3c; border-color:#e74c3c":"")">
                                        <ul>
                                            <li>
                                                Status do Contato: <b>@item.status</b> @(item.status == "Não consegui falar" ? "volta para agenda no dia seguinte!" : ".")
                                            </li>
                                            <li>
                                                Contato feito via <b>@item.modo</b>, por <b>@item.vendedor_contato</b> e o termometro foi <b>@item.termometro.</b>
                                            </li>
                                            <li>
                                                Até a data do contato, a última compra do cliente foi através do vendedor <b>@item.vendedor_venda</b>, na loja <b>@item.loja</b>.
                                            </li>
                                            @if (!string.IsNullOrEmpty(item.quem_ele))
                                            {
                                                <li>
                                                    <b>Quem é Ele:</b> item.quem_ele
                                                </li>
                                            }
                                            @if (!string.IsNullOrEmpty(item.obs))
                                            {
                                                <li>
                                                    <b>Observações:</b> @item.obs
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    <!-- /.direct-chat-text -->
                                </div>

                                @if (item.flg_contato_feito != null)
                                {
                                <div class="direct-chat-msg right">
                                    <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name pull-right">Cliente Respondeu</span>
                                        @item.data_alteracao.ToString("dd/MM/yyyy hh:mm")

                                        @if (item.flg_contato_feito.Value != 0)
                                        {
                                            <br />
                                            <span class="direct-chat-timestamp pull-left">
                                                <img src="http://www.usenow.com.br/Images/@(item.avaliacao > 0 ? "star_favorite_psmall" : "star_favorite_psmall_disable").png" id="s1">
                                                <img src="http://www.usenow.com.br/Images/@(item.avaliacao > 1 ? "star_favorite_psmall" : "star_favorite_psmall_disable").png" id="s2">
                                                <img src="http://www.usenow.com.br/Images/@(item.avaliacao > 2 ? "star_favorite_psmall" : "star_favorite_psmall_disable").png" id="s3">
                                                <img src="http://www.usenow.com.br/Images/@(item.avaliacao > 3 ? "star_favorite_psmall" : "star_favorite_psmall_disable").png" id="s4">
                                                <img src="http://www.usenow.com.br/Images/@(item.avaliacao > 4 ? "star_favorite_psmall" : "star_favorite_psmall_disable").png" id="s5">
                                            </span>
                                        }
                                    </div>
                                    <img class="direct-chat-img" data-toggle="tooltip" data-original-title="@((item.cliente_sexo.Trim().ToUpper() != "M" && item.cliente_sexo.Trim().ToUpper() != "F") ? "Sexo não informado!" : item.cliente_nome)" src="@Url.Content(string.Concat(item.cliente_sexo.Trim().ToUpper() == "M" ? "~/dist/img/img_m" : item.cliente_sexo.Trim().ToUpper() == "F" ? "~/dist/img/img_f" : "~/dist/img/question", ".png"))" alt="@item.cliente_nome">


                                    <div class="direct-chat-text" style="@(item.flg_contato_feito == 0 ?"background:#e74c3c; border-color:#e74c3c":"")">
                                        @if (item.flg_contato_feito.Value == 0)
                                        {
                                            @item.texto_automatizado;
                                        }
                                        else
                                        {
                                            @(String.IsNullOrEmpty(item.descricao) ? "Não descreveu!" : item.descricao)
                                        }
                                    </div>
                                  
                                </div>
                                }


                            </div>
                        </div>
                    }
                    else if (item.tipo == "INDICACAO" && item.ListaProdutos != null)
                    {
                        <ul>
                            @if (item.ListaProdutos.cliente_respondeu == 1)
                            {
                                <li>
                                    O cliente respondeu e selecionou <b>@item.ListaProdutos.lista_produtos.Where(x => x.cliente_escolheu == 1).ToList().Count()</b> produtos.

                                    @if (item.ListaProdutos != null)
                                    {
                                        <br />
                                        foreach (IndicacaoProdutoItens prod in item.ListaProdutos.lista_produtos.Where(x => x.cliente_escolheu == 1).ToList())
                                        {
                                            <img src="@prod.produto.imgSite.Replace("{posicao}", "01").Replace("{tamanho}", "80x120")" alt="@prod.produto.grupo_produto" class="margin" style="padding: 2px!important; border-radius: 0px!important; border: 1px solid #ddd!important; transition: border .2s ease-in-out!important; line-height: 1.42857143!important; background-color: #fff!important" data-toggle="tooltip" data-original-title="Ref. @prod.produto.produto@prod.produto.cor_produto" />
                                        }
                                    }
                                </li>
                            }
                            <li>
                                Produto(s) enviados para validação do Cliente pelo vendedor <b>@item.vendedor_contato</b>.
                                @if (item.ListaProdutos != null)
                                {
                                    <br />
                                    foreach (IndicacaoProdutoItens prod in item.ListaProdutos.lista_produtos)
                                    {
                                        <img src="@prod.produto.imgSite.Replace("{posicao}", "01").Replace("{tamanho}", "40x60")" alt="@prod.produto.grupo_produto" class="margin" style="padding: 2px!important; border-radius: 0px!important; border: 1px solid @(prod.data_cliente != null ? (prod.cliente_escolheu == 1 ? "#0101DF" : "#FF0000") : "#ddd" )!important; transition: border .2s ease-in-out!important; line-height: 1.42857143!important; background-color: #fff!important" data-toggle="tooltip" data-original-title="Ref. @prod.produto.produto@prod.produto.cor_produto" />
                                    }
                                }
                            </li>
                        </ul>


                    }

                </div>
                @*@if (item.tipo == "CONTATO")
                    {
                        if (!string.IsNullOrEmpty(item.obs))
                        {
                            <div class="timeline-footer">
                                <ul>
                                    <li>
                                        <b>Observações:</b> @item.obs
                                    </li>
                                </ul>
                            </div>
                        }
                    }*@
            </div>
        </li>
    }
    <li>
        <i class="fa fa-chevron-up bg-gray"></i>
    </li>
</ul>

<ul class="timeline timeline-inverse" style="display:none" id="ulContatoReserva">
    @foreach (FraseContato item in Model.Where(x => x.tipo_loja == "RESERVA").ToList().OrderByDescending(x => x.data_contato).ToList())
    {
        <li class="time-label">
            <span class="bg-gray">
                @item.data_contato.ToString("dd/MM/yyyy")
            </span>
            <b><span class="text-light-blue">@item.loja (@item.tipo_loja)</span></b>
        </li>
        <li>
            <i class="fa @item.modo_icone"></i>

            <div class="timeline-item">
                <span class="time"><span class="label label-warning"><i class="fa fa-clock-o"></i>@item.data_contato.ToString("HH:mm")</span></span>

                <h3 class="timeline-header"><b>@((String.IsNullOrEmpty(item.agendamento) ? "SEM AGENDA" : item.agendamento.ToUpper()).ToUpper())</b></h3>

                <div class="timeline-body">
                    <ul>
                        <li>
                            Contato feito via <b>@item.modo</b>, por <b>@item.vendedor_contato</b> e o termometro foi <b>@item.termometro.</b>
                        </li>
                        <li>
                            Até a data do contato, a última compra do cliente foi através do vendedor <b>@item.vendedor_venda</b>, na loja <b>@item.loja</b>.
                        </li>
                        @if (!string.IsNullOrEmpty(item.quem_ele))
                        {
                            <li>
                                <b>Quem é Ele:</b> item.quem_ele
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(item.obs))
                        {
                            <li>
                                <b>Observações:</b> @item.obs
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </li>
    }
    <li>
        <i class="fa fa-chevron-up bg-gray"></i>
    </li>
</ul>

<ul class="timeline timeline-inverse" style="display:none" id="ulContatoMini">
    @foreach (FraseContato item in Model.Where(x => x.tipo_loja == "MINI").ToList().OrderByDescending(x => x.data_contato).ToList())
    {
        <li class="time-label">
            <span class="bg-gray">
                @item.data_contato.ToString("dd/MM/yyyy")
            </span>
            <b><span class="text-light-blue">@item.loja (@item.tipo_loja)</span></b>
        </li>
        <li>
            <i class="fa @item.modo_icone"></i>

            <div class="timeline-item">
                <span class="time"><span class="label label-warning"><i class="fa fa-clock-o"></i>@item.data_contato.ToString("HH:mm")</span></span>

                <h3 class="timeline-header"><b>@((String.IsNullOrEmpty(item.agendamento) ? "SEM AGENDA" : item.agendamento.ToUpper()).ToUpper())</b></h3>

                <div class="timeline-body">
                    <ul>
                        <li>
                            Contato feito via <b>@item.modo</b>, por <b>@item.vendedor_contato</b> e o termometro foi <b>@item.termometro.</b>
                        </li>
                        <li>
                            Até a data do contato, a última compra do cliente foi através do vendedor <b>@item.vendedor_venda</b>, na loja <b>@item.loja</b>.
                        </li>
                        @if (!string.IsNullOrEmpty(item.quem_ele))
                        {
                            <li>
                                <b>Quem é Ele:</b> item.quem_ele
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(item.obs))
                        {
                            <li>
                                <b>Observações:</b> @item.obs
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </li>
    }
    <li>
        <i class="fa fa-chevron-up bg-gray"></i>
    </li>
</ul>

<ul class="timeline timeline-inverse" style="display:none" id="ulContatoEva">
    @foreach (FraseContato item in Model.Where(x => x.tipo_loja == "EVA").ToList().OrderByDescending(x => x.data_contato).ToList())
    {
        <li class="time-label">
            <span class="bg-gray">
                @item.data_contato.ToString("dd/MM/yyyy")
            </span>
            <b><span class="text-light-blue">@item.loja (@item.tipo_loja)</span></b>
        </li>
        <li>
            <i class="fa @item.modo_icone"></i>

            <div class="timeline-item">
                <span class="time"><span class="label label-warning"><i class="fa fa-clock-o"></i>@item.data_contato.ToString("HH:mm")</span></span>

                <h3 class="timeline-header"><b>@((String.IsNullOrEmpty(item.agendamento) ? "SEM AGENDA" : item.agendamento.ToUpper()).ToUpper())</b></h3>

                <div class="timeline-body">
                    <ul>
                        <li>
                            Contato feito via <b>@item.modo</b>, por <b>@item.vendedor_contato</b> e o termometro foi <b>@item.termometro.</b>
                        </li>
                        <li>
                            Até a data do contato, a última compra do cliente foi através do vendedor <b>@item.vendedor_venda</b>, na loja <b>@item.loja</b>.
                        </li>
                        @if (!string.IsNullOrEmpty(item.quem_ele))
                        {
                            <li>
                                <b>Quem é Ele:</b> item.quem_ele
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(item.obs))
                        {
                            <li>
                                <b>Observações:</b> @item.obs
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </li>
    }
    <li>
        <i class="fa fa-chevron-up bg-gray"></i>
    </li>
</ul>

