﻿@using Now.Domain;

@model IList<Venda>


<h2 class="page-header">Cesta de produtos:</h2>
<div class="box box-warning collapsed-box">
    <div class="box-header with-border">
        <div class="user-block">
            <div class="row">
                @foreach (var item in (ViewBag.CestaProduto as List<GrupoProdutoItem>).GroupBy(x => x.Grife).ToList())
                {
                    <div class="col-sm-4 col-md-2">
                        <span class="username text-@(item.Key.ToUpper() == "RESERVA" ? "green" : item.Key.ToUpper() == "RESERVA MINI" ? "yellow" : item.Key.ToUpper() == "EVA" ? "red" : "black") " style="margin-left: 0px !important;">
                            @item.Key
                        </span>
                        <span class="description" style="margin-left: 0px !important;">
                            Vendas: @((ViewBag.CestaProduto as List<GrupoProdutoItem>).Where(x => x.Grife == @item.Key).Sum(x => x.QuantidadeVendas))
                            <br />
                            Valor: @(String.Format("{0:C}", (ViewBag.CestaProduto as List<GrupoProdutoItem>).Where(x => x.Grife == @item.Key).Sum(x => x.VendaAcumulado)))
                        </span>
                    </div>
                }
            </div>

            @*@(String.Format("{0}, {1:d}, {2} {3}", , "Loja: " + , item.retirada_loja, "")) Vendedor: @item.NomeVendedor Operação: @item.Operacao*@
        </div>

        <div class="box-tools pull-right">
            <span class="badge bg-light-blue" title="" data-toggle="tooltip">@(String.Format("{0:C}", (ViewBag.CestaProduto as List<GrupoProdutoItem>).Sum(x => x.VendaAcumulado)))</span>
            <span class="badge bg-light-yellow" title="" data-toggle="tooltip" data-original-title="@((ViewBag.CestaProduto as List<GrupoProdutoItem>).Count()) Itens">@((ViewBag.CestaProduto as List<GrupoProdutoItem>).Count())</span>

            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="box box-solid bg-light-blue-gradient">
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Griffe</th>
                                <th>Categoria</th>
                                <th>Vezes</th>
                                <th>Qtde</th>
                                <th>Total (R$)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (GrupoProdutoItem item in ViewBag.CestaProduto as List<GrupoProdutoItem>)
                            {
                                <tr>
                                    <td><span class="label  @(item.Grife == "RESERVA" ? "label-primary" : item.Grife == "EVA" ? "label-success" : "label-warning") ">@item.Grife</span></td>
                                    <td>@item.GrupoProduto</td>
                                    <td>@item.QuantidadeVendas</td>
                                    <td>@item.Quantidade</td>
                                    <td>@(String.Format("{0:C}", item.VendaAcumulado))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="page-header">Histórico de Compra:</h2>
<p class="lead">
    Produtos:
    <span class="badge label-warning" style="cursor:pointer" onclick="ExibirVendas('HistCompraGrid', 'HistCompraListagem');">Por Imagem</span>
    <span class="badge label-danger" style="cursor:pointer" onclick="ExibirVendas('HistCompraListagem', 'HistCompraGrid');">Por Lista</span>
</p>


@{
    string cssCollapsed = "";
    int qtdeVendas = 0;
}

@foreach (Venda item in Model)
{
    if (qtdeVendas > 2)
    {
        cssCollapsed = "collapsed-box";
    }
    else
    {
        cssCollapsed = "";
    }

    <div class="box box-primary @cssCollapsed">
        <div class="box-header with-border">
            <div class="user-block">
                <div class="row">
                    <div class="col-sm-4 col-md-2">
                        <span class="username" style="margin-left: 0px !important;">
                            Data da Venda
                        </span>
                        <span class="description" style="margin-left: 0px !important;">@item.Data</span>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <span class="username" style="margin-left: 0px !important;">
                            Loja
                        </span>
                        <span class="description" style="margin-left: 0px !important;">@item.NomeLoja.TrimEnd()</span>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <span class="username" style="margin-left: 0px !important;">
                            Vendedor
                        </span>
                        <span class="description" style="margin-left: 0px !important;">@item.NomeVendedor.TrimEnd()</span>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <span class="username" style="margin-left: 0px !important;">
                            Operação
                        </span>
                        <span class="description" style="margin-left: 0px !important;">@item.Operacao.TrimEnd()</span>
                    </div>



                    @if (item.retirada_loja.TrimEnd() != "")
                    {
                        <div class="col-sm-4 col-md-2">
                            <span class="username" style="margin-left: 0px !important;">
                                Retirada Loja
                            </span>
                            <span class="description" style="margin-left: 0px !important;">@item.retirada_loja.TrimEnd()</span>
                        </div>
                    }

                </div>
                @if (item.vendedorGerou != null)
                {
                    <br />
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <div class="user-block">
                                <img class="img-responsive img-circle" src="http://usereserva.dyndns.org:82/Intranet/images/fotosVendedores/@item.vendedorGerou.img_perfil_intranet" onerror="this.src = '@Url.Content("~/dist/img/user2-160x160.jpg")'" alt="User Image" style="border: 1px solid #d2d6de; padding: 2px;">
                                <span class="username"><a href="#">@item.vendedorGerou.nome_vendedor.Split(' ')[0] - Gerou (Efetividade)</a></span>
                                <span class="description"><span class="badge bg-gray-active">Ligou em @item.vendedorGerou.data_ligacao.ToString("dd/MM/yyyy") - @item.vendedorGerou.nome_agenda</span></span>
                            </div>
                        </div>
                    </div>
                }

                @*@(String.Format("{0}, {1:d}, {2} {3}", , "Loja: " + , item.retirada_loja, "")) Vendedor: @item.NomeVendedor Operação: @item.Operacao*@
            </div>

            <div class="box-tools pull-right">
                <span class="badge bg-light-blue" title="" data-toggle="tooltip">@(String.Format("{0:C}", @item.Itens.Sum(x => x.SubTotal)))</span>
                <span class="badge bg-light-yellow" title="" data-toggle="tooltip" data-original-title="@item.Itens.Count() Itens">@item.Itens.Count()</span>

                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    @if (qtdeVendas < 4)
                    {
                        <i class="fa fa-minus"></i>
                    }
                    else
                    {
                        <i class="fa fa-plus"></i>
                    }

                </button>
            </div>
        </div>

        <div class="box-body">

            <div class="row HistCompraGrid" style="display:none">
                @foreach (VendaItem vItem in @item.Itens)
                {
                    string _descrEcomm = @vItem.IdProduto + @vItem.IdCor;
                    _descrEcomm = "https://imagens.usereserva.com.br/images/853x1280/" + @_descrEcomm + "_01.jpg?ims=70x94";
                    <div class="col-sm-12 col-md-6">
                        <div class="box box-solid">
                            <div class="box-body" style="height:130px!important">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            @*<img src="@_descrEcomm" onerror="this.src = '@Url.Content("~/Images/notFound70x94.png")'" alt="Material Dashboard Pro" class="media-object" style="width: 70px;height: auto;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">*@
                                            <img src="@Url.Content("~/Images/notFound70x94.png")" onerror="this.src = '@Url.Content("~/Images/notFound70x94.png")'" alt="Material Dashboard Pro" class="media-object fotoProduto" style="width: 70px;height: auto;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);" id="@item.Ticket@vItem.IdProduto">
                                        </a>
                                        <input type="hidden" id="_hidden_@item.Ticket@vItem.IdProduto" value="@_descrEcomm" />
                                    </div>
                                    <div class="media-body">
                                        <div class="clearfix">
                                            <h5 style="margin-top: 0" class="text-info"><strong>@vItem.NomeProduto</strong></h5>
                                            <p style="margin-bottom: 0">
                                                <label>Ref:</label> @vItem.IdProduto <label>Grade:</label> @vItem.Tamanho <label>Cor:</label> @vItem.NomeCor <label>Ref Cor:</label> @vItem.IdCor
                                            </p>
                                            <p>
                                                <span class="label  @(vItem.Status == "VENDA" ? "label-primary" : "label-warning") ">@vItem.Status</span>
                                                @if (vItem.descVenda.TrimEnd() == "OMNI")
                                                {
                                                    <span class="label  label-success">OMNI</span>
                                                }
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block" style="margin: 0px 0!important">
                                            <h5 class="description-header">Qtde.:</h5>
                                            <span class="description-text">@vItem.Unidade</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block" style="margin: 0px 0!important">
                                            <h5 class="description-header">Desconto</h5>
                                            <span class="description-text">@(String.Format("{0:C}", vItem.Desconto))</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4">
                                        <div class="description-block" style="margin: 0px 0!important">
                                            <h5 class="description-header">Valor</h5>
                                            <span class="description-text">@(String.Format("{0:C}", vItem.SubTotal))</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                </div>

                            </div>
                        </div>
                    </div>


                }
            </div>


            <div class="table-responsive HistCompraListagem">
                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th class="text-left">Tipo</th>
                            <th class="text-left">Descrição</th>
                            <th class="text-center">Ref</th>
                            <th class="text-center">Grade</th>
                            <th class="text-center">Cor</th>
                            <th class="text-center">Ref Cor</th>
                            <th class="text-right">Qtde.</th>
                            <th class="text-right">Desconto</th>
                            <th class="text-right">Valor</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (VendaItem vItem in @item.Itens)
                        {


                            <tr>
                                <td class="text-left" style="width:10%!important;">
                                    <span class="label  @(vItem.Status == "VENDA" ? "label-primary" : "label-warning") ">@vItem.Status</span>
                                    @if (vItem.descVenda.TrimEnd() == "OMNI")
                                    {
                                        <span class="label  label-success">DELIVERY</span>
                                    }
                                </td>

                                <td class="text-left" style="width:20%">
                                    @vItem.NomeProduto
                                </td>
                                <td class="text-center" style="width:0%">
                                    @vItem.IdProduto
                                </td>
                                <td class="text-center">
                                    @vItem.Tamanho
                                </td>
                                <td class="text-center">
                                    @vItem.NomeCor
                                </td>
                                <td class="text-center">
                                    @vItem.IdCor
                                </td>
                                <td class="text-right">
                                    @vItem.Unidade
                                </td>
                                <td class="text-right">
                                    @(String.Format("{0:C}", vItem.Desconto))
                                </td>
                                <td class="text-right">
                                    @(String.Format("{0:C}", vItem.SubTotal))
                                </td>
                            </tr>
                        }
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="5" class="bg-none"></td>
                            <td class="text-right"><span style="font-weight: bold">Total:</span></td>
                            <td class="text-right"><span style="font-weight: bold">@item.Quantidade</span></td>
                            <td class="text-right"><span class="text-red" style="font-weight: bold">R$  @item.TotalDesconto</span></td>
                            <td class="text-right"><span class="text-blue" style="font-weight: bold">R$  @item.Total </span></td>
                        </tr>

                        @{
                            string infoVendas = "";
                        }

                        <tr>
                            <td colspan="10" id="@(item.Ticket + "tdInfoVendas")">
                                @foreach (InfoVendas iVendas in @item.InfosVenda)
                                {
                                    infoVendas = @iVendas.info;

                                    <div class="callout">
                                        <h4>INFORMAÇÃO DE VENDA:</h4>

                                        <p id="@(item.Ticket + "strInfoVendas")">@iVendas.info</p>
                                    </div>
                                }

                            </td>
                        </tr>
                        <tr>
                            <td colspan="10">
                                <div class="col-xs-12">
                                    @Html.Hidden(@item.Ticket + "info", @infoVendas)
                                    @if ((ViewBag.PerfilSelecionado == "Administrador Sistema") || (ViewBag.PerfilSelecionado == "Gerente" && Convert.ToInt32(ViewBag.IdLojaSelecionada) == Convert.ToInt32(item.IdLoja)) || (Convert.ToInt32(ViewBag.Idvendedor) == Convert.ToInt32(item.IdVendedor)))
                                    {
                                        <div class="footer">
                                            <button class="btn2-gradient small bg-green pull-right text-bold text-uppercase" type="submit" onclick="EditarInfoVendas('@infoVendas', '@item.Data', '@item.IdLoja', '@item.IdVendedor', '@item.Ticket')"><i class="fa fa-edit"></i> <b>Editar Info Vendas</b></button> &nbsp;
                                            <button class="btn2-gradient small bg-red pull-right text-bold text-uppercase" type="submit" style="margin-right: 5px;" onclick="ExluirInfoVendas('@item.Data', '@item.IdLoja', '@item.Ticket')"><i class="fa fa-remove"></i> <b>Exluir Info Vendas</b></button>
                                        </div>
                                    }
                                </div>
                            </td>
                        </tr>
                    </tfoot>



                </table>
            </div>
        </div>
    </div>

    <!-- /.box -->
    qtdeVendas += 1;



    @*foreach (VendaItem vItem in @item.Itens)
        {
            string _descrEcomm = @vItem.IdProduto + @vItem.IdCor;
            _descrEcomm = "https://imagens.usereserva.com.br/images/853x1280/" + @_descrEcomm + "_01.jpg?ims=250x350";

            <div class="cd-quick-view ">
                <div class="cd-slider-wrapper ">
                    <ul class="cd-slider ">
                        <li class="selected"><img src="@_descrEcomm" alt="Product 1"></li>
                    </ul> <!-- cd-slider -->
                    <ul class="cd-slider-navigation ">
                        <li><a class="cd-next" href="#0">Prev</a></li>
                        <li><a class="cd-prev" href="#0">Next</a></li>
                    </ul> <!-- cd-slider-navigation -->
                </div> <!-- cd-slider-wrapper -->
                <div class="cd-item-info ">
                    <h2>Produt Title</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, omnis illo iste ratione. Numquam eveniet quo, ullam itaque expedita impedit. Eveniet, asperiores amet iste repellendus similique reiciendis, maxime laborum praesentium.</p>
                    <ul class="cd-item-action ">
                        <li><button class="add-to-cart">Add to cart</button></li>
                        <li><a href="#0">Learn more</a></li>
                    </ul> <!-- cd-item-action -->
                </div> <!-- cd-item-info -->
                <a href="#0" class="cd-close">Close</a>
            </div> <!-- cd-quick-view -->
            }*@

}
