﻿@using Now.Domain;
@*<header class="bp-header cf">
        <h1>Recomendação por categoria</h1>
    </header>*@
<div class="col-md-12">
    <!-- Bottom bar with filter and cart info -->
    <div class="bar" style="position:static!important">
        <div class="filter">
            <span class="filter__label">Filtrar: </span>
            <button class="action filter__item filter__item--selected" data-filter="*">Todos</button>
            @foreach (var item in (ViewBag.Produtos as IList<Produto>).GroupBy(x => x.grupo_produto).Select(t => new Produto
            {
                grupo_produto = t.First().grupo_produto
            }).ToList())
            {
                <button class="action filter__item" data-filter=".@item.grupo_produto"><span class="action__text">@item.grupo_produto</span></button>
            }

        </div>
        <button class="cart" style="display:none">
            <i class="cart__icon fa fa-shopping-cart"></i>
            <span class="text-hidden">Shopping cart</span>
            <span class="cart__count">0</span>
        </button>
    </div>
</div>
<div class="col-md-8">
    <section class="grid grid--loading">
        <!-- Loader -->
        <img class="grid__loader" src="@Url.Content("~/Scripts/FilterableProductGrid/images/grid.svg")" width="60" alt="Loader image" />
        <!-- Grid sizer for a fluid Isotope (Masonry) layout -->
        <div class="grid__sizer"></div>
        <!-- Grid items -->
        @foreach (var item in (ViewBag.Produtos as IList<Produto>).ToList())
        {
        <div class="grid__item grid__item--size-a @item.grupo_produto">
            <div class="slider">
                <div class="slider__item"><img src="@item.imgSite.Replace("{posicao}", "01").Replace("{tamanho}", "320x480")" alt="@item.grupo_produto" /></div>
                <div class="slider__item"><img src="@item.imgSite.Replace("{posicao}", "02").Replace("{tamanho}", "320x480")" alt="@item.grupo_produto" /></div>
                <div class="slider__item"><img src="@item.imgSite.Replace("{posicao}", "03").Replace("{tamanho}", "320x480")" alt="@item.grupo_produto" class="img-responsive" /></div>
            </div>
            <div class="meta">
                <h3 class="meta__title">Ref: @item.produto @item.cor_produto</h3>
            </div>
            <button class="action action--button action--buy" onclick="selecionaProdutos('@item.produto', '@item.cor_produto')"><i class="fa fa-plus"></i><span class="text-hidden">Add to cart</span></button>
        </div>
        }
     
    </section>
</div>
<div class="col-md-4">
    <div class="row">
        <div class="box box-primary" style="margin-top: 30px;">
            <div class="box-header with-border">
                <h3 class="box-title">Produtos Selecionados</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="products-list product-list-in-box cesta_produtos lista_prod_indicacao" style="height:75px!important">
                  
                </ul>
            </div>
            <div class="box-footer text-center">
                <a href="javascript:void(0)" class="uppercase" onclick="FinalizarIndicacao()">FINALIZAR</a>
            </div>
        </div>
    </div>
</div>
