﻿@using Now.Domain;

@model IList<PedidosRetiradaLoja>


<div class="box-body">
    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
                <tr>
                    <th>Loja Retirada</th>
                    <th>Data Venda</th>
                    <th>Status Pedido</th>
                    <th>Entregue Por</th>
                    <th>Data Entrega</th>
                    <th>Vlr Venda Entrega</th>
                </tr>
            </thead>
            <tbody>
                @foreach (PedidosRetiradaLoja item in Model)
                {
                    <tr>
                        <td>@item.filial</td>
                        <td>@item.data_compra.ToString("dd/MM/yyyy")</td>
                        <td>@item.status_pedido</td>
                        <td>@item.entregue_por</td>
                        <td>@item.entregue_em</td>
                        <td>R$ @item.valor_venda_retirada</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.table-responsive -->
</div>



