﻿@using Now.Domain;

@model IList<Fidelidade>

<div class="box-body">
    <div class="row">
        <div class="col-md-4 titulo_tela_fidelidade" style="text-align: center !important;font-size: 14pt;border: solid 1px #fff;padding-top: 8px;height: 40px;">
            <div class="form-group">
                <label>Data Vencimento</label>
            </div>
        </div>
        <div class="col-md-4 titulo_tela_fidelidade"  style="text-align: center !important;font-size: 14pt;border: solid 1px #fff;padding-top: 8px;height: 40px;">
            <div class="form-group ">
                <label>Pontos</label>
            </div>
        </div>
        <div class="col-md-4 titulo_tela_fidelidade"  style="text-align: center !important;font-size: 14pt;border: solid 1px #fff;padding-top: 8px;height: 40px;">
            <div class="form-group">
                <label>Valor</label>
            </div>
        </div>
    </div>
    @foreach (Fidelidade item in Model)
    {
        <div class="row">
            <div class="col-md-4 valor_tela_fidelidade"  style="text-align: center !important;font-size: 12pt;border: solid 1px #fff;padding-top: 8px;height: 40px;">
                <div class="form-group">
                    <span>@item.DataVencimento.ToString("dd/MM/yyyy")</span>
                </div>
            </div>
            <div class="col-md-4 valor_tela_fidelidade"  style="text-align: center !important;font-size: 12pt;border: solid 1px #fff;padding-top: 8px;height: 40px;">
                <div class="form-group">
                    <span>@item.Pontos</span>
                </div>
            </div>

            <div class="col-md-4 valor_tela_fidelidade"  style="text-align: center !important;font-size: 12pt;border: solid 1px #fff;padding-top: 8px;height: 40px;">
                <div class="form-group">
                    <span>@string.Format("{0:C}", @item.Valor)</span> @*@Html.TextArea("dica", new { @class = "form-control", @style = "width: 100%;", @rows = "4" })*@
                </div>
            </div>
        </div>
    }
</div>


