﻿@{
    ViewBag.Title = "Baixa de Contato em LOTE";
}

<div class="box box-default color-palette-box">
    <div class="row">
        <div class="col-md-12">
            <div class="box-header">
                @*<button type="button" name="btnConsultar" class="btn2-gradient green btnExportar text-uppercase text-bold"><i class="glyphicon glyphicon-export"></i> EXPORTAR</button>*@
                <button type="button" name="btnSalvar" class="btn2-gradient bg-green pull-right text-uppercase text-bold" onclick="SalvarContatoLote()"><i class="glyphicon glyphicon-save"></i> Salvar</button>
                <button type="button" name="btnLimpar" class="btn2-gradient bg-red pull-right text-uppercase text-bold" style="margin-right: 5px;" onclick="LimparTela()"><i class="glyphicon glyphicon-erase"></i> Limpar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="scroll600">
                <div id="t-responsive" class="table-responsive no-padding">
                    <table id="listaContatos" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="listaClientes">
                            @for (int i = 0; i < 15; i++)
                            {
                                <tr>
                                    <td class="center">
                                        <img src="@Url.Content("~/Images/blank.gif")" id="imgAlert" style="width:32px; height:32px; display:none"  /><br />
                                        <img src="@Url.Content("~/Images/blank.gif")" id="imgSave" style="width:32px; height:32px; margin-top:5px; display:none" />
                                        <input type="hidden" value="0" id="hddSalvo" />
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label>Cpf</label>
                                            <input type="text" class="form-control cpf bg-gray-gradient" id="cpf" />
                                        </div>
                                        <div class="form-group">
                                            <label>Agenda?</label>
                                            @Html.DropDownList("agenda",
                  (SelectList)ViewBag.TipoAgendas,
                  new { @class = "form-control select2 agenda", @style = "width: 100%;", required = "required" })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label>Status</label>
                                            @Html.DropDownList("status", new List<SelectListItem>
                 {
                    new SelectListItem{ Text="Selecione", Value = "", Selected=true },
                    new SelectListItem{ Text="Contato efetuado", Value = "Contato efetuado" },
                    new SelectListItem{ Text="Telefone inválido", Value = "Telefone inválido" },
                    new SelectListItem{ Text="Não consegui falar", Value = "Não consegui falar" }
                 }, new { @class = "form-control select2 status", @style = "width: 100%;", required = "required" })
                                        </div>
                                        <div class="form-group">
                                            <label>Modo</label>
                                            @Html.DropDownList("modo", new List<SelectListItem>
                 {
                    new SelectListItem{ Text="Selecione", Value = "", Selected=true },
                    new SelectListItem{ Text="Cara a cara", Value = "Cara a cara" },
                    new SelectListItem{ Text="Facebook", Value = "Facebook" },
                    new SelectListItem{ Text="SMS", Value = "SMS" },
                    new SelectListItem{ Text="Nenhum", Value = "Nenhum" },
                    new SelectListItem{ Text="WhatsApp", Value = "WhatsApp" },
                    new SelectListItem{ Text="Ligação", Value = "Ligação" },
                    new SelectListItem{ Text="Outros", Value = "Outros" }

                 }, new { @class = "form-control select2 modo", @style = "width: 100%;", required = "required" })
                                        </div>


                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label>Termometro</label>
                                            @Html.DropDownList("termometro", new List<SelectListItem>
                 {
                    new SelectListItem{ Text="Selecione", Value = "", Selected=true },
                    new SelectListItem{ Text="Adorou", Value = "Adorou" },
                    new SelectListItem{ Text="Gostou", Value = "Gostou" },
                    new SelectListItem{ Text="Então tá", Value = "Então tá" },
                    new SelectListItem{ Text="Dispensou", Value = "Dispensou" },
                    new SelectListItem{ Text="Ligação", Value = "Ligação" },
                    new SelectListItem{ Text="Odiou!!! Não ligar nunca mais.", Value = "Odiou" }

                 }, new { @class = "form-control select2 termometro", @style = "width: 100%;", required = "required" })
                                        </div>
                                        <div class="form-group">
                                            <label>Quem é ele?</label>
                                            @Html.DropDownList("vendedor",
                                       new SelectList(@ViewBag.VendedoresContatos, "Value", "Text", ((SelectList)@ViewBag.VendedoresContatos).SelectedValue),
                                        new { @class = "form-control select2 vendedor", @style = "width: 100%;", required = "required", @enabled = false })
                                        </div>


                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label>Quem é ele?</label>
                                            @Html.TextArea("caracteristicas", new { @class = "form-control caracteristicas", @style = "width: 100%;", @rows = "4" })
                                        </div>


                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label>Observações da ligação</label>
                                            @Html.TextArea("obs", new { @class = "form-control obs", @style = "width: 100%;", @rows = "4" })
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">

        function LimparTela() {
             window.location.href = '@Url.Action("ContatoLote", "Cliente")';
        }

        function SalvarContatoLote() {
            var _formValido = true;
            var _formExistePendencia = false;            

            $('#listaContatos > tbody  > tr').each(function (indice) {
                var _salvo = $(this).find("#hddSalvo").val();
                if (_salvo == 0) {
                    var _formLinha = false;

                    var _cpf = $(this).find('.cpf').val();
                    var _agenda = $(this).find('.agenda').val();
                    var _status = $(this).find('.status').val();
                    var _modo = $(this).find('.modo').val();
                    var _termometro = $(this).find('.termometro').val();
                    var _vendedor = $(this).find('.vendedor').val();
                    var _caracteristicas = $(this).find('.caracteristicas').val();
                    var _obs = $(this).find('.obs').val();

                    if (_agenda == null || _agenda == '') {
                        _formValido = false;
                    } else
                        _formLinha = true;

                    if (_cpf == null || _cpf == '') {
                        _formValido = false;
                    } else
                        _formLinha = true;

                    if (_status == null || _status == '') {
                        _formValido = false;
                    } else
                        _formLinha = true;

                    if (_modo == null || _modo == '') {
                        _formValido = false;
                    } else
                        _formLinha = true;

                    if (_termometro == null || _termometro == '') {
                        _formValido = false;
                    } else
                        _formLinha = true;

                    var totalVendedores = $(this).find('.vendedor').children('option').length;
                    if (totalVendedores > 1)
                        if (_vendedor == null || _vendedor == '') {
                            _formValido = false;
                        } else
                            _formLinha = true;
                    else
                        _formLinha = true;

                    if (!_formValido && _formLinha) {
                        $(this).find('#imgAlert').show();
                        $(this).find('#imgAlert').attr("src", "../Images/exclamation2.png");
                        _formExistePendencia = true;
                    }
                    else if (_formLinha) {
                        if ($(this).find("#hddSalvo").val() == 0) {

                            $(this).find('#imgAlert').show();
                            $(this).find('#imgAlert').attr("src", "../Images/iconCheckOn.png");
                            var _salvou = false;
                            var _mensagem = "";

                            /// Salvar Contato
                            loading();
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("SalvarContatoLote", "Cliente")',
                                dataType: 'json',
                                data: { cpf: _cpf, id_agenda: _agenda, status: _status, modo: _modo, termometro: _termometro, vendedor_id: _vendedor, caracteristicas: _caracteristicas, obs: _obs, tipoPagina: 'Cliente' },
                                success: function (result) {

                                    $('#listaContatos > tbody  > tr').each(function (indice) {
                                        if ($(this).find('.cpf').val() == result._cpf) {
                                            if (result.sucesso) {
                                                $(this).find("#hddSalvo").val(1);
                                                $(this).find('#imgSave').show();
                                                $(this).find('#imgSave').attr("src", "../Images/saveico.png").attr("title", result.responseText);
                                            }
                                            else {
                                                $(this).find('#imgSave').show();
                                                $(this).find('#imgSave').attr("src", "../Images/no.png").attr("title", result.responseText);
                                            }
                                        }
                                    });
                                },
                                complete: function () {
                                    $.unblockUI();
                                },
                                error: function (ex) {
                                    $.unblockUI();
                                    SessaoAtiva();
                                }
                            });

                        }
                    }
                    else {
                        $(this).find('#imgAlert').hide();
                        $(this).find('#imgAlert').attr("src", "../Images/blank.gif");
                    }
                }
            });

            // Salvar Contato
            if (!_formValido && _formExistePendencia) {
                $.msg({ content: 'Existem Campos obrigatórios!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
            }
        }

    </script>
}
