﻿@using Now.Domain;
@model IList<ReportClientesFavoritos>

@{
    ViewBag.Title = "Clientes Favoritos";
}

<div class="box box-default color-palette-box">
    <div class="box-header with-border">
        <a href="@Url.Action("Favoritos", "Cliente")" class="btn2-gradient btn-success btnSalvarContato text-uppercase text-bold"><i class="fa fa-refresh"></i> <b>ATUALIZAR</b></a>
    </div>
    <div class="box-body">
        <div id="t-responsive" class="table-responsive no-padding">
            <table id="listaInfoVendas" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center"></th>
                        <th class="text-center">Cliente</th>
                        <th class="text-center">Cpf</th>
                        <th class="text-center">Bairro</th>
                        <th class="text-center">Qtde Compras 12m</th>
                        <th class="text-center">Valor Compras 12m</th>
                        <th class="text-center">Ticket Médio 12m</th>
                        <th class="text-center">Qtde Compras Geral</th>
                        <th class="text-center">Valor Compras Geral</th>
                        <th class="text-center">Ticket Médio Geral</th>
                        <th class="text-center">Qtde Compras Vendedor</th>
                        <th class="text-center">Data Ult. Contato</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ReportClientesFavoritos item in (List<ReportClientesFavoritos>)@Model)
                    {
                        <tr>
                            <td class="text-center"><a href="#" onclick="ClienteFavorito(@item.cliente_id, 'P')"><img id="@("imgFavorito"+item.cliente_id.ToString())" style="border-radius:0%!important;" src="@Url.Content("~/Images/star_favorite_p.png")" /></a></td>
                            <td class="text-center">@item.nome </td>
                            <td class="text-center">@item.cpf</td>
                            <td class="text-center">@item.bairro</td>
                            <td class="text-center">@item.acum12_qtde_compras</td>
                            <td class="text-center">@(String.Format("{0:C}", item.acum12_valor_compras))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.acum12_tm))</td>
                            <td class="text-center">@item.acumvd_qtde_compras</td>
                            <td class="text-center">@(String.Format("{0:C}", item.acumvd_valor_compras))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.acumvd_tm))</td>
                            <td class="text-center">@item.vend_qtde_compras</td>
                            <td class="text-center">@item.data_ult_contato.ToString("dd/MM/yyyy")</td>
                            <td class="text-center" >
                                <a href="@Url.Action("Perfil", "Cliente")?clienteId=@item.cliente_id" class="btn2-gradient red text-uppercase text-bold text-nowrap">Cliente <i class="glyphicon glyphicon-share"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




@section Scripts{
    <script>
        $(".table").DataTable({
            "order": [[5, "desc"]],
            "language": {
                "decimal": ",",
                "thousands": "."
            }
        });

    </script>
}
