﻿@using Now.Domain;
@model Cliente

@{
    ViewBag.Title = "Resultado da Busca";
}

<div class="row">
    @*<div class="col-md-3">
            <div class="box box-primary">
                <!-- Profile Image -->
                @using (Ajax.BeginForm("Index", "cliente", new AjaxOptions
                {
                    HttpMethod = "POST",
                }, new { @class = "form-validation" }))
                {
                    @Html.ValidationSummary();

                    <div class="box-body box-profile">

                        <img class="profile-user-img img-responsive img-circle" src="@Url.Content("~/dist/img/user2-160x160.jpg")" alt="User profile picture">

                        <h3 class="profile-username text-center">Pesquise por: NOME, CPF e TELEFONE</h3>
                        <div>
                            <p class="text-muted text-center">
                                @Html.TextBoxFor(x => x.nome, new { @class = "form-control", @placeholder = "Digite..." })
                            </p>
                        </div>
                        <button type="submit" name="buttonBuscar" class="btn2-gradient blue pull-right pesquisar-cliente loading"><i class="glyphicon glyphicon-search"></i> Buscar</button>
                    </div>
                    <!-- /.box-body -->

                    <!-- /.box -->
                }
            </div>
        </div>*@
    <div class="col-md-12">

        @*@if (ViewBag.RegraPesquisa == 1)
        {
            <div class="callout bg-blue-gradient">
                <h4>Atenção!</h4>
                <p>
                    Esta consulta, retorna apenas os clientes que são preferenciais da sua loja ou que já tenham sido atendidos por você em outra filial. Caso não se enquadre nas opções acima, o Now não conseguirá encontra-lo.
                </p>
            </div>
        }*@


        @foreach (Cliente item in (List<Cliente>)ViewBag.Clientes)
            {
            <div class="box box-widget">
                <div class="box-body">
                    <div class="col-md-2"><img class="profile-user-img img-responsive img-circle" src="@Url.Content(string.Concat(@item.sexo == "M" ? "~/dist/img/img_m" : @item.sexo == "F" ? "~/dist/img/img_f" : "~/dist/img/question", ".png"))" alt="@item.nome"></div>
                    <div class="col-md-4 border-right">
                        <h3>@item.nome</h3>
                        <h4>Cpf: @item.cpf</h4>
                        Cod. Linx: @item.id_cliente
                        <br />
                        @item.cidade - @item.uf
                    </div>
                    <div class="col-md-4 text-center border-right">
                        Loja de Preferência
                        <br /><span class="label label-default">@item.NomeLoja</span>
                        <br />
                        <br />
                        Vendedor de Preferência<br />
                        <span class="label label-warning">@item.NomeVendedor</span>
                    </div>
                    <div class="col-md-2 text-center ">
                        @*@Html.Raw(item.telefone)*@
                        <h3></h3>
                        <a href="@Url.Action("Perfil", "Cliente")?clienteId=@item.id.ToString()" class="btn2-gradient red text-uppercase text-bold">Detalhe do Cliente <i class="glyphicon glyphicon-share"></i></a>
                    </div>
                </div>




                @*<div class="box-header with-border">
                        <div class="user-block">
                            <img class="img-circle" src="@Url.Content(string.Concat(@item.sexo == "M" ? "~/dist/img/img_m" : @item.sexo == "F" ? "~/dist/img/img_f" : "~/dist/img/question", ".png"))" alt="@item.nome">
                            <span class="username"><a href="#">@item.nome</a></span>
                            <span class="description">@item.telefone</span>
                        </div>
                        <!-- /.user-block -->
                        <!-- /.box-tools -->
                    </div>
                    <div class="box-body">
                        <ul class="products-list product-list-in-box">
                            <li class="item">
                                <div class="product-info" style="margin-left: 0px!important;">
                                    <a href="javascript:void(0)" class="product-title">
                                        Loja de Pref.:
                                        <span class="label label-warning pull-right">@item.NomeLoja</span>
                                    </a>
                                </div>
                            </li>
                            <li class="item">
                                <div class="product-info" style="margin-left: 0px!important;">

                                    <a href="javascript:void(0)" class="product-title">
                                        Vendedor de Pref.:
                                        <span class="label label-warning pull-right">@item.NomeVendedor</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="box-footer">
                        <ul class="list-inline">
                            <li class="pull-right"><a href="@Url.Action("Perfil", "Cliente")?clienteId=@item.id.ToString()" class="btn2-gradient red pull-right">Detalhe do Cliente</a></li>
                        </ul>
                    </div>*@
            </div>
        }

    </div>
    <!-- /.col -->
    @section Scripts{
        <script>
            $("#tbPesquisa").DataTable();

            ValidarPesquisa();

            function ValidarPesquisa() {
                $('.form-validation')
                    .on('init.field.bv', function (e, data) {
                        data.bv.validate();
                        if (!data.bv.isValid())
                            data.bv.disableSubmitButtons(true);
                        else
                            data.bv.disableSubmitButtons(false);
                    })
                    .bootstrapValidator({
                        message: 'Este valor não é válido',
                        excluded: [':disabled', ':hidden', ':not(:visible)'],
                        row: {
                            valid: 'field-success',
                            invalid: 'field-error'
                        },
                        fields: {
                            nome: {
                                validators: {
                                    notEmpty: {
                                        message: 'O preenchimento da pesquisa obrigatório!'
                                    }
                                }
                            }
                        }
                    });
            }

        </script>
    }
</div>
