﻿@using Now.Domain;

@{
    ViewBag.Title = "Detalhe do Cliente" + (Request.QueryString["tituloAgenda"] == null ? "" : " - " + Request.QueryString["tituloAgenda"]);
}

@Html.Hidden("clienteId", (Request.QueryString["clienteId"] == null ? "" : Request.QueryString["clienteId"]))
@Html.Hidden("idAgenda", (Request.QueryString["idAgenda"] == null ? "" : Request.QueryString["idAgenda"]))
@Html.Hidden("param", (Request.QueryString["param"] == null ? "" : Request.QueryString["param"]))
@Html.Hidden("tituloAgenda", (Request.QueryString["tituloAgenda"] == null ? "" : Request.QueryString["tituloAgenda"]))
@Html.Hidden("tipoPagina", (Request.QueryString["tipoPagina"] == null ? "" : Request.QueryString["tipoPagina"]))

@Html.Hidden("ticket", (Request.QueryString["ticket"] == null ? "" : Request.QueryString["ticket"]))

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_Dados", (Cliente)ViewBag.Cliente)


        <div class="box box-widget widget-user">
            <!-- /.box-header -->
            <div class="widget-user-header bg-blue-gradient">
                <h3 class="widget-user-username">Motivos da Ligação:</h3>
            </div>
            <div class="widget-user-image">
                <img class="img-circle" alt="User Avatar" src="@Url.Content(string.Concat("~/Images/motivoLig.jpg"))">
            </div>
            <div class="box-footer">
                <table class="table table-striped">
                    <tbody>
                        @foreach (var item in ViewBag.FrasesMotivoLigacao as IList<Frase>)
                        {
                            <tr>
                                <td><i class="fa fa-angle-right text-red"></i>@item.frase </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="box box-widget widget-user-2">
                    <div class="widget-user-header bg-blue-gradient">
                        <div class="widget-user-image">
                            <img src="~/app/img/money3.png" class="img-responsive" />
                        </div>
                        <h3 class="widget-user-username">@(String.Format("{0:C}", ViewBag.Cliente.AcumuladoVendaGeral))</h3>
                        <h5 class="widget-user-desc">
                            Acumulado
                        </h5>
                    </div>
                    <div class="box-footer no-padding" style="height: 134px;">
                        <ul class="nav nav-stacked">
                            @if (ViewBag.Cliente.acumulado_total_reserva > 0)
                            {
                                <li><a href="#">RESERVA <span class="pull-right">@(String.Format("{0:C}", ViewBag.Cliente.acumulado_total_reserva))</span></a></li>
                            }

                            @if (ViewBag.Cliente.acumulado_total_mini > 0)
                            {
                                <li><a href="#">MINI <span class="pull-right">@(String.Format("{0:C}", ViewBag.Cliente.acumulado_total_mini))</span></a></li>
                            }

                            @if (ViewBag.Cliente.acumulado_total_eva > 0)
                            {
                                <li><a href="#">EVA <span class="pull-right">@(String.Format("{0:C}", ViewBag.Cliente.acumulado_total_eva))</span></a></li>
                            }

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="box box-widget widget-user-2">
                    <div class="widget-user-header bg-blue-gradient">
                        <div class="widget-user-image">
                            <img src="~/app/img/money2.png" class="img-responsive" />
                        </div>
                        <h3 class="widget-user-username">@(String.Format("{0:C}", ViewBag.Cliente.AcumuladoVenda12))</h3>
                        <h5 class="widget-user-desc">
                            Acumulado 12 Meses
                        </h5>
                    </div>
                    <div class="box-footer no-padding" style="height: 134px;">
                        <ul class="nav nav-stacked">

                            @if (ViewBag.Cliente.acumulado_12_reserva > 0)
                            {
                                <li><a href="#">RESERVA <span class="pull-right">@(String.Format("{0:C}", ViewBag.Cliente.acumulado_12_reserva))</span></a></li>
                            }

                            @if (ViewBag.Cliente.acumulado_12_mini > 0)
                            {
                                <li><a href="#">MINI <span class="pull-right">@(String.Format("{0:C}", ViewBag.Cliente.acumulado_12_mini))</span></a></li>
                            }

                            @if (ViewBag.Cliente.acumulado_12_eva > 0)
                            {
                                <li><a href="#">EVA <span class="pull-right">@(String.Format("{0:C}", ViewBag.Cliente.acumulado_12_eva))</span></a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="clearfix visible-sm-block"></div>


            <div class="col-md-4 col-sm-6 col-xs-12">

                <div class="box box-widget widget-user-2">
                    <div class="widget-user-header  @((ViewBag.Cliente.apto_reservado_reserva == 1 || ViewBag.Cliente.apto_reservado_mini == 1 || ViewBag.Cliente.apto_reservado_eva == 1) ? "bg-blue-gradient" : "bg-gray-gradient")">
                        <div class="widget-user-image">
                            <img src="~/Images/bag.png" class="img-responsive" />
                        </div>
                        <h3 class="widget-user-username">Perfil Reservado</h3>
                        <h5 class="widget-user-desc">
                            @if (ViewBag.Cliente.apto_reservado_reserva == 1 || ViewBag.Cliente.apto_reservado_mini == 1 || ViewBag.Cliente.apto_reservado_eva == 1)
                            {
                                <span class="label label-danger">APTO A RECEBER RESERVADO</span>
                            }
                            else
                            {
                                <span class="label">&nbsp;</span>
                            }
                        </h5>
                    </div>
                    <div class="box-footer no-padding" style="height: 134px;">
                        <ul class="nav nav-stacked">
                            @if (ViewBag.Cliente.apto_reservado_reserva == 1 || ViewBag.Cliente.apto_reservado_mini == 1 || ViewBag.Cliente.apto_reservado_eva == 1)
                            {

                                if (ViewBag.Cliente.apto_reservado_reserva == 1)
                                {
                                    <li><a href="#" onclick="ExibirComprasReservado('RESERVA')">RESERVA <span class="pull-right badge bg-green"><i class="fa fa-check"></i></span></a></li>
                                }

                                if (ViewBag.Cliente.apto_reservado_mini == 1)
                                {
                                    <li><a href="#" onclick="ExibirComprasReservado('MINI')">MINI <span class="pull-right badge bg-green"><i class="fa fa-check"></i></span></a></li>
                                }

                                if (ViewBag.Cliente.apto_reservado_eva == 1)
                                {
                                    <li><a href="#" onclick="ExibirComprasReservado('EVA')">EVA <span class="pull-right badge bg-green"><i class="fa fa-check"></i></span></a></li>
                                }

                            }
                            else
                            {
                                <li><a href="#">&nbsp;</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12" style="display:none">
                <div class="box box-solid bg-blue-gradient">
                    <div class="box-body text-center">
                        <strong>Classificação &nbsp;<a href="#" data-toggle="modal" data-target="#modalAjudaFaixa" onmouseout="$.unblockUI();"><i class="fa fa-question-circle" style="color:black;"></i></a></strong>
                    </div>
                    <div class="box-footer text-center text-bold text-black">
                        @if (ViewBag.Cliente.classificacao_cliente == null)
                        {
                            <span data-toggle="tooltip" data-original-title="Sem Classificacao">-</span>
                        }
                        else if (Convert.ToString(ViewBag.Cliente.classificacao_cliente).Trim() == "FAIXA_P")
                        {
                            <span class="label bg-black-gradient" data-toggle="tooltip" data-original-title="Faixa preta:  acumulado 12 meses Acima de R$5.000">FAIXA PRETA</span>
                        }
                        else if (Convert.ToString(ViewBag.Cliente.classificacao_cliente).Trim() == "FAIXA_M")
                        {
                            <span class="label bg-maroon-gradient" data-toggle="tooltip" data-original-title="Faixa marrom: acumulado 12 meses entre R$3.000 e R$4.999">FAIXA MARROM</span>
                        }
                        else if (Convert.ToString(ViewBag.Cliente.classificacao_cliente).Trim() == "FAIXA_R")
                        {
                            <span class="label bg-purple-gradient" data-toggle="tooltip" data-original-title="Faixa rouxa:  acumulado 12 meses entre R$1000 e R$2.999">FAIXA ROUXA</span>
                        }
                        else if (Convert.ToString(ViewBag.Cliente.classificacao_cliente).Trim() == "FAIXA_A")
                        {
                            <span class="label bg-blue-gradient" data-toggle="tooltip" data-original-title="Faixa rouxa:  acumulado 12 meses abaixo R$1000">FAIXA AZUL</span>
                        }
                        else if (Convert.ToString(ViewBag.Cliente.classificacao_cliente).Trim().Contains("INATIVO"))
                        {
                            <span class="label bg-gray-gradient" data-toggle="tooltip" data-original-title="Inativo">@Convert.ToString(ViewBag.Cliente.classificacao_cliente).Trim()</span>
                        }

                    </div>
                </div>
            </div>
        </div>

        @*<div class="row">
                    @{
                        int i = 1;
                        foreach (var item in ViewBag.Frases as IEnumerable<IGrouping<string, Frase>>)
                        {
                            int qtde = (ViewBag.Frases as IEnumerable<IGrouping<string, Frase>>).Count();
                            int qtdeQuebra1 = 12 / (ViewBag.Frases as IEnumerable<IGrouping<string, Frase>>).Count();
                            int qtdeQuebra2 = 1;

                            if (qtde > 3)
                            {
                                qtdeQuebra1 = 4;

                                if (qtde == 4)
                                {
                                    qtdeQuebra2 = 12;
                                }
                                else
                                {
                                    qtdeQuebra2 = 6;
                                }
                            }

                            <div class="col-md-@(i < 4 ? qtdeQuebra1 : qtdeQuebra2) col-sm-6 col-xs-12">
                                <div class="box box-@(item.Key == "RESERVA" ? "success" : item.Key == "RESERVA MINI" ? "warning" : item.Key == "HUCK" ? "default" : item.Key == "PENETRINHAS" ? "info" : "danger") box-solid">
                                    <div class="box-header with-border text-center">
                                        <h3 class="box-title">@item.Key</h3>
                                        <div class="box-tools pull-right">
                                        </div>
                                    </div>
                                    <div class="box-footer no-padding scroll200">
                                        <div class="box-body">
                                            <ul class="list-group list-group-unbordered">
                                                @foreach (var ifrase in @item.ToList())
                                                {
                                                    <li class="list-group-item">@ifrase.frase</li>}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            i++;
                        }
                    }

                </div>

                <div class="row">
                <div class="col-md-12">
                    @if (ViewBag.Idvendedor != null)
                    {
                        <p class="pull-right">
                            <a href="#" class="btn btn-success btn-sm ad-click-event" onclick="IndicarProdutos(this); return false;">
                                <i class="fa fa-check fa-fw"></i> Indicar Produtos
                            </a>
                        </p>
                    }
                    <h2 class="page-header">Produtos Sugeridos</h2>
                    <input type="hidden" value="1" id="areaIndicacao" />

                    <div id="carrocelIndicacao">
                        <div id="Carousel" class="carousel slide">

                            @{
                                var obj = ViewBag.Produtos as IList<Produto>;
                                int numCols = 6;
                                int aux = -1;
                                int count = -1;
                                string list = "";
                                string menu = "";
                                //string onerror = "onerror=this.src='../Images/imgNotFound.jpg'";
                                if (obj != null)
                                {

                                    for (int i = 0; i < obj.Count(); i++)
                                    {
                                        aux++;

                                        if (i % numCols == 0)
                                        {
                                            count++;
                                            if (aux == numCols)
                                            {
                                                aux = 0;
                                                list += "</div></div>";
                                            }

                                            list += "<div class='item " + (i == 0 ? "active" : "") + " '><div class='row'>";
                                            menu += "<li data-target='#Carousel' data-slide-to='" + count + "' class='" + (i == 0 ? "active" : "") + "'></li>";
                                        }
                                        string onerror = "onerror=$('#pnl" + obj[i].id + "').hide()";
                                        list += "<div class='col-md-2' id='pnl" + obj[i].id + "'><a href='#' class='thumbnail'><img src='" + obj[i].imgSite.Replace("{posicao}", "01").Replace("{tamanho}", "320x480") + " ' alt='Image' style='max-width:100%' " + onerror + " class='img-responsive'></a></div>";
                                    }

                                    if (obj.Count > 0)
                                    {
                                        list += "</div></div>";
                                    }

                                    <ol class="carousel-indicators" style="bottom: -11px!important; left: 98%!important;">
                                        @Html.Raw(menu)
                                    </ol>

                                    // <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        @Html.Raw(list)
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>*@

        <div id="infosAbaCliente">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab"><i class="fa fa-money fa-fw"></i><strong>Histórico de Vendas</strong> <span class="badge bg-light-blue" title="" data-toggle="tooltip" data-original-title="@((ViewBag.Venda as List<Venda>).Count().ToString()) Vendas">@((ViewBag.Venda as List<Venda>).Count().ToString())</span></a></li>
                    <li><a href="#timeline" data-toggle="tab"><i class="fa fa-comments-o fa-fw"></i><strong>TimeLine</strong> <span class="badge label-danger">@((ViewBag.Contatos as List<FraseContato>).Count() > 0 ? (ViewBag.Contatos as List<FraseContato>).Count().ToString() : "")</span></a></li>
                    <li><a href="#settings" data-toggle="tab"><strong>Compre e Retire na Loja</strong>  <span class="badge label-danger">@((ViewBag.RetiradaLoja as List<PedidosRetiradaLoja>).Count() > 0 ? (ViewBag.RetiradaLoja as List<PedidosRetiradaLoja>).Count().ToString() : "")</span></a></li>
                    <li><a href="#dependente" data-toggle="tab"><i class="fa fa-users fa-fw"></i><strong>Dependentes</strong>  <span class="badge label-info qtdeDepedente">@((ViewBag.Dependentes as List<ClienteDependente>).Count() > 0 ? (ViewBag.Dependentes as List<ClienteDependente>).Count().ToString() : "")</span></a></li>

                    @if (!String.IsNullOrEmpty(ViewBag.EnderecoCliente))
                    {
                        <li><a href="#localizacao" data-toggle="tab" onclick="initialize();"><strong><i class="fa fa-map-marker fa-fw"></i>Maps Loja x Cliente</strong></a></li>
                    }
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                        @Html.Partial("_HistoricoCompras.min", ViewBag.Venda as List<Venda>)
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="timeline">
                        <!-- The timeline -->
                        @Html.Partial("_HistoricoContatos", ViewBag.Contatos as List<FraseContato>)

                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="settings">
                        @Html.Partial("_RetiradaLoja", ViewBag.RetiradaLoja as List<PedidosRetiradaLoja>)
                    </div>
                    <div class="tab-pane" id="dependente">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" id="btnAddDependente" name="btnAddDependente" class="btn2-gradient blue btnAddDependente text-uppercase text-bold" onmouseout="$.unblockUI();"><i class="glyphicon glyphicon-plus"></i> Adicionar Novo Dependente</button>
                                <hr />
                            </div>

                            <div class="quadroDepedente">
                                @foreach (ClienteDependente item in ((List<ClienteDependente>)ViewBag.Dependentes).OrderByDescending(x => x.data_inclusao).ToList())
                                {
                                    <div class="col-md-4" id="_depend-@item.id">

                                        <div class="box box-widget widget-user">
                                            <div style="position: absolute; width:100%; height:100%; z-index:1000;" onmouseover="ExibirEdicaoDependente('_editDep-@item.id', true)" onmouseout="ExibirEdicaoDependente('_editDep-@item.id', false)">
                                                <img class="_editDep-@item.id" style="position: absolute; top: -10px; right: 30px;  cursor: pointer; z-index:1001; display:none" src="@Url.Content("~/Images/edit2.png")" alt="Editar Dependente" onclick="EditarDependenteCliAntigo(@item.id)" />

                                                <img class="_editDep-@item.id" style="position: absolute; top: -10px; right: -10px;  cursor: pointer; z-index:1001; display:none" src="@Url.Content("~/Images/delete-button.png")" alt="Remover Dependente" onclick="RemoverDependenteCliAntigo(@item.id)" />
                                            </div>
                                            <div class="widget-user-header bg-gray-gradient">

                                                <h3 class="widget-user-username">@item.nome</h3>
                                                <h5 class="widget-user-desc">@item.grau_parentesco</h5>


                                            </div>
                                            <div class="widget-user-image">
                                                <img class="img-circle" src="@Url.Content("~/Images/user_group.png")" alt="@item.nome">
                                            </div>
                                            <div class="box-footer">
                                                <div class="row">

                                                    <div class="col-sm-6 border-right">
                                                        <div class="description-block">
                                                            <h5 class="description-header">Idade</h5>
                                                            <span class="description-text">@item.idade</span>
                                                        </div>
                                                        <!-- /.description-block -->
                                                    </div>
                                                    <!-- /.col -->
                                                    <div class="col-sm-6">
                                                        <div class="description-block">
                                                            <h5 class="description-header">Data Nascimento</h5>
                                                            <span class="description-text">@item.str_data_nascimento</span>
                                                        </div>
                                                        <!-- /.description-block -->
                                                    </div>
                                                    <div class="col-sm-12" style="height:150px">
                                                        <b>Observações:</b> <br /> @item.observacao
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-md-12" style="display:none">
                                <div class="table-responsive">
                                    <table class="table no-margin">
                                        <thead>
                                            <tr>
                                                <th>Grau Parentesco</th>
                                                <th>Nome</th>
                                                <th>Data Nascimento</th>
                                                <th>Observação</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tBodyDependentesClienteNovo">
                                            @foreach (ClienteDependente item in (List<ClienteDependente>)ViewBag.Dependentes)
                                            {
                                                <tr>
                                                    <td>@item.grau_parentesco</td>
                                                    <td>@item.nome</td>
                                                    <td>@item.str_data_nascimento</td>
                                                    <td>@item.observacao</td>
                                                    <td><a href="#" onclick="RemoverDependente('@item.nome');"><i class="glyphicon glyphicon-remove"></i></a> </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (!String.IsNullOrEmpty(ViewBag.EnderecoCliente))
                    {
                        <div class="tab-pane" id="localizacao">
                            <input type="hidden" value="@ViewBag.EnderecoCliente" id="hddEndLoja" />
                            <input type="hidden" id="inicioLatitude" />
                            <input type="hidden" id="inicioLongitude" />
                            <input type="hidden" id="fimLatitude" />
                            <input type="hidden" id="fimLongitude" />
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Endereço do Cliente</label>
                                        <textarea type="text" class="form-control" rows="3" id="tbxEndLoja" placeholder="Endereço da Loja"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Endereço do Cliente</label>
                                        <textarea type="text" class="form-control" rows="3" id="tbxEndCliente" placeholder="Endereço do Cliente"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">&nbsp;</label>
                                        <a href="#" class="btn2-gradient blue btn-block text-center text-uppercase text-bold" onclick="procurarMapa(); return false;"><i class="fa fa-map-marker"></i> <b> MAPEAR</b></a>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div id="localizacaoBody">
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <h1 class="page-header maps-header"></h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div id="mapa" style="width: 100%; height: 750px"></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="nav-tabs-custom">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Uber</a></li>
                                                <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Trajeto</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_1">
                                                    <p>
                                                        <img src="@Url.Content("~/Images/uberlogo.fw.png")" alt="Uber" class="img-responsive">
                                                    </p>
                                                    <p class="text-center">
                                                        <b>Melhor Preço</b>
                                                        <h4 style="font-size: 25px; text-align: center; padding: 7px 10px; margin-top: 0;" class="bg-blue-gradient" id="menorPreco">
                                                            -
                                                        </h4>
                                                    </p>

                                                    <div id="_uberList"></div>
                                                    <div id="box_uberInfo">
                                                        <hr />
                                                        <div class="box box-solid">
                                                            <div class="box-header with-border">
                                                                <i class="fa fa-car"></i>

                                                                <h3 class="box-title" id="box_uberTitulo">Info Uber</h3>
                                                            </div>
                                                            <!-- /.box-header -->
                                                            <div class="box-body">
                                                                <blockquote>
                                                                    <p id="box_uberDescricao">Estimativa de Preço</p>
                                                                    <div id="box_uberItens">

                                                                    </div>
                                                                </blockquote>
                                                            </div>
                                                            <!-- /.box-body -->
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="tab-pane" id="tab_2">
                                                    <div id="trajeto-texto" class="scroll600"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        @*<div id="pnlAreaIndicacao" style="display:none">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-widget">
                            <div class="box-body">
                                @{
                                    var prod = ViewBag.Produtos as IList<Produto>;
                                    if (prod != null)
                                    {
                                        @Html.Partial("_IndicacaoProdutos");
                                    }
                                }

                            </div>
                            <div class="box-footer">

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="pnlAreaIndicacaoFinalizar" style="display:none">
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs pull-right">
                                <li class=""><a href="#tab_2-2" data-toggle="tab" aria-expanded="false">E-mail</a></li>
                                <li class="active"><a href="#tab_3-2" data-toggle="tab" aria-expanded="true">Ações</a></li>
                                <li class="pull-left header"><i class="fa fa-th"></i> Produtos Selecionados</li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" id="tab_2-2">
                                    <div class="box box-info">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Informação do E-mail</h3>
                                        </div>
                                        <form class="form-horizontal">
                                            <div class="box-body">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

                                                        <div class="col-sm-10">
                                                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email" value="@ViewBag.Cliente.email ">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputPassword3" class="col-sm-2 control-label">Assunto</label>

                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="inputEmail3" placeholder="Assunto" value="RESERVA - MELHORES PRODUTOS PRA VOCÊ!">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-offset-2 col-sm-10">
                                                            <i class="glyphicon glyphicon-link"></i> Link com produtos abaixo no corpo do e-mail <a href="@Url.Action("IndicacaoProdutos", "AcessoExterno")">Email Cliente</a>.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <textarea class="textarea" placeholder="Informe o conteúdo do e-mail" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                                </div>
                                            </div>
                                            <div class="box-footer">
                                                <button type="button" class="btn2-gradient yellow text-uppercase text-bold">Limpar</button>
                                                <button type="button" class="btn2-gradient blue text-uppercase text-bold pull-right" onclick="enviarEmailIndicacao()">Enviar E-mail <i class="glyphicon glyphicon-send"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane active" id="tab_3-2">
                                    <a href="#" class="btn2-gradient blue text-uppercase text-bold"><i class="glyphicon glyphicon-print"></i> Imprimir Lista - Reservado</a>
                                </div>
                            </div>
                        </div>
                        <div class="box box-widget">
                            <div class="box-body">

                            </div>
                            <div class="box-footer">
                                <div class="row box_produtos">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</div>

<div class="modal fade" id="modalAlerta" tabindex="-1" role="dialog" aria-labelledby="modalAlertaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @Html.Raw(ViewBag.Alerta)
        </div>
    </div>
</div>

<div class="modal fade" id="modalAjudaFaixa" tabindex="-1" role="dialog" aria-labelledby="modalAjudaFaixaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-yellow-gradient">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">×</span>
                </button>
                <h2 class="modal-title">Tipos de Classificação</h2>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Tipo</th>
                            <th>Descrição</th>
                        </tr>
                        <tr>
                            <td><span class="label bg-black-gradient">FAIXA PRETA</span></td>
                            <td>Faixa preta:  acumulado 12 meses Acima de R$5.000.</td>
                        </tr>
                        <tr>
                            <td><span class="label bg-maroon-gradient">FAIXA MARROM</span></td>
                            <td>Faixa marrom: acumulado 12 meses entre R$3.000 e R$4.999.</td>
                        </tr>
                        <tr>
                            <td><span class="label bg-purple-gradient">FAIXA ROUXA</span></td>
                            <td>Faixa rouxa:  acumulado 12 meses entre R$1000 e R$2.999.</td>
                        </tr>
                        <tr>
                            <td><span class="label bg-blue-gradient">FAIXA AZUL</span></td>
                            <td>Faixa azul:  acumulado 12 meses abaixo R$1000.</td>
                        </tr>
                        <tr>
                            <td><span class="label bg-gray-gradient">INATIVO</span></td>
                            <td>Inativo.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalInfoVendas" tabindex="-1" role="dialog" aria-labelledby="modalInfoVendasLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-gray-gradient">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">×</span>
                </button>
                <h2 class="modal-title">Info Vendas</h2>
            </div>
            <div class="modal-body">
                @Html.Hidden("dataVenda")
                @Html.Hidden("LojaId")
                @Html.Hidden("IdVendedor")
                @Html.Hidden("ticket")
                @Html.TextArea("editInfoVendas", new { @class = "form-control", @style = "width: 100%;", @rows = "7" })
            </div>
            <div class="modal-footer">
                <button class="btn2-gradient small btn-primary" type="submit" onclick="SalvarInfoVendas()"><i class="fa fa-save"></i> <b>Salvar</b></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalVendaReservadoGriffe" tabindex="-1" role="dialog" aria-labelledby="modalVendaReservadoGriffe" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-gray-gradient">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">×</span>
                </button>
                <h2 class="modal-title">Vendas Reservado</h2>
            </div>
            <div class="modal-body">
                @if (((Now.Domain.VendaReservado)ViewBag.VendaReservado).VendasReservadoRESERVA.Count() > 0)
                {
                    <div id="comprasReservadoRESERVA" style="display:none">
                        <h2 class="page-header text-center">RESERVADOS RESERVA</h2>
                        @Html.Partial("_HistoricoCompras.min", ((Now.Domain.VendaReservado)ViewBag.VendaReservado).VendasReservadoRESERVA)
                    </div>
                }
                @if (((Now.Domain.VendaReservado)ViewBag.VendaReservado).VendasReservadoMINI.Count() > 0)
                {
                    <div id="comprasReservadoMINI" style="display:none">
                        <h2 class="page-header text-center">RESERVADOS MINI</h2>
                        @Html.Partial("_HistoricoCompras.min", ((Now.Domain.VendaReservado)ViewBag.VendaReservado).VendasReservadoMINI)
                    </div>
                }
                @if (((Now.Domain.VendaReservado)ViewBag.VendaReservado).VendasReservadoEVA.Count() > 0)
                {
                    <div id="comprasReservadoEVA" style="display:none">
                        <h2 class="page-header text-center">RESERVADOS EVA</h2>
                        @Html.Partial("_HistoricoCompras.min", ((Now.Domain.VendaReservado)ViewBag.VendaReservado).VendasReservadoEVA)
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@*<link rel="stylesheet" href="@Url.Content("~/Scripts/FilterableProductGrid/css/flickity.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/FilterableProductGrid/css/component.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/FilterableProductGrid/css/modernizr.custom.css")" />
    <script src="@Url.Content("~/Scripts/FilterableProductGrid/js/modernizr.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/FilterableProductGrid/js/isotope.pkgd.min.js")"></script>
    <script src="@Url.Content("~/Scripts/FilterableProductGrid/js/flickity.pkgd.min.js")"></script>
    <script src="@Url.Content("~/Scripts/FilterableProductGrid/js/main.js")"></script>*@



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA043HgfMn_Adu12t_0cLCrAZckUzlwIMQ&" async defer></script>

@section Scripts{


    <!-- Arquivo de inicialização do mapa -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/mapa.js")" charset="ISO-8859-1"></script>

    <!-- ANK - INICIO -->
    <script type="text/javascript">
        //$.ajax({
        //    type: 'GET',
        //    url: 'https://api.uber.com/v1.2/estimates/price?start_latitude=37.7752315&start_longitude=-122.418075&end_latitude=37.7752415&end_longitude=-122.518075',
        //    dataType: 'json',
        //    data: { Authorization: "TokenklkTtbBQo1zpmkCBYUeg9gCqvi8pqqChgqHbQdld" },
        //    success: function (data) {
        //        alert(data);
        //    },
        //    complete: function () {
        //        $.unblockUI();
        //    },
        //    error: function (ex) {
        //        $.unblockUI();
        //    }
        //});

        function ExibirComprasReservado(obj)
        {
            if (obj == "RESERVA") {
                $("#comprasReservadoRESERVA").show();
                $("#modalVendaReservadoGriffe").modal("show");
            } else if (obj == "MINI") {
                $("#comprasReservadoMINI").show();
                $("#modalVendaReservadoGriffe").modal("show");
            } else if (obj == "EVA") {
                $("#comprasReservadoEVA").show();
                $("#modalVendaReservadoGriffe").modal("show");
            }
        }

        if (JSON.parse(@ViewBag.ExibirAlerta)) {
            $("#modalAlerta").modal('show');
        }

        function ShowORNotFild() {
            if (document.getElementById("divData_Reservado").style.display == "none") {
                document.getElementById("divData_Reservado").style.display = "Block";
                document.getElementById("dt_reservado").value = "";
                document.getElementById("divData_ReservadoNot").style.display = "none";
            } else {
                document.getElementById("divData_Reservado").style.display = "none";
                document.getElementById("divData_ReservadoNot").style.display = "Block";
            }
        }

        function statusChange(obj) {
            var modo = document.getElementById("modo");
            var termometro = document.getElementById("termometro");
            if (obj.value == 'Telefone inválido' || obj.value == 'Não consegui falar') {
                LimparValidacoes();
                $('#form-validation-contato').data('bootstrapValidator').enableFieldValidators('modo', false);
                $('#form-validation-contato').data('bootstrapValidator').enableFieldValidators('termometro', false);
                ValidarContato();
            }
            else {
                LimparValidacoes();
                $('#form-validation-contato').data('bootstrapValidator').enableFieldValidators('modo', true);
                $('#form-validation-contato').data('bootstrapValidator').enableFieldValidators('termometro', true);
                ValidarContato();
            }
        }


        

        function LimparValidacoes() {
            $('#form-validation-contato').data('bootstrapValidator').resetForm();
        }
    </script>

    <!-- INICIALIZAÇÃO CONTATO - FIM -->

    <script type="text/javascript">
        $(".btnSalvarContato").click(function () {

            $('#form-validation-contato').data('bootstrapValidator').validate();

            if ($('#form-validation-contato').data('bootstrapValidator').isValid()) {
                SalvarContato();
            }
            else {
                $.msg({ content: 'Campos obrigatórios!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
            }
        });

        $(".btnSalvarContatoComercioDigital").click(function () {

            $('#form-validation-contato').data('bootstrapValidator').validate();

            if ($('#form-validation-contato').data('bootstrapValidator').isValid()) {
                SalvarContatoComercioDigital();
            }
            else {
                $.msg({ content: 'Campos obrigatórios!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
            }
        });
        
        ValidarContato();

        function ValidarContato() {
            $('#form-validation-contato')
                .bootstrapValidator({
                    message: 'This value is not valid',
                    excluded: [':disabled', ':hidden', ':not(:visible)'],
                    //feedbackIcons: {
                    //    valid: 'glyphicon glyphicon-ok',
                    //    invalid: 'glyphicon glyphicon-remove',
                    //    validating: 'glyphicon glyphicon-refresh'
                    //},
                    fields: {

                        status: {
                            validators: {
                                notEmpty: {
                                    message: 'Seleção do status obrigatório!'
                                }
                            }
                        },
                        //obs: {
                        //    validators: {
                        //        notEmpty: {
                        //            message: 'O preenchimento da observação é obrigatório!'
                        //        }
                        //    }
                        //},
                        modo: {
                            validators: {
                                notEmpty: {
                                    message: 'Seleção do modo obrigatório!'
                                }
                            }
                        },
                        termometro: {
                            validators: {
                                notEmpty: {
                                    message: 'Seleção do Termometro obrigatório!'
                                }
                            }
                        },
                        dt_reservado: {
                            validators: {
                                notEmpty: {
                                    message: 'Data Reservado obrigatório!'
                                }
                            }
                        },
                        vendedor_id: {
                            validators: {
                                notEmpty: {
                                    message: 'A Seleção do Vendedor obrigatório!'
                                }
                            }
                        }
                    }
                }).on('success.form.bv', function (e, data) {
                    loading();
                });
        }

        function SalvarContato() {
            var dados = $("#hddTermometroContato").val();
            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SalvarContato", "Cliente")',
                dataType: 'json',
                data: { clienteId: $('#clienteId').val(), id_agenda: $('#idAgenda').val(), parametro: $('#param').val(), enviar_avaliacao: $("#enviar_avaliacao").val(), status: $("#status").val(), modo: $("#hddModoContato").val(), termometro: $("#hddTermometroContato").val(), vendedor_id: $("#vendedor_id").val(), caracteristicas: $("#caracteristicas").val(), obs: $("#obs").val(), tipoPagina: $('#tipoPagina').val(), ticket: $('#ticket').val() },
                success: function (result) {
                    if (!result.sucesso) {
                        $.unblockUI();
                        $.msg({ content: result.responseText, tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
                    }
                    else {

                        if (result.responseText == "Cliente") {
                            window.location.href = '@Url.Action("Index", "Cliente")';
                        }
                        else
                            window.location.href = "/Agenda/Agenda?idAgenda=" + $('#idAgenda').val() + "&parametro=" + $('#param').val() + "&titulo=" + $('#tituloAgenda').val(); @*'@Url.Action("Agenda", "Agenda", new { parametro = param, titulo = result.titulo })';*@
                    }
                },
                complete: function () {
                    $.unblockUI();
                    //window.location.href = '/Dashboard';
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
            return false;
        }

        function SalvarContatoComercioDigital() {
            var dados = $("#hddTermometroContato").val();
            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SalvarContatoComercioDigital", "Cliente")',
                dataType: 'json',
                data: { clienteId: $('#clienteId').val(), id_agenda: $('#idAgenda').val(), parametro: $('#param').val(), enviar_avaliacao: $("#enviar_avaliacao").val(), status: $("#status").val(), modo: $("#hddModoContatoComercioDigital").val(), vendedor_id: $("#vendedor_id").val(), tipoPagina: $('#tipoPagina').val(), ticket: $('#ticket').val()  },
                success: function (result) {
                    if (!result.sucesso) {
                        $.unblockUI();
                        $.msg({ content: result.responseText, tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
                    }
                    else {

                        if (result.responseText == "Cliente") {
                            window.location.href = '@Url.Action("Index", "Cliente")';
                        }
                        else
                            window.location.href = "/Agenda/Agenda?idAgenda=" + $('#idAgenda').val() + "&parametro=" + $('#param').val() + "&titulo=" + $('#tituloAgenda').val(); 
                    }
                },
                complete: function () {
                    $.unblockUI();
                    //window.location.href = '/Dashboard';
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
            return false;
        }

        var MILES_TO_KM = 1.60934;

        function ObterPrecoUber() {
            @*$.ajax({
                type: 'POST',
                url: '@Url.Action("ObterEstimativaUber", "Cliente")',
                dataType: 'json',
                data: { inicioLatitude: $('#inicioLatitude').val(), inicioLongitude: $('#inicioLongitude').val(), fimLatitude: $('#fimLatitude').val(), fimLongitude: $("#fimLongitude").val() },
                success: function (result) {
                    var _menorPreco = [999999999];
                    var menorPrecoStr = "";
                    if (result.sucesso) {
                        var itemList = '<div class="box-footer no-padding"><ul class="users-list clearfix">';

                        $.each(JSON.parse(result.estimativa).prices, function (i, item) {
                            //itemList += '<li><a href="#">' + item.localized_display_name + ' <h3><span class="pull-right label bg-blue">' + item.estimate + ' </span></h3></a></li>';

                            var descricao = "</small><small>Estimativa: " + item.estimate + " </small><small>Menor Peço: R$" + item.low_estimate + " </small><small>Maior Peço: R$" + item.high_estimate + " </small><small>Tempo: " + secondsToHms(item.duration) + " </small><small>Distância: " + arredondar(item.distance * MILES_TO_KM, 2) + " Km </small>";

                            itemList += '<li>';
                            itemList += '<img src="@Url.Content("~/Images/uberCar.fw.png")" alt="' + item.localized_display_name + '">';
                            itemList += '<a class="users-list-name" href="#" onclick="InfoBoxUber(\'' + item.localized_display_name + '\', \'' + descricao + '\'); return false;"><h4>' + item.estimate + '</h4></a>';
                            itemList += '<span class="users-list-date">' + item.localized_display_name + '</span>';
                            itemList += '</li>';


                            //_menorPreco.push(item.low_estimate);
                            //if (parseInt(item.low_estimate) <= Math.min.apply(null, _menorPreco)) {
                            //    menorPrecoStr = item.localized_display_name + " - " + item.estimate;
                            //}

                            if (item.localized_display_name == "uberX") {
                                menorPrecoStr = item.localized_display_name + " - " + item.estimate;
                                InfoBoxUber(item.localized_display_name, descricao);
                            }
                        });

                        itemList += '</ul></div>';
                        $('#_uberList').html(itemList);

                        $('#menorPreco').html(menorPrecoStr);
                    }
                },
                complete: function () {
                },
                error: function (ex) {
                }*@
            };
            return false;
        }

        function InfoBoxUber(titulo, descricao) {
            $('#box_uberTitulo').html(titulo + " - Estimativa de Preço");
            $('#box_uberItens').html(descricao);

        }

        function secondsToHms(d) {
            d = Number(d);

            var h = Math.floor(d / 3600);
            var m = Math.floor(d % 3600 / 60);
            var s = Math.floor(d % 3600 % 60);

            return ('0' + h).slice(-2) + ":" + ('0' + m).slice(-2) + ":" + ('0' + s).slice(-2);
        }

        function EditarInfoVendas(strInfo, dataVenda, lojaId, IdVendedor, ticket) {
            $("#dataVenda").val(dataVenda);
            $("#LojaId").val(lojaId);
            $("#IdVendedor").val(IdVendedor);
            $("#editInfoVendas").val(strInfo);

            if ($("#" + ticket + "strInfoVendas").html() != '') {
                $("#editInfoVendas").val($("#" + ticket + "strInfoVendas").html());
            }
            $("#ticket").val(ticket);
            $('#modalInfoVendas').modal('show');
        }

        function SalvarInfoVendas() {
            loading();
            var dataVenda = $("#dataVenda").val();
            var idVendedor = $("#IdVendedor").val();
            var LojaId = $("#LojaId").val();
            var strInfovendas = $("#editInfoVendas").val();
            var clienteId = $('#clienteId').val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SalvarInfoVendas", "InfoVendas")',
                dataType: 'json',
                data: { clienteId: clienteId, strInfovendas: strInfovendas, LojaId: LojaId, dataVenda: dataVenda, idVendedor: idVendedor },
                success: function (result) {
                    if (result.success) {

                        $.msg({ content: result.Mensagem, tipo: 'alert-success', titulo: 'Sucesso', img: 'fa-success' });

                        var txtInfovendas = "<div class='callout'><h4>INFORMAÇÃO DE VENDA:</h4><p id='" + $("#ticket").val() + "strInfoVendas'>" + strInfovendas + "</p></div>";
                        $("#" + $("#ticket").val() + "tdInfoVendas").html(txtInfovendas);
                        $('#modalInfoVendas').modal('hide');
                        $.unblockUI();
                    }
                    else {
                        $.unblockUI();
                        $.msg({ content: result.Mensagem, tipo: 'alert-error', titulo: 'Erro', img: 'fa-success' });
                    }
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
            return false;
        }

        function ExluirInfoVendas(data, lojaId, ticket) {
            loading();
            var clienteId = $('#clienteId').val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ExluirInfoVendas", "InfoVendas")',
                dataType: 'json',
                data: { clienteId: clienteId, data: data, lojaId: lojaId },
                success: function (result) {
                    if (result.success) {
                        $.msg({ content: result.Mensagem, tipo: 'alert-success', titulo: 'Sucesso', img: 'fa-success' });
                        var txtInfovendas = "";
                        $("#" + ticket + "tdInfoVendas").html(txtInfovendas);
                        $.unblockUI();
                    }
                    else {
                        $.unblockUI();
                        $.msg({ content: result.Mensagem, tipo: 'alert-error', titulo: 'Erro', img: 'fa-success' });
                    }
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
            return false;
        }

    </script>


    <!-- AGENDAMENTO - INICIO -->
    <script>
        $("#tbxDataNascDependente").attr('readOnly', 'true');

        $(".btnSalvarAgendamento").click(function () {
            $('#form-validation-agendamento').data('bootstrapValidator').validate();

            if ($('#form-validation-agendamento').data('bootstrapValidator').isValid()) {
                SalvarLembrete();
            }
            else {
                $.msg({ content: 'Campos obrigatórios!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
            }
        });

        MudaUlContatos();

        function MudaTimeLineContatos() {
            $('#filtroContato').val($('#filtroContato').val());
            MudaUlContatos();
        }

        function MudaUlContatos() {
            $('#ulContatoTodas').fadeOut();
            $('#ulContatoReserva').fadeOut();
            $('#ulContatoMini').fadeOut();
            $('#ulContatEva').fadeOut();

            setTimeout(function () {
                if ($('#filtroContato').val() == "TODAS")
                    $('#ulContatoTodas').fadeIn();
                else if ($('#filtroContato').val() == "RESERVA")
                    $('#ulContatoReserva').fadeIn();
                else if ($('#filtroContato').val() == "MINI")
                    $('#ulContatoMini').fadeIn();
                else if ($('#filtroContato').val() == "EVA")
                    $('#ulContatEva').fadeIn();
            }, 500);

        }

        ValidarAgendamento();


        function ValidarAgendamento() {
            $('#form-validation-agendamento')
                .bootstrapValidator({
                    message: 'This value is not valid',
                    excluded: [':disabled', ':hidden', ':not(:visible)'],
                    fields: {

                        loja_id: {
                            validators: {
                                notEmpty: {
                                    message: 'Seleção da loja é obrigatória!'
                                }
                            }
                        },
                        vendedorId: {
                            validators: {
                                notEmpty: {
                                    message: 'Seleção do modo obrigatório!'
                                }
                            }
                        },
                        data_inicio: {
                            validators: {
                                notEmpty: {
                                    message: 'Insira o período obrigatório!'
                                },
                                date: {
                                    format: 'DD/MM/YYYY',
                                    message: 'Está data é inválida!'
                                }
                            }
                        },
                        motivo: {
                            validators: {
                                notEmpty: {
                                    message: 'Seleção do tipo agendamento obrigatório!'
                                }
                            }
                        }
                    }
                }).on('success.form.bv', function (e, data) {
                    loading();
                });
        }
        //SalvarLembrete(string clienteId, string cpf, string dica, string idAgenda, string dataInicio, string lojaId, string vendedorId)
        function SalvarLembrete() {
            loading();
            var cpf = $('#cpf').val();
            var dataInicio = $('.datepickerAgendamentoIni').val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SalvarLembrete", "Cliente")',
                dataType: 'json',
                data: { clienteId: $('#clienteId').val(), cpf: cpf, dica: $('#dica').val(), idAgenda: $("#motivo").val(), dataInicio: dataInicio, vendedorId: $("#vendedorId").val(), lojaId: $("#loja_id").val(), tipoPagina: $('#tipoPagina').val() },
                success: function (result) {
                    if (!result.sucesso) {
                        $.unblockUI();
                        $.msg({ content: result.responseText, tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
                    }
                    else {

                        if (result.responseText == "Cliente") {
                            window.location.href = '@Url.Action("Index", "Cliente")';
                        }
                        else
                            window.location.href = "/Agenda/Agenda?idAgenda=" + $('#idAgenda').val() + "&parametro=" + $('#param').val() + "&titulo=" + $('#tituloAgenda').val(); @*'@Url.Action("Agenda", "Agenda", new { parametro = param, titulo = result.titulo })';*@
                    }
                },
                complete: function () {
                    $.unblockUI();
                    //window.location.href = '/Dashboard';
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
            return false;
        }


        $('.carousel').carousel({
            interval: 6000
        })

        function IndicarProdutos(btn) {
            if ($('#areaIndicacao').val() == "1") {
                $(btn).html('<i class="fa fa-ban fa-fw"></i> Cancelar Indicação');
                $(btn).removeClass("btn-success").addClass("btn-danger");
                $('#carrocelIndicacao').fadeOut();
                $('#infosAbaCliente').fadeOut();
                $('#pnlAreaIndicacao').fadeIn();
                $('#areaIndicacao').val("0");
            }
            else {
                $(btn).html('<i class="fa fa-check fa-fw"></i> Indicar Produtos');
                $(btn).removeClass("btn-danger").addClass("btn-success");
                $('#areaIndicacao').val("1");
                $('#carrocelIndicacao').fadeIn();
                $('#pnlAreaIndicacao').fadeOut();
                $('#infosAbaCliente').fadeIn();
            }
        }

        $('#data_inicio')
            .datepicker({
                autoclose: true,
                format: 'DD/MM/YYYY'
            })
            .on('changeDate', function (e) {
                // Revalidate the date field
                $('#eventForm').formValidation('revalidateField', 'date');
            });

        function SalvarObs(clienteId, obj) {
            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SalvarClienteObs", "Cliente")',
                dataType: 'json',
                data: { clienteId: clienteId, observacao: $('#' + obj).val() },
                success: function (data) {
                    if (data.sucesso)
                        $.msg({ content: '' + data.msg + '', tipo: 'alert-success', titulo: 'Sucesso', img: 'fa-check' });
                    else
                        $.msg({ content: '' + data.msg + '', tipo: 'alert-danger', titulo: 'Erro', img: 'fa-danger' });

                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
            $.unblockUI();
            return false;
        }
    </script>
    <!-- AGENDAMENTO - FIM -->
    <!-- INDICACAO PRODUTOS - INICIO -->
    <script>
        //  Addproduto(string produto, string produto_cor, string clienteId)

        function selecionaProdutos(produto, produto_cor) {
            loading();
            var clienteId = $('#clienteId').val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Addproduto", "Cliente")',
                dataType: 'json',
                data: { produto: produto, produto_cor: produto_cor, clienteId: clienteId },
                success: function (result) {
                    if (result.success) {
                        recProdutoSelecionado(result.dados);
                        $.unblockUI();
                    }
                    else {

                    }
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                }
            });
            return false;
        }

        function FinalizarIndicacao() {
            $('#pnlAreaIndicacao').fadeOut();
            $('#pnlAreaIndicacaoFinalizar').fadeIn();
        }

        function ExibirProdutos(produto, produto_cor) {
            loading();
            var clienteId = $('#clienteId').val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delproduto", "Cliente")',
                dataType: 'json',
                data: { produto: produto, produto_cor: produto_cor, clienteId: clienteId },
                success: function (result) {
                    if (result.success) {
                        recProdutoSelecionado(result.dados);
                        $.unblockUI();
                    }
                    else {

                    }
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                }
            });
            return false;
        }

        function recProdutoSelecionado(obj) {
            var itemLista = "";
            var _item = "";
            var select1 = "";
            var select2 = "";
            var select3 = "";
            var cont = 0;
            $.each(obj, function (i, item) {
                cont++;
                _item = "<li class='item'>";
                _item += "<div class='product-img' style='height: 90px!important'>";
                _item += "<img src='" + item.imgSite.replace("{posicao}", "01").replace("{tamanho}", "50x75") + "' alt='Product Image' style='height:75px!important'>";
                _item += '<br><span class="badge label-danger" style="cursor:pointer" onclick="ExibirProdutos(\'' + item.produto + '\',\'' + item.cor_produto + '\');">Excluir</span>';
                _item += "</div>";
                _item += "<div class=product-info' >";
                _item += "<a href='javascript: void (0)' class='product-title' style='padding-left:6px!important'>";
                _item += item.descricao_produto;
                _item += "</a>";
                _item += "<span class='product-description' style='padding-top:20px; padding-left:6px!important'>";
                _item += "Ref: " + item.produto + item.cor_produto
                _item += "</span>";
                _item += "</div>";
                _item += "</li>";

                if (cont == 1)
                    select1 += _item;

                if (cont == 2)
                    select2 += _item;

                if (cont == 3) {
                    select3 += _item;
                    cont = 0;
                }
                itemLista += _item;
            });

            $(".lista_prod_indicacao").html(itemLista);


            $(".box_produtos").html("<div class='col-md-4'><ul class='products-list product-list-in-box cesta_produtos' style='height:75px!important'>" + select1 + "</ul></div>");
            $(".box_produtos").html($(".box_produtos").html() + "<div class='col-md-4'><ul class='products-list product-list-in-box cesta_produtos' style='height:75px!important'>" + select2 + "</ul></div>")
            $(".box_produtos").html($(".box_produtos").html() + "<div class='col-md-4'><ul class='products-list product-list-in-box cesta_produtos' style='height:75px!important'>" + select3 + "</ul></div>")
        }

        function enviarEmailIndicacao() {
            loading();
            var clienteId = $('#clienteId').val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("EnviaEmailIndicacao", "Cliente")',
                dataType: 'json',
                data: { clienteId: clienteId },
                success: function (result) {
                    if (result.success) {
                        //recProdutoSelecionado(result.dados);
                        $.unblockUI();
                    }
                    else {

                    }
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                }
            });
            $.unblockUI();
            return false;
        }

    </script>
    <!-- INDICACAO PRODUTOS - FIM -->
}


