﻿@using Now.Domain;
@model InfoVendas

@{
    ViewBag.Title = "Quem é Ele";
}

<style>
    #t-responsive .row {
        margin-right: 0 !important;
    }
</style>

<div class="row form-info">


    <div class="col-md-3">
        <div class="box box-default color-palette-box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-user"></i>&nbspLoja/Cliente</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    @Html.HiddenFor(x => x.id)
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Loja</label>
                            @if (((SelectList)ViewBag.LojasFiltrado).Count() > 1)
                            {
                                @Html.DropDownListFor(x => x.loja_id,
                        (SelectList)ViewBag.LojasFiltrado,
                        new { @class = "form-control select2", @style = "width: 100%;", @onchange = "onVendedorChange('vendedor_id');", required = "required" })
                            }
                            else
                            {
                                <h4 class="text-center">@Html.LabelFor(x => x.loja_id, (String)ViewBag.NomeLojaSelecionada)</h4>
                            }
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Vendedor</label>
                            @if (String.IsNullOrEmpty(ViewBag.Idvendedor))
                            {
                                @Html.DropDownListFor(x => x.vendedor_id
                        , (SelectList)ViewBag.Vendedores
                        , new { @class = "form-control select2", @style = "width: 100%;", required = "required" })
                            }
                            else
                            {
                                <h4 class="text-center">@Html.LabelFor(x => x.vendedor_id, (String)ViewBag.NomeSelecionadoCompleto)</h4>
                            }
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            @Html.TextBoxFor(x => x.cpf, new { @class = "form-control text-center input-lg", @placeholder = "Cpf", required = "required", @onblur = "onDataVendasChange(this);", onkeydown = "return (event.keyCode!=13);" })
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="button" name="buttonPesquisarCpf" class="btn2-gradient btn-primary buttonPesquisarCpf text-uppercase text-bold"><i class="glyphicon glyphicon-search"></i> <b>PESQUISAR</b></button>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="col-md-12">
                    <h3 class="profile-username text-center">@Html.Label("-", new { @id = "nmCliente" })</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="DivClienteAntigo" style="display: block">
        <div class="col-md-9">

            <div class="box box-default color-palette-box">
                <div class="box-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Quem é Ele</label>
                            @Html.TextArea("tbxQuemEle", new { @class = "form-control ", @rows = "7", @style = "width: 100%;" })
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" name="buttonSalva" class="btn2-gradient blue pull-right btnSalvarQuemEle text-uppercase text-bold" onclick="SalvarQuemEEle(0, 'tbxQuemEle');"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar Quem é Ele</button>
                </div>

                <div class="box-footer">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="callout callout-warning">
                                <h4>Exemplo QUem é ELE</h4>

                                <p>1. Sergio é advogado (criminalista) e trabalha aqui perto do shopping Leblon. Veio com a esposa Marcia e o filho de 3 anos Daniel;</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="callout callout-warning">
                                <h4>Exemplo QUem é ELE</h4>

                                <p>2. Mariana é noiva do Flavio e vão se casar final de agosto. Simpática, bebeu cerveja na loja e aceitou o look que eu mostrei;</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="callout callout-warning">
                                <h4>Exemplo QUem é ELE</h4>

                                <p>3. Ronaldo trabalha na Google e disse que segue o Rony nas redes sociais. Corintiano. Estava com colega de trabalho Flavio;</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="callout callout-warning">
                                <h4>Exemplo QUem é ELE</h4>

                                <p> 4. Luciana tem 2 filhos - João e Julia. João tem 28 anos, mas é ela quem compra roupa pra ele. Ele não curte shopping. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nav-tabs-custom" style="display:none">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#quemEle" data-toggle="tab">Quem é Ele</a></li>
                    <li><a href="#infoVendas" data-toggle="tab">Cadastrar Info Vendas</a></li>
                    <li><a href="#dependentes" data-toggle="tab">Cadastrar Dependentes</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="quemEle">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                </div>
                            </div>
                            <div class="col-md-12">

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="infoVendas">

                    </div>
                    <div class="tab-pane" id="dependentes">
                        @Html.Hidden("tipoClienteDep", "")
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" id="btnAddDependente" name="btnAddDependente" class="btn2-gradient blue btnAddDependente text-uppercase text-bold" onmouseout="$.unblockUI();"><i class="glyphicon glyphicon-plus"></i> Adicionar Novo Dependente</button>
                                <hr />
                            </div>
                            <div class="quadroDepedente">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div id="DivClienteInexistenteQuest" style="display: none">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-warning box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Cliente Novo?</h3>
                        </div>
                        <div class="box-body text-center text-yellow">
                            <h4> O Cpf informado não existe no NOW, deseja cadastrar o Info Vendas e "Quem é ele" para que na próxima carga o mesmo seja associado ao Cliente.</h4>
                        </div>
                        <div class="box-footer text-center">
                            <button type="button" id="btnCancelar" name="btnCancelar" class="btn2-gradient red btnSalvar text-uppercase text-bold"><i class="glyphicon glyphicon-remove"></i> Cancelar</button>
                            <button type="button" id="btnConfirmar" name="btnConfirmar" class="btn2-gradient blue btnSalvar text-uppercase text-bold"><i class="glyphicon glyphicon-ok"></i> Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="DivClienteNovo" style="display: none">
        <div class="col-md-9">
            <div class="box box-default color-palette-box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-info"></i>&nbspCadastrar Cliente Novo</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Data Venda</label>
                                @Html.DropDownList("dataVenda"
                                , new List<SelectListItem>
                                ()
                                , new { @class = "form-control select2", @style = "width: 100%;", required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">InfoVendas</a></li>
                            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Quem é ele</a></li>
                            @*<li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false">Dependentes</a></li>*@
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Info Vendas</label>
                                            @Html.TextArea("tbxInfoVendas", new { @class = "form-control ", @rows = "7", @style = "width: 100%;", required = "required" })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab_2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Quem é Ele</label>
                                            @Html.TextArea("tbxQuemEleNovo", new { @class = "form-control ", @rows = "7", @style = "width: 100%;" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab_3">
                                <div class="row">
                                    <div class="col-md-12 pull-left">
                                        <button type="button" id="btnAddDependente" name="btnAddDependente" class="btn2-gradient blue btnAddDependente  text-uppercase text-bold" data-toggle="modal" data-target="#modalAddDependente" onmouseout="$.unblockUI();"><i class="glyphicon glyphicon-plus"></i> Adicionar</button>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>Grau Parentesco</th>
                                                        <th>Nome</th>
                                                        <th>Sexo</th>
                                                        <th>Data Nascimento</th>
                                                        <th>Observação</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tBodyDependentesClienteNovo"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="box-footer">
                    <button type="button" id="btnSalvarNovoCliente" name="btnSalvarNovoCliente" class="btn2-gradient blue pull-right btnSalvar text-uppercase text-bold"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar Novo Cliente</button>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        $("#tbxDataNascDependente").attr('readOnly', 'true');

        function onDataVendasChange(objCpf) {
            buscarVendas($(objCpf).val());
            return false;
        }

        function buscarVendas(objCpf) {
            loading();           
            
            $.ajax({
                type: 'POST',
                url: '@Url.Action("VendasCliente", "Cliente")',
                dataType: 'json',
                data: { cpf: objCpf, IdLoja: $("#loja_id").val() },
                success: function (dados) {
                    //$("#tbxQuemEle").val(@ViewBag.QuemEle);

                    $("#tipoClienteDep").val(dados.tipoCliente);
                   

                    RetornaClienteViewState();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
        }
        // Salvar novo Cliente
        $("#btnSalvarNovoCliente").click(function (e) {

            // Salva Cliente Novo
            var validacao = true;
            var lojaId = $("#loja_id").val();
            //if ((lojaId == null || lojaId == '') && validacao) {
            //    $.msg({ content: 'Loja não Selecionada!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
            //    validacao = false;
            //}

            var vendedorId = $("#vendedor_id").val();
            //if ((vendedorId == null || vendedorId == '') && validacao) {
            //    $.msg({ content: 'Vendedor não Selecionada!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
            //    validacao = false;
            //}

            var cpf = $("#cpf").val();
            if ((cpf == null || cpf == '') && validacao) {
                $.msg({ content: 'Cpf não Informado!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
                validacao = false;
            }

            var quemEle = $("#tbxQuemEleNovo").val();

            var infoVendas = $("#tbxInfoVendas").val();
            if ((infoVendas == null || infoVendas == '') && validacao) {
                $.msg({ content: 'Texto Info Vendas não Informado!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
                validacao = false;
            }

            var dataCadastro = $("#dataVenda").val();
            if ((dataCadastro == null || dataCadastro == '') && validacao) {
                $.msg({ content: 'Data Venda não selecionada!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
                validacao = false;
            }

            if (validacao) {
                //loading();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("NovoCliente", "Cliente")',
                    dataType: 'json',
                    data: { lojaId: lojaId, vendedorId: vendedorId, quemEle: quemEle, cpf: cpf, infoVendas: infoVendas, dataCadastro: dataCadastro },
                    success: function () {
                        $.msg({ content: 'Novo Cliente Salvo Com Sucesso!', tipo: 'alert-success', titulo: 'Sucesso', img: 'fa-check' });
                        ListarClienteNovo();
                        CancelarCadastroNovo();
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (ex) {
                        $.unblockUI();
                        TempData["Erro"] = "Ocorreu um erro ao carregar os vendedores.";
                        adicionarErro("Vendedor", "Script Ajax: GetVendedores", ex, TempData["Erro"]);
                    }
                });
                $.unblockUI();
            }
            return false;
        });

        // Excluir novo Cliente
        function ExluirClienteNovo(id) {
            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ExcluirNovoCliente", "Cliente")',
                dataType: 'json',
                data: { id: id },
                success: function () {
                    $.msg({ content: 'Cliente Exluído Com Sucesso!', tipo: 'alert-success', titulo: 'Sucesso', img: 'fa-check' });
                    ListarClienteNovo();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    TempData["Erro"] = "Ocorreu um erro ao carregar os vendedores.";
                    adicionarErro("Vendedor", "Script Ajax: GetVendedores", ex, TempData["Erro"]);
                }
            });
            $.unblockUI();
        }

        // Excluir novo Cliente
        function EditarClienteNovo(id) {
            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("EditarNovoCliente", "Cliente")',
                dataType: 'json',
                data: { id: id },
                success: function (cliente) {
                    $("#tbxInfoVendas").val(cliente.info_vendas);
                    $("#cpf").val(cliente.cpf);
                    $("#nmCliente").text('Cliente Novo');
                    $("#tbxQuemEleNovo").val(cliente.quem_ele);
                    $("#dataVenda").empty();
                    $("#dataVenda").append('<option value="' + cliente.str_data_venda + '">' + cliente.str_data_venda + '</option>');

                    AbrirClienteNovo();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    //TempData["Erro"] = "Ocorreu um erro ao carregar os vendedores.";
                    //adicionarErro("Vendedor", "Script Ajax: GetVendedores", ex, TempData["Erro"]);
                }
            });
            $.unblockUI();
        }

        // Listar novo Cliente
        function ListarClienteNovo() {
            loading();
            $("#listaClientes").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListaClientesNovos", "InfoVendas")',
                dataType: 'json',
                success: function (list) {
                    $.each(list, function (i, item) {
                        $("#listaClientes").append('<tr>');
                        $("#listaClientes").append('<td>' + item.filial + '</td>');
                        $("#listaClientes").append('<td>' + item.vendedor + '</td>');
                        $("#listaClientes").append('<td>' + item.cpf + '</td>');
                        $("#listaClientes").append('<td>' + item.str_data_venda + '</td>');
                        $("#listaClientes").append('<td>' + item.info_vendas + '</td>');
                        $("#listaClientes").append('<td>' + item.quem_ele + '</td>');
                        $("#listaClientes").append('<td class="text-center">' + item.status + '</td>');
                        $("#listaClientes").append('<td><button type="button" onclick="ExluirClienteNovo(' + item.id + ')" name="btnExcluirClienteNovo" class="btn2-gradient red small pull-right"><i class="glyphicon glyphicon-trash"></i></button><button type="submit" name="buttonEditarClienteNovo" class="btn2-gradient blue small pull-right"><i class="glyphicon glyphicon-pencil"></i></button></td>');
                        $("#listaClientes").append('</tr>');
                    });
                    //CancelarCadastroNovo();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    //TempData["Erro"] = "Ocorreu um erro ao carregar os vendedores.";
                    //adicionarErro("Vendedor", "Script Ajax: GetVendedores", ex, TempData["Erro"]);
                }
            });
            $.unblockUI();
        }


        $("#btnCancelar").click(function (e) {
            CancelarCadastroNovo();
        });

        function CancelarCadastroNovo() {
            $("#DivClienteAntigo").show("show");
            $("#DivClienteInexistenteQuest").hide("show");
            $("#DivClienteNovo").hide("show");
            $("#cpf").val('');
            $("#nmCliente").text('-');
            $("#lnkInfoVendas").click();
        }

        $("#btnConfirmar").click(function (e) {
            AbrirClienteNovo();
            $("#tbxQuemEleNovo").val('');
            $("#tbxInfoVendas").val('');
        });


        function AbrirClienteNovo() {
            $("#DivClienteNovo").show("show");
            $("#DivClienteInexistenteQuest").hide("show");
            $("#DivClienteAntigo").hide("show");
        }

        function RetornaClienteViewState() {
            loading();
            
            var cpf = $("#cpf").val();
            
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DadosClienteInfoVendas", "Cliente")',
                dataType: 'json',
                data: { cpf: cpf },
                success: function (cliente) {                    
                    $("#tbxQuemEle").val(cliente.caracteristicas);
                    $("#nmCliente").text(cliente.nome);

                    if (cliente.id == 0) {
                        $("#DivClienteInexistenteQuest").show("show");
                        $("#DivClienteNovo").hide("show");
                        $("#DivClienteAntigo").hide("show");

                        $("#lnkClienteNovo").click();
                    } else {
                        $("#DivClienteAntigo").show("show");
                        $("#DivClienteInexistenteQuest").hide("show");
                        $("#DivClienteNovo").hide("show");

                        $("#lnkInfoVendas").click();
                    }
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    //      TempData["Erro"] = "Ocorreu um erro ao carregar os vendedores.";
                    //    adicionarErro("Vendedor", "Script Ajax: GetVendedores", ex, TempData["Erro"]);
                }
            });
            
            return false;
        }

        $("#listaInfoVendas").DataTable();

        ValidarContato();
        ValidarClienteNovo();

        function ValidarContato() {
            $('#form-validation-info-vendas').bootstrapValidator({
                message: 'This value is not valid',
                excluded: [':disabled', ':hidden', ':not(:visible)'],
                fields: {
                    loja_id: {
                        validators: {
                            notEmpty: {
                                message: 'Seleção da Loja é obrigatória!'
                            }
                        }
                    },
                    vendedor_id: {
                        validators: {
                            notEmpty: {
                                message: 'Seleção do Vendedor é obrigatório!'
                            }
                        }
                    },
                    cpf: {
                        validators: {
                            notEmpty: {
                                message: 'O preenchimento do Cpf é obrigatório!',
                            }
                        }
                    },
                    data_registro: {
                        validators: {
                            notEmpty: {
                                message: 'O preenchimento da data é obrigatório!',
                            }
                        }
                    },
                    info: {
                        validators: {
                            notEmpty: {
                                message: 'O preenchimento do texto é obrigatório!'
                            }
                        }
                    }
                }
            }).on('success.form.bv', function (e, data) {
                loading();
            });
        }

        function ValidarClienteNovo() {
            $('#DivClienteNovo').bootstrapValidator({
                message: 'This value is not valid',
                excluded: [':disabled', ':hidden', ':not(:visible)'],
                fields: {
                    //loja_id: {
                    //    validators: {
                    //        notEmpty: {
                    //            message: 'Seleção da Loja é obrigatória!'
                    //        }
                    //    }
                    //},
                    //vendedor_id: {
                    //    validators: {
                    //        notEmpty: {
                    //            message: 'Seleção do Vendedor é obrigatório!'
                    //        }
                    //    }
                    //},
                    //cpf: {
                    //    validators: {
                    //        notEmpty: {
                    //            message: 'O preenchimento do Cpf é obrigatório!',
                    //        }
                    //    }
                    //},
                    dataVenda: {
                        validators: {
                            notEmpty: {
                                message: 'A seleção da data é obrigatório!',
                            },
                            date: {
                                format: 'DD/MM/YYYY 00:00:00',
                                message: 'Está data é inválida!'
                            }
                        }
                    },
                    tbxInfoVendas: {
                        validators: {
                            notEmpty: {
                                message: 'O preenchimento do texto Info Vendas é obrigatório!'
                            }
                        }
                    }
                }
            }).on('success.form.bv', function (e, data) {


            });
        }
    </script>
}
