﻿<!doctype html>
<html lang="en" dir="ltr">

<!-- Mirrored from www.spruko.com/demo/uplor/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Nov 2018 16:25:14 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#0f75ff">
    <meta name="theme-color" content="#2ddcd3">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <!-- Title -->
    <title>Rsv NextNow</title>
    <link rel="stylesheet" href="assets/fonts/fonts/font-awesome.min.css">
    <!-- Font Family-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- Sidemenu Css -->
    <link href="assets/plugins/fullside-menu/css/style.css" rel="stylesheet" />
    <link href="assets/plugins/fullside-menu/waves.min.css" rel="stylesheet" />
    <!-- Bootstrap Css -->
    <link href="assets/plugins/bootstrap-4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Dashboard Css -->
    <link href="assets/css/dashboard.css" rel="stylesheet" />
    <!-- JQVMap -->
    <link href="assets/plugins/jqvmap/jqvmap.min.css" rel="stylesheet" />
    <!-- Morris.js Charts Plugin -->
    <link href="assets/plugins/morris/morris.css" rel="stylesheet" />
    <!-- Custom scroll bar css-->
    <link href="assets/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <!---Font icons-->
    <link href="assets/plugins/iconfonts/plugin.css" rel="stylesheet" />
    <link href="assets/plugins/sweet-alert/sweetalert.css" rel="stylesheet" />

</head>
<body>
    <div id="loading"></div>
    <div class="page">
        <div class="page-main">
            <div class="app-header1 header py-1 d-flex">
                <div class="container-fluid">
                    <div class="d-flex">
                        <a class="header-brand" href="index.html">
                            <img src="assets/images/brand/logo.png" class="header-brand-img" alt="Uplor  logo">
                        </a>
                        <div class="menu-toggle-button">
                            <a class="nav-link wave-effect" href="#" id="sidebarCollapse">
                                <span class="fa fa-bars"></span>
                            </a>
                        </div>
                        <div>
                            <div class="searching">
                                <a href="javascript:void(0)" class="search-open searching1">
                                    <i class="fa fa-search"></i>
                                </a>
                                <div class="search-inline">
                                    <form>
                                        <input type="text" class="form-control" placeholder="Searching...">
                                        <button type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <a href="javascript:void(0)" class="search-close">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex order-lg-2 ml-auto">
                            <div class="dropdown d-none d-md-flex">
                                <a class="nav-link icon full-screen-link">
                                    <i class="fe fe-maximize floating" id="fullscreen-button"></i>
                                </a>
                            </div>
                            <div class="d-none d-md-flex country-selector">
                                <a href="@Url.Action("Index", "FilaVez")" class="d-flex nav-link leading-none">                                   
                                    <div>
                                        <strong class="text-white">Fila da Vez</strong>
                                    </div>
                                </a>
                            </div>
                            <div class="dropdown d-none d-md-flex">
                                <a class="nav-link icon" data-toggle="dropdown">
                                    <i class="fa fa-bell-o floating"></i>
                                    <span class=" nav-unread badge badge-danger  badge-pill">4</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a href="#" class="dropdown-item text-center">You have 4 notification</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <div class="notifyimg">
                                            <i class="fa fa-envelope-o"></i>
                                        </div>
                                        <div>
                                            <strong>2 new Messages</strong>
                                            <div class="small text-muted">17:50 Pm</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <div class="notifyimg">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <div>
                                            <strong> 1 Event Soon</strong>
                                            <div class="small text-muted">19-10-2018</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <div class="notifyimg">
                                            <i class="fa fa-comment-o"></i>
                                        </div>
                                        <div>
                                            <strong> 3 new Comments</strong>
                                            <div class="small text-muted">05:34 Am</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <div class="notifyimg">
                                            <i class="fa fa-exclamation-triangle"></i>
                                        </div>
                                        <div>
                                            <strong> Application Error</strong>
                                            <div class="small text-muted">13:45 Pm</div>
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item text-center">See all Notification</a>
                                </div>
                            </div>
                            <div class="dropdown d-none d-md-flex">
                                <a class="nav-link icon" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o floating"></i>
                                    <span class=" nav-unread badge badge-warning  badge-pill">3</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <img src="assets/images/faces/male/41.jpg" alt="avatar-img" class="avatar brround mr-3 align-self-center">
                                        <div>
                                            <strong>Blake</strong> I've finished it! See you so.......
                                            <div class="small text-muted">30 mins ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <img src="assets/images/faces/female/1.jpg" alt="avatar-img" class="avatar brround mr-3 align-self-center">
                                        <div>
                                            <strong>Caroline</strong> Just see the my Admin....
                                            <div class="small text-muted">12 mins ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <img src="assets/images/faces/male/18.jpg" alt="avatar-img" class="avatar brround mr-3 align-self-center">
                                        <div>
                                            <strong>Jonathan</strong> Hi! I'am singer......
                                            <div class="small text-muted">1 hour ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <img src="assets/images/faces/female/18.jpg" alt="avatar-img" class="avatar brround mr-3 align-self-center">
                                        <div>
                                            <strong>Emily</strong> Just a reminder that you have.....
                                            <div class="small text-muted">45 mins ago</div>
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item text-center">View all Messages</a>
                                </div>
                            </div>
                            <div class="dropdown d-none d-md-flex">
                                <a class="nav-link icon" data-toggle="dropdown">
                                    <i class="fe fe-grid floating"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow  app-selector">
                                    <ul class="drop-icon-wrap">
                                        <li>
                                            <a href="#" class="drop-icon-item">
                                                <i class="si si-envelope text-dark"></i>
                                                <span class="block"> E-mail</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="drop-icon-item">
                                                <i class="si si-map text-dark"></i>
                                                <span class="block">map</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="drop-icon-item">
                                                <i class="si si-bubbles text-dark"></i>
                                                <span class="block">Messages</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="drop-icon-item">
                                                <i class="si si-user-follow text-dark"></i>
                                                <span class="block">Followers</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="drop-icon-item">
                                                <i class="si si-picture text-dark"></i>
                                                <span class="block">Photos</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="drop-icon-item">
                                                <i class="si si-settings text-dark"></i>
                                                <span class="block">Settings</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item text-center">View all</a>
                                </div>
                            </div>
                            <div class="dropdown ">
                                <a href="#" class="nav-link pr-0 leading-none user-img" data-toggle="dropdown">
                                    <img src="assets/images/faces/male/25.jpg" alt="profile-img" class="avatar avatar-md brround">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow ">
                                    <a class="dropdown-item" href="profile.html">
                                        <i class="dropdown-icon si si-user"></i> My Profile
                                    </a>
                                    <a class="dropdown-item" href="emailservices.html">
                                        <i class="dropdown-icon si si-envelope"></i> Inbox
                                    </a>
                                    <a class="dropdown-item" href="editprofile.html">
                                        <i class="dropdown-icon  si si-settings"></i> Account Settings
                                    </a>
                                    <a class="dropdown-item" href="login.html">
                                        <i class="dropdown-icon si si-power"></i> Log out
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <!-- Sidebar Holder -->
                <nav id="sidebar" class="nav-sidebar">
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="assets/images/reserva.jpg" alt="..." class="img-circle profile_img">
                            <a href="editprofile.html" class="profile-img">
                                <span class="fa fa-pencil" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="profile_info">
                            <h2>RIO SUL</h2>
                            <span>Loja</span>
                        </div>
                    </div>
                    <ul class="list-unstyled components" id="accordion">
                        <li class="border-0"><h3>Menu</h3>
                        <li>
                        <li>
                            
                            <a href="@Url.Action("Index", "Dashboard")" class=" wave-effect accordion-toggle"><i class="fa fa-television mr-2 sidebarlightgreen"></i>  Dashboard</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Dashboard", "Index")" class=" wave-effect accordion-toggle"><i class="fa fa-file-text mr-2 sidebarlightgreen"></i>  Relatórios</a>
                        </li>
                    </ul>
                    <div class="sidebar-footer hidden-small">
                        <a href="emailservices.html">
                            <span class="fa fa-envelope" aria-hidden="true"></span>
                        </a>
                        <a href="profile.html">
                            <span class="fa fa-user" aria-hidden="true"></span>
                        </a>
                        <a href="editprofile.html">
                            <span class="fa fa-cog" aria-hidden="true"></span>
                        </a>
                        <a href="login.html">
                            <span class="fa fa-sign-in" aria-hidden="true"></span>
                        </a>
                        <a href="chat.html">
                            <span class="fa fa-comment" aria-hidden="true"></span>
                        </a>
                    </div>
                </nav>
                <div class=" content-area ">
                    @*<div class="page-header">
                            <h4 class="page-title">Dashboard 01</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>
                            </ol>
                        </div>*@
                    @RenderBody()

                </div>
            </div>
        </div>
        <!--footer-->
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-md-12 col-sm-12 mt-3 mt-lg-0 text-center">
                        Copyright © 2018 <a href="#">Uplor </a>. Designed by <a href="#">Spruko</a> All rights reserved.
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer-->
    </div>
    <!-- Back to top -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- Dashboard Core -->
    <script src="assets/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="assets/plugins/bootstrap-4.1.3/popper.min.js"></script>
    <script src="assets/plugins/bootstrap-4.1.3/js/bootstrap.min.js"></script>
    <script src="assets/js/vendors/jquery.sparkline.min.js"></script>
    <script src="assets/js/vendors/selectize.min.js"></script>
    <script src="assets/js/vendors/jquery.tablesorter.min.js"></script>
    <script src="assets/js/vendors/circle-progress.min.js"></script>
    <script src="assets/plugins/rating/jquery.rating-stars.js"></script>
    <!-- Fullside-menu Js-->
    <script src="assets/plugins/fullside-menu/jquery.slimscroll.min.js"></script>
    <script src="assets/plugins/fullside-menu/waves.min.js"></script>
    <!-- Chart.js -->
    <script src="assets/plugins/Chart.js/Chart.js"></script>
    <!--Counters -->
    <script src="assets/plugins/counters/counterup.min.js"></script>
    <script src="assets/plugins/counters/waypoints.min.js"></script>
    <!--Morris.js Charts Plugin -->
    <script src="assets/plugins/morris/raphael-min.js"></script>
    <script src="assets/plugins/morris/morris.js"></script>
    <!-- Custom scroll bar Js-->
    <script src="assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- JQVMap -->
    <script src="assets/plugins/jqvmap/jquery.vmap.js"></script>
    <script src="assets/plugins/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="assets/plugins/jqvmap/jquery.vmap.sampledata.js"></script>
    <script src="assets/plugins/echarts/echarts.js"></script>
    <script src="assets/js/index1.js"></script>

    <!-- Sweet alert Plugin -->
    <script src="assets/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="assets/js/sweet-alert.js"></script>

    <!-- Custom Js-->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/jqvmap.js"></script>
    <script src="assets/js/chartbundle.js"></script>
    <!--Counters js-->
    <script>$('.count').countUp();</script>
    @RenderSection("Scripts", false)
</body>
<!-- Mirrored from www.spruko.com/demo/uplor/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Nov 2018 16:26:19 GMT -->
</html>















