﻿@model Now.Models.LoginModel

@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Now</title>
    @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="@Url.Content("~/bootstrap/css/bootstrap.min.css")">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/dist/css/AdminLTE_3.min.css")">
    <!-- iCheck -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/iCheck/square/blue.css")">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <img src="@Url.Content("~/Images/LogoNOW.png")" />
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Entre com os dados de acesso!</p>

            @using (Ajax.BeginForm("Login", "loginModel", new AjaxOptions
            {
                HttpMethod = "POST",
            }, new { @class = "form-validation" }))
            {                
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @type = "email", @placeholder = "Email" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @type = "password", @placeholder = "Senha" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox">
                                Lembrar
           
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat loading">Entrar</button>
                    </div>
                    <!-- /.col -->
                </div>
            }
            <!-- /.social-auth-links -->

            <a href="#">Não sei minha senha</a><br>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->



    @*<h2>Use a local account to log in.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}*@

</body>

<!-- jQuery 2.2.0 -->
<script src="@Url.Content("~/plugins/jQuery/jQuery-2.2.0.min.js")"></script>
<!-- Bootstrap 3.3.6 -->
<script src="@Url.Content("~/bootstrap/js/bootstrap.min.js")"></script>
<!-- iCheck -->
<script src="@Url.Content("~/plugins/iCheck/icheck.min.js")"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });


    $(".loading").click(function () {
        loading();
    });

    function loading() {
            @*$.blockUI({ message: '<h1 class="text-muted" ondblclick="$.unblockUI();"><img src="@Url.Content("~/Images/LogoNow.png")" /><br><img src="@Url.Content("~/Images/loadingReserva.gif")" /><br>Aguarde um momento...</h1>' });*@
        $.blockUI({ message: '<h1 class="text-muted" ondblclick="$.unblockUI();"><img src="@Url.Content("~/Images/loadingReserva2.gif")" /><br>Aguarde um momento...</h1>' });
    }

    document.onreadystatechange = function () {
        var state = document.readyState;
        if (state == 'complete') {
            $.unblockUI();
        }
    }
</script>
</html>

