﻿@using Now.Domain;

@{
    ViewBag.Title = "Distribuição Agenda";
}
<input type="hidden" value="0" id="acessoDistribuicao" />
<div class="row" id="pnlLogin">
    <div class="login-box">
        <div class="login-logo">
            <a href="@Url.Action("Index", "Dashboard")"><b>Acesso </b>GERENCIAL</a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Entre com os dados de acesso</p>

            <form action="../../index2.html" method="post">
                <div class="form-group has-feedback">
                    @Html.TextBox("usuario", (string)ViewBag.EmailGerente, new { @class = "form-control", @placeholder = "Usuário" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.TextBox("senha", "", new { @class = "form-control", @type = "password", @placeholder = "Senha" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-6">     
                        <a href="#" class="text-center pull-left" onclick="DistribuicaoSenha()" ><i class="fa fa-refresh"></i> <b>Nova Senha</b></a>                                       
                    </div>
                    <div class="col-xs-6">
                        <button class="btn2-gradient btn-primary btnLoginDistribuicao pull-right text-uppercase text-bold" type="button"><i class="fa fa-key"></i> <b>Entrar</b></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row" style="display:none" id="pnlDistribuicao">
    <div class="col-md-8">
        @foreach (Vendedor item in ((IList<Vendedor>)ViewBag.ListaVendedores).ToList())
            {
                string srcImg2 = "";
                if (!String.IsNullOrEmpty(item.img_perfil_intranet))
                {
                    srcImg2 = "http://usereserva.dyndns.org:82/Intranet/images/fotosVendedores/" + item.img_perfil_intranet;
                }
                else
                {
                    srcImg2 = Url.Content("~" + (String.IsNullOrEmpty(item.img_perfil) ? "/dist/img/user_photo.png" : (File.Exists(Server.MapPath(item.img_perfil)) ? item.img_perfil : "/dist/img/user_photo.png")));
                }

                <div class="col-md-6">
                    <div class="box box-widget widget-user-2" id="box_@item.id.ToString()">
                        <div class="widget-user-header @(item.perfil == "Gerente" ? "bg-yellow-gradient" : "bg-gray-gradient")">
                            <div class="widget-user-image">
                                <img alt="" src="@srcImg2" class="img-circle" onerror="this.src = '@Url.Content("~/dist/img/user_photo.png")'" style="cursor:pointer" onclick="SelecionarVendedor(@item.id.ToString(), '@srcImg2', '@item.nome', '@(String.IsNullOrEmpty(item.perfil) ? "Vendedor" : item.perfil)', @Html.Raw(Json.Encode(((IList<Agendamento>)ViewBag.Agendas).Where(x => x.vendedor_id == @item.id).ToList())))">
                            </div>
                            <h3 class="widget-user-username">@item.nome</h3>
                            <h5 class="widget-user-desc">@(String.IsNullOrEmpty(item.perfil) ? "Vendedor" : item.perfil)</h5>
                        </div>
                        <div class="box-footer no-padding scroll300">

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Agenda</th>
                                        <th>Efetividade</th>
                                        <th></th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody id="tbClientes_@item.id.ToString()">
                                    @foreach (Agendamento agenda in ((IList<Agendamento>)ViewBag.Agendas).Where(x => x.vendedor_id == @item.id).OrderByDescending(d => d.valor_venda).ToList())
                                    {
                                        <tr id="antiga_@agenda.cliente_id@agenda.vendedor_id">
                                            <td>@agenda.nome</td>
                                            <td>@agenda.titulo_tipo_agendamento</td>
                                            <td>@agenda.valor_venda</td>
                                            <td><span class="label bg-blue-gradient">INFO</span></td>
                                            <td><a href="#" class="transferir" onclick="Transferir(@agenda.cliente_id, @agenda.tipo_agendamento_id, @agenda.vendedor_id, '@agenda.nome', '@agenda.titulo_tipo_agendamento', '@agenda.valor_venda', '@agenda.cliente_id@agenda.vendedor_id'); return false;" style="display:none"><span class="label label-success">TRANSFERIR</span></a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer no-padding">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <br />
                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item">
                                        <b>Total de Clientes</b> <a class="pull-right">@(((IList<Agendamento>)ViewBag.Agendas).Where(x => x.vendedor_id == @item.id).ToList().Count())</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        }
    </div>
    <div class="col-md-4">
        <input type="hidden" id="vendedorSelecionado" value="">
        <div class="box box-widget" id="boxVendedorLog" style="display:none">
            <div class="box-header with-border">
                <div class="user-block">
                    <img class="img-circle" src="../dist/img/user1-128x128.jpg" id="imgLogSelecionado" alt="User Image">
                    <span class="username"><a href="#" id="lkNomeVendedor"></a></span>
                    <span class="description" id="perfilVendedor"></span>
                </div>
                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="remove" onclick="FecharSelecao()"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body scroll400">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Agenda</th>
                            <th>Efetividade</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="tbClientesLog"></tbody>
                </table>

            </div>

            <div class="box-footer">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <br />
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Total de Clientes</b> <a class="pull-right" id="totCliente"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box box-solid" id="LogVendedorSelecionado">
            <div class="box-body">
                <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                    LOG DE TRANSFERÊNCIA DO DIA
                </h4>
                <div class="media scroll400">
                    <div class="box-body" id="boxlog">

                    </div>
                </div>
                <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 10px;">
                    O botão desfazer só será habilitado se o cliente não for contatado.
                </h4>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function callback() {
            setTimeout(function () {
                $("#effect").removeAttr("style").hide().fadeIn();
            }, 1000);
        }

        function SelecionarVendedor(idvendedor, srcVendedor, nome, perfil, listClientes) {
            $("#LogVendedorSelecionado").fadeOut();

            // Efeito('blind', $("#boxVendedorLog"));

            $("#boxVendedorLog").show("blind", { direction: "horizontal" }, 1000);

            $("#imgLogSelecionado").attr('src', srcVendedor);
            $("#lkNomeVendedor").html(nome);
            $("#perfilVendedor").html(perfil);

            var _tbLog = '';
            $.each(listClientes, function (i, item) {
                _tbLog += '<tr>';
                _tbLog += '<td>' + item.nome + '</td>';
                _tbLog += '<td>' + item.titulo_tipo_agendamento + '</td>';
                _tbLog += '<td>' + item.valor_venda + '</td>';
                _tbLog += '<td></td>';
                _tbLog += '<td></td>';
                //_tbLog += '<td> <a href="#" class="pull-right" ><i class="fa fa-times"></i></a></td>';
                _tbLog += '</tr>';
            });

            $("#tbClientesLog").html(_tbLog);

            $('div').unblock();
            $('#box_' + idvendedor).block({
                message: '<h1><span id="spClientes">0</span></h1><h2>Clientes Adicionados</h2>',
                css: {
                    width: '350px',
                    top: '10px',
                    left: '',
                    right: '10px',
                    border: 'none',
                    padding: '5px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .6,
                    color: '#fff'
                }
            });

            $('#vendedorSelecionado').val(idvendedor);

            //Efeito('fade', $(".transferir"));

            $(".transferir").fadeIn();

            //$("#box_"+ idvendedor).hide();

        }

        function SalvarLogDistribuicao(clienteId, agendaId, vendedorIdOrigem, vendedorIdDestino, nome, agenda, valor, nomeLinhaExcluir) {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SalvarLogDistribuicao", "DistribuicaoAgenda")',
                dataType: 'json',
                data: { idLog: '', clienteId: clienteId, agendaId: agendaId, vendedorIdOrigem: vendedorIdOrigem, vendedorIdDestino: vendedorIdDestino },
                success: function (result) {
                    if (result.success) {
                        ListarLog(result.dados, result.mensagem);

                        // Inserir Linha de Transferencia
                        var _tbLogNova = '';
                        _tbLogNova += '<tr class="nova_' + nomeLinhaExcluir + '">';
                        _tbLogNova += '<td>' + nome + '</td>';
                        _tbLogNova += '<td>' + agenda + '</td>';
                        _tbLogNova += '<td>' + valor + '</td>';
                        _tbLogNova += '<td><span class="label bg-green-gradient">TRANSFERIDO</span></td>';
                        _tbLogNova += '</tr>';
                        $("#tbClientesLog").html($("#tbClientesLog").html() + _tbLogNova);
                        $("#antiga_" + nomeLinhaExcluir).hide();
                        $("#tbClientes_" + $('#vendedorSelecionado').val()).html($("#tbClientes_" + $('#vendedorSelecionado').val()).html() + _tbLogNova);

                        $("#spClientes").html(parseInt($("#spClientes").html()) + 1);
                    }

                },
                complete: function () {

                },
                error: function (ex) {
                    SessaoAtiva();
                }
            });
            return false;
        }

        ListarLog();

        function ListarLog() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListarLog", "DistribuicaoAgenda")',
                dataType: 'json',
                success: function (result) {
                    if (result.success) {
                        ListarLog(result.dados, '');
                    }
                },
                complete: function () {

                },
                error: function (ex) {
                    SessaoAtiva();
                }
            });
        }

        function CancelarTransferencia(idLog, idvendedorDestino) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CancelarTransferencia", "DistribuicaoAgenda")',
                dataType: 'json',
                data: { idLog: idLog },
                success: function (result) {
                    if (result.success) {
                        ListarLog(result.dados, result.mensagem);

                        // Inserir Linha de Transferencia
                        //var _tbLogNova = '';
                        //_tbLogNova += '<tr class="nova_' + result.entityExcluido.cliente_id + '' + result.entityExcluido.tipo_agendamento_id + '">';
                        //_tbLogNova += '<td>' + nome + '</td>';
                        //_tbLogNova += '<td>' + agenda + '</td>';
                        //_tbLogNova += '<td>' + valor + '</td>';
                        //_tbLogNova += '<td><span class="label bg-green-gradient">TRANSFERIDO</span></td>';
                        //_tbLogNova += '</tr>';
                        //$("#tbClientesLog").html($("#tbClientesLog").html() + _tbLogNova);

                        //$("#antiga_" + nomeLinhaExcluir).hide();
                        //$("#tbClientes_" + $('#vendedorSelecionado').val()).html($("#tbClientes_" + $('#vendedorSelecionado').val()).html() + _tbLogNova);

                        //$("#spClientes").html(parseInt($("#spClientes").html()) + 1);

                        ExcluirTransferir(result.entityExcluido.cliente_id + '' + result.entityExcluido.tipo_agendamento_id, result.listAgendaOrigem, result.listAgendaDestino, idvendedorDestino);
                    }
                },
                complete: function () {

                },
                error: function (ex) {
                    SessaoAtiva();
                }
            });
            return false;
        }


        function FecharSelecao() {
            $("#LogVendedorSelecionado").fadeIn();
            $('div').unblock();
            $('#vendedorSelecionado').val('');
            $(".transferir").hide();
        }

        function Transferir(clienteId, agendaId, vendedorIdOrigem, nome, agenda, valor, nomeLinhaExcluir) {

            SalvarLogDistribuicao(clienteId, agendaId, vendedorIdOrigem, $('#vendedorSelecionado').val(), nome, agenda, valor, nomeLinhaExcluir);

        }

        function ListarLog(list, msg) {

            $('#LogVendedorSelecionado').block({
                message: '<h2>' + msg + '</h2>',
                css: {
                    width: '350px',
                    top: '10px',
                    left: '',
                    right: '10px',
                    border: 'none',
                    padding: '5px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .6,
                    color: '#fff'
                }
            });

            var _tbLog = '';
            $.each(list, function (i, item) {
                _tbLog += '<div class="attachment-block clearfix" style="background:' + (item.status.indexOf("CANCELADO") > -1 ? '#ffeeee' : '#eefff5') + '!important;">';
                _tbLog += '<div class="attachment-pushed" style="margin-left: 0px!important;">';
                _tbLog += '<h4 class="attachment-heading"><a href="#">' + item.cpf + ' - ' + item.cliente_nome + '</a></h4>';
                _tbLog += '<div class="attachment-text">';
                _tbLog += 'O cliente que está na agenda <b>' + item.nome_agenda + '</b> foi transferido do vendedor <b>' + item.nome_vendedor_origem + '</b> para o vendedor <b>' + item.nome_vendedor_destino + '</b>';
                _tbLog += '</div>';
                _tbLog += '</div>';
                _tbLog += '</div>';
                _tbLog += '<span class="pull-right ' + (item.status.indexOf("CANCELADO") > -1 ? 'text-red' : 'text-green') + '">' + item.status + '</span> <span class="pull-right text-muted">' + item.data_formatada + ' - </span> ' + (item.status.indexOf("CANCELADO") > -1 ? '' : '<a href="#" onclick="CancelarTransferencia(' + item.id + ', ' + item.vendedor_id_destino + '); return false;"><span class="label bg-red-gradient">CANCELAR</span></a>') + ' <br><br>';
            });

            $("#boxlog").html(_tbLog);

            setTimeout(function () { $('#LogVendedorSelecionado').unblock(); }, 1200);

        }

        function ExcluirTransferir(nomeLinhaExcluir, listAgendaOrigem, listAgendaDestino, idvendedorDestino) {

            //var _tbLogOriginal = '';
            //_tbLogOriginal += '<tr id="' + nomeLinhaExcluir + '">';
            //_tbLogOriginal += '<td>' + nome + '</td>';
            //_tbLogOriginal += '<td>' + agenda + '</td>';
            //_tbLogOriginal += '<td>' + valor + '</td>';
            //_tbLogOriginal += '<td><span class="label bg-blue-gradient">INFO</span></td>';
            //_tbLogOriginal += '<td> <a href="#" class="pull-right" ><i class="fa fa-times"></i></a></td>';
            //_tbLogOriginal += '</tr>';

            //$("#tbClientes").html($("#tbClientes").html() + _tbLogOriginal);

            // $("#tbClientes_" + vendedorIdOrigem).html('');

            AtualizarBoxVendedor(listAgendaOrigem, listAgendaDestino, idvendedorDestino)

            $(".nova_" + nomeLinhaExcluir).remove();
            $("#antiga_" + nomeLinhaExcluir).show();

            $("#spClientes").html(parseInt($("#spClientes").html()) - 1);

            //var _tbLog = '';
            //_tbLog += '<tr>';
            //_tbLog += '<td>' + nome + '</td>';
            //_tbLog += '<td>' + agenda + '</td>';
            //_tbLog += '<td>' + valor + '</td>';
            //_tbLog += '<td><span class="label bg-blue-gradient">INFO</span></td>';
            //_tbLog += '<td> <a href="#" class="pull-right" ><i class="fa fa-times"></i></a></td>';
            //_tbLog += '</tr>';
            //$("#tbClientesLog").html($("#tbClientesLog").html() + _tbLog);
            //$("#" + nomeLinhaExcluir).hide();

        }

        function AtualizarBoxVendedor(listAgendaOrigem, listAgendaDestino, idvendedorDestino) {
            var _tbOrigem = '';
            var vendedorIdOrigem = 0;
            $.each(listAgendaOrigem, function (i, item) {

                _tbOrigem += '<tr id="antiga_' + item.cliente_id + '' + item.vendedor_id + '">';
                _tbOrigem += '<td>' + item.nome + '</td>';
                _tbOrigem += '<td>' + item.titulo_tipo_agendamento + '</td>';
                _tbOrigem += '<td>' + item.valor_venda + '</td>';
                _tbOrigem += '<td><span class="label bg-blue-gradient">INFO</span></td>';
                _tbOrigem += '<td><a href="#" class="transferir" onclick="Transferir(' + item.cliente_id + ', ' + item.tipo_agendamento_id + ', ' + item.vendedor_id + ', ' + item.nome + ', ' + item.titulo_tipo_agendamento + ', ' + item.valor_venda + ', ' + item.cliente_id + '' + item.vendedor_id + '); return false;" style="display:none"><span class="label label-success">TRANSFERIR</span></a></td>';
                _tbOrigem += '</tr>';

                vendedorIdOrigem = item.vendedor_id;
            });

            $("#tbClientes_" + vendedorIdOrigem).html(_tbOrigem);

            var _tbDestino = '';
            var vendedorIdDestino = idvendedorDestino;
            $.each(listAgendaDestino, function (i, item) {

                _tbDestino += '<tr id="antiga_' + item.cliente_id + '' + item.vendedor_id + '">';
                _tbDestino += '<td>' + item.nome + '</td>';
                _tbDestino += '<td>' + item.titulo_tipo_agendamento + '</td>';
                _tbDestino += '<td>' + item.valor_venda + '</td>';
                _tbDestino += '<td><span class="label bg-blue-gradient">INFO</span></td>';
                _tbDestino += '<td><a href="#" class="transferir" onclick="Transferir(' + item.cliente_id + ', ' + item.tipo_agendamento_id + ', ' + item.vendedor_id + ', ' + item.nome + ', ' + item.titulo_tipo_agendamento + ', ' + item.valor_venda + ', ' + item.cliente_id + '' + item.vendedor_id + '); return false;" style="display:none"><span class="label label-success">TRANSFERIR</span></a></td>';
                _tbDestino += '</tr>';

                vendedorIdDestino = item.vendedor_id;
            });

            $("#tbClientes_" + vendedorIdDestino).html(_tbDestino);
        }

        function Efeito(efeito, obj) {
            var selectedEffect = efeito;
            var options = {};
            // some effects have required parameters
            if (selectedEffect === "scale") {
                options = { percent: 50 };
            } else if (selectedEffect === "transfer") {
                options = { to: "#button", className: "ui-effects-transfer" };
            } else if (selectedEffect === "size") {
                options = { to: { width: 200, height: 60 } };
            }

            obj.show();

            obj.effect(selectedEffect, options, 1000, callback);
        }

        SistemaLiberado();

        function SistemaLiberado()
        {
            if ($("#acessoDistribuicao").val() == '1')
            {
                $("#pnlLogin").fadeOut();
                $("#pnlDistribuicao").fadeIn();                
            }
                else
            {
                $("#pnlLogin").fadeIn();
                $("#pnlDistribuicao").fadeOut();
            }                        
        }


        $(".btnLoginDistribuicao").click(function (e) {
            loading();
            var pwd = $("#senha").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoginAcessoDistribuicao", "DistribuicaoAgenda")',
                dataType: 'json',
                data: { pwd: pwd },
                success: function (result) {
                    if (result.success) {
                        $("#acessoDistribuicao").val('1');
                        $("#pnlLogin").fadeOut();
                        $("#pnlDistribuicao").fadeIn();
                    } else {
                        $.msg({ content: '' + result.mensagem + '', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
                    }
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    SessaoAtiva();
                    $.unblockUI();
                }
            });
            return false;
        });

        function DistribuicaoSenha() {
            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GerarSenhaDistribuicao", "DistribuicaoAgenda")',
                dataType: 'json',
                success: function (result) {
                    if (result.success) {
                        $.msg({ content: '' + result.mensagem + '', tipo: 'alert-success', titulo: 'Sucesso', img: 'fa-check' });                        
                    }
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    SessaoAtiva();
                    $.unblockUI();
                }
            });

            return false;
        }





    </script>
}
