﻿@using Now.Controllers.DTO;
@using Now.Domain;

@model VendedorDashBoardDTO

@{
    int count = 0;
}

@*<script src="https://code.jquery.com/jquery-2.2.4.js"
    integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
    crossorigin="anonymous"></script>*@
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.2.4.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/plugins/jQueryUI/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/angular.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/angular-route.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Vendedor/vendedor.Module.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Vendedor/vendedor.Controller.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/firebase.app.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/firebase.database.js")"></script>

<input type="hidden" id="vendedorId" value="@Model.id.ToString()" />
<input type="hidden" id="lojaId" value="@Model.loja_id.ToString()" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div style="float: left;margin-bottom: 30px;margin-right: 215px; margin-top: -30px;" ng-controller="vendedorController" class="ng-scope">

    <div style="width: 100%;float:left;margin-top: 15px;" class="clearfix">
        <div class="card-dashboard-vendedor light-red">
            <div class="card-dashboard-vendedor-texto ">Contatos feitos hoje</div>
            <div class="card-dashboard-vendedor-contatos">
                <i class="fa fa-phone card-dashboard-icon-top" aria-hidden="true"></i>
                <div class="card-dashboard-contato-pendente">/@Model.QtdLigacaoesDisponiveis</div>
                <div class="card-dashboard-contato-feitos cont-feito-min">@Model.QtdLigacaoesFeitas</div>
            </div>
        </div>
        <div class="card-dashboard-vendedor">
            <div class="card-dashboard-vendedor-texto ">Nr. de cuecas vendidas mês</div>
            <div class="card-dashboard-vendedor-contatos">
                <i class="fa fa-line-chart card-dashboard-icon-top" aria-hidden="true"></i>
                <div class="card-dashboard-contato-feitos ng-cloak" id="">{{ ::vendedor.qtd_cuecas_vendidas}}</div>
            </div>
        </div>
        <div class="card-dashboard-vendedor">
            <div class="card-dashboard-vendedor-texto ">Taxa de conversão hoje</div>
            <div class="card-dashboard-vendedor-contatos">
                <i class="fa fa-percent card-dashboard-icon-top" aria-hidden="true"></i>
                <div class="card-dashboard-contato-feitos">1%</div>
            </div>
        </div>
        <div class="card-dashboard-vendedor">
            <div style="width: 45%;float:left;">
                <div class="card-dashboard-vendedor-texto">APP Reserva</div>
                <div class="card-dashboard-vendedor-contatos" style="    width: 95%;text-align: left;font-size: 20pt;">
                    <div class="card-dashboard-contato-feitos ng-cloak">{{ vendedor.vendedor_id}}</div>
                </div>
            </div>
            <div style="width: 45%;float:right;">
                <div class="card-dashboard-vendedor-texto">Venda Instagram</div>
                <div class="card-dashboard-vendedor-contatos" style="    width: 95%;text-align: left;font-size: 20pt;">
                    <div class="card-dashboard-contato-feitos ng-cloak">R$ 0,00</div>
                </div>
            </div>
            <div style="width: 45%;float:left;">
                <div class="card-dashboard-vendedor-texto">Reservado Online</div>
                <div class="card-dashboard-vendedor-contatos" style="    width: 95%;text-align: left;font-size: 20pt;">
                    <div class="card-dashboard-contato-feitos ng-cloak">R$ 0,00</div>
                </div>
            </div>
            <div style="width: 45%;float:right;">
                <div class="card-dashboard-vendedor-texto">Whatsapp Ecomm</div>
                <div class="card-dashboard-vendedor-contatos" style="    width: 95%;text-align: left;font-size: 20pt;">
                    <div class="card-dashboard-contato-feitos ng-cloak">R$ 0,00</div>
                </div>
            </div>
            @*<div class="card-dashboard-vendedor-valor">
                    <div>Comissão</div>
                    <div class="area-valor-dados-aplicativo">R$ 2.895</div>
                </div>*@
        </div>

    </div>


    <div class="area-vendas-meta clearfix" style="height:285px;">
        <div class="card-dashboard-vendedor-texto titulo-dash">Vendas de hoje</div>
        <div class="card-dashboard-vendedor-valor-central ng-cloak" id="vendas_hoje">{{ ::vendedor.vendas_hoje  | currency : 'R$ ' : 0 | replace: ',':'.'}}</div>
        <div class="area-inferior-dados">
            <div class="area-inferior-venda">
                <div class="card-dashboard-vendedor-texto">Meta de hoje</div>
                <div class="card-dashboard-vendedor-valor-nova ng-cloak" style="text-align:left" id="meta_valor_dia">{{ ::vendedor.meta_valor_dia  | currency : 'R$ ' : 0 | replace: ',':'.'}}</div>
            </div>
            <div class="area-inferior-pa">
                <div class="card-dashboard-vendedor-texto">P.A. de hoje</div>
                <div class="card-dashboard-vendedor-valor-nova red-card ng-cloak" id="pa_hoje">{{ ::vendedor.pa_hoje}}</div>
            </div>
            <div class="area-inferior-dash">
                <div class="area-inferior-venda">
                    <div class="card-dashboard-vendedor-texto">Vendas corner hoje</div>
                    <div class="card-dashboard-vendedor-valor-nova ng-cloak" id="valorCorner" style="text-align:left">{{ :: vendedor.valorCorner | currency:'R$ ':true | replace: ',':'.'}}</div>
                </div>
                <div class="area-inferior-pa">
                    <div class="card-dashboard-vendedor-texto">V.M de hoje</div>
                    <div class="card-dashboard-vendedor-valor-nova ng-cloak" id="vm_hoje">{{ ::vendedor.vm_hoje | currency:'R$ ': 0  | replace: ',':'.'}}</div>
                </div>
            </div>
            <div class="card-dashboard-vendido-dia-total  ng-cloak">
                <div class="card-dashboard-vendido-dia" ng-class="{'yellow-card' : vendedor.PercentualDiario >= 50, 'red-card' : vendedor.PercentualDiario < 49}" ng-style="{width: vendedor.PercentualDiario + '%'}"></div>
                <div class="percentual-vendido-mes " id="PercentualDiario">{{ ::vendedor.PercentualDiario | number:1}}%</div>
            </div>
        </div>
    </div>
    <div class="area-vendas-meta clearfix" style="height:285px;" ng-cloak>
        <div class="card-dashboard-vendedor-texto titulo-dash">Vendas no mês</div>
        <div class="card-dashboard-vendedor-valor-central ng-cloak" id="vendas_mes" ng-cloak>{{ ::vendedor.vendas_mes + vendedor.vendas_hoje | currency : 'R$ ' : 0 | replace: ',':'.'}}</div>
        <div class="area-inferior-dados">
            <div class="area-inferior-venda">
                <div class="card-dashboard-vendedor-texto">Meta do mês</div>
                <div class="card-dashboard-vendedor-valor-nova ng-cloak " id="meta_valor_mes" style="text-align:left">{{ ::vendedor.meta_valor_mes  | currency : 'R$ ' : 0 | replace: ',':'.'}}</div>
            </div>
            <div class="area-inferior-pa">
                <div class="card-dashboard-vendedor-texto">P.A. do mês</div>
                <div class="card-dashboard-vendedor-valor-nova green-card ng-cloak" id="pa_mes">{{ ::vendedor.pa_mes}}</div>
            </div>
            <div class="area-inferior-dash">
                <div class="area-inferior-venda">
                    <div class="card-dashboard-vendedor-texto">Vendas corner mês</div>
                    <div class="card-dashboard-vendedor-valor-nova ng-cloak" id="valor_corner_oficina" style="text-align:left">{{ ::vendedor.valor_corner_oficina | currency:'R$ ':true | replace: ',':'.'}}</div>
                </div>
                <div class="area-inferior-pa">
                    <div class="card-dashboard-vendedor-texto">V.M do mês</div>
                    <div class="card-dashboard-vendedor-valor-nova ng-cloak" id="vm_mes">{{ ::vendedor.vm_mes | currency:'R$ ':true | replace: ',':'.'}}</div>
                </div>
            </div>
        </div>
        <div class="card-dashboard-vendido-dia-total  ng-cloak">
            <div class="card-dashboard-vendido-dia" ng-class="{'yellow-card' : vendedor.PercentualMes >= 50, 'red-card' : vendedor.PercentualMes < 49}" ng-style="{width: (vendedor.PercentualMes > 100 ? 100 : vendedor.PercentualMes ) + '%'}"></div>
            <div class="percentual-vendido-mes" id="PercentualMes">{{ ::vendedor.PercentualMes | number:1}}%</div>
        </div>
    </div>
    <div class="area-vendas-meta area-vendas-mini" style="height:285px;">
        <div class="card-dashboard-vendedor-texto titulo-dash">Reservado</div>
        <div class="card-dashboard-vendedor-valor-central ng-cloak" id="valor_venda_reservado">{{ ::vendedor.valor_venda_reservado  | currency : 'R$ ' : 0 | replace: ',':'.'}}</div>
        <div class="area-inferior-dados">
            <div class="area-inferior-venda">
                <div class="card-dashboard-vendedor-texto">Total malas vendidas</div>
                <div class="card-dashboard-vendedor-malas">
                    <div class="card-dashboard-mala-vendida ng-cloak">{{ ::("00"+vendedor.qtd_malas_vendidas).slice(-2)}}</div>
                    <div class="card-dashboard-mala-pendente ng-cloak">/{{ ::vendedor.qtd_malas_enviadas}}</div>
                </div>
            </div>
            <div class="area-inferior-pa">
                <div class="card-dashboard-vendedor-texto">P.A.</div>
                <div class="card-dashboard-vendedor-valor-nova red-card ng-cloak" id="pa_reservado">{{ ::vendedor.pa_reservado}}</div>
            </div>
            <div class="area-inferior-dash">
                <div class="area-inferior-venda">
                    <div class="card-dashboard-vendedor-texto">Taxa de conversão</div>
                    <div class="card-dashboard-vendedor-valor-nova ng-cloak" style="text-align: left;margin-left: 3px;">
                        <span>{{ ::vendedor.taxaConversaoReservado | number:2}}%</span>
                    </div>
                </div>
                <div class="area-inferior-pa">
                    <div class="card-dashboard-vendedor-texto">V.M do mês</div>
                    <div class="card-dashboard-vendedor-valor-nova ng-cloak" id="vm_reservado">{{ ::vendedor.vm_reservado | currency:'R$ ':true | replace: ',':'.'}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="area-dashboard-vendas" ng-cloak>
        <div>
            <div class="card-dashboard-vendedor-texto titulo-dash">Indicadores</div>
            <div class="area-vendas-meta" style="width: 375px;margin-right: 25px;">
                <div class="area-itens-vendedor">
                    <div class="area-texto-itens-vendedor">Efetividade no mês (Gerou)</div>
                    <div class="area-valor-itens-vendedor ng-cloak" id="efetividade_gerou_mes">{{ ::vendedor.efetividade_gerou_mes  | currency : 'R$ ' : 0 | replace: ',':'.'}}</div>
                </div>
                @*<div class="area-itens-vendedor">
                        <div class="area-texto-itens-vendedor">Efetividade no mês (Vendeu)</div>
                        <div class="area-valor-itens-vendedor ng-cloak" id="efetividade_vendeu_mes">{{ ::vendedor.efetividade_vendeu_mes   | currency : 'R$ ' : 0 | replace: ',':'.'}}</div>
                    </div>*@
                <div class="area-itens-vendedor">
                    <div class="area-texto-itens-vendedor">Ranking efetividade</div>
                    <div ng-class="{'green-card': vendedor.ranking_efetividade < 3, 'red-card': vendedor.ranking_efetividade > 3}" class="area-valor-itens-vendedor ng-cloak" id="ranking_efetividade">
                        <i class="fa fa-caret-up card-dashboard-icon" aria-hidden="true"></i>
                        {{ ::vendedor.ranking_efetividade}}
                    </div>
                </div>
                <div class="area-itens-vendedor">
                    <div class="area-texto-itens-vendedor">Nº Pós Vendas</div>
                    <div class="area-valor-itens-vendedor ng-cloak" id="Ligacao_feita_pos_venda">{{ ::vendedor.Ligacao_feita_pos_venda}}/{{ ::vendedor.Ligacao_disponivel_pos_venda}}</div>
                </div>
                <div class="area-itens-vendedor">
                    <div class="area-texto-itens-vendedor">Nº Info Vendas</div>
                    <div ng-class="{'green-card' : (vendedor.qtd_info_vendas_feitos / vendedor.qtd_info_vendas_disponiveis) * 100 > 50, 'red-card': (vendedor.qtd_info_vendas_feitos / vendedor.qtd_info_vendas_disponiveis) * 100 < 50}" class="area-valor-itens-vendedor ng-cloak">
                        <i class="fa fa-caret-up card-dashboard-icon ng-cloak" aria-hidden="true"></i>
                        {{ ::vendedor.qtd_info_vendas_feitos}}/{{ ::vendedor.qtd_info_vendas_disponiveis}}
                    </div>
                </div>
                <div class="area-itens-vendedor">
                    <div class="area-texto-itens-vendedor">Delivery</div>
                    <div class="area-valor-itens-vendedor ng-cloak" id="valor_delivery">
                        {{ ::vendedor.valor_delivery | currency:'R$ ':true}}
                        <div class="area-percentual-itens-vendedor gray">0.00%</div>
                    </div>
                </div>
                <div class="area-itens-vendedor">
                    <div class="area-texto-itens-vendedor">Corner Mini</div>
                    <div class="area-valor-itens-vendedor ng-cloak" id="valor_corner_mini">{{ ::vendedor.valor_corner_mini | currency:'R$ ':true: 0 | replace: ',':'.'}}</div>
                </div>
                <div class="area-itens-vendedor">
                    <div class="area-texto-itens-vendedor">Corner Oficina</div>
                    <div class="area-valor-itens-vendedor ng-cloak" id="valor_corner_oficina">{{ ::vendedor.valor_corner_oficina | currency:'R$ ':true: 0 | replace: ',':'.'}}</div>
                </div>
            </div>
        </div>
        @*<div ng-if="!fezQuestionario" ng-cloak>

                <div class="area-dashboard-vendas area_questionario">
                    <div class="img-fundo-agenda"></div>
                    <div class="card-dashboard-vendedor-valor-central" style="width: 100%;">Agenda</div>
                    <div class="card-dashboard-vendedor-texto titulo-dash" style="float: left;">Para liberar sua agenda responda abaixo:</div>
                    <div class="card-dashboard-vendedor-valor-central ng-cloak">{{ ::questionario.pergunta}}</div>
                    <div class="area-valida-agenda">
                        <input class="area-texto-validacao" id="respostaQuestionario" ng-model="respostaQuestionario" />
                    </div>
                    <a href="#" style="color:#fff;" ng-click="validarRespostaQuestionario(questionario,respostaQuestionario)">
                        <div class="area-botao-valida-agenda">
                            validar
                        </div>
                    </a>

                </div>
            </div>*@

        <div class="area-total-agenda" ng-cloak>
            @foreach (MenuAgendamento item in @Model.agendamentos)
            {
                count++;

                <a href="@Url.Action("Agenda", "Agenda")?idAgenda=@item.id&parametro=@item.parametro&titulo=@item.titulo" class="loading">
                    <div class="card-dashboard-vendedor area-agenda @(count < 5? "bg-red-gradient" : (count < 9  ? "bg-yellow-gradient":(count < 13  ? "bg-blue-gradient":"bg-aqua-gradient")))">
                        <div class="area-quantidade-contatos ">
                            <div class="card-dashboard-vendedor-agenda @(item.qtdeTotal > 99 ? "card-dashboard-menor" : "")">@string.Format("{0:00}", item.qtdeTotal)</div>

                        </div>
                        <div class="card-dashboard-vendedor-texto-agenda ">@((item.titulo).ToUpper())</div>
                        <div class="card-dashboard-vendedor-texto-agenda ">@item.qtdeLigacoes ligações feitas</div>

                    </div>
                </a>

            }
        </div>
    </div>

    <div class="area-dashboard-vendedor-ranking">
        <div class="area-dashboard-total-foto">
            <div>

                @if (!String.IsNullOrEmpty(@Model.img_perfil_intranet))
                {
                    string srcImg2 = "http://usereserva.dyndns.org:82/Intranet/images/fotosVendedores/" + @Model.img_perfil_intranet;
                    <img alt="" id="img_@Model.id.ToString()" src="@srcImg2" class="profile-user-img img-responsive img-circle" onerror="this.src = '@Url.Content("~/dist/img/user_photo.png")'" style="border: 3px solid #d2d6de!important; box-shadow: 0px 0px 5px #d2d6de!important; width: 120px!important; padding: 2px!important;">
                }
                else
                {
                    string srcImg2 = Url.Content("~" + (String.IsNullOrEmpty(@Model.img_perfil) ? "/dist/img/user_photo.png" : (File.Exists(Server.MapPath(@Model.img_perfil)) ? @Model.img_perfil : "/dist/img/user_photo.png")));
                    <img alt="" id="img_@Model.id.ToString()" src="@srcImg2" class="profile-user-img img-responsive img-circle" onerror="this.src = '@Url.Content("~/dist/img/user_photo.png")'" style="border: 3px solid #d2d6de!important; box-shadow: 0px 0px 5px #d2d6de!important; width: 120px!important; padding: 2px!important;">
                }
            </div>
        </div>
        <div class="area-dashboard-nome-vendedor">
            <div>@Model.nome</div>
        </div>
        <div class="area-dashboard-nome-vendedor">
            <div class="area-dashboard-nota-avaliacao">2.23</div>
            <div class="area-dashboard-texto-avaliacao">Avaliação de contato</div>
        </div>
        <div class="area-dashboard-button-vendedor">
            <div class="area-button">
                <a href="@Url.Action("Index", "InfoVendas")" class="loading">
                    <div class="icone_slide_menu">
                        <i class="fa fa-users " aria-hidden="true"></i>
                    </div>
                    <div class="texto-area-dashboard">Info vendas</div>
                    <div style="margin-top: -30px;float: right;">

                        <div ng-class="{'green-card' : (vendedor.qtd_info_vendas_feitos / vendedor.qtd_info_vendas_disponiveis) * 100 > 50, 'red-card': (vendedor.qtd_info_vendas_feitos / vendedor.qtd_info_vendas_disponiveis) * 100 < 50}" class="area-valor-itens-vendedor ng-cloak">
                            <i class="fa fa-caret-up card-dashboard-icon ng-cloak" aria-hidden="true"></i>
                            {{ ::vendedor.qtd_info_vendas_feitos}}/{{ ::vendedor.qtd_info_vendas_disponiveis}}
                        </div>
                    </div>
                </a>
            </div>
            <div class="area-button">
                <a href="@Url.Action("Favoritos", "Cliente")" class="dropdown-toggle yellow loading" onmouseout="$.unblockUI();">
                    <div class="icone_slide_menu">
                        <i class="fa fa-star " aria-hidden="true"></i>
                    </div>
                    <div class="texto-area-dashboard">Favoritos</div>
                </a>
            </div>
            <div class="area-button">
                <a href="@Url.Action("Index", "Relatorio")" class="dropdown-toggle yellow loading" onmouseout="$.unblockUI();">
                    <div class="icone_slide_menu">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>

                    </div>
                    <div class="texto-area-dashboard">Relatórios</div>
                </a>
            </div>
            <div class="area-button">
                <a href="@Url.Action("index", "Login")">
                    <div class="icone_slide_menu">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </div>
                    <div class="texto-area-dashboard">Sair</div>
                </a>
            </div>
        </div>

    </div>


</div>

<div class="modal modal-default fade" id="modalAddLicenca" tabindex="-1" role="dialog" aria-labelledby="modalAddLicencaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-gray-gradient">
                <button class="close" aria-label="Close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
                <h2 class="modal-title">Adicionar Afastamento</h2>
            </div>
            <div id="form-validation-dependente" class="form-dependente">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Motivo</label>
                                @Html.DropDownList("motivo_id"
                                        , (SelectList)ViewBag.Vendedores
                                        , new { @class = "form-control select2", @style = "width: 100%;", required = "required" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tempo?</label>
                                @Html.DropDownList("flgIndeterminado"
                                        , new List<SelectListItem>{
                                            new SelectListItem { Text = "Por Período", Value = "0" },
                                            new SelectListItem { Text = "Indeterminado", Value = "1" }
                                        }
                                        , new { @class = "form-control select2", @style = "width: 100%;", required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Data Inicial</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBox("data_inicial", "", new { @class = "form-control text-center datepickerRangeFrom", required = "required", data_provide = "datepicker", placeholder = "dd/mm/yyyy" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Data Final</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBox("data_final", "", new { @class = "form-control text-center datepickerRangeTo", required = "required", data_provide = "datepicker", placeholder = "dd/mm/yyyy" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>Observações</label>
                        @Html.TextArea("tbxObservacao", new { @class = "form-control ", @rows = "4", @style = "width: 100%;" })
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="btnCancelar" name="btnCancelar" class="btn2-gradient red btnCancelar text-uppercase text-bold"><i class="glyphicon glyphicon-remove"></i> Cancelar</button>
                    <button type="button" id="btnSalvar" name="btnConfirmar" class="btn2-gradient green btnSalvar text-uppercase text-bold pull-right"><i class="glyphicon glyphicon-ok"></i> Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        function AddLicenca()
        {
            $("#motivo_id").val("");
            $("#data_inicial").val("");
            $("#data_final").val("");
            $("#tbxObservacao").val("");
            $("#flgIndeterminado").val("0");

            $("#modalAddLicenca").modal("show");
        }

        $("#btnSalvar").click(function (e) {
            loading();

            var validacao = true;
            var lojaId = $("#lojaId").val();
            var vendedorId = $("#vendedorId").val();
            var motivoId = $("#motivo_id").val();
            var dataInicial = $("#data_inicial").val();
            var dataFinal = $("#data_final").val();
            var tbxObservacao = $("#tbxObservacao").val();
            var flgIndeterminado = $("#flgIndeterminado").val();
            console.log(1);
            if (validacao) {

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SalvarLicenca", "LicencaVendedores")',
                    dataType: 'json',
                    data: { lojaId: lojaId, vendedorId: vendedorId, motivoId: motivoId, dataInicial: dataInicial, dataFinal: dataFinal, tbxObservacao: tbxObservacao, flgIndeterminado: flgIndeterminado },
                    success: function (result) {
                        if (result.success) {
                            $("#modalAddLicenca").modal("hide");
                            $.msg({ content: result.msg, tipo: 'alert-success', titulo: 'Sucesso', img: 'fa-check' });

                            $("#motivo_id").val("");
                            $("#data_inicial").val("");
                            $("#data_final").val("");
                            $("#tbxObservacao").val("");
                            $("#flgIndeterminado").val("");

                        } else {

                        }
                        ListarVendedoresLicenca(result.dados);
                        //CancelarCadastroNovo();
                        $.unblockUI();
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (ex) {
                        $.unblockUI();
                    }
                });
                $.unblockUI();
            }
            return false;
        });

        $.ajax({
            type: 'POST',
            url: '@Url.Action("ListarLicencaVendedores", "LicencaVendedores")',
            dataType: 'json',
            data: { lojaId: $("#lojaId").val(), vendedorId: $("#vendedorId").val() },
            success: function (result) {
                ListarVendedoresLicenca(result.dados);
            },
            complete: function () {
            },
            error: function (ex) {
            }
        });

        function ListarVendedoresLicenca(list) {
            var tBody = '';
            $.each(list, function (i, item) {
                tBody += '<tr>';
                tBody += '<td>' + item.vendedor_licenciados_tipo + '</td>';
                tBody += '<td>' + item.data_inicio_bloqueio_formatada +'</td>';
                tBody += '<td>' + item.data_fim_bloqueio_formatada +'</td>';
                tBody += '<td class="text-center">' + item.status +'</td>';
                tBody += '<td>' + item.motivo + '</td>';
                tBody += '<td class="text-center">';
                tBody += '<a href="@Url.Action("VendedorPerfil", "Vendedor")?id=" class="btn2-gradient blue mini text-uppercase text-bold" onmouseout="$.unblockUI();" data-toggle="tooltip" data-original-title="Editar">';
                tBody += 'Editar';
                tBody += '</a>';
                tBody += '<a href="@Url.Action("VendedorPerfil", "Vendedor")?id=" class="btn2-gradient red mini text-uppercase text-bold" onmouseout="$.unblockUI();" data-toggle="tooltip" data-original-title="Editar" style="margin-left:5px">';
                tBody += 'Excluir';
                tBody += '</a>';
                tBody += '</td>';
                tBody += '</tr>';
            });

            $("#listaAfastados").html(tBody);
        }

        ListarMotivos();

        function ListarMotivos()
        {
            $("#motivo_id").empty();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListarMotivos", "LicencaVendedores")',
                dataType: 'json',
                success: function (result) {
                    if (result.success) {
                        $.each(result.data, function (i, item) {
                            $("#motivo_id").append('<option value="' + item.id + '">' + item.nome + '</option>');
                        });
                    } else {

                    }
                    //ListarClienteNovo();
                    //CancelarCadastroNovo();
                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                }
            });
        }

    </script>
}
