﻿@using Now.Domain;

@{
    ViewBag.Title = "Vendedores";
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Listagem</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="t-responsive" class="table-responsive no-padding">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        @*<th>Lojas</th>*@
                        <th>Nome</th>
                        <th>Login</th>
                        @*<th>Data Senha</th>
        <th>Loja(s)</th>*@
                        <th class="text-center">Perfil</th>
                        <th class="text-center">Status Linx</th>
                        <th class="text-center">Status Controle</th>
                        <th class="text-center">Status Login</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Vendedor item in (List<Vendedor>)ViewBag.ListaVendedores)
                    {
                    <tr>
                        <td style="width:10px"><img class="direct-chat-img" src="http://usereserva.dyndns.org:82/Intranet/images/fotosVendedores/@item.img_perfil_intranet" onerror="this.src = '@Url.Content("~/dist/img/user2-160x160.jpg")'"></td>
                        @*<td>@item. </td>*@
                        <td>@item.nome</td>
                        <th>@item.login</th>
                        <td class="text-center">
                            @Html.Raw((item.perfil == "Administrador Sistema" ? "<span class='text-green'>" + item.perfil + "</span>" : ""))
                            @Html.Raw((item.perfil == "Supervisor Brasil" ? "<span class='text-blue'>" + item.perfil + "</span>" : ""))
                            @Html.Raw((item.perfil == "Supervisor Regional" ? "<span class='text-muted'>" + item.perfil + "</span>" : ""))
                            @Html.Raw((item.perfil == "Supervisor" ? "<span class='text-red'>" + item.perfil + "</span>" : ""))
                            @Html.Raw((item.perfil == "Gerente" ? "<span class='text-yellow'>" + item.perfil + "</span>" : ""))
                            @Html.Raw((item.perfil == "Vendedor" ? "<span class='text-light-blue'>" + item.perfil + "</span>" : ""))
                            @Html.Raw((item.perfil == "Administrador Loja" ? "<span class='text-aqua'>" + item.perfil + "</span>" : ""))
                        </td>
                        <td class="text-center">
                            @Html.Raw(item.status_linx)
                        </td>
                        <td class="text-center">
                            @Html.Raw(item.status_controle)
                        </td>

                        <td class="text-center">
                            @Html.Raw(item.status_login)
                        </td>                                                @* <td>@(item.updated_at.ToString("dd/MM/yyyy"))</td>
        <td class="text-center">
            <span class="label label-success" data-toggle="tooltip" data-original-title="@item.ListaLojas">@item.Lojas.Count()</span>
        </td>

        <td class="text-center">
            @Html.Raw((item.acesso_bloqueado == 0 ? "<span class='label label-success'>Ativo</span>" : "<span class='label label-danger'>Bloqueado</span>"))
        </td>*@
                        <td class="text-center">
                            <a href="@Url.Action("VendedorPerfil", "Vendedor")?id=@item.id" class="btn2-gradient blue mini text-uppercase text-bold" onmouseout="$.unblockUI();" data-toggle="tooltip" data-original-title="Editar">
                                Editar
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.box-body -->
</div>

@section Scripts{

    <script type="text/javascript">
        $("#example2").DataTable();
    </script>
}
