﻿@using Now.Domain;
@model IList<Vendedor>

@{
    /**/

    ViewBag.Title = "VendedorPerfil";
}

<input type="hidden" id="vendedorId" value="@Model.FirstOrDefault().id.ToString()" />
<input type="hidden" id="lojaId" value="@Model.FirstOrDefault().loja_id.ToString()" />

<div class="row">
    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="http://usereserva.dyndns.org:82/Intranet/images/fotosVendedores/@Model.FirstOrDefault().img_perfil_intranet" onerror="this.src = '@Url.Content("~/dist/img/user2-160x160.jpg")'" alt="User profile picture">

                <h3 class="profile-username text-center">@Model.FirstOrDefault().nome</h3>

                <p class="text-muted text-center">@Model.FirstOrDefault().perfil</p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Cpf</b> <a class="pull-right">@Model.FirstOrDefault().cpf</a>
                    </li>
                    <li class="list-group-item">
                        <b>Cod. Linx</b> <a class="pull-right">@Model.FirstOrDefault().id_vendedor</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="small-box bg-green">
            <div class="inner">
                <h3>Status Linx</h3>

                <p>@Html.Raw(Model.FirstOrDefault().status_linx)</p>
            </div>
            <div class="icon">
                @*<i class="ion ion-"></i>*@
            </div>
            <a href="#" class="small-box-footer">
                Editar <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
        <div class="small-box bg-green">
            <div class="inner">
                <h3>Status Controle</h3>

                <p>@Html.Raw(Model.FirstOrDefault().status_controle)</p>
            </div>
            <div class="icon">
                @*<i class="ion ion-"></i>*@
            </div>
            <a href="#" class="small-box-footer">
                Editar <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
        <div class="small-box bg-green">
            <div class="inner">
                <h3>Status Login Now</h3>

                <p>@Html.Raw(Model.FirstOrDefault().status_login)</p>
            </div>
            <div class="icon">
                @*<i class="ion ion-"></i>*@
            </div>
            <a href="#" class="small-box-footer">
                Editar <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">About Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

                <p class="text-muted">
                    B.S. in Computer Science from the University of Tennessee at Knoxville
                </p>

                <hr>

                <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

                <p class="text-muted">Malibu, California</p>

                <hr>

                <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

                <p>
                    <span class="label label-danger">UI Design</span>
                    <span class="label label-success">Coding</span>
                    <span class="label label-info">Javascript</span>
                    <span class="label label-warning">PHP</span>
                    <span class="label label-primary">Node.js</span>
                </p>

                <hr>

                <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#activity" data-toggle="tab">Controle Afastamento</a></li>
                <li><a href="#timeline" data-toggle="tab">Login Now</a></li>
                <li><a href="#settings" data-toggle="tab">Settings</a></li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="activity">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">Afastados</h3>
                                    <button type="button" id="btnAbrirPopLicenca" class="btn2-gradient green btnSalvar text-uppercase text-bold pull-right mini" onclick="AddLicenca();"><i class="glyphicon glyphicon-plus"></i> Adicionar</button>

                                </div>
                                <div class="box-body">

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Motivo</th>
                                                <th>Data Inicial</th>
                                                <th>Data Final</th>
                                                <th class="text-center">Status</th>
                                                <th>Observações</th>
                                                <th class="text-center">Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody id="listaAfastados"></tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="timeline">
                    <!-- The timeline -->
                    <ul class="timeline timeline-inverse">
                        <!-- timeline time label -->
                        <li class="time-label">
                            <span class="bg-red">
                                10 Feb. 2014
                            </span>
                        </li>
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        <li>
                            <i class="fa fa-envelope bg-blue"></i>

                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                                <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                                <div class="timeline-body">
                                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                    weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                    jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                    quora plaxo ideeli hulu weebly balihoo...
                                </div>
                                <div class="timeline-footer">
                                    <a class="btn btn-primary btn-xs">Read more</a>
                                    <a class="btn btn-danger btn-xs">Delete</a>
                                </div>
                            </div>
                        </li>
                        <!-- END timeline item -->
                        <!-- timeline item -->
                        <li>
                            <i class="fa fa-user bg-aqua"></i>

                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                                <h3 class="timeline-header no-border">
                                    <a href="#">Sarah Young</a> accepted your friend request
                                </h3>
                            </div>
                        </li>
                        <!-- END timeline item -->
                        <!-- timeline item -->
                        <li>
                            <i class="fa fa-comments bg-yellow"></i>

                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                                <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                                <div class="timeline-body">
                                    Take me to your leader!
                                    Switzerland is small and neutral!
                                    We are more like Germany, ambitious and misunderstood!
                                </div>
                                <div class="timeline-footer">
                                    <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                                </div>
                            </div>
                        </li>
                        <!-- END timeline item -->
                        <!-- timeline time label -->
                        <li class="time-label">
                            <span class="bg-green">
                                3 Jan. 2014
                            </span>
                        </li>
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        <li>
                            <i class="fa fa-camera bg-purple"></i>

                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>

                                <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                                <div class="timeline-body">
                                    <img src="http://placehold.it/150x100" alt="..." class="margin">
                                    <img src="http://placehold.it/150x100" alt="..." class="margin">
                                    <img src="http://placehold.it/150x100" alt="..." class="margin">
                                    <img src="http://placehold.it/150x100" alt="..." class="margin">
                                </div>
                            </div>
                        </li>
                        <!-- END timeline item -->
                        <li>
                            <i class="fa fa-clock-o bg-gray"></i>
                        </li>
                    </ul>
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="settings">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Name</label>

                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputName" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Name</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputExperience" class="col-sm-2 control-label">Experience</label>

                            <div class="col-sm-10">
                                <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">Skills</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-danger">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-default fade" id="modalAddLicenca" tabindex="-1" role="dialog" aria-labelledby="modalAddLicencaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-gray-gradient">
                <button class="close" aria-label="Close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
                <h2 class="modal-title">Adicionar Afastamento</h2>
            </div>
            <div id="form-validation-dependente" class="form-dependente">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Motivo</label>
                                @Html.DropDownList("motivo_id"
                                        , (SelectList)ViewBag.Vendedores
                                        , new { @class = "form-control select2", @style = "width: 100%;", required = "required" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tempo?</label>
                                @Html.DropDownList("flgIndeterminado"
                                        , new List<SelectListItem>{
                                            new SelectListItem { Text = "Por Período", Value = "0" },
                                            new SelectListItem { Text = "Indeterminado", Value = "1" }
                                        }
                                        , new { @class = "form-control select2", @style = "width: 100%;", required = "required" })
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Data Inicial</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.TextBox("data_inicial", "", new { @class = "form-control text-center datepickerRangeFrom", required = "required", data_provide = "datepicker", placeholder = "dd/mm/yyyy" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Data Final</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.TextBox("data_final", "", new { @class = "form-control text-center datepickerRangeTo", required = "required", data_provide = "datepicker", placeholder = "dd/mm/yyyy" })
                                    </div>
                                </div>
                            </div>
                        </div>
                      

                        <div class="form-group">
                            <label>Observações</label>
                            @Html.TextArea("tbxObservacao", new { @class = "form-control ", @rows = "4", @style = "width: 100%;" })
                        </div>
                    </div>

                        <div class="modal-footer">
                            <button type="button" id="btnCancelar" name="btnCancelar" class="btn2-gradient red btnCancelar text-uppercase text-bold"><i class="glyphicon glyphicon-remove"></i> Cancelar</button>
                            <button type="button" id="btnSalvar" name="btnConfirmar" class="btn2-gradient green btnSalvar text-uppercase text-bold pull-right"><i class="glyphicon glyphicon-ok"></i> Salvar</button>
                        </div>
                    </div>
                </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        function AddLicenca()
        {
            $("#motivo_id").val("");
            $("#data_inicial").val("");
            $("#data_final").val("");
            $("#tbxObservacao").val("");
            $("#flgIndeterminado").val("0");

            $("#modalAddLicenca").modal("show");
        }

        $("#btnSalvar").click(function (e) {
            loading();

            var validacao = true;
            var lojaId = $("#lojaId").val();
            var vendedorId = $("#vendedorId").val();
            var motivoId = $("#motivo_id").val();
            var dataInicial = $("#data_inicial").val();
            var dataFinal = $("#data_final").val();
            var tbxObservacao = $("#tbxObservacao").val();
            var flgIndeterminado = $("#flgIndeterminado").val();
            console.log(1);
            if (validacao) {

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SalvarLicenca", "LicencaVendedores")',
                    dataType: 'json',
                    data: { lojaId: lojaId, vendedorId: vendedorId, motivoId: motivoId, dataInicial: dataInicial, dataFinal: dataFinal, tbxObservacao: tbxObservacao, flgIndeterminado: flgIndeterminado },
                    success: function (result) {
                        if (result.success) {
                            $("#modalAddLicenca").modal("hide");
                            $.msg({ content: result.msg, tipo: 'alert-success', titulo: 'Sucesso', img: 'fa-check' });

                            $("#motivo_id").val("");
                            $("#data_inicial").val("");
                            $("#data_final").val("");
                            $("#tbxObservacao").val("");
                            $("#flgIndeterminado").val("");

                        } else {

                        }
                        ListarVendedoresLicenca(result.dados);
                        //CancelarCadastroNovo();
                        $.unblockUI();
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (ex) {
                        $.unblockUI();
                    }
                });
                $.unblockUI();
            }
            return false;
        });

        $.ajax({
            type: 'POST',
            url: '@Url.Action("ListarLicencaVendedores", "LicencaVendedores")',
            dataType: 'json',
            data: { lojaId: $("#lojaId").val(), vendedorId: $("#vendedorId").val() },
            success: function (result) {
                ListarVendedoresLicenca(result.dados);
            },
            complete: function () {
            },
            error: function (ex) {
            }
        });

        function ListarVendedoresLicenca(list) {
            var tBody = '';
            $.each(list, function (i, item) {
                tBody += '<tr>';
                tBody += '<td>' + item.vendedor_licenciados_tipo + '</td>';
                tBody += '<td>' + item.data_inicio_bloqueio_formatada +'</td>';
                tBody += '<td>' + item.data_fim_bloqueio_formatada +'</td>';
                tBody += '<td class="text-center">' + item.status +'</td>';
                tBody += '<td>' + item.motivo + '</td>';
                tBody += '<td class="text-center">';
                tBody += '<a href="@Url.Action("VendedorPerfil", "Vendedor")?id=" class="btn2-gradient blue mini text-uppercase text-bold" onmouseout="$.unblockUI();" data-toggle="tooltip" data-original-title="Editar">';
                tBody += 'Editar';
                tBody += '</a>';
                tBody += '<a href="@Url.Action("VendedorPerfil", "Vendedor")?id=" class="btn2-gradient red mini text-uppercase text-bold" onmouseout="$.unblockUI();" data-toggle="tooltip" data-original-title="Editar" style="margin-left:5px">';
                tBody += 'Excluir';
                tBody += '</a>';
                tBody += '</td>';
                tBody += '</tr>';
            });

            $("#listaAfastados").html(tBody);
        }

        ListarMotivos();

        function ListarMotivos()
        {
            $("#motivo_id").empty();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListarMotivos", "LicencaVendedores")',
                dataType: 'json',
                success: function (result) {
                    if (result.success) {
                        $.each(result.data, function (i, item) {
                            $("#motivo_id").append('<option value="' + item.id + '">' + item.nome + '</option>');
                        });
                    } else {

                    }
                    //ListarClienteNovo();
                    //CancelarCadastroNovo();
                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                }
            });
        }

    </script>
}