﻿@{
    ViewBag.Title = "Edicao de Dashboard";
}

<link rel="stylesheet" href="../plugins/gridstack/gridstack.css" />
<link rel="stylesheet" href="https://anijs.github.io/lib/anicollection/anicollection.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
<script src="../plugins/gridstack/gridstack.js"></script>
<script src="../plugins/gridstack/gridstack.jQueryUI.js"></script>

<style type="text/css">
    .grid-stack {
        background: lightgoldenrodyellow;
    }

    .grid-stack-item-content {
        color: #2c3e50;
        text-align: center;
        background-color: #18bc9c;
    }
</style>
<button type="button" id="add-widget2" name="add-widget2" class="btn2-gradient blue btnAddDependente  text-uppercase text-bold" onmouseout="$.unblockUI();"><i class="glyphicon glyphicon-plus"></i> Adicionar Novo Widgets</button>
<div class="row">
    <div class="col-xs-12">
        <div>
            <button type="button" id="add-widget" name="add-widget" class="btn2-gradient blue btnAddDependente  text-uppercase text-bold" onmouseout="$.unblockUI();"><i class="glyphicon glyphicon-plus"></i> Adicionar Novo Widgets</button>
            
        </div>
        <br />        
            <div class="col-xs-12">
                <div class="grid-stack">
                </div>
            </div>        
    </div>
    <input type="hidden" value="@Html.Partial("../Widgets/_rakingVendedores.template").ToHtmlString()" id="hiddenwidget"/>
    
    <!--#include virtual="/portfolios/serverside/menus/portfolio_buttons_head.html" -->
    
</div>

<div class="modal fade" id="modalFoto" tabindex="-1" role="dialog" aria-labelledby="modalFotoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">×</span>
                </button>
                <h2 class="modal-title">Selecionar Widgets</h2>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <div class="col-md-12">
                        <div class="row">
                      
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" >Salvar</button>
                @*<asp:button runat="server" clientidmode="Static" text="Salvar" cssclass="btn-large btn-primary btn" id="btnSalvarContato" onclick="SalvarContato" />*@
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/AniJS/0.9.3/anijs.js"></script>

@section Scripts{
    <script type="text/javascript">
        $('.grid-stack').gridstack();
        var self = this;
        this.grid = $('.grid-stack').data('gridstack');
        $('.grid-stack').on('added', function (event, items) {
            // add anijs data to gridstack item
            for (var i = 0; i < items.length; i++) {
                $(items[i].el[0]).attr('data-anijs', 'if: added, do: swing animated, after: $removeAnimations, on: $gridstack');
            }
            AniJS.run();
            self.gridstackNotifier = AniJS.getNotifier('gridstack');
            // fire added event!
            self.gridstackNotifier.dispatchEvent('added');
        });
        $('#add-widget').click(function () {
            addNewWidget();

            @*$('.ranking').html(@Html.Partial("../Widgets/_rakingVendedores.template").ToHtmlString());*@
        });

        function addNewWidget() {
            var grid = $('.grid-stack').data('gridstack');

            grid.addWidget($('<div><div class="grid-stack-item-content ranking"></div></div>'), 0, 0, Math.floor(1 + 3 * Math.random()), Math.floor(1 + 3 * Math.random()), true);
        }

        var animationHelper = AniJS.getHelper();

        //Defining removeAnimations to remove existing animations
        animationHelper.removeAnimations = function (e, animationContext) {
            $('.grid-stack-item').attr('data-anijs', '');
        };

        $('#add-widget2').click(function () {            
            $('.ranking').html($('#hiddenwidget').val());
           });        
    </script>
}
