﻿@using Now.Domain;

@model IList<DashboardRankingVendedores>

@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-md-3">
        <div class="box box-widget widget-user">
            <div class="widget-user-header bg-blue-gradient" style="height:100px!important">
                <h4 class="widget-user-username" style="font-size:29px!important" data-min="4" data-max="29">@(String.Format("{0:C}", ViewBag.Efetividade))</h4>
                <h5 class="widget-user-desc">EFETIVIDADE</h5>
                <img src="~/app/img/money2.png" style="position:absolute; top:10px; right:10px" class="img-responsive" />
            </div>
            <div class="box-footer">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators" style="bottom:-41px!important; display:none">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header" style="font-size:18px!important">@(string.Format("{0:0.##}", ViewBag.UltiDiaGrafico == null ? 0 : ((DashboardGraficoEfetividade)ViewBag.UltiDiaGrafico).media_perc_efet_empresa * 100).Replace(",", "."))%</h5>
                                        <span class="description-text">EMPRESA</span>
                                    </div>
                                </div>
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header" style="font-size:18px!important">@(string.Format("{0:0.##}", ViewBag.UltiDiaGrafico == null ? 0 : ((DashboardGraficoEfetividade)ViewBag.UltiDiaGrafico).media_perc_efet_loja * 100).Replace(",", "."))%</h5>
                                        <span class="description-text">LOJA</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="description-block">
                                        <h5 class="description-header" style="font-size:18px!important">@(string.Format("{0:0.##}", ViewBag.UltiDiaGrafico == null ? 0 : ((DashboardGraficoEfetividade)ViewBag.UltiDiaGrafico).media_perc_efet_vendedor * 100).Replace(",", "."))%</h5>
                                        <span class="description-text">VENDEDOR</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header" style="font-size:18px!important">@(string.Format("{0:0.##}", ViewBag.UltiDiaGrafico == null ? 0 : ((DashboardGraficoEfetividade)ViewBag.UltiDiaGrafico).media_perc_efet_empresa * 100).Replace(",", "."))%</h5>
                                        <span class="description-text">RESERVA</span>
                                    </div>
                                </div>
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header" style="font-size:18px!important">@(string.Format("{0:0.##}", ViewBag.UltiDiaGrafico == null ? 0 : ((DashboardGraficoEfetividade)ViewBag.UltiDiaGrafico).media_perc_efet_loja * 100).Replace(",", "."))%</h5>
                                        <span class="description-text">MINI</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="description-block">
                                        <h5 class="description-header" style="font-size:18px!important">@(string.Format("{0:0.##}", ViewBag.UltiDiaGrafico == null ? 0 : ((DashboardGraficoEfetividade)ViewBag.UltiDiaGrafico).media_perc_efet_vendedor * 100).Replace(",", "."))%</h5>
                                        <span class="description-text">EVA</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-12 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header" style="font-size:18px!important">@(string.Format("{0:0.##}", ViewBag.UltiDiaGrafico == null ? 0 : ((DashboardGraficoEfetividade)ViewBag.UltiDiaGrafico).media_perc_efet_empresa * 100).Replace(",", "."))%</h5>
                                        <span class="description-text">E-COMMERCE</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        @*<div class="col-md-6">
                <div class="small-box bg-blue-gradient ">
                    <div class="inner">
                        <h3>@(String.Format("{0:C}", ViewBag.Efetividade))</h3>

                        <p>EFETIVIDADE</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-usd"></i>
                    </div>
                </div>
            </div>*@
    </div>
    <div class="col-md-3">
        <div class="box box-widget widget-user">
            <div class="widget-user-header bg-yellow-gradient" style="height:100px!important">
                <h3 class="widget-user-username" style="font-size:29px!important">@(String.Format("{0:C}", ((IList<DashboardRankingVendedores>)Model).Sum(x => x.valor)))</h3>
                <h5 class="widget-user-desc">VENDA LINX</h5>
                <img src="~/app/img/money3.png" style="position:absolute; top:10px; right:10px" class="img-responsive" />
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-6 border-right">
                        <div class="description-block">
                            <h5 class="description-header" style="font-size:18px!important">@(String.Format("{0:N}", ((UsuarioLogado)ViewBag.UsuarioLogado).Pa))</h5>
                            <span class="description-text">PA</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="description-block">
                            <h5 class="description-header" style="font-size:18px!important">@(String.Format("{0:C}", ((UsuarioLogado)ViewBag.UsuarioLogado).Tm))</h5>
                            <span class="description-text">Ticket Médio</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators" style="display:none">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="box box-widget widget-user">
                        <div class="widget-user-header bg-black-gradient" style="height:100px!important">
                            <h3 class="widget-user-username" style="font-size:29px!important">@(String.Format("{0:C}", ((Dashboard)ViewBag.Metricas).valor_reservado))</h3>
                            <h5 class="widget-user-desc">RESERVADO</h5>
                            <img src="~/app/img/bag.png" style="position:absolute; top:10px; right:10px" class="img-responsive" />
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-sm-12 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header" style="font-size:18px!important">@(((Dashboard)ViewBag.Metricas).total_vendas_reservado)</h5>
                                        <span class="description-text">Qtde Reservado</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box box-widget widget-user">
                        <div class="widget-user-header bg-red-gradient" style="height:100px!important">
                            <h3 class="widget-user-username" style="font-size:29px!important">@(String.Format("{0:C}", ((Dashboard)ViewBag.Metricas).valor_delivery))</h3>
                            <h5 class="widget-user-desc">DELIVERY</h5>
                            <img src="~/app/img/delivery.png" style="position:absolute; top:10px; right:10px" class="img-responsive" />
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-sm-12 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header" style="font-size:18px!important">@(((Dashboard)ViewBag.Metricas).total_vendas_delivery)</h5>
                                        <span class="description-text">Qtde Delivery</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators" style="display:none">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                @*<li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>*@
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="box box-widget widget-user">
                        <div class="widget-user-header bg-green-gradient" style="height:100px!important">
                            <h3 class="widget-user-username" style="font-size:29px!important">@(((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_dispon)</h3>
                            <h5 class="widget-user-desc">LIGAÇÕES DISPONÍVEIS EM AGENDA</h5>
                            <img src="~/app/img/phone2.png" style="position:absolute; top:10px; right:10px" class="img-responsive" />
                        </div>
                        @*<div class="widget-user-image">
                               <div class="img-circle" style="display:inline;width:90px;height:90px;"><canvas width="90" height="90"></canvas><input type="text" class="knob" value="10" data-skin="tron" data-thickness="0.1" data-width="90" data-height="90" data-fgcolor="#00a65a" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: -69px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 18px; line-height: normal; font-family: Arial; text-align: center; color: rgb(0, 166, 90); padding: 0px; -webkit-appearance: none;"></div>
                            </div>*@
                        <div class="progress" style="height:2px!important; margin-bottom:0px!important;">
                            @*<div class="progress-bar" style="width: 75%"></div>*@
                            <div class="progress-bar progress-bar-yellow" style="width: @(Decimal.ToInt32(((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_feitas == 0 || ((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_dispon == 0 ? 0 : (Convert.ToDecimal(((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_feitas) / Convert.ToDecimal(((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_dispon)) * 100).ToString())%"></div>
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-sm-6 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header" style="font-size:18px!important">@(((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_feitas)</h5>
                                        <span class="description-text">LIGAÇÕES FEITAS EM AGENDA</span>
                                    </div>


                                </div>
                                <div class="col-sm-6">
                                    <div class="description-block">
                                        <h5 class="description-header" style="font-size:18px!important">@(String.Format("{0:P}", ((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_feitas == 0 || ((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_dispon == 0 ? 0 : Convert.ToDecimal(((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_feitas) / Convert.ToDecimal(((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_dispon)))</h5>
                                        <span class="description-text">Ligações</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box box-widget widget-user">
                        <div class="widget-user-header bg-blue-gradient" style="height:100px!important">
                            <h3 class="widget-user-username" style="font-size:29px!important">@(((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_feitas + ((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_direto)</h3>
                            <h5 class="widget-user-desc">TODAS AS LIGAÇÕES FEITAS</h5>
                            <img src="~/app/img/contatos.fw.png" style="position:absolute; top:10px; right:10px" class="img-responsive" />
                        </div>
                        @*<div class="widget-user-image">
                               <div class="img-circle" style="display:inline;width:90px;height:90px;"><canvas width="90" height="90"></canvas><input type="text" class="knob" value="10" data-skin="tron" data-thickness="0.1" data-width="90" data-height="90" data-fgcolor="#00a65a" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: -69px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 18px; line-height: normal; font-family: Arial; text-align: center; color: rgb(0, 166, 90); padding: 0px; -webkit-appearance: none;"></div>
                            </div>*@
                        <div class="progress" style="height:2px!important; margin-bottom:0px!important;">

                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-sm-6 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header" style="font-size:18px!important">@(((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_feitas)</h5>
                                        <span class="description-text">CONTATOS POR AGENDA</span>
                                    </div>


                                </div>
                                <div class="col-sm-6">
                                    <div class="description-block">
                                        <h5 class="description-header" style="font-size:18px!important">@(((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_direto)</h5>
                                        <span class="description-text">CONTATOS DIRETOS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box box-widget widget-user">
                        <div class="widget-user-header bg-yellow-gradient" style="height:100px!important">
                            <h3 class="widget-user-username" style="font-size:29px!important">@(String.Format("{0:C}", ((Dashboard)ViewBag.Metricas).valor_reservado))</h3>
                            <h5 class="widget-user-desc">POTENCIAL EM AGENDAS HOJE</h5>
                            <img src="~/app/img/potencial.fw.png" style="position:absolute; top:10px; right:10px" class="img-responsive" />
                        </div>
                        @*<div class="widget-user-image">
                               <div class="img-circle" style="display:inline;width:90px;height:90px;"><canvas width="90" height="90"></canvas><input type="text" class="knob" value="10" data-skin="tron" data-thickness="0.1" data-width="90" data-height="90" data-fgcolor="#00a65a" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: -69px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 18px; line-height: normal; font-family: Arial; text-align: center; color: rgb(0, 166, 90); padding: 0px; -webkit-appearance: none;"></div>
                            </div>*@
                        <div class="progress" style="height:2px!important; margin-bottom:0px!important;">

                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-sm-6 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header" style="font-size:18px!important">@(((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_feitas)</h5>
                                        <span class="description-text">CONTATOS REALIZADOS ONTEM</span>
                                    </div>


                                </div>
                                <div class="col-sm-6">
                                    <div class="description-block">
                                        <h5 class="description-header" style="font-size:18px!important">@(((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_direto)</h5>
                                        <span class="description-text">POTENCIAL ESPERADO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        @*<a href="#">
                <div class="info-box bg-green-gradient">
                    <span class="info-box-icon" style="font-size:35px!important;">@(((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_dispon)</span>

                    <div class="info-box-content">
                        <span class="info-box-text">LIGAÇÕES FEITAS</span>
                        <span class="info-box-number">@(((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_feitas)</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: @(Decimal.ToInt32(((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_feitas == 0 || ((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_dispon == 0 ? 0 : (Convert.ToDecimal(((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_feitas) / Convert.ToDecimal(((Dashboard)ViewBag.MetricasDia).qtde_ligacoes_dispon)) * 100).ToString())%"></div>
                        </div>
                        <span class="progress-description">

                        </span>
                    </div>
                </div>
            </a>*@
    </div>
</div>

<div class="row" style="display:none">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><b>Efetividade Loja (%)</b></h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-wrench"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="chart tab-pane active" id="chart-efetividade" style="position: relative; height: 300px;"></div>
                </div>

            </div>
            <!-- ./box-body -->
            <div class="box-footer">
                Legenda:
                <p>
                    <span class="label label-danger" style="background-color: #DBA901!important">@ViewBag.CanalTexto @(string.Format("{0:0.##}", ViewBag.UltiDiaGrafico == null ? 0 : ((DashboardGraficoEfetividade)ViewBag.UltiDiaGrafico).media_perc_efet_empresa * 100).Replace(",", "."))%</span>
                    <span class="label label-success" style="background-color: #5882FA!important">@ViewBag.NomeLojaSelecionada @(string.Format("{0:0.##}", ViewBag.UltiDiaGrafico == null ? 0 : ((DashboardGraficoEfetividade)ViewBag.UltiDiaGrafico).media_perc_efet_loja * 100).Replace(",", "."))%</span>

                    @{
                        if (!String.IsNullOrEmpty(@ViewBag.Idvendedor))
                        {
                            <span class="label label-success" style="background-color: #01DF01!important">@ViewBag.NomeSelecionadoCompleto @(string.Format("{0:0.##}", ViewBag.UltiDiaGrafico == null ? 0 : ((DashboardGraficoEfetividade)ViewBag.UltiDiaGrafico).media_perc_efet_vendedor * 100).Replace(",", "."))%</span>
                        }
                    }
                </p>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-widget widget-user-2">
            <div class="widget-user-header bg-black" style="background: url(@Url.Content("~/app/img/destaaque_picapau_p.fw.png")) center right no-repeat;">
                <div class="widget-user-image">
                    <img class="img-circle" src="@(Model.Count() > 0 ? String.IsNullOrEmpty(Model[0].img_perfil) ? Url.Content("~/dist/img/user2-160x160.jpg") : "http://usereserva.dyndns.org:82/Intranet/images/fotosVendedores/" + Model[0].img_perfil : Url.Content("~/dist/img/user2-160x160.jpg"))" alt="@(Model.Count() > 0 ? Model[0].vendedor.ToUpper() : "-")">
                </div>
                <h3 class="widget-user-username responsive" data-compression="25" data-min="14" data-max="24">Ranking vendedores (@(Model.FirstOrDefault() == null ? "-" : Model.FirstOrDefault().loja.ToUpper().Trim()))</h3>
                <h5 class="widget-user-desc responsive" data-compression="25" data-min="10" data-max="14">Destaque: @(Model.Count() > 0 ? Model[0].vendedor.ToUpper() : "-") </h5>

            </div>

            <div class="box-footer no-padding scroll400 " id="divRankVend">
                <table class="responsive table table-bordered tableOrder" data-min="4" data-max="12" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr style="vertical-align:central!important">
                            <th class="text-center" style="vertical-align:middle!important">#</th>
                            <th class="text-center" style="vertical-align:middle!important">Loja</th>
                            <th class="text-center" style="vertical-align:middle!important">Vendedor</th>
                            <th class="text-center" style="vertical-align:middle!important">Valor Loja</th>
                            <th class="text-center" style="vertical-align:middle!important">Vendeu</th>
                            <th class="text-center" style="vertical-align:middle!important">Gerou</th>
                            <th class="text-center" style="vertical-align:middle!important">Gerou/Vendeu Mesmo Cliente</th>
                            <th></th>
                        </tr>
                    </thead>
                    <thead id="theadRankVend">
                        <tr class="bg-gray-gradient" style="vertical-align:central!important">
                            <th></th>
                            <th class="text-center" style="vertical-align:middle!important"></th>
                            <th class="text-center" style="vertical-align:middle!important; padding-right: 0px!important;">Total</th>
                            <th class="text-center" style="vertical-align:middle!important; padding-right: 0px!important;">@(String.Format("{0:C}", ((IList<DashboardRankingVendedores>)Model).Sum(x => x.valor)))</th>
                            <th class="text-center" style="vertical-align:middle!important; padding-right: 0px!important;">@(String.Format("{0:C}", ((IList<DashboardRankingVendedores>)Model).Sum(x => x.valor_venda_now)))</th>
                            <th class="text-center" style="vertical-align:middle!important; padding-right: 0px!important;">@(String.Format("{0:C}", ((IList<DashboardRankingVendedores>)Model).Sum(x => x.valor_contato_now)))</th>
                            <th class="text-center" style="vertical-align:middle!important; padding-right: 0px!important;">@(String.Format("{0:C}", ((IList<DashboardRankingVendedores>)Model).Sum(x => x.valor_contato_venda_now)))</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbodyRankVend">

                        @foreach (DashboardRankingVendedores item in Model)
                        {
                            <tr style="vertical-align:middle!important">
                                <td style="vertical-align:middle!important">@item.ranking</td>
                                <td style="vertical-align:middle!important">@item.loja</td>
                                <td style="vertical-align:middle!important">@Html.Raw(item.vendedor.ToUpper())</td>
                                <td class="text-center" style="vertical-align:middle!important">@(String.Format("{0:C}", @item.valor))</td>
                                <td class="text-center" style="vertical-align:middle!important">@(String.Format("{0:C}", @item.valor_venda_now))</td>
                                <td class="text-center" style="vertical-align:middle!important">@(String.Format("{0:C}", @item.valor_contato_now))</td>
                                <td class="text-center">@(String.Format("{0:C}", item.valor_contato_venda_now))</td>

                                <td class="text-center" style="vertical-align:middle!important">
                                    @if (item.posicao == 1)
                                    {<i class="fa fa-chevron-up text-green"></i>}
                                    else if (item.posicao == -1)
                                    {
                                        <i class="fa fa-chevron-down text-red"></i>
                                    }
                                </td>

                            </tr>
                        }

                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <div class="col-md-12">

        <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-green-gradient">
                <div class="widget-user-image">
                    <img class="img-circle" src="@Url.Content("~/app/img/Picapau.jpg")" alt="Reserva LOJAS">
                </div>

                <h3 class="widget-user-username responsive" data-compression="25" data-min="14" data-max="24">Efetividade Lojas</h3>
                <h5 class="widget-user-desc responsive" data-compression="25" data-min="10" data-max="14">Destaque: @(((List<ReportEfetividade>)ViewBag.EfetividadeLojas).Count() == 0 ? "-" : ((List<ReportEfetividade>)ViewBag.EfetividadeLojas).FirstOrDefault().loja) </h5>
            </div>
            <div class="box-footer no-padding scroll400">
                <table class="responsive table table-bordered" data-min="4" data-max="12" cellpadding="0" cellspacing="0" id="efetividadeloja">
                    <thead>
                        <tr style="vertical-align:central!important">
                            <th class="text-center" style="vertical-align:central!important">#</th>
                            <th class="text-center" style="vertical-align:central!important">Loja</th>
                            <th class="text-center" style="vertical-align:central!important">Efetividade</th>
                            <th class="text-center" style="vertical-align:central!important">Percentual Crescimento</th>
                            <th class="text-center" style="vertical-align:central!important">SSSG Efetividade</th>
                            <th class="text-center" style="vertical-align:central!important">Now</th>
                            <th class="text-center" style="vertical-align:central!important">Contato Direto</th>
                            <th class="text-center" style="vertical-align:central!important">Efetividade (%)</th>
                        </tr>
                    </thead>

                    <thead>
                        @{
                            decimal perc_crescimento_total = (((List<ReportEfetividade>)ViewBag.EfetividadeLojas).Sum(x => x.efetividade_sssg) == 0 ? 0 : (((List<ReportEfetividade>)ViewBag.EfetividadeLojas).Sum(x => x.efetividade) / ((List<ReportEfetividade>)ViewBag.EfetividadeLojas).Sum(x => x.efetividade_sssg)) - Convert.ToDecimal(1));
                        }
                        <tr class="bg-gray-gradient" style="vertical-align:central!important; padding-right: 0px!important;">
                            <th class="text-center" style="vertical-align:central!important; padding-right: 0px!important;">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox1" type="checkbox" onclick="EfetLojas(this);">
                                    <label for="checkbox1">
                                        Expandir Todos
                                    </label>
                                </div>
                            </th>
                            <th class="text-center" style="vertical-align:central!important; padding-right: 0px!important;">Total</th>
                            <th class="text-center" style="vertical-align:central!important; padding-right: 0px!important;" id="totEfetividade">@(String.Format("{0:C}", ((List<ReportEfetividade>)ViewBag.EfetividadeLojas).Sum(x => x.efetividade)))</th>
                            <th class="text-center @(perc_crescimento_total > Convert.ToDecimal(0.00) ? "" : perc_crescimento_total == 0 ? "text-muted" : "text-red") " style="vertical-align:central!important; padding-right: 0px!important;" id="totEfetividadeSssg" title="@(String.Format("{0:C}", ((List<ReportEfetividade>)ViewBag.EfetividadeLojas).Sum(x => x.efetividade_sssg)))">@(String.Format("{0:P}", perc_crescimento_total))</th>
                            <th class="text-center" style="vertical-align:central!important; padding-right: 0px!important;" id="totNow">@(String.Format("{0:C}", ((List<ReportEfetividade>)ViewBag.EfetividadeLojas).Sum(x => x.efetividade_sssg)))</th>
                            <th class="text-center" style="vertical-align:central!important; padding-right: 0px!important;" id="totNow">@(String.Format("{0:C}", ((List<ReportEfetividade>)ViewBag.EfetividadeLojas).Sum(x => x.valor_now)))</th>
                            <th class="text-center" style="vertical-align:central!important; padding-right: 0px!important;" id="totContatoDireto">@(String.Format("{0:C}", ((List<ReportEfetividade>)ViewBag.EfetividadeLojas).Sum(x => x.contato_direto)))</th>
                            <th class="text-center" style="vertical-align:central!important; padding-right: 0px!important;" id="totPercEfetividade">@(String.Format("{0:P}", ((List<ReportEfetividade>)ViewBag.EfetividadeLojas).Count() > 0 ? (((List<ReportEfetividade>)ViewBag.EfetividadeLojas).Sum(x => x.efetividade) / ((List<ReportEfetividade>)ViewBag.EfetividadeLojas).Sum(x => x.valor_linx)) : 0))</th>
                        </tr>
                    </thead>
                    <tbody id="bodyEfetividade">
                        @foreach (ReportEfetividade item in (List<ReportEfetividade>)ViewBag.EfetividadeLojas)
                        {
                            decimal perc_crescimento = (item.efetividade_sssg == 0 ? 0 : (item.efetividade / item.efetividade_sssg) - Convert.ToDecimal(1));

                            <tr style="vertical-align:central!important">
                                <td style="vertical-align:central!important">@item.ranking</td>
                                <td style="vertical-align:central!important"> @item.loja.ToUpper() </td>
                                <td class="text-center" style="vertical-align:central!important">@(String.Format("{0:C}", @item.efetividade))</td>
                                <td class="text-center @(perc_crescimento > Convert.ToDecimal(0.00) ? "text-green" : perc_crescimento == 0 ? "text-muted" : "text-red")" title="@(item.efetividade_sssg > 0 ? String.Format("{0:C}", item.efetividade_sssg) : "N/A - Não existe valor nesse período" )" style="vertical-align:central!important">@(String.Format("{0:P}", perc_crescimento))</td>
                                <td class="text-center" style="vertical-align:central!important">@(String.Format("{0:C}", @item.efetividade_sssg))</td>
                                <td class="text-center" style="vertical-align:central!important">@(String.Format("{0:C}", @item.valor_now))</td>
                                <td class="text-center" style="vertical-align:central!important">@(String.Format("{0:C}", @item.contato_direto))</td>
                                <td class="text-center" style="vertical-align:central!important">@(String.Format("{0:P}", @item.perc_efetividade))</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.col -->

</div>


<div class="row">
    <div class="col-md-8">
        <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-light-blue-gradient">
                <div class="widget-user-image">
                    <img class="img-circle" src="@Url.Content("~/app/img/Picapau.jpg")" alt="Reserva LOJAS">
                </div>

                <h3 class="widget-user-username responsive" data-compression="25" data-min="14" data-max="24">Efetividade Vendedores</h3>
                <h5 class="widget-user-desc responsive" data-compression="25" data-min="10" data-max="14">Loja: @(((IList<DashboardEfetividadesVendedores>)ViewBag.EfetividadeVendedores).Count() == 0 ? "-" : ((IList<DashboardEfetividadesVendedores>)ViewBag.EfetividadeVendedores).OrderByDescending(x => x.efetividade).ToList().FirstOrDefault().loja)</h5>

            </div>
            <div class="box-footer no-padding scroll400">
                <table class="responsive table table-bordered tableOrder" data-min="4" data-max="12" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr style="vertical-align:central!important">
                            <th style="vertical-align:central!important" class="text-center">#</th>
                            <th style="vertical-align:central!important" class="text-center">Loja</th>
                            <th style="vertical-align:central!important" class="text-center">Vendedor</th>
                            <th style="vertical-align:central!important" class="text-center">Contatos Efetuados</th>
                            <th style="vertical-align:central!important" class="text-center">Contatos Disponíveis</th>
                            <th style="vertical-align:central!important" class="text-center">Produtividade(%)</th>
                            <th style="vertical-align:central!important" class="text-center">Efetividade</th>

                        </tr>
                    </thead>
                    <thead>
                        <tr class="bg-gray-gradient" style="vertical-align:central!important">
                            <th style="vertical-align:central!important" class="text-center"></th>
                            <th style="vertical-align:central!important" class="text-center"></th>
                            <th style="vertical-align:central!important" class="text-center">Total</th>
                            <th style="vertical-align:central!important" class="text-center">@(((IList<DashboardEfetividadesVendedores>)ViewBag.EfetividadeVendedores).Sum(x => x.lig_efetuadas))</th>
                            <th style="vertical-align:central!important" class="text-center">@(((IList<DashboardEfetividadesVendedores>)ViewBag.EfetividadeVendedores).Sum(x => x.LigDisponiveis))</th>
                            <th style="vertical-align:central!important" class="text-center">@(String.Format("{0:P}", ((IList<DashboardEfetividadesVendedores>)ViewBag.EfetividadeVendedores).Sum(x => x.LigDisponiveis) == 0 ? 0 : (Convert.ToDecimal(((IList<DashboardEfetividadesVendedores>)ViewBag.EfetividadeVendedores).Sum(x => x.lig_efetuadas)) / Convert.ToDecimal(((IList<DashboardEfetividadesVendedores>)ViewBag.EfetividadeVendedores).Sum(x => x.LigDisponiveis)))))</th>
                            <th style="vertical-align:central!important" class="text-center">@(String.Format("{0:C}", ((IList<DashboardEfetividadesVendedores>)ViewBag.EfetividadeVendedores).Sum(x => x.efetividade)))</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (DashboardEfetividadesVendedores item in ((IList<DashboardEfetividadesVendedores>)ViewBag.EfetividadeVendedores).OrderByDescending(x => x.efetividade).ToList())
                            {

                                <tr style="vertical-align:central!important">
                                    <td style="vertical-align:central!important" class="text-center">@item.LigDisponiveis</td>
                                    <td style="vertical-align:central!important" class="text-center">@i</td>
                                    <td style="vertical-align:central!important" class="text-center">@item.loja</td>
                                    <td style="vertical-align:central!important" class="text-center">@Html.Raw(@item.vendedor)</td>
                                    <td style="vertical-align:central!important" class="text-center">@item.lig_efetuadas </td>
                                    <td style="vertical-align:central!important" class="text-center">@(String.Format("{0:P}", item.LigDisponiveis == 0 ? 0 : Convert.ToDecimal(item.lig_efetuadas) / Convert.ToDecimal(item.LigDisponiveis)))</td>
                                    <td style="vertical-align:central!important" class="text-center">@(String.Format("{0:C}", @item.efetividade))</td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-yellow-gradient">
                <div class="widget-user-image">
                    <img class="img-circle" src="@Url.Content("~/app/img/Picapau.jpg")" alt="Reserva LOJAS">
                </div>

                <h3 class="widget-user-username responsive" data-compression="25" data-min="14" data-max="24">Efetividade Agendas</h3>
                <h5 class="widget-user-desc responsive" data-compression="25" data-min="10" data-max="14">Destaque: @(((IList<ReportEfetividadeAgenda>)ViewBag.EfetividadeAgenda).Count == 0 ? "-" : ((IList<ReportEfetividadeAgenda>)ViewBag.EfetividadeAgenda).FirstOrDefault().agendamento) </h5>
            </div>
            <!-- /.box-header -->
            @*<div class="box-body" style="display: none">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="chart-responsive">
                                <canvas id="pieChart" height="150"></canvas>
                            </div>
                            <!-- ./chart-responsive -->
                        </div>
                    </div>

                </div>*@
            <!-- /.box-body -->
            <div class="box-footer no-padding scroll400">
                <table class="responsive table table-bordered tableOrder" data-min="14" data-max="12" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr style="vertical-align:central!important">
                            <th style="vertical-align:central!important" class="text-center">#</th>
                            <th style="vertical-align:central!important" class="text-center">Agendamento</th>
                            <th style="vertical-align:central!important" class="text-center">Efetividade</th>
                            <th style="vertical-align:central!important" class="text-center">Representatividade</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr class="bg-gray-gradient" style="vertical-align:central!important">
                            <th style="vertical-align:central!important; " class="text-center"></th>
                            <th style="vertical-align:central!important; " class="text-center">Total</th>
                            <th style="vertical-align:central!important" class="text-center">@(String.Format("{0:C}", ((IList<ReportEfetividadeAgenda>)ViewBag.EfetividadeAgenda).Sum(x => x.valor_venda_now)))</th>
                            <th style="vertical-align:central!important" class="text-center">@(String.Format("{0:P}", ((IList<ReportEfetividadeAgenda>)ViewBag.EfetividadeAgenda).Count() > 0 ? ((IList<ReportEfetividadeAgenda>)ViewBag.EfetividadeAgenda).Sum(x => x.percentual) : 0))</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ReportEfetividadeAgenda item in (IList<ReportEfetividadeAgenda>)ViewBag.EfetividadeAgenda)
                        {
                            <tr style="vertical-align:central!important">
                                <td style="vertical-align:central!important" class="text-center">@item.ranking</td>
                                <td style="vertical-align:central!important" class="text-center">@item.agendamento.ToUpper()</td>
                                <td style="vertical-align:central!important" class="text-center">@(String.Format("{0:C}", item.valor_venda_now))</td>
                                <td style="vertical-align:central!important" class="text-center">@(String.Format("{0:P}", item.percentual))</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.footer -->
        </div>
    </div>
</div>


@section Scripts{
    <script>

        @*$.ajax({
            type: 'POST',
            async: false,
            url: '@Url.Action("VerificaOmni", "OmniAcompanhamento")',
            dataType: 'json',
            success: function (result) {
                //alert(result.valido);
                if (result.valido) {
                    $("#modalOmni").modal('show');
                }
            }
        });*@

        $('.responsive').not('table').responsiveText();
        $('table.responsive').responsiveTables();

        function EfetLojas(obj) {
            if (obj.checked)
                CarregarEfetLojas(true);
            else
                CarregarEfetLojas(false);
        }

        function CarregarEfetLojas(obj) {
            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CarregarEfetLojas", "Dashboard")',
                dataType: 'json',
                data: { check: obj },
                success: function (result) {
                    var tBody = "";
                    var totEfetividade = 0;
                    $.each(result.dados, function (i, item) {
                        //" + (item.perc_crescimento > 0 ? "text-green" : item.perc_crescimento == 0 ? "text-muted" : "text-red") + " title='" + (item.efetividade_sssg > 0 ? _strEfetividade_sssg : "N/A - Não existe valor nesse período") + "
                        tBody += "<tr style='vertical-align:central!important'>";
                        tBody += "<td style='vertical-align:central!important'>" + item.ranking + "</td>";
                        tBody += "<td style='vertical-align:central!important'>" + item.loja + "</td>";
                        tBody += "<td class='text-center' style='vertical-align:central!important'>" + item._strEfetividade + "</td>";
                        tBody += "<td class='text-center' style='vertical-align:central!important'>" + item._perc_crescimento + "</td>";
                        tBody += "<td class='text-center' style='vertical-align:central!important'>" + item._strValor_now + "</td>";
                        tBody += "<td class='text-center' style='vertical-align:central!important'>" + item._strContato_direto + "</td>";
                        tBody += "<td class='text-center' style='vertical-align:central!important'>" + item._strPerc_efetividade + "</td>";
                        tBody += "</tr>";
                    });

                    $('#totEfetividade').html(result.totEfetividade);
                    $('#totEfetividadeSssg').html(result.totEfetividadeSssg);
                    $('#totNow').html(result.totNow);
                    $('#totContatoDireto').html(result.totContatoDireto);
                    $('#totPercEfetividade').html(result.totPercEfetividade);
                    $('#bodyEfetividade').html(tBody);
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
            return false;
            }

            //$('#efetividadeloja').DataTable({
            //    "order": [[3, "desc"]]
            //});

        // CarregarRankingVendedores();
        // Ranking Vendedores
        function CarregarRankingVendedores() {
            loadingObj('divRankVend', 'Carregando...');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CarregarRankingVendedores", "Dashboard")',
                dataType: 'json',
                success: function (result) {
                    var tHead = "";

                    tHead += '<tr class="bg-gray-gradient" style="vertical-align:central!important">';
                    tHead += '<th></th>';
                    tHead += '<th class="text-center" style="vertical-align:middle!important"></th>';
                    tHead += '<th class="text-center" style="vertical-align:middle!important; padding-right: 0px!important;">Total</th>';
                    tHead += '<th class="text-center" style="vertical-align:middle!important; padding-right: 0px!important;">' + result.valor_total + '</th>';
                    tHead += '<th class="text-center" style="vertical-align:middle!important; padding-right: 0px!important;">' + result.valor_venda_now_total + '</th>';
                    tHead += '<th class="text-center" style="vertical-align:middle!important; padding-right: 0px!important;">' + result.valor_contato_now_total + '</th>';
                    tHead += '<th class="text-center" style="vertical-align:middle!important; padding-right: 0px!important;">' + result.valor_contato_venda_now_total + '</th>';
                    tHead += '<th></th>';
                    tHead += '</tr>';

                    var tBody = "";
                    $.each(result.dados, function (i, item) {
                        @*<tr style="vertical-align:middle!important">
                   <td style="vertical-align:middle!important">@item.ranking</td>
                   <td style="vertical-align:middle!important">@item.loja</td>
                   <td style="vertical-align:middle!important">@Html.Raw(item.vendedor.ToUpper())</td>
                   <td class="text-center" style="vertical-align:middle!important">@(String.Format("{0:C}", @item.valor))</td>
                   <td class="text-center" style="vertical-align:middle!important">@(String.Format("{0:C}", @item.valor_venda_now))</td>
                   <td class="text-center" style="vertical-align:middle!important">@(String.Format("{0:C}", @item.valor_contato_now))</td>
                   <td class="text-center">@(String.Format("{0:C}", item.valor_contato_venda_now))</td>

                   <td class="text-center" style="vertical-align:middle!important">
                       @if (item.posicao == 1)
                        {<i class="fa fa-chevron-up text-green"></i>}
                   else if (item.posicao == -1)
                   {
                           <i class="fa fa-chevron-down text-red"></i>
                   }
                   </td>

               </tr>*@
                        @*tBody += '<tr style="vertical-align:central!important">';
                        tBody += '<td style="vertical-align:central!important">' + item.ranking + '</td>';
                        tBody += '<td style="vertical-align:central!important">' + item.loja + '</td>';
                        tBody += '<td style="vertical-align:middle!important">@Html.Raw(item.vendedor.ToUpper())</td>';
                        tBody += "<td class='text-center' style='vertical-align:central!important'>" + item._strEfetividade + "</td>";
                        tBody += "<td class='text-center' style='vertical-align:central!important'>" + item._perc_crescimento + "</td>";
                        tBody += "<td class='text-center' style='vertical-align:central!important'>" + item._strValor_now + "</td>";
                        tBody += "<td class='text-center' style='vertical-align:central!important'>" + item._strContato_direto + "</td>";
                        tBody += "<td class='text-center' style='vertical-align:central!important'>" + item._strPerc_efetividade + "</td>";
                        tBody += "</tr>";*@
                    });

                    $('#theadRankVend').html(tHead);
                    $('#tBodyRankVend').html(tBody);
                },
                complete: function () {

                },
                error: function (ex) {
                    loadingExistObj('divRankVend');
                    SessaoAtiva();
                }
            });
            loadingExistObj('divRankVend');
            return false;
        }
    </script>
}

