.color {
    width: 350px;
    margin: 0 auto;
}

    .color li {
        margin: 0 15px 0 0;
        width: 30px;
        height: 30px;
        display: inline-block;
        border-radius: 100%;
    }

    .color .red {
        background: #fa5a5a;
    }

    .color .yellow {
        background: #f0d264;
    }

    .color .green {
        background: #82c8a0;
    }

    .color .cyan {
        background: #7fccde;
    }

    .color .blue {
        background: #6698cb;
    }

    .color .purple {
        background: #cb99c5;
    }

.btn2-container {
    background-color: white;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 40px;
}

.btn2, .btn2-two {
    margin: 9px;
}

.btn2-gradient {
    /*margin: 5px !important;*/
}

a[class*="btn"] {
    text-decoration: none;
}

input[class*="btn"],
button[class*="btn"] {
    border: 0;
}

/* Here you can change the button sizes */
.btn2.large,
.btn2-two.large,
.btn2-effect.large {
    padding: 20px 40px !important;
    font-size: 22px !important;
}

.btn2.small,
.btn2-two.small,
.btn2-gradient.small,
.btn2-effect.small {
    padding: 8px 18px !important;
    font-size: 14px !important;
}

.btn2.mini,
.btn2-two.mini,
.btn2-gradient.mini,
.btn2-effect.mini {
    padding: 4px 12px !important;
    font-size: 12px !important;
}

.btn2.block,
.btn2-two.block,
.btn2-gradient.block,
.btn2-effect.block {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn2-gradient.large {
    padding: 15px 45px;
    font-size: 22px !important;
}

/* Colors for .btn2 and .btn2-two */
.btn2.blue, .btn2-two.blue {
    background-color: #7fb1bf;
}

.btn2.green, .btn2-two.green {
    background-color: #9abf7f;
}

.btn2.red, .btn2-two.red {
    background-color: #fa5a5a;
}

.btn2.purple, .btn2-two.purple {
    background-color: #cb99c5;
}

.btn2.cyan, .btn2-two.cyan {
    background-color: #7fccde;
}

.btn2.yellow, .btn2-two.yellow {
    background-color: #f0d264;
}

.rounded {
    border-radius: 10px;
}

/* default button style */
.btn2 {
    position: relative;
    border: 0;
    padding: 15px 25px;
    display: inline-block;
    text-align: center;
    color: white;
}

    .btn2:active {
        top: 4px;
    }

    /* color classes for .btn2 */
    .btn2.blue {
        box-shadow: 0px 4px #74a3b0;
    }

        .btn2.blue:active {
            box-shadow: 0 0 #74a3b0;
            background-color: #709CA8;
        }

    .btn2.green {
        box-shadow: 0px 4px 0px #87a86f;
    }

        .btn2.green:active {
            box-shadow: 0 0 #87a86f;
            background-color: #87a86f;
        }

    .btn2.red {
        box-shadow: 0px 4px 0px #E04342;
    }

        .btn2.red:active {
            box-shadow: 0 0 #ff4c4b;
            background-color: #ff4c4b;
        }

    .btn2.purple {
        box-shadow: 0px 4px 0px #AD83A8;
    }

        .btn2.purple:active {
            box-shadow: 0 0 #BA8CB5;
            background-color: #BA8CB5;
        }

    .btn2.cyan {
        box-shadow: 0px 4px 0px #73B9C9;
    }

        .btn2.cyan:active {
            box-shadow: 0 0 #73B9C9;
            background-color: #70B4C4;
        }

    .btn2.yellow {
        box-shadow: 0px 4px 0px #D1B757;
    }

        .btn2.yellow:active {
            box-shadow: 0 0 #ff4c4b;
            background-color: #D6BB59;
        }

/* Button two - I have no creativity for names */
.btn2-two {
    color: white;
    padding: 15px 25px;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom-color: rgba(0,0,0,0.34);
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 0 2px 0 -1px rgba(0,0,0,0.13), 0 3px 0 -1px rgba(0,0,0,0.08), 0 3px 13px -1px rgba(0,0,0,0.21);
}

    .btn2-two:active {
        top: 1px;
        border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
        box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
        position: relative;
    }
/* 3D Button */
.btn2-3d {
    position: relative;
    display: inline-block;
    font-size: 22px !important;
    padding: 20px 60px;
    color: white;
    margin: 20px 10px 10px;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

    .btn2-3d.red:hover {
        background-color: #e74c3c;
    }

    .btn2-3d.blue:hover {
        background-color: #699DD1;
    }

    .btn2-3d.green:hover {
        background-color: #80C49D;
    }

    .btn2-3d.purple:hover {
        background-color: #D19ECB;
    }

    .btn2-3d.yellow:hover {
        background-color: #F0D264;
    }

    .btn2-3d.cyan:hover {
        background-color: #82D1E3;
    }

    .btn2-3d:active {
        top: 9px;
    }

    /* 3D button colors */
    .btn2-3d.red {
        background-color: #e74c3c;
        box-shadow: 0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    }

        .btn2-3d.red:active {
            box-shadow: 0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 0 0 1px rgba(0,0,0,0.4);
        }

    .btn2-3d.blue {
        background-color: #6DA2D9;
        box-shadow: 0 0 0 1px #6698cb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 rgba(110, 164, 219, .7), 0 8px 0 1px rgba(0,0,0,.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    }

        .btn2-3d.blue:active {
            box-shadow: 0 0 0 1px #6191C2 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 0 0 1px rgba(0,0,0,0.4);
        }

    .btn2-3d.green {
        background-color: #82c8a0;
        box-shadow: 0 0 0 1px #82c8a0 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 rgba(126, 194, 155, .7), 0 8px 0 1px rgba(0,0,0,.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    }

        .btn2-3d.green:active {
            box-shadow: 0 0 0 1px #82c8a0 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 0 0 1px rgba(0,0,0,0.4);
        }

    .btn2-3d.purple {
        background-color: #cb99c5;
        box-shadow: 0 0 0 1px #cb99c5 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 rgba(189, 142, 183, .7), 0 8px 0 1px rgba(0,0,0,.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    }

        .btn2-3d.purple:active {
            box-shadow: 0 0 0 1px #cb99c5 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 0 0 1px rgba(0,0,0,0.4);
        }

    .btn2-3d.cyan {
        background-color: #7fccde;
        box-shadow: 0 0 0 1px #7fccde inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 rgba(102, 164, 178, .6), 0 8px 0 1px rgba(0,0,0,.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    }

        .btn2-3d.cyan:active {
            box-shadow: 0 0 0 1px #7fccde inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 0 0 1px rgba(0,0,0,0.4);
        }

    .btn2-3d.yellow {
        background-color: #F0D264;
        box-shadow: 0 0 0 1px #F0D264 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 rgba(196, 172, 83, .7), 0 8px 0 1px rgba(0,0,0,.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    }

        .btn2-3d.yellow:active {
            box-shadow: 0 0 0 1px #F0D264 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 0 0 1px rgba(0,0,0,0.4);
        }

/* Gradient buttons */
.btn2-gradient {
    text-decoration: none !important;
    color: white !important;
    padding: 10px 30px !important;
    display: inline-block !important;
    position: relative !important;
    border: 1px solid rgba(0,0,0,0.21) !important;
    border-bottom: 4px solid rgba(0,0,0,0.21) !important;
    border-radius: 4px !important;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15) !important;
}
    /* Gradient - ugly css is ugly */
    .btn2-gradient.cyan {
        background: rgba(27,188,194,1)!important;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(27,188,194,1)), to(rgba(24,163,168,1)))!important;
        background: -webkit-linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%)!important;
        background: -moz-linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%)!important;
        background: -o-linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%)!important;
        background: linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%)!important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1bbcc2', endColorstr='#18a3a8', GradientType=0)!important;
    }

    .btn2-gradient.red {
        background: rgba(250,90,90,1)!important;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(250,90,90,1)), to(rgba(232,81,81,1)))!important;
        background: -webkit-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%)!important;
        background: -moz-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%)!important;
        background: -o-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%)!important;
        background: linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%)!important;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5a5a', endColorstr='#e85151', GradientType=0 )!important;
    }

    .btn2-gradient.orange {
        background: rgba(255,105,30,1)!important;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,105,30,1)), to(rgba(230,95,28,1)))!important;
        background: -webkit-linear-gradient(rgba(255,105,30,1) 0%, rgba(230,95,28,1) 100%)!important;
        background: -moz-linear-gradient(rgba(255,105,30,1) 0%, rgba(230,95,28,1) 100%)!important;
        background: -o-linear-gradient(rgba(255,105,30,1) 0%, rgba(230,95,28,1) 100%)!important;
        background: linear-gradient(rgba(255,105,30,1) 0%, rgba(230,95,28,1) 100%)!important;
    }

    .btn2-gradient.blue {
        background: rgba(102,152,203,1)!important;
        background: -moz-linear-gradient(top, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%)!important;
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,152,203,1)), color-stop(100%, rgba(92,138,184,1)))!important;
        background: -webkit-linear-gradient(top, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%)!important;
        background: -o-linear-gradient(top, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%)!important;
        background: -ms-linear-gradient(top, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%)!important;
        background: linear-gradient(to bottom, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%)!important;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6698cb', endColorstr='#5c8ab8', GradientType=0 )!important;
    }

    .btn2-gradient.purple {
        background: rgba(203,153,197,1)!important;
        background: -moz-linear-gradient(top, rgba(203,153,197,1) 0%, rgba(181,134,176,1) 100%)!important;
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(203,153,197,1)), color-stop(100%, rgba(181,134,176,1)))!important;
        background: -webkit-linear-gradient(top, rgba(203,153,197,1) 0%, rgba(181,134,176,1) 100%)!important;
        background: -o-linear-gradient(top, rgba(203,153,197,1) 0%, rgba(181,134,176,1) 100%)!important;
        background: -ms-linear-gradient(top, rgba(203,153,197,1) 0%, rgba(181,134,176,1) 100%)!important;
        background: linear-gradient(to bottom, rgba(203,153,197,1) 0%, rgba(181,134,176,1) 100%)!important;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb99c5', endColorstr='#b586b0', GradientType=0 )!important;
    }

    .btn2-gradient.yellow {
        background: rgba(240,210,100,1)!important;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(240,210,100,1)), to(rgba(229,201,96,1)))!important;
        background: -webkit-linear-gradient(rgba(240,210,100,1) 0%, rgba(229,201,96,1) 100%)!important;
        background: -moz-linear-gradient(rgba(240,210,100,1) 0%, rgba(229,201,96,1) 100%)!important;
        background: -o-linear-gradient(rgba(240,210,100,1) 0%, rgba(229,201,96,1) 100%)!important;
        background: linear-gradient(rgba(240,210,100,1) 0%, rgba(229,201,96,1) 100%)!important;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0d264', endColorstr='#e5c960', GradientType=0 )!important;
    }

    .btn2-gradient.green {
        background: rgba(130,200,160,1)!important;
        background: -moz-linear-gradient(top, rgba(130,200,160,1) 0%, rgba(130,199,158,1) 100%)!important;
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(130,200,160,1)), color-stop(100%, rgba(130,199,158,1)))!important;
        background: -webkit-linear-gradient(top, rgba(130,200,160,1) 0%, rgba(130,199,158,1) 100%)!important;
        background: -o-linear-gradient(top, rgba(130,200,160,1) 0%, rgba(130,199,158,1) 100%)!important;
        background: -ms-linear-gradient(top, rgba(130,200,160,1) 0%, rgba(130,199,158,1) 100%)!important;
        background: linear-gradient(to bottom, rgba(130,200,160,1) 0%, rgba(124, 185, 149, 1) 100%)!important;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82c8a0', endColorstr='#82c79e', GradientType=0 )!important;
    }

    .btn2-gradient.red:active {
        background: #E35252;
    }

    .btn2-gradient.orange:active {
        background: #E8601B;
    }

    .btn2-gradient.cyan:active {
        background: #169499;
    }

    .btn2-gradient.blue:active {
        background: #608FBF;
    }

    .btn2-gradient.purple:active {
        background: #BD8EB7;
    }

    .btn2-gradient.yellow:active {
        background: #DBC05B;
    }

    .btn2-gradient.green:active {
        background: #72B08E;
    }
