﻿.map-canvas {
  height: 100%;
  position: absolute; 
  top: 0; 
  bottom: -200px; 
  left: 0; 
  right: 0; 
  z-index: 0;
}


/* Msg loading 
----------------------------------------------------------*/
.logo-now {
    background: url("../app/img/LogoNow.png") no-repeat;
    width: 50px;
    height: 50px;
    /*padding-left: 10px;
        padding-top: 30px;*/
}

.img-loading {
    background: url("../app/img/loading.gif") no-repeat;
    width: 50px;
    height: 50px;
    /*padding-left: 10px;
        padding-top: 30px;*/
}


/*Tempo*/

.contorno {
    height: auto;
    margin-top: -3px;
}

    .contorno .previsao .tit {
        display: block;
        height: 10px;
        font-weight: 600;
        margin-left: 5px;
        line-height: 1px;
    }

    .contorno .previsao {
        margin-top: 10px;
    }

        .contorno .previsao .prev {
            font-size: 10px;
        }

url(images/ui-icons_222222_256x240.png) .contorno .previsao b {
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    padding-left: 9px;
    line-height: 130%;
    letter-spacing: -0.02em;
}

.contorno .previsao .c1 {
    width: 111px;
    height: 80px;
    padding-top: 0px;
    text-align: center;
    margin-left: 10px;
}

.contorno .previsao .c2 {
    width: 90px;
    background-image: url(img_tempo/ic_temp_min.png);
    background-repeat: no-repeat;
    background-position: 5px 25px;
    padding-left: 0px;
    text-align: center;
    line-height: 30px;
}

    .contorno .previsao .c2 b {
        color: #4174e8;
        font-size: 18px;
        font-weight: 600;
    }

.contorno .previsao .c3 {
    width: 90px;
    background-image: url(img_tempo/ic_temp_max.png);
    background-repeat: no-repeat;
    background-position: 5px 25px;
    padding-left: 0px;
    text-align: center;
    line-height: 30px;
}

    .contorno .previsao .c3 b {
        color: #ef9d44;
        font-size: 18px;
        font-weight: 600;
    }

.contorno .previsao .c4 {
    width: 100px;
    background-image: url(img_tempo/ic_probchuva.png);
    background-repeat: no-repeat;
    background-position: 10px 25px;
    padding-left: 7px;
    text-align: left;
    line-height: 30px;
}

    .contorno .previsao .c4 b {
        color: #000000;
        font-weight: 600;
        font-size: 16px;
        color: #5f5f5f;
    }

.contorno .previsao .c5 {
    width: 110px;
    background-image: url(img_tempo/ic_sol_nasc.png);
    background-repeat: no-repeat;
    background-position: 0 30px;
    padding-left: 0px;
    text-align: center;
    line-height: 30px;
}

.contorno .previsao .c6 {
    width: 110px;
    background-image: url(img_tempo/ic_sol_poen.png);
    background-repeat: no-repeat;
    background-position: 0 30px;
    padding-left: 0px;
    text-align: center;
    line-height: 30px;
}

.contorno .previsao .c7 {
    width: auto;
    height: 70px;
    padding-left: 10px;
    text-align: center;
    padding-top: 8px;
}

    .contorno .previsao .c7 b {
        font-size: 10px;
        color: red;
    }

    .contorno .previsao .c7 img {
        padding-bottom: 5px;
    }

.contorno .previsao .c8 {
    padding: 0 5px;
    height: auto;
    display: block;
    font-size: 12px;
    color: #5f5f5f;
}

.contorno .previsao.ext .c1 {
    width: 127px !important;
}

.contorno .previsao.ext .c2 {
    width: 110px !important;
}

.contorno .previsao.ext .c3 {
    width: 110px !important;
}

.contorno .previsao.ext .c4 {
    width: 110px !important;
}

.contorno .previsao.ext .c5 {
    width: 120px !important;
}

.contorno .previsao.ext .c6 {
    width: 120px !important;
}

.contorno .previsao .mainDiv {
    float: right;
    text-align: right;
    margin: 0px 5px 2px 5px;
}

.contorno .previsao .topItem {
    color: #7D7D7D;
    cursor: pointer;
    display: block;
    opacity: 0.8;
}

    .contorno .previsao .topItem:hover {
        opacity: 1.0;
    }

    .contorno .previsao .topItem.disable {
        color: #ff0000;
        cursor: pointer;
    }

    .contorno .previsao .topItem.active:before {
        color: #7D7D7D;
        cursor: pointer;
    }

.contorno .previsao .topItemCloseOver {
    color: #428eff;
    cursor: pointer;
}

.contorno .previsao .dropMenu {
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    clear: both;
    height: 100px;
    line-height: 20px;
}

.contorno .previsao .topItem:before {
    content: url(../img/seta2.png);
    margin-right: 5px;
}

.contorno .previsao .topItem.disable:before {
    content: url(../img/seta1.png);
    margin-right: 5px;
}

.widget {
    padding-top: 5px;
    max-height: 44px;
    border-radius: 5px 0 0 5px;
    border: none !important;
    margin: 0;
    font: 10px Arial, Helvetica, sans-serif;
    background-color: transparent;
}

    .widget div {
        float: left;
    }

.titulo {
    width: 99%;
}

.city {
    font-weight: bold;
    padding-left: 8px;
    float: left;
    border: none !important;
    text-transform: uppercase;
}

.data {
    text-align: center;
    font-weight: bold;
    float: right;
    border: none !important;
}


.icone {
    width: 45px;
    margin: -4px 5px 2px 5px;
}

.top {
    /*width: 310px;
    clear: both;
    padding: 0;
    height: 13px;*/
}


.day {
    width: 140px;
}

.desc {
    font-weight: bold;
    width: 105px;
    padding: 0 !important;
    text-align: center;
}

.temperature {
    width: 70px;
    text-align: center;
}

    .temperature .max {
        margin-top: 0;
        font-size: 25px;
        color: #F5B836;
        border: none !important;
    }

    .temperature .min {
        margin-top: 10px;
        font-size: 17px;
        color: #87B3F2;
        border: none !important;
    }

.assinatura #cptec {
    color: #FFFFFF;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
}

#google {
    height: 22px;
}

.clearb {
    clear: both;
}


.search-wrapper {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

    .search-wrapper.active {
    }

    .search-wrapper .input-holder {
        overflow: hidden;
        height: 70px;
        background: rgba(255,255,255,0);
        border-radius: 6px;
        position: relative;
        width: 70px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .search-wrapper.active .input-holder {
        border-radius: 50px;
        width: 450px;
        background: rgba(0,0,0,0.5);
        -webkit-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
        -moz-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
        transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    }

    .search-wrapper .input-holder .search-input {
        width: 100%;
        height: 50px;
        padding: 0px 70px 0 20px;
        opacity: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        background: transparent;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: none;
        outline: none;
        font-family: "Open Sans", Arial, Verdana;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #FFF;
        -webkit-transform: translate(0, 60px);
        -moz-transform: translate(0, 60px);
        transform: translate(0, 60px);
        -webkit-transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
        -moz-transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
        transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
        -webkit-transition-delay: 0.3s;
        -moz-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }

    .search-wrapper.active .input-holder .search-input {
        opacity: 1;
        -webkit-transform: translate(0, 10px);
        -moz-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }

    .search-wrapper .input-holder .search-icon {
        width: 70px;
        height: 70px;
        border: none;
        border-radius: 6px;
        background: #FFF;
        padding: 0px;
        outline: none;
        position: relative;
        z-index: 2;
        float: right;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .search-wrapper.active .input-holder .search-icon {
        width: 50px;
        height: 50px;
        margin: 10px;
        border-radius: 30px;
    }

    .search-wrapper .input-holder .search-icon span {
        width: 22px;
        height: 22px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
        -moz-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
        transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    }

    .search-wrapper.active .input-holder .search-icon span {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
        position: absolute;
        content: '';
    }

    .search-wrapper .input-holder .search-icon span::before {
        /*width: 4px;
        height: 11px;
        left: 9px;
        top: 18px;
        border-radius: 2px;
        background: #974BE0;*/
    }

    .search-wrapper .input-holder .search-icon span::after {
        /*width: 14px;
        height: 14px;
        left: 0px;
        top: 0px;
        border-radius: 16px;
        border: 4px solid #974BE0;*/
    }

    .search-wrapper .close {
        position: absolute;
        z-index: 1;
        top: 24px;
        right: 20px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        transform: rotate(-180deg);
        -webkit-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
        -moz-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
        transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
        -webkit-transition-delay: 0.2s;
        -moz-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }

    .search-wrapper.active .close {
        right: -50px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
        -moz-transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
        transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
        -webkit-transition-delay: 0.5s;
        -moz-transition-delay: 0.5s;
        transition-delay: 0.5s;
    }

    .search-wrapper .close::before, .search-wrapper .close::after {
        position: absolute;
        content: '';
        background: #FFF;
        border-radius: 2px;
    }

    .search-wrapper .close::before {
        width: 5px;
        height: 25px;
        left: 10px;
        top: 0px;
    }

    .search-wrapper .close::after {
        width: 25px;
        height: 5px;
        left: 0px;
        top: 10px;
    }

    .search-wrapper .result-container {
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0px;
        text-align: center;
        font-family: "Open Sans", Arial, Verdana;
        font-size: 14px;
        display: none;
        color: #B7B7B7;
    }


@media screen and (max-width: 560px) {
    .search-wrapper.active .input-holder {
        width: 200px;
    }
}

.checkbox {
    padding-left: 20px;
}

    .checkbox label {
        display: inline-block;
        position: relative;
        padding-left: 5px;
    }

        .checkbox label::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 17px;
            height: 17px;
            left: 0;
            margin-left: -20px;
            border: 1px solid #cccccc;
            border-radius: 3px;
            background-color: #fff;
            -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        }

        .checkbox label::after {
            display: inline-block;
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0;
            top: 0;
            margin-left: -20px;
            padding-left: 3px;
            padding-top: 1px;
            font-size: 11px;
            color: #555555;
        }

    .checkbox input[type="checkbox"] {
        opacity: 0;
    }

        .checkbox input[type="checkbox"]:focus + label::before {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

        .checkbox input[type="checkbox"]:checked + label::after {
            font-family: 'FontAwesome';
            content: "\f00c";
        }

        .checkbox input[type="checkbox"]:disabled + label {
            opacity: 0.65;
        }

            .checkbox input[type="checkbox"]:disabled + label::before {
                background-color: #eeeeee;
                cursor: not-allowed;
            }

    .checkbox.checkbox-circle label::before {
        border-radius: 50%;
    }

    .checkbox.checkbox-inline {
        margin-top: 0;
    }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
}


.radio {
    padding-left: 20px;
}

    .radio label {
        display: inline-block;
        position: relative;
        padding-left: 5px;
    }

        .radio label::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 17px;
            height: 17px;
            left: 0;
            /*margin-left: -20px;
            border: 1px solid #cccccc;
            border-radius: 50%;
            background-color: #fff;
            -webkit-transition: border 0.15s ease-in-out;
            -o-transition: border 0.15s ease-in-out;
            transition: border 0.15s ease-in-out;*/
            margin-left: 122px;
            border: 1px solid #cccccc;
            border-radius: 50%;
            background-color: #fff;
            -webkit-transition: border 0.15s ease-in-out;
            -o-transition: border 0.15s ease-in-out;
            transition: border 0.15s ease-in-out;
            margin-top: 0px;
        }

        .radio label::after {
            display: inline-block;
            position: absolute;
            content: " ";
            width: 11px;
            height: 11px;
            left: 3px;
            top: 3px;
            /*margin-left: -20px;*/
            margin-left: 122px;
            margin-top: 0px;
            border-radius: 50%;
            background-color: #555555;
            -webkit-transform: scale(0, 0);
            -ms-transform: scale(0, 0);
            -o-transform: scale(0, 0);
            transform: scale(0, 0);
            -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        }

    .radio input[type="radio"] {
        opacity: 0;
    }

        .radio input[type="radio"]:focus + label::before {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

        .radio input[type="radio"]:checked + label::after {
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: scale(1, 1);
        }

        .radio input[type="radio"]:disabled + label {
            opacity: 0.65;
        }

            .radio input[type="radio"]:disabled + label::before {
                cursor: not-allowed;
            }

    .radio.radio-inline {
        margin-top: 0;
    }

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca;
}

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}


