﻿@using Now.Domain;
@model Usuario


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" http-equiv="Cache-control" content="no-cache" />
    <title>@ViewBag.Title - Now</title>
    @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="@Url.Content("~/app/css/bootstrap.min.css")">

    <link rel="stylesheet" href="@Url.Content("~/app/css/bootstrapValidator.css")">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/app/css/ionicons.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/dist/css/AdminLTE_3.min.css")">

    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/dist/css/skins/_all-skins.min.css")">

    <!-- iCheck -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/iCheck/square/blue.css")">

    <link rel="stylesheet" href="@Url.Content("~/plugins/steps/jquery.steps.css")">

    <link rel="stylesheet" href="@Url.Content("~/app/css/jquery.msg.css")">
    <link rel="stylesheet" href="@Url.Content("~/app/css/BlockUi.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/btn.css?data=" + DateTime.Now.ToString("ddMMyyyyHHmmss"))" )">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page">
    <div class="login-box">

        <div class="login-logo">
            <img src="@Url.Content("~/app/img/LogoNOW.png")" />
            <br />
            @Html.Raw((System.Configuration.ConfigurationManager.AppSettings["ambiente"].ToString() != "PRODUCAO" ? "<br />" + System.Configuration.ConfigurationManager.AppSettings["ambiente"].ToString() : ""))
        </div>
        <!-- /.login-logo -->
        <div id="DivLogin" class="login-box-body form-validation-login" style="display: block">
            <p class="login-box-msg">Entre com os dados de acesso!</p>
            <div class="form-group has-feedback imput-login">
                <input type="text" class="form-control" placeholder="Usuário" id="usuario" value="" autofocus autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Senha" id="senha" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" />
                <span class="fa fa-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="checkbox icheck">
                        <label>
                            @{
                                string _checked = "";
                                if (ViewBag.check == "check")
                                {
                                    _checked = "checked='" + ViewBag.check + "'";
                                }
                                <input type="checkbox" class="chekSalvarSenha">
                            }
                            Lembrar
                        </label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <button class="btn2-gradient btn-primary btnLogin pull-right text-uppercase text-bold" type="submit"><i class="fa fa-key"></i> <b>ENTRAR</b></button>
                </div>
            </div>
            <a href="#" id="trocarSenha">Trocar senha</a>&nbsp;<a href="#" data-toggle="modal" data-target="#modalAjuda" onmouseout="$.unblockUI();"><i class="fa fa-question-circle"></i></a><br>
        </div>

        <div id="DivTrocaSenha" class="login-box-body form-validation-login-nova " style="display: none">
            <p class="login-box-msg">Entre com os dados de acesso!</p>
            <div class="form-group has-feedback">
                @Html.TextBox("senhaRecebida", "", new { @class = "form-control", @type = "password", @placeholder = "Senha Recebida" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBox("senhaNova", "", new { @class = "form-control", @type = "password", @placeholder = "Nova Senha" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBox("senhaConfirmar", "", new { @class = "form-control", @type = "password", @placeholder = "Confirmar Senha" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <a href="#" class="btn2-gradient btn-warning pull-left text-uppercase text-bold" id="voltarLogin"><i class="fa fa-return"></i> <b>VOLTAR</b></a><br>
                </div>
                <div class="col-xs-6">
                    <button class="btn2-gradient btn-success btnAlterarLogin pull-right text-uppercase text-bold" type="submit"><i class="fa fa-edit"></i> <b>ALTERAR</b></button>
                </div>
            </div>
        </div>

        <div id="DivTokenVendedor" class="form-validation-login-nova hold-transition lockscreen" style="display: none">
            <div class="lockscreen-wrapper">
                <!-- User name -->
                <div class="lockscreen-name"></div>
                <input id="hdIdloja" type="hidden" />
                <!-- START LOCK SCREEN ITEM -->
                <div class="lockscreen-item">
                    <!-- lockscreen image -->
                    <div class="lockscreen-image">
                        <img src="@Url.Content("~/dist/img/user1-128x128.jpg")" alt="Usuário" id="usuaVendedor">
                    </div>
                    <!-- /.lockscreen-image -->
                    <!-- lockscreen credentials (contains the form) -->
                    <form class="lockscreen-credentials">
                        <div class="input-group">
                            @Html.TextBox("tokenRecebido", "", new { @class = "form-control", @type = "password", @placeholder = "Token Gerado Loja" })

                            <div class="input-group-btn">
                                <button type="button" class="btn"><i class="fa fa-arrow-right text-muted"></i></button>
                            </div>
                        </div>
                    </form>
                    <!-- /.lockscreen credentials -->

                </div>
                <!-- /.lockscreen-item -->
                <div class="help-block text-center">
                    Vendedor informe o token de acesso, caso não tenha solicite ao caixa da loja!
                </div>
                <hr />
                <div class="col-xs-8">
                    <a href="#" id="voltarLogin">Voltar ao Login</a><br>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn2-gradient blue btn-block  text-uppercase text-bold btnAcessarToken">Validar</button>
                </div>
            </div>

            @*<div>
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" style="border:3px solid #fff!important;" src="../../@Url.Content("~/dist/img/user4-128x128.jpg")" alt="Usuário" id="usuaVendedor">

                        <h3 class="profile-username text-center lockscreen-name">-</h3>

                        <p class="text-danger text-center msgAcesso">-</p>

                        <a href="#" class="btn2-gradient blue btn-block small" id="voltarLogin">Voltar ao Login</a>
                    </div>
                </div>*@
        </div>


        <br />
        <div id="infoTrocaSenha" class="callout callout-warning" style="display:none">
            <h4>Senha enviada para email informado!</h4>
            <p>Informe no campo <strong>Senha Recebida</strong> a senha que enviamos para seu email.</p>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    @*<h2>Use a local account to log in.</h2>
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Log in Form</legend>
                <ol>
                    <li>
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </li>
                    <li>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                    </li>
                </ol>
                <input type="submit" value="Log in" />
            </fieldset>
            <p>
                @Html.ActionLink("Register", "Register") if you don't have an account.
            </p>
        }*@


    <div class="modal fade" id="modalAjuda" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h2 class="modal-title">Trocar a Senha </h2>
                </div>
                <div class="modal-body">
                    <div id="wizard" class="wizard">
                        <h2>Login</h2>
                        <section>
                            - Inserir o email do login;
                            <br />
                            - Deixar o campo "Senha" em branco;
                            <br />
                            - Em seguida clique em "Trocar Senha".
                            <br /><br />
                            <img src="@Url.Content("~/Images/TrocaSenha/Login.gif")" style="width:100%" />
                        </section>
                        <h2>E-mail</h2>
                        <section>
                            <p>
                                - Quando você clicar em "Trocar Senha", o sistema irá enviar uma senha temporária para o email informado no login e automaticamente abrirá uma tela para alteração de senha
                                <br />
                                <br />
                                - Copie a senha enviada por email e cole na tela de alteração de senha no campo indicado
                            </p>
                            <img src="@Url.Content("~/Images/TrocaSenha/CopiaCodigo.gif")" style="width:100%" />
                        </section>
                        <h2>Troca</h2>
                        <section>
                            <p>
                                - Ao copiar a senha enviada por email;<br />
                                - Cole na tela no campo "Senha Recebida";<br />
                                - Informe a Nova Senha;<br />
                                - Confirme a Nova Senha;<br />
                                - Para finalizar clique no botão ALTERAR.
                            </p>
                            <img src="@Url.Content("~/Images/TrocaSenha/Alteracao.gif")" style="width:100%" />
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery 2.2.0 -->
    <script src="@Url.Content("~/app/js/jQuery-2.2.0.min.js")"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="@Url.Content("~/app/js/jquery-ui.min.js")"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="@Url.Content("~/app/js/bootstrap.min.js")"></script>
    <!-- iCheck -->
    <script src="@Url.Content("~/app/js/icheck.min.js")"></script>




    <script src="@Url.Content("~/app/js/jquery.center.min.js")"></script>
    <script src="@Url.Content("~/app/js/jquery.msg.js")"></script>

    <script src="@Url.Content("~/app/js/jquery.blockUI.js")"></script>
    <script src="@Url.Content("~/app/js/bootstrapValidator.js")"></script>
    <script src="@Url.Content("~/app/js/jquery.steps.js")"></script>

    @if (TempData["Sucesso"] != null)
    {
        <script type="text/javascript">
            $.msg({ content: '@TempData["Sucesso"].ToString()', tipo: 'alert-success', titulo: 'Sucesso', img: 'fa-check' });
        </script>
    }

    @if (TempData["Erro"] != null)
    {
        <script type="text/javascript">
            $.msg({ content: '@TempData["Erro"].ToString()', tipo: 'alert-danger', titulo: 'Erro', img: 'fa-danger' });
        </script>
    }

    @if (TempData["Info"] != null)
    {
        <script type="text/javascript">
            $.msg({ content: '@TempData["Info"].ToString()', tipo: 'alert-info', titulo: 'Informação', img: 'fa-info' });
        </script>
    }

    @if (TempData["Atencao"] != null)
    {
        <script type="text/javascript">
            $.msg({ content: '@TempData["Atencao"].ToString()', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
        </script>
    }

    <script>

        $(document).ready(function () {

            $("a").click(function (event) {
                var link = $(this);

                if (link.attr("id").match("trocarSenha")) {
                    if ($('.form-validation-login').data('bootstrapValidator') != null)
                        $('.form-validation-login').data('bootstrapValidator').resetForm();

                    ValidarTroca1();
                    $('.imput-login').data('bootstrapValidator').validate();

                    if ($('.imput-login').data('bootstrapValidator').isValid()) {
                        //SalvarContato();
                    }
                    else {
                        $.msg({ content: 'Campos obrigatórios!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
                    }
                }

                if (link.attr("id").match("voltarLogin")) {
                    $("#DivLogin").show("show");
                    $("#DivTrocaSenha").hide("show");
                    $("#DivTokenVendedor").hide("show");
                    $("#infoTrocaSenha").hide("show");
                }

                event.preventDefault();
            });
        })

        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%'
        });

        $(".loading").click(function () {
            loading();
        });

        function loading() {
            @*$.blockUI({ message: '<h1 class="text-muted" ondblclick="$.unblockUI();"><img src="@Url.Content("~/Images/LogoNow.png")" /><br><img src="@Url.Content("~/Images/loadingReserva.gif")" /><br>Aguarde um momento...</h1>' });*@
            $.blockUI({ message: '<h1 class="text-muted" ondblclick="$.unblockUI();"><img src="@Url.Content("~/Images/loadingReserva3.gif")" /><br>Aguarde um momento...</h1>' });
        }

        document.onreadystatechange = function () {
            var state = document.readyState;
            if (state == 'complete') {
                $.unblockUI();
            }
        }
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-84287739-1', 'auto');
    ga('send', 'pageview');
    </script>

    <script>

        $("#wizard").steps({
            headerTag: "h2",
            bodyTag: "section",
            transitionEffect: "slideLeft"
        });

        $(".btnLogin").click(function () {
            Validar();
            $('.form-validation-login').data('bootstrapValidator').validate();

            if ($('.form-validation-login').data('bootstrapValidator').isValid()) {
                //SalvarContato();
            }
            else {
                $.msg({ content: 'Campos obrigatórios!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
            }

            $(".btnLogin").removeAttr("disabled");
        });

        $(".btnAlterarLogin").click(function () {
            ValidarTroca();
            $('.form-validation-login-nova').data('bootstrapValidator').validate();

            if ($('.form-validation-login-nova').data('bootstrapValidator').isValid()) {
                //SalvarContato();
            }
            else {
                $.msg({ content: 'Campos obrigatórios!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
            }
        });

        $(".btnAcessarToken").click(function () {
            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AcessarToken", "Login")',
                dataType: 'json',
                data: { token: $("#tokenRecebido").val(), idLoja: $("#hdIdloja").val() },
                success: function (result) {
                    if (!result.success) {
                        $.unblockUI();
                        $.msg({ content: result.responseText, tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
                    }
                    else {
                        window.location.href = '@Url.Action("Index", "Dashboard")';
                        //window.location.href = '@Url.Action("Index", "Vendedor/Dashboard")?id=' + localStorage.getItem("vendedor");
                    }
                },
                complete: function (result) {
                    if (!result.success) {
                        $.unblockUI();
                    }
                },
                error: function (result) {
                    $.unblockUI();
                    //SessaoAtiva();
                }
            });
            return false;
        });


        //Validar();
        // ValidarTroca();
        // ValidarTroca1();

        function Validar() {
            $('.form-validation-login')
                .bootstrapValidator({
                    message: 'This value is not valid',
                    excluded: [':disabled', ':hidden', ':not(:visible)'],
                    fields: {
                        usuario: {
                            validators: {
                                notEmpty: {
                                    message: 'Login é obrigatório!'
                                }
                            }
                        },
                        senha: {
                            validators: {
                                notEmpty: {
                                    message: 'Senha é obrigatório!'
                                }
                            }
                        }
                    }
                }).on('success.form.bv', function (e, data) {
                    onLogin();
                });
        }

        function ValidarTroca1() {
            $('.imput-login')
                .bootstrapValidator({
                    message: 'This value is not valid',
                    excluded: [':disabled', ':hidden', ':not(:visible)'],
                    fields: {
                        usuario: {
                            validators: {
                                notEmpty: {
                                    message: 'Login é obrigatório!'
                                }
                            }
                        }
                    }
                }).on('success.form.bv', function (e, data) {
                    onVerificarLogin();
                });
        }

        function ValidarTroca() {
            $('.form-validation-login-nova')
                .bootstrapValidator({
                    message: 'This value is not valid',
                    excluded: [':disabled', ':hidden', ':not(:visible)'],
                    fields: {
                        senhaRecebida: {
                            validators: {
                                notEmpty: {
                                    message: 'Senha recebida é obrigatório!'
                                }
                            }
                        },
                        senhaNova: {
                            validators: {
                                notEmpty: {
                                    message: 'Nova senha é obrigatório!'
                                }
                            }
                        },
                        senhaConfirmar: {
                            validators: {
                                notEmpty: {
                                    message: 'É obrigatório confirmar senha!'
                                }
                            }
                        }
                    }
                }).on('success.form.bv', function (e, data) {
                    onAlterarSenha();
                });
        }

        function onLogin() {
            $("#hdIdloja").val('');

            var usuario = $("#usuario").val();
            var senha = $("#senha").val();

            if ($("#usuario").val() == "")
                usuario = getCookie("usuario");

            if ($("#senha").val() == "")
                senha = getCookie("password");

            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Login", "Login")',
                dataType: 'json',
                data: { login: usuario, senha: senha },
                success: function (result) {
                    if (!result.success) {
                        $.unblockUI();
                        $.msg({ content: result.responseText, tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
                    }
                    else {
                        var tipoLojaReserva = result.usuario.LojasUsuario.find(x => x.tipo_loja == "RESERVA" || x.tipo_loja == "RESERVA+MINI");
                        var lojaPiloto = result.usuario.LojasUsuario.find(x => x.id == 303 || x.id == 315);
                        var vendedorTeste = result.usuario.Usuario.username;

                        //ROTINA PARA DIRECIONAR PARA NOVO LOGIN

                            if ((result.perfil == "VENDEDOR") && (tipoLojaReserva) && (lojaPiloto)) {
                            @*$.unblockUI();
                            if (result.recriarSenha) {
                                TrocaSenhaBox();

                                $("#senhaRecebida").val($("#senha").val());
                            } else {
                                $("#DivLogin").hide("show");
                                $("#DivTokenVendedor").show("show");
                                $("#hdIdloja").val(result.idLoja);

                                if (result.usuario != null) {
                                    var nome = "";
                                    for (var i = 0; i < result.usuario.Usuario.username.split(' ').length; i++) {
                                        if (i < 2)
                                            nome = nome + ' ' + result.usuario.Usuario.username.split(' ')[i];
                                    }

                                    $(".lockscreen-name").html(nome);
                                    $("#usuaVendedor").attr("src", result.usuario.Usuario.img_perfil_vendedor);
                                }

                                if (result.responseText != "") {
                                    $(".msgAcesso").html(result.responseText);
                                }
                                else {
                                    window.location.href = '@Url.Action("Index", "Dashboard")';
                                }
                            }*@
                                GravarLogin();

                                localStorage.setItem('vendedor', result.usuario.IdVendedorSeleconado);
                                localStorage.setItem('loja', result.usuario.IdLojaSeleconado);

                                //window.location.href = '@Url.Action("Index", "Vendedor/Dashboard")?id=' + result.usuario.IdVendedorSeleconado;

                                $("#DivTokenVendedor").show("show");
                                $("#DivLogin").hide("show");

                            }
                            else {
                                GravarLogin();
                                window.location.href = '@Url.Action("Index", "Dashboard")';
                            }
                    }
                },
                complete: function (result) {
                    if (!result.success) {
                        $.unblockUI();
                    }
                },
                error: function (result) {
                    $.msg({ content: result.responseText, tipo: 'alert-danger', titulo: 'Erro', img: 'fa-danger' });
                    $.unblockUI();
                    //SessaoAtiva();
                }
            });
            return false;
        }

        $(".chekSalvarSenha").on('ifChecked', function (event) {
            GravarLogin();
        });

        $(".chekSalvarSenha").on('ifUnchecked', function (event) {
            GravarLogin();
        });

        //$("#usuario").css('background-color', '#ffffff');
        //$("#senha").css('background-color', '#ffffff');

        if (getCookie("lembrar"))
        {
            $("#usuario").val(getCookie("usuario"));
            $("#senha").val(getCookie("password"));

            $(".chekSalvarSenha").iCheck('check');
        }
        else
        {
            createCookie("usuario", "", 0);
            createCookie("password", "", 0);
            createCookie("lembrar", "", 0);

            $("#usuario").val("");
            $("#senha").val("");

            $(".chekSalvarSenha").iCheck("checked");
        }

        function GravarLogin() {
            createCookie("usuario", "", 0);
            createCookie("password", "", 0);
            createCookie("lembrar", "", 0);

            if ($('.chekSalvarSenha').is(":checked")) {
                createCookie("usuario", $("#usuario").val(), 1000);
                createCookie("password", $("#senha").val(), 1000);
                createCookie("lembrar", $('.chekSalvarSenha').is(":checked"), 1000);
            }
            else {
                createCookie("usuario", "", 0);
                createCookie("password", "", 0);
                createCookie("lembrar", "", 0);
            }
            //createCookie("check", check, 1000);
            @*$.ajax({
                type: 'POST',
                url: '@Url.Action("GrabarLogin", "Login")',
                dataType: 'json',
                data: { check: check, login: $("#usuario").val(), senha: $("#senha").val() },
                success: function (result) {
                    $.unblockUI();
                    if (!result.success) {
                        $.msg({ content: result.responseText, tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
                    }
                    else {

                    }
                },
                complete: function (result) {
                    if (!result.success) {
                        $.unblockUI();
                    }
                },
                error: function (result) {
                    $.msg({ content: result.responseText, tipo: 'alert-danger', titulo: 'Erro', img: 'fa-danger' });
                    $.unblockUI();
                    SessaoAtiva();
                }
            });*@
            $.unblockUI();
            return false;
        }

        function createCookie(name, value, days) {
            var expires;
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toGMTString();
            }
            else {
                expires = "";
            }

            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) {
                        c_end = document.cookie.length;
                    }
                    return unescape(document.cookie.substring(c_start, c_end));
                }
            }
            return "";
        }

        function onVerificarLogin() {
            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("VerificaLogin", "Login")',
                dataType: 'json',
                data: { login: $("#usuario").val() },
                success: function (result) {
                    $.unblockUI();
                    if (!result.success) {
                        $.msg({ content: result.responseText, tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
                    }
                    else {
                        TrocaSenhaBox();
                    }
                },
                complete: function (result) {
                    if (!result.success) {
                        $.unblockUI();
                    }
                },
                error: function (result) {
                    $.msg({ content: result.responseText, tipo: 'alert-danger', titulo: 'Erro', img: 'fa-danger' });
                    $.unblockUI();
                    //SessaoAtiva();
                }
            });
            return false;
        }

        function TrocaSenhaBox() {
            $("#DivLogin").hide("show");
            $("#DivTrocaSenha").show("show");
            $("#infoTrocaSenha").show("show");
        }


        function onAlterarSenha() {
            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("TrocarSenha", "Login")',
                dataType: 'json',
                data: { login: $("#usuario").val(), senhaRecebida: $("#senhaRecebida").val(), senhaNova: $("#senhaNova").val(), senhaConfirmar: $("#senhaConfirmar").val() },
                success: function (result) {
                    if (!result.success) {
                        $.unblockUI();
                        $.msg({ content: result.responseText, tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
                    }
                    else {
                        $.unblockUI();
                        $.msg({ content: result.responseText, tipo: 'alert-success', titulo: 'Sucesso', img: 'fa-check' });
                        $("#DivLogin").show("show");
                        $("#DivTrocaSenha").hide("show");
                        $("#infoTrocaSenha").hide("show");
                    }
                },
                complete: function (result) {
                    if (!result.success) {
                        $.unblockUI();
                    }
                },
                error: function (result) {
                    $.msg({ content: result.responseText, tipo: 'alert-danger', titulo: 'Erro', img: 'fa-danger' });
                    $.unblockUI();
                    //SessaoAtiva();
                }
            });
            return false;
        }



    </script>
    <!-- AGENDAMENTO - FIM -->
</body>

</html>
