﻿@using Now.Domain;
@model IList<Notificacao>

@{
    ViewBag.Title = "Notificaçãoes";
}

<div class="box box-default color-palette-box">
    <div class="box-header with-border">
        <a href="@Url.Action("Favoritos", "Cliente")" class="btn2-gradient btn-success btnSalvarContato text-uppercase text-bold"><i class="fa fa-refresh"></i> <b>ATUALIZAR</b></a>
    </div>
    <div class="box-body">
        <div id="t-responsive" class="table-responsive no-padding">
            <table id="listaInfoVendas" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center" width="50px"></th>
                        <th class="text-center">Titulo</th>
                        <th class="text-center">Descrição</th>
                        <th class="text-center">Data Notificação</th>
    <th class="text-center">Data Visto</th>
    <th class="text-center">Visto?</th>
    @*<th class="text-center">Ticket Médio 12m</th>
    <th class="text-center">Qtde Compras Geral</th>
    <th class="text-center">Valor Compras Geral</th>
    <th class="text-center">Ticket Médio Geral</th>
    <th class="text-center">Qtde Compras Vendedor</th>
    <th class="text-center">Data Ult. Contato</th>*@
    <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Notificacao item in (List<Notificacao>)@Model)
                    {
                        <tr>
                            <td class="text-center"><img style="border-radius:0%!important; width:32px; height:32px; display:initial;" src="@Url.Content("~/Images/"+item.icone)" class="img-circle img-responsive" /></td>
                            <td class="text-center">@item.titulo </td>
                            <td class="text-left">@Html.Raw(item.descricao)</td>
                            <td class="text-center">@item.data_notificacao</td>
    <td class="text-center">@item.data_visto_formatado</td>
   <td class="text-center"><img style="border-radius:0%!important; display:initial; @(item.visto == 0 ? "cursor:pointer":"")" src="@Url.Content("~/Images/"+item.imgVisto)" /> </td>
   @* <td class="text-center">@(String.Format("{0:C}", item.acum12_tm))</td>
    <td class="text-center">@item.acumvd_qtde_compras</td>
    <td class="text-center">@(String.Format("{0:C}", item.acumvd_valor_compras))</td>
    <td class="text-center">@(String.Format("{0:C}", item.acumvd_tm))</td>
    <td class="text-center">@item.vend_qtde_compras</td>
    <td class="text-center">@item.data_ult_contato.ToString("dd/MM/yyyy")</td>*@
    <td class="text-center">
        <a href="@Url.Action(item.action, item.controler)" class="btn2-gradient red text-uppercase text-bold text-nowrap"> Acessar <i class="glyphicon glyphicon-share"></i></a>
    </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




@section Scripts{
    <script>
        $(".table").DataTable({
            "order": [[5, "desc"]],
            "language": {
                "decimal": ",",
                "thousands": "."
            }
        });

    </script>
}


