﻿@{
    Layout = null;
}

<html xmlns='http://www.w3.org/1999/xhtml'>
<head>

    <meta http-equiv='content-type' content='text/html; charset=utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='format-detection' content='telephone=no' />
    <style>
        /* Reset styles */
        body {
            margin: 0;
            padding: 0;
            min-width: 100%;
            width: 100% !important;
            height: 100% !important;
            font-family: Helvetica,sans-serif;
        }

        body, table, td, div, p, a {
            -webkit-font-smoothing: antialiased;
            text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
            line-height: 100%;
        }

        table, td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
            border-collapse: collapse !important;
            border-spacing: 0;
        }

        img {
            border: 0;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        #outlook a {
            padding: 0;
        }

        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                line-height: 100%;
            }

        /* Rounded corners for advanced mail clients only */


        /* Set color for auto links (addresses, dates, etc.) */
        a, a:hover {
            color: #127DB3;
        }

        .footer a, .footer a:hover {
            color: #999999;
        }



        .list-type1 {
            /* width: 400px;*/
            margin: 0 auto;
        }

            .list-type1 ol {
                counter-reset: li;
                list-style: none;
                *list-style: decimal;
                font-size: 15px;
                font-family: 'Raleway', sans-serif;
                padding: 0;
                margin-bottom: 4em;
            }

                .list-type1 ol ol {
                    margin: 0 0 0 2em;
                }

            .list-type1 a {
                position: relative;
                display: block;
                padding: .4em .4em .4em 2em;
                *padding: .4em;
                margin: .5em 0;
                background: #93C775;
                color: #000;
                text-decoration: none;
                -moz-border-radius: .3em;
                -webkit-border-radius: .3em;
                border-radius: 10em;
                transition: all .2s ease-in-out;
            }

                .list-type1 a:hover {
                    background: #d6d4d4;
                    text-decoration: none;
                    transform: scale(1.1);
                }

                .list-type1 a:before {
                    content: counter(li);
                    counter-increment: li;
                    position: absolute;
                    left: -1.3em;
                    top: 50%;
                    margin-top: -1.3em;
                    background: #93C775;
                    height: 2em;
                    width: 2em;
                    line-height: 2em;
                    border: .3em solid #fff;
                    text-align: center;
                    font-weight: bold;
                    -moz-border-radius: 2em;
                    -webkit-border-radius: 2em;
                    border-radius: 2em;
                    color: #FFF;
                }

        .list-type1_hover {
            background: #93C775;
            text-decoration: none;
            transform: scale(1.1);
        }

        .corpo-email {
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            -webkit-font-smoothing: antialiased;
            text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
            line-height: 100%;
            background-color: #F0F0F0;
            color: #000000;
        }

        .saudacao-cliente {
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0;
            padding: 0;
            padding-left: 6.25%;
            padding-right: 6.25%;
            width: 87.5%;
            font-size: 24px;
            font-weight: bold;
            line-height: 130%;
            padding-top: 25px;
            color: #000000;
            font-family: sans-serif;
        }

        .img-vendedor {
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0;
            padding: 0;
            padding-bottom: 3px;
            padding-left: 6.25%;
            padding-right: 6.25%;
            width: 87.5%;
            font-size: 18px;
            font-weight: 300;
            line-height: 150%;
            padding-top: 5px;
            color: #000000;
            font-family: sans-serif;
        }

        .btn-enviar-avaliacao {
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0;
            padding: 0;
            padding-left: 6.25%;
            padding-right: 6.25%;
            width: 87.5%;
            padding-top: 25px;
            padding-bottom: 5px;
        }

        .nps-icon {
            text-decoration: none;
            padding: 1rem;
            background-color: #e2e6ea;
            border-color: #dae0e5;
            color: #a0a1a1;
            padding-left: 17px;
            padding-right: 17px;
            font-size: 13pt;
            font-weight: 600;
            margin-right: 4px;
        }

            .nps-icon:hover {
                background-color: #f1c40f;
                color: #505050;
                border: solid 1px #505050;
            }


        .nps-icon-select {
            background-color: #f1c40f;
            color: #505050;
            border: solid 1px #505050;
        }

        .nps-pouco-feliz {
            float: left;
            /*font-size: 11pt;*/
            margin-top: 45px;
            margin-right: -91px;
            font-family: Helvetica,sans-serif;
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
            padding-left: 0px;
            margin-left: 22px;
            position: absolute;
            color: #E0E0E0;
        }

        .nps-muito-feliz {
            float: right;
            font-family: Helvetica,sans-serif;
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 28px;
            padding-right: 30px;
            color: #E0E0E0;
        }

        .link-final {
            line-height: 20px;
            text-decoration: none;
            color: #404040;
            font-family: Helvetica,sans-serif;
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .textos-arquivo {
            line-height: 20px;
            text-decoration: none;
            color: #333333;
            font-family: sans-serif;
            font-size: 11px;
            font-weight: bold;
        }

        .texto-complemento-avaliacao {
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0;
            padding: 0;
            padding-left: 6.25%;
            padding-right: 6.25%;
            width: 87.5%;
            font-size: 17px;
            font-weight: 400;
            /*line-height: 160%;*/
            padding-top: 5px;
            color: #000000;
            font-family: Helvetica,sans-serif;
            line-height: 30px
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="@Url.Content("~/plugins/RatingJs/js/funcoes.js")"></script>

    <script type="text/javascript">

        var getQueryString = function (field, url) {
            var href = url ? url : window.location.href;
            var reg = new RegExp('[?&]' + field + '=([^&#]*)', 'i');
            var string = reg.exec(href);
            return string ? string[1] : null;
        };

        $(function () {
            var _idContato = getQueryString('id');
            var vlrAvaliacao = getQueryString('avaliacao');
            var imgUrl = getQueryString('imgurl');
            //Avaliar(parseInt(vlrAvaliacao));
            AvaliaNota(parseInt(vlrAvaliacao))


            //var texto = "";
            //if (getQueryString('texto') != null) {
            //    texto = getQueryString('texto').replace(/%20/g, " ");
            //}

              $.ajax({
                    type: 'POST',
                    url: '@Url.Action("BuscarContato", "AcessoExterno")',
                    dataType: 'json',
                    data: { idContato: _idContato },
                    success: function (result) {
                        if (result.success) {

                            if (imgUrl != null && imgUrl != "") {
                                var _img = "<img border='0' vspace='0' hspace='0' src='http://usereserva.dyndns.org:82/Intranet/images/fotosVendedores/" + imgUrl + "' width='120' height='120' alt='Logo' title='Logo' style='border-radius: 50%;' />"

                                $("#imgVendedor").html(_img);
                            }

                            $(".logo").attr('src', result.contato.url_avaliacao);
                            if (result.contato.avaliado > 0) {
                                $(".avaliacao").hide();
                                $(".resultado").show();
                                $(".tdNaoRecebiContato").hide();

                                if ((getQueryString('naorecebi') != null && getQueryString('naorecebi') == 0) || result.contato.flg_contato_feito == 0) {
                                    //$(".resultadoText").html("Já Registramos que o vendedor <span style='color:red'>NÃO</span> entrou em contato! Motivo " + texto);
                                    var texto = "";
                                    if (getQueryString('texto') != null) {
                                        texto = getQueryString('texto').replace(/%2520/g, " ").replace(/%20/g, " ").
                                            replace("N%C3%A3o", "<span style='color:red'>NÃO</span>").
                                            replace("VENDEDOR", "<span style='color:red'>vendedor</span>").
                                            replace("apenas", "<span style='color:red'>apenas</span>");
                                    }

                                    $(".resultadoText").html("Já registramos: " + texto + "!");
                                    $(".textMensagem").hide();
                                    $(".tdNaoRecebiContato").hide();
                                }
                            }
                            else {

                                if (getQueryString('naorecebi') == 0) {
                                    //EnviarNaoRecebiContato(getQueryString('naorecebi'));
                                    SalvarNaoRecebiContato(getQueryString('naorecebi'), getQueryString('texto'))
                                }

                                if (getQueryString('naorecebi') < 0) {
                                    $(".avaliacao").show();
                                    $(".resultado").hide();
                                    $("#opcaoRespNaoRecebi").hide();
                                }
                                else {
                                    $(".avaliacao").show();
                                    $(".resultado").hide();
                                }
                            }

                            var qtd_nome = result.contato.VendedorNome.split(' ').length;
                            $(".spnCliente").html(result.contato.clienteNome);
                            $("#spnVendedor").html(result.contato.VendedorNome.split(' ')[0] + ' ' + result.contato.VendedorNome.split(' ')[qtd_nome-1]);
                            $("#spnVendedor2").html(result.contato.VendedorNome.split(' ')[0] + ' ' + result.contato.VendedorNome.split(' ')[qtd_nome - 1]);

                        }
                    },
                    complete: function () {
                    },
                    error: function (ex) {
                    }
                });
        });

        function AvaliaNota(ponto) {
            //TIRAR A SELECAO ANTERIOR
            for (var i = 1; i < 10; i++) {
                $('#nota_' + i).removeClass('nps-icon-select')
            }

            //ADICIONA SELECAO SOMENTE PARA O PONTO MARCADO
            $('#nota_' + ponto).addClass('nps-icon-select');

            $("#hddAvaliacao").val(ponto);
        }

        function EnviarAvaliacao() {
            var _hddAvaliacao = $("#hddAvaliacao").val();
            var _observacao = $("#observacao").val();
            var _idContato = getQueryString('id');

             $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EnviarAvaliacao", "AcessoExterno")',
                    dataType: 'json',
                 data: { idContato: _idContato, vlrAvaliacao: _hddAvaliacao, observacao: _observacao, flgContatoFeito: 1, texto: $('#txtAvaliacao').val()},
                    success: function (result) {
                        if (result.success) {
                            if (result.contato.avaliado > 0) {
                                $(".avaliacao").hide();
                                $(".resultado").show();
                            }
                            else {
                                $(".avaliacao").show();
                                $(".resultado").hide();
                            }

                            $(".spnCliente").html(result.contato.clienteNome);
                            $("#spnVendedor").html(result.contato.VendedorNome);
                        }
                    },
                    complete: function () {
                    },
                    error: function (ex) {
                    }
                });
                return false;
        }

        function GravarResposta(texto, obj) {
            $('#txtAvaliacao').val(texto);
            $('.list-type1_hover').removeClass("list-type1_hover");
            $(obj).addClass("list-type1_hover");
        }

         function EnviarNaoRecebiContato(_naorecebi) {
             $("#opcaoRespNaoRecebi").show("show");
             $(".avaliacao").hide('show');
             $(".textMensagem").hide('show');

            return false;
        }

        function SalvarNaoRecebiContato(_naorecebi, texto) {
            var _idContato = getQueryString('id');
            var _termometro = _naorecebi == -1 ? 'Odiou' : null;
            var pref_contato = _naorecebi == -2 ? 'Whatsapp' : null;

            var contato = _naorecebi == -1 || _naorecebi == -2 ? 1 : _naorecebi;


            texto = texto.replace(/%20/g, " ");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("EnviarAvaliacao", "AcessoExterno")',
                dataType: 'json',
                data: { idContato: _idContato, vlrAvaliacao: 0, observacao: '', flgContatoFeito: contato, texto: texto, termometro: _termometro, preferencia_contato: pref_contato},
                success: function (result) {
                    if (result.success) {
                        if (result.contato.avaliado > 0) {
                            $(".avaliacao").hide();
                            $(".resultado").show();
                        }
                        else {
                            $(".avaliacao").show();
                            $(".resultado").hide();
                        }

                        $(".spnCliente").html(result.contato.clienteNome);
                        $("#spnVendedor").html(result.contato.VendedorNome);
                        if (pref_contato != null) {
                            $(".resultadoText").html("Registramos que contato <span style='color:red'>apenas</span> via WhatsApp!");
                        }
                        else {
                            if (_termometro == null)
                                $(".resultadoText").html("Já registramos que o vendedor <span style='color:red'>NÃO</span> entrou em contato!");
                            else
                                $(".resultadoText").html("Já registramos sua solicitação!");
                        }
                        $(".textMensagem").hide();
                        $(".tdNaoRecebiContato").hide();
                    }
                },
                complete: function () {
                },
                error: function (ex) {
                }
            });
            return false;
        }
    </script>
    <!-- MESSAGE SUBJECT -->
    <title>Avalie o contato realizado</title>
</head>


<body topmargin='0' rightmargin='0' bottommargin='0' leftmargin='0' marginwidth='0' marginheight='0' width='100%' class='corpo-email textos-arquivo' bgcolor='#F0F0F0' text='#000000'>
    <input type="hidden" value="" id="hddAvaliacao" />
    <!-- SECTION / BACKGROUND -->
    <!-- Set message background color one again -->
    <table width='100%' align='center' border='0' cellpadding='0' cellspacing='0' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%;' class='background'>
        <tr>
            <td align='center' valign='top' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;'
                bgcolor='#F0F0F0'>
                <!-- WRAPPER -->
                <!-- Set wrapper width (twice) -->
                <table border='0' cellpadding='0' cellspacing='0' align='center'
                       width='600' style='border-collapse: collapse; border-spacing: 0; padding: 0; width: inherit;	max-width: 600px;' class='wrapper'>
                    <tr>
                        <td align='center' valign='top' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; padding-top: 20px;			padding-bottom: 20px;'>
                            <!-- PREHEADER -->
                            <!-- Set text color to background color -->
                            <div style='display: none; visibility: hidden; overflow: hidden; opacity: 0; font-size: 1px; line-height: 1px; height: 0; max-height: 0; max-width: 0;color: #F0F0F0;' class='preheader'>
                                Queremos ouvir você!!!
                            </div>
                            <!-- LOGO -->
                            <!-- Image text color should be opposite to background color. Set your url, image src, alt and title. Alt text should fit the image size. Real image size should be x2. URL format: http://domain.com/?utm_source={{Campaign-Source}}&utm_medium=email&utm_content=logo&utm_campaign={{Campaign-Name}} -->
                            <a target='_blank' style='text-decoration: none;'
                               href='http://www.usereserva.com.br'>
                                <img border='0' vspace='0' hspace='0'
                                     src='https://imagens.usereserva.com.br/rsv_assets/img/logo.png'
                                     width='100' class="logo"
                                     alt='Logo' title='Logo' style='color: #000000;font-size: 10px; margin: 0; padding: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block;' />
                            </a>
                        </td>
                    </tr>
                    <!-- End of WRAPPER -->
                </table>
                <!-- WRAPPER / CONTEINER -->
                <!-- Set conteiner background color -->
                <table border='0' cellpadding='0' cellspacing='0' align='center' bgcolor='#FFFFFF' width='600' style='border-collapse: collapse; border-spacing: 0; padding: 0; width: inherit;	max-width: 600px;' class='container'>
                    <!-- HEADER -->
                    <!-- Set text color and font family ('sans-serif' or 'Georgia, serif') -->
                    @*<tr>
                        <td align='center' valign='top' class='saudacao-cliente header'>
                            Olá, <span class="spnCliente"></span>
                        </td>
                    </tr>*@

                    <!-- SUBHEADER -->
                    <!-- Set text color and font family ('sans-serif' or 'Georgia, serif') -->
                    <tr>
                        <td align='center' valign='top' class='img-vendedor subheader'>
                            <br />
                            <div id="imgVendedor" style="margin-bottom: 20px;float: left;"></div>
                            <div style="float: left;margin-left: 20px;line-height: 50px;font-size: 24px;font-weight: 700;">
                                <span id="spnVendedor"></span><br />
                                Entrou em contato com você.
                            </div>
                        </td>
                    </tr>

                    <tr class="tdNaoRecebiContato avaliacao">
                        <td align='center' valign='top' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;padding-bottom:40px;' class='button'>
                            <a href="#" style="text-decoration:none; display:none" onclick="EnviarNaoRecebiContato(0)">
                                <table border='0' cellpadding='0' cellspacing='0' align='center' style='max-width: 240px; min-width: 120px; border-collapse: collapse; border-spacing: 0; padding: 0;'>
                                    <tr>
                                        <td align='center' valign='middle' style='padding: 7px 10px; margin: 0; border-collapse: collapse; border-spacing: 0; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px;'
                                            bgcolor='red'>
                                            <div style='color: #FFFFFF; font-family: sans-serif; font-size: 12px; font-weight: 400; line-height: 120%;'>

                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </a>

                            <div id="opcaoRespNaoRecebi">
                                <br />
                                <span style='padding-top: 50px; font-size: 18px; font-weight: 300; line-height: 150%; padding-top: 5px; color: #000000; font-family: sans-serif;' class='subheader'>
                                    Olá <span class="spnCliente" style="font-style: italic;"></span>, se você <b style="color:crimson">não recebeu o contato</b>, por favor, selecione o motivo:
                                </span>
                                <table border='0' cellpadding='0' cellspacing='0' align='center' style='max-width: 600px; min-width: 120px; border-collapse: collapse;margin-top:30px; border-spacing: 0; padding: 0;'>
                                    <tr>
                                        <td class="m_-4791612877786818603pb-30" style="padding:0 0 43px">
                                            <table align="center" style="margin:0 auto" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="center" style="min-width: 240px;font:bold 16px/20px Arial,Helvetica,sans-serif,Apercu;border-radius:5px;">
                                                            <a style="text-decoration:none;display:block;max-width: 150px;border: solid 1px;padding: 1rem;height:75px;margin-left: -60px !important;background-color: #e2e6ea;border-color: #dae0e5;color: #a0a1a1;" class="link-final" href="#" onclick="SalvarNaoRecebiContato(0, 'Nenhum VENDEDOR entrou em contato!')">
                                                                
                                                                <div style="font-size: 25pt;margin-bottom: 10px;"><i class="fas fa-user-times"></i></div>
                                                                <b>Nenhum VENDEDOR entrou em contato!</b>
                                                            </a>
                                                        </td>
                                                        <td align="center" style="padding: 18px;font:bold 16px/20px Arial,Helvetica,sans-serif,Apercu;border-radius:5px"></td>
                                                        <td align="center" style="min-width: 240px;font:bold 16px/20px Arial,Helvetica,sans-serif,Apercu;border-radius:5px;">
                                                            <a style="text-decoration:none;display:block;text-decoration:none;display:block;max-width: 150px;border: solid 1px;padding: 1rem;height:75px;margin-left: 57px !important;
                                                             background-color: #e2e6ea;border-color: #dae0e5;color: #a0a1a1;" class="link-final" href="#" onclick="SalvarNaoRecebiContato(0, 'Não sou o cliente informado!')">

                                                                <div style="font-size: 25pt;margin-bottom: 10px;"><i class="fas fa-user-slash"></i></div>
                                                                <b>Não sou o cliente informado!</b>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="opcaoSairListagem">
                                <br />
                                <div style="text-align:left;">
                                    <span style='padding-top: 50px; font-size: 18px; font-weight: 300; line-height: 150%; padding-top: 5px; color: #000000; font-family: sans-serif;' class='subheader'>
                                        Caso <b style="color:crimson">não</b> deseje receber ligações: <br />
                                    </span>
                                </div>

                                <div style="margin-bottom:20px">
                                    <a href="#" class="link-final" onclick="SalvarNaoRecebiContato(-2, 'Contato apenas via WhatsApp!')">
                                        <div style="max-width: 150px;border: solid 1px;padding: 1rem;display: block;  height:75px;  margin-top: 28px;line-height: 20px;float: left;background-color: #e2e6ea;border-color: #dae0e5;color: #a0a1a1">
                                            <div style="font-size: 25pt;margin-bottom: 10px;"><i class="fab fa-whatsapp"></i></div>
                                            <b> Contato apenas via whatsapp!</b>
                                        </div>
                                    </a>
                                    @*<li><a href="#" onclick="SalvarNaoRecebiContato(0, 'Conheço o cliente, mas o e-mail não é dele!')">Conheço <span class="spnCliente"></span>, mas o e-mail não é dele!</a></li>*@
                                    <a href="#" class="link-final" onclick="SalvarNaoRecebiContato(-1, 'Não quero receber ligação!')">
                                        <div style="max-width: 150px;border: solid 1px;padding: 1rem;display: block;height:75px; margin-top: 28px;line-height: 20px;float: right;background-color: #e2e6ea;border-color: #dae0e5;color: #a0a1a1">
                                            <div style="font-size: 25pt;margin-bottom: 10px;"><i class="fas fa-phone-volume"></i></div>
                                            <b>Não receber nenhuma forma de contato!</b>
                                        </div>
                                    </a>
                                </div>
                                <a href="#" style="text-decoration:none; display:none" onclick="$('#opcaoRespNaoRecebi').hide('show');$('#opcaoSairListagem').hide('show'); $('.avaliacao').show('show'); $('.textMensagem').show('show');">
                                    <table border='0' cellpadding='0' cellspacing='0' align='center' style='max-width: 240px; min-width: 120px; border-collapse: collapse; border-spacing: 0; padding: 0;'>
                                        <tr>
                                            <td align='center' valign='middle' style='padding: 7px 10px; margin: 0; border-collapse: collapse; border-spacing: 0; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px;'
                                                bgcolor="gray">
                                                <div style='color: #FFFFFF; font-family: sans-serif; font-size: 12px; font-weight: 400; line-height: 120%;'>
                                                    FECHAR
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </div>


                        </td>
                    </tr>

                    <tr class="avaliacao">
                        <td align='center' valign='top' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%;padding-top: 25px;padding-bottom: 25px;' class='line'>
                            <hr color='#E0E0E0' align='center' width='100%' size='1' noshade style='margin: 0; padding: 0;' />
                        </td>
                    </tr>
                    <tr class="textMensagem avaliacao">
                        <td align='center' valign='top' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 18px; font-weight: 400; line-height: 160%;
			padding-top: 25px;padding-bottom: 25px;' class='paragraph  textos-arquivo'>
                            O quanto você gostou do atendimento do <span id="spnVendedor2"></span>
                        </td>
                    </tr>
                    <tr class="avaliacao">
                        <td align='center' valign='top' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%;
			padding-top: 15px;padding-bottom: 30px;' class='button'>

                            <table border='0' cellpadding='0' cellspacing='0' align='center' style='max-width: 100%; min-width: 120px; border-collapse: collapse; border-spacing: 0; padding: 0;'>
                                <tr>
                                    <td align='center' valign='middle' style='margin: 0; border-collapse: collapse; border-spacing: 0; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px;'>

                                        <div class='nps-pouco-feliz'>
                                            Pouco feliz
                                        </div>
                                        <div style='color: #FFFFFF; font-family: sans-serif; font-size: 17px; font-weight: 400; line-height: 120%;'>
                                            @*
                                <a href="javascript:void(0)" onclick="Avaliar(1)" style="text-decoration: none">
                                    <img src="http://www.usenow.com.br/Images/star0.png" id="s1">
                                </a>
                                <a href="javascript:void(0)" onclick="Avaliar(2)" style="text-decoration: none">
                                    <img src="http://www.usenow.com.br/Images/star0.png" id="s2">
                                </a>
                                <a href="javascript:void(0)" onclick="Avaliar(3)" style="text-decoration: none">
                                    <img src="http://www.usenow.com.br/Images/star0.png" id="s3">
                                </a>
                                <a href="javascript:void(0)" onclick="Avaliar(4)" style="text-decoration: none">
                                    <img src="http://www.usenow.com.br/Images/star0.png" id="s4">
                                </a>
                                <a href="javascript:void(0)" onclick="Avaliar(5)" style="text-decoration: none">
                                    <img src="http://www.usenow.com.br/Images/star0.png" id="s5">
                                </a>*@
                                            <a href="javascript:void(0)" onclick="AvaliaNota(1)" class="nps-icon" id="nota_1">
                                                <span>1</span>
                                            </a>
                                            <a href="javascript:void(0)" onclick="AvaliaNota(2)" class="nps-icon" id="nota_2">
                                                <span>2</span>
                                            </a>
                                            <a href="javascript:void(0)" onclick="AvaliaNota(3)" class="nps-icon" id="nota_3">
                                                <span>3</span>
                                            </a>
                                            <a href="javascript:void(0)" onclick="AvaliaNota(4)" class="nps-icon" id="nota_4">
                                                <span>4</span>
                                            </a>
                                            <a href="javascript:void(0)" onclick="AvaliaNota(5)" class="nps-icon" id="nota_5">
                                                <span>5</span>
                                            </a>
                                            <a href="javascript:void(0)" onclick="AvaliaNota(6)" class="nps-icon" id="nota_6">
                                                <span>6</span>
                                            </a>
                                            <a href="javascript:void(0)" onclick="AvaliaNota(7)" class="nps-icon" id="nota_7">
                                                <span>7</span>
                                            </a>
                                            <a href="javascript:void(0)" onclick="AvaliaNota(8)" class="nps-icon" id="nota_8">
                                                <span>8</span>
                                            </a>
                                            <a href="javascript:void(0)" onclick="AvaliaNota(9)" class="nps-icon" id="nota_9">
                                                <span>9</span>
                                            </a>
                                            <a href="javascript:void(0)" onclick="AvaliaNota(10)" class="nps-icon" id="nota_10">
                                                <span>10</span>
                                            </a>
                                        </div>
                                        <div class="nps-muito-feliz">
                                            Muito feliz
                                        </div>
                                        <div id="opcaoRespEstrela1" style="display:none">
                                            <br />
                                            <span style='padding-top: 50px;  font-size: 16px; font-weight: 300; line-height: 150%; padding-top: 5px; color: #000000; font-family: sans-serif;' class='subheader'>
                                                Qual foi o motivo que determinou sua nota?
                                                <input type="hidden" id="txtAvaliacao" value="Não Marcou!" />
                                            </span>
                                            <div class="list-type1" style="text-align:left!important;">
                                                <ol>
                                                    <li><a href="#" onclick="GravarResposta('Exemplo de Vendedor!', this)">Exemplo de Vendedor!</a></li>
                                                    <li><a href="#" onclick="GravarResposta('Tempo de Liagação!', this)">Tempo de Liagação!</a></li>
                                                    <li><a href="#" onclick="GravarResposta('Desejou Felicidades!', this)">Desejou Felicidades!</a></li>
                                                    <li><a href="#" onclick="GravarResposta('Atendimento do vendedor!', this)">Atendimento do vendedor!</a></li>
                                                    <li><a href="#" onclick="GravarResposta('Motivo da ligação!', this)">Motivo da ligação!</a></li>
                                                    <li><a href="#" onclick="GravarResposta('Duração da ligação!', this)">Duração da ligação!</a></li>
                                                    <li><a href="#" onclick="GravarResposta('Experiência com a marca!', this)">Experiência com a marca!</a></li>
                                                </ol>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>


                        </td>
                    </tr>
                    <tr class="avaliacao">
                        <td align='center' valign='top' class='paragraph' style="padding:30px;padding-top:0;line-height:20px;">
                            <div class="texto-complemento-avaliacao ">Quer nos contar mais? Somos todos ouvidos para <br /> dúvidas, sugestões e reclamações!</div>

                            <textarea rows="5" style="width:100%;margin-top: 25px;" id="observacao"></textarea>
                        </td>
                    </tr>

                    <tr class="avaliacao">
                        <td align='center' valign='top' class='btn-enviar-avaliacao button'>
                            <a href="#" style="text-decoration:none" onclick="EnviarAvaliacao()">
                                <table border='0' cellpadding='0' cellspacing='0' align='center' style='max-width: 240px; min-width: 120px; border-collapse: collapse; border-spacing: 0; padding: 0;'>
                                    <tr>
                                        <td align='center' valign='middle' style='padding: 12px 24px; margin: 0; border-collapse: collapse; border-spacing: 0; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px;background-color: #D73C2C;'>
                                            <div style='color: #FFFFFF; font-family: Helvetica,sans-serif; font-size: 15px; font-weight: 800; line-height: 120%'>
                                                ENVIAR AVALIAÇÃO
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </a>

                        </td>
                    </tr>
                    <tr>
                        <td align='center' valign='top' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;  width: 100%;padding-top: 25px;padding-bottom: 25px;' class='line'>
                            <hr color='#E0E0E0' align='center' width='100%' size='1' noshade style='margin: 0; padding: 0;' />
                        </td>
                    </tr>


                    <tr class="resultado" style="display:none">
                        <td align='center' valign='top' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 24px; font-weight: bold; line-height: 130%;
			            padding-top: 25px;color: #000000;font-family: sans-serif;' class='header resultadoText'>
                            Avaliação Realizada!
                        </td>
                    </tr>


                </table>

                <!-- AREA DE MARKETING -->
                <table align="center" bgcolor="#FFF" cellpadding="0" cellspacing="0" role="presentation" width="600" style="border-bottom:1px dashed #cccccc;background-color:#fff;min-width:600px">
                    <tbody>
                        <tr align="center">
                            <td style="padding:20px 0">
                                <table align="center" cellpadding="0" cellspacing="0" role="presentation" width="600">
                                    <tbody>
                                        <tr align="center">
                                            @*<td align="center" width="200" style="line-height:15px;padding:0 10px">
                                                <a href="http://news.usereserva.com/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%3DUADSDSCT&amp;_ei_=EkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0." style="text-decoration:none;color:#333333;font-family:Helvetica,sans-serif;font-size:11px;font-weight:bold;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://news.usereserva.com/pub/cc?_ri_%3DX0Gzc2X%253DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%253DUADSDSCT%26_ei_%3DEkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0.&amp;source=gmail&amp;ust=1555608106301000&amp;usg=AFQjCNGZCEwX98cmvHjztmfLOGSL1IionQ">
                                                    <img src="https://ci3.googleusercontent.com/proxy/uL8F1rk4H5wsVIqq0sCsHU-yrYGe8tFmlm5EGlCSeeRLRBJ76e2PNwy2HVLkDl8G0GRt67yo_xDmJSK1iv8X_sLZJqk1XXg6xGPsITEP-RfQkCoyOMIoZSwpHg=s0-d-e1-ft#https://imagens.usereserva.com.br/usereserva/news/template/icon-chat.png" width="38" alt="Fale com a gente" style="display:block;border:0;padding-bottom:5px" class="CToWUd">
                                                    Fale com<br>a gente
                                                </a>
                                            </td>*@
                                            @*<td align="center" width="200" style="border-left:1px solid #dedede;border-right:1px solid #dedede;line-height:15px;padding:0 10px">
                                                <a href="http://news.usereserva.com/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%3DUADSDURT&amp;_ei_=EkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0." style="text-decoration:none;color:#333333;font-family:Helvetica,sans-serif;font-size:11px;font-weight:bold;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://news.usereserva.com/pub/cc?_ri_%3DX0Gzc2X%253DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%253DUADSDURT%26_ei_%3DEkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0.&amp;source=gmail&amp;ust=1555608106301000&amp;usg=AFQjCNHTci3l98brhr2Ud3JfPLzuAbWY5Q">
                                                    <img src="https://ci6.googleusercontent.com/proxy/eyERZRcuI4Cm5N1PuqH1X3cOPsTzbw0t8ntmo4c738O4eaVbA5LDf0dEo82LnyVvqZH1VP991QjiBMmPNF8OI_IDxj-Th2n2-M_wi9Z5QS50UaD2TH4=s0-d-e1-ft#https://imagens.usereserva.com.br/usereserva/news/template/1p5p.png" width="100" alt="1P5P" style="display:block;border:0;padding-bottom:5px" class="CToWUd">
                                                    1 peça vendida =<br>5 pratos doados
                                                </a>
                                            </td>*@
                                            @*<td class="m_4684720521131554839hide-mob" align="center" width="200" style="line-height:15px;padding:0 10px">
                                                <a href="http://news.usereserva.com/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%3DUCDSBDCT&amp;_ei_=EkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0." style="text-decoration:none;color:#333333;font-family:Helvetica,sans-serif;font-size:11px;font-weight:bold;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://news.usereserva.com/pub/cc?_ri_%3DX0Gzc2X%253DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%253DUCDSBDCT%26_ei_%3DEkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0.&amp;source=gmail&amp;ust=1555608106301000&amp;usg=AFQjCNH9kxARRAcig43X6h8s8JY4ibkMWg">
                                                    <img src="https://ci4.googleusercontent.com/proxy/-K0R2yY3YHZ9iF8xQIsHcuWJ5L0wX2ow6PRWk_Lr6gNNXIfCB0t5QfGXsmABxa1iGcuefwbYVy5BdAqgXdy9qULdYrFsWl2skzba-efTTPuWkGs0kuPQ=s0-d-e1-ft#https://imagens.usereserva.com.br/usereserva/news/template/phone.png" width="31" alt="Televendas" style="display:block;border:0;padding-bottom:5px" class="CToWUd">
                                                    Televendas:<br>21 3003-1255
                                                </a>
                                            </td>*@
                                            <td class="m_4684720521131554839show-mob" align="center" width="200" style="line-height:15px;padding:0 10px;display:none">
                                                <a href="http://news.usereserva.com/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%3DUADSDUWT&amp;_ei_=EkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0." style="text-decoration:none;color:#333333;font-family:Helvetica,sans-serif;font-size:11px;font-weight:bold;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://news.usereserva.com/pub/cc?_ri_%3DX0Gzc2X%253DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%253DUADSDUWT%26_ei_%3DEkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0.&amp;source=gmail&amp;ust=1555608106301000&amp;usg=AFQjCNHCauvx-HZ6Ajikfij-ZtrNKIJ7-Q">
                                                    <img src="https://ci4.googleusercontent.com/proxy/-K0R2yY3YHZ9iF8xQIsHcuWJ5L0wX2ow6PRWk_Lr6gNNXIfCB0t5QfGXsmABxa1iGcuefwbYVy5BdAqgXdy9qULdYrFsWl2skzba-efTTPuWkGs0kuPQ=s0-d-e1-ft#https://imagens.usereserva.com.br/usereserva/news/template/phone.png" width="31" alt="Televendas" style="display:block;border:0;padding-bottom:5px" class="CToWUd">
                                                    Televendas:<br>21 3003-1255
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table align="center" cellpadding="0" cellspacing="0" role="presentation" width="600" bgcolor="#FFF" style="background-color:#fff;min-width:600px">
                    <tbody>
                        <tr>
                            <td align="center" style="font-family:Helvetica,sans-serif;font-size:11px;line-height:11px;color:#333333;padding:30px 30px 10px 30px">Sigam-me os bons:</td>
                        </tr>
                    </tbody>
                </table>
                <table align="center" cellpadding="0" cellspacing="0" role="presentation" width="600" bgcolor="#FFF" style="background-color:#fff;min-width:600px">
                    <tbody>
                        <tr>
                            <td align="center" width="600" style="padding:0 30px 20px 30px">
                                <a href="http://news.usereserva.com/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%3DUCDSCRRT&amp;_ei_=EkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0." style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://news.usereserva.com/pub/cc?_ri_%3DX0Gzc2X%253DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%253DUCDSCRRT%26_ei_%3DEkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0.&amp;source=gmail&amp;ust=1555608106301000&amp;usg=AFQjCNEej_fWU650siCjN3BfLasF3t23Ig">
                                    <img src="https://ci5.googleusercontent.com/proxy/hRZkkTwUYP2ciT1iGyxWuTe0GVWRBGe6szGCsr5keDO_0k7o7ysY2gUDh2-YtL9XSnZVKUUYk3yFU5LZMIdrO5mNC5XAoLThaagCoW7Svlx3ZQGZ3dRkRA8=s0-d-e1-ft#https://imagens.usereserva.com.br/usereserva/news/template/icon-fb.png" width="22" alt="Facebook" style="border:0;display:inline-block;padding-right:5px" class="CToWUd">
                                </a>
                                <a href="http://news.usereserva.com/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%3DUADSDUCT&amp;_ei_=EkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0." style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://news.usereserva.com/pub/cc?_ri_%3DX0Gzc2X%253DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%253DUADSDUCT%26_ei_%3DEkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0.&amp;source=gmail&amp;ust=1555608106301000&amp;usg=AFQjCNEbtOapSk6CBqIrLy1IiALsxQpS6Q">
                                    <img src="https://ci4.googleusercontent.com/proxy/KJCEUwVZqMLZMNXk3Hfx5oGV_w1M0O1bRLGgLEzK-Pa-amJjsdp2JF-aVT1CMssPXUCqH2gbgslks_L2ZbbDs64LXB18bHDdfnvIIAdvpSawKWtVTrMKg94=s0-d-e1-ft#https://imagens.usereserva.com.br/usereserva/news/template/icon-tt.png" width="22" alt="Twitter" style="border:0;display:inline-block;padding-right:7px" class="CToWUd">
                                </a>
                                <a href="http://news.usereserva.com/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%3DUCDSCRTT&amp;_ei_=EkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0." style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://news.usereserva.com/pub/cc?_ri_%3DX0Gzc2X%253DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%253DUCDSCRTT%26_ei_%3DEkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0.&amp;source=gmail&amp;ust=1555608106302000&amp;usg=AFQjCNH8M30WnoiSJHxWkM27QXNbpeafSw">
                                    <img src="https://ci6.googleusercontent.com/proxy/9PrFY08Qtb9rzzHzz5UyXU3FUuLGU7MdepzGZg991vwjIBRELFVkxiRpF1TqG64HquSiFnZiwXdg075lTwGm-z59OwXIm7bdLoGmxwySgL_sYrRR4J6OEHI=s0-d-e1-ft#https://imagens.usereserva.com.br/usereserva/news/template/icon-ig.png" width="22" alt="Instagram" style="border:0;display:inline-block;padding-right:8px" class="CToWUd">
                                </a>
                                <a href="http://news.usereserva.com/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%3DUCDSCRWT&amp;_ei_=EkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0." style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://news.usereserva.com/pub/cc?_ri_%3DX0Gzc2X%253DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%253DUCDSCRWT%26_ei_%3DEkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0.&amp;source=gmail&amp;ust=1555608106302000&amp;usg=AFQjCNFIo1w5tEd62vi9eEh6n4GyLlRFSw">
                                    <img src="https://ci4.googleusercontent.com/proxy/gSmNGbIwh0H8dmZKNqp0Ikpm1iJVolBwJhk5y0DpQwZ2Xm03s9mURsI9Iw3mH_ThE0ii4zSPAFtjy-OcAVU5WEYQ_FZhla84COmLxuvtemTSkmXuEyosIiY=s0-d-e1-ft#https://imagens.usereserva.com.br/usereserva/news/template/icon-yt.png" width="22" alt="Youtube" style="border:0;display:inline-block" class="CToWUd">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- AREA DE MARKETING -->

                <!-- WRAPPER -->
                <!-- Set wrapper width (twice) -->
                <table border='0' cellpadding='0' cellspacing='0' align='center' width='560' style='border-collapse: collapse; border-spacing: 0; padding: 0; width: inherit;	max-width: 560px;' class='wrapper'>

                    <!-- Set text color and font family ('sans-serif' or 'Georgia, serif'). Duplicate all text styles in links, including line-height -->
                    <tr>
                        <td align='center' valign='top' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 13px; font-weight: 400; line-height: 150%;
			            padding-top: 20px;padding-bottom: 20px;color: #999999;font-family: sans-serif;' class='footer'>
                            @*<a href='https://www.usereserva.com' target='_blank' style='text-decoration: underline; color: #999999; font-family: sans-serif; font-size: 13px; font-weight: 400; line-height: 150%;'>useReserva.com</a>*@.

                            <!-- ANALYTICS -->
                            <!-- http://www.google-analytics.com/collect?v=1&tid={{UA-Tracking-ID}}&cid={{Client-ID}}&t=event&ec=email&ea=open&cs={{Campaign-Source}}&cm=email&cn={{Campaign-Name}} -->

                            <img width='1' height='1' border='0' vspace='0' hspace='0' style='margin: 0; padding: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block;'
                                 src='https://raw.githubusercontent.com/konsav/email-templates/master/images/tracker.png' />
                        </td>
                    </tr>
                    <!-- End of WRAPPER -->
                </table>
                <!-- End of SECTION / BACKGROUND -->
            </td>
        </tr>
    </table>
</body>

</html>
