﻿@using Now.Domain;

@model IList<AbandonoCarrinhoClienteProduto>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndicacaoProdutos</title>
    <link rel="stylesheet" href="@Url.Content("~/bootstrap/css/bootstrap.min.css")" )">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrapValidator.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/ionicons.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/dist/css/AdminLTE_2.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/dist/css/skins/_all-skins.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/btn.css?data=" + DateTime.Now.ToString("ddMMyyyyHHmmss"))" )">
    <link rel="stylesheet" href="@Url.Content("~/plugins/datepicker/datepicker3.css")">

    <style>
        body, html {
            height: 100%;
        }
    </style>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/bootstrap/js/bootstrap.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/plugins/datepicker/bootstrap-datepicker.js")"></script>
</head>

<body style="background-color:#C7C0B6">


    <div class="row">
        <div class="col-md-12">

            <div class="col-md-2"></div>
            <div class="col-md-8" style="padding-top:15px!important">
                <div class="box box-widget">
                    <div class="box-header">

                    </div>
                    @if (ViewBag.NaoExisteProduto == 0)
                    {
                        <div class="box-body">
                            <div class="col-md-12">
                                <div style="text-align:center; width:100%;">

                                    <img src="@Url.Content("~/Images/fovorito_pica.png")" />
                                    <h2>NÃO EXISTE PRODUTOS PARA O EXPERIMENTE</h2>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="box-body">
                            <input type="hidden" id="idIndicacao" value="@Model.FirstOrDefault().id" />
                            @if (ViewBag.JaSolicitou == 1)
                            {

                                <div class="row">
                                    <div class="col-md-12">
                                        <div style="text-align:center; width:100%;">

                                            <img src="@Url.Content("~/Images/fovorito_pica.png")" />
                                            <h2>EXPERIMENTE EM LOJA</h2>
                                            <h3>
                                                <strong>@Model.FirstOrDefault().cliente_nome</strong> <br />
                                            </h3>
                                            <p class="text-muted"><h4>você já solicitou a experimentação, abaixo o local e os produtos selecionados.</h4></p>
                                            <hr />
                                            <div class="col-md-10">
                                                <div class="col-md-4">
                                                    <div class="box">
                                                        <div class="box-title"><h5>LOJA</h5></div>
                                                        <div class="box-body bg-green-gradient">
                                                            <h3>
                                                                @((ViewBag.SolicitacaoExperimente as List<AbandonoCarrinhoNowLinxSolicitacao>).FirstOrDefault().filial)
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="box">
                                                        <div class="box-title"><h5>DATA</h5></div>
                                                        <div class="box-body bg-green-gradient">
                                                            <h3>
                                                                @((ViewBag.SolicitacaoExperimente as List<AbandonoCarrinhoNowLinxSolicitacao>).FirstOrDefault().data_experimente.ToString("dd/MM/yyyy"))
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="box ">
                                                        <div class="box-title"><h5>PERÍODO</h5></div>
                                                        <div class="box-body bg-green-gradient">
                                                            <h3>
                                                                @((ViewBag.SolicitacaoExperimente as List<AbandonoCarrinhoNowLinxSolicitacao>).FirstOrDefault().periodo)
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="col-md-2">
                                                <img src="@Url.Content("~/Images/bag.png")" />
                                                <h1 style="margin-top: 0px!important; margin-bottom: 0px!important" id="total">@((ViewBag.SolicitacaoExperimente as List<AbandonoCarrinhoNowLinxSolicitacao>).FirstOrDefault().produtos_experimente.Count())</h1>
                                                <h6 style="margin-top: 0px!important">Produto(s) Selecionado(s)</h6>
                                            </div>
                                        </div>
                                        <div class="col-md-10 text-center">
                                            <h3>
                                                Endereço Loja: @((ViewBag.SolicitacaoExperimente as List<AbandonoCarrinhoNowLinxSolicitacao>).FirstOrDefault().endereco)
                                            </h3>
                                        </div>
                                        <hr />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div style="text-align:left; width:100%;" class="text-blue">
                                        <h2>PRODUTOS SELECIONADOS PARA EXPERIMENTAR</h2>
                                    </div>
                                    <hr />
                                    @foreach (var item in (ViewBag.SolicitacaoExperimente as List<AbandonoCarrinhoNowLinxSolicitacao>).FirstOrDefault().produtos_experimente)
                                    {
                                        var prodCor = item.produto + item.cor_produto;
                                        <div class="col-md-2 text-center">
                                            <div class="thumbnail" style="background-color:#5cb85c" id="thumbnail_@prodCor">
                                                <img src="@item.imgSite.Replace("{posicao}", "01").Replace("{tamanho}", "320x480")" alt="Image" style="max-width:100%;" class="img-responsive">
                                            </div>
                                            <h6 id="idTitulo_@prodCor" style="height: 50px; color:#5cb85c">@item.descricao_produto</h6>
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {

                                <div class="row">
                                    <div class="col-md-12">
                                        <div style="text-align:center; width:100%;">
                                            <br />
                                            <img src="@Url.Content("~/Images/fovorito_pica.png")" />
                                            <h2>EXPERIMENTE EM LOJA</h2>
                                            <h3>
                                                <strong>@Model.FirstOrDefault().cliente_nome</strong> <br />
                                            </h3>
                                            <p class="text-muted"><h4>separamos os produtos que você não levou em nosso site, agora você pode selecionar e escolher em qual loja quer experimentar.</h4></p>
                                        </div>
                                    </div>
                                </div>


                                <div class="box box-widget" id="LojaExperimente" style="display:none">
                                    <div class="box-header" style="border-bottom: solid 10px gray;" id="localHeaderBox">
                                        <div style="text-align:center; width:100%;">
                                            <h2>Escolher loja para experimentar</h2>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="h3">UF</label>
                                                            @Html.DropDownList("uf",
                                                            new List<SelectListItem>
                                                                   {
                                                                      new SelectListItem{ Text="Selecione", Value = "", Selected=true },
                                                                   },
                                                            new { @class = "form-control select2 input-lg", @style = "width: 100%;", required = "required", onchange = "BuscaLojaPorUf(this)"})
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="h3">Loja</label>
                                                            @Html.DropDownList("loja",
                                                                (ViewBag.Lojas as SelectList),
                                                                new { @class = "form-control select2 input-lg", @style = "width: 100%;", required = "required", disabled = true, onchange = "BuscaShippingTime(this)" })
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="h3">Quando quer Ir?</label>
                                                            <div class="input-group date">
                                                                <div class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </div>
                                                                <input type="text" class="form-control pull-right text-center input-lg" id="dataExperimente" data-date-end-date="2m">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="h3">Qual o Período?</label>
                                                            @Html.DropDownList("periodo", new List<SelectListItem>
                                                             {
                                                                new SelectListItem{ Text="Selecione", Value = "", Selected=true },
                                                                new SelectListItem{ Text="Manhã", Value = "MANHA" },
                                                                new SelectListItem{ Text="Tarde", Value = "TARDE" },
                                                                new SelectListItem{ Text="Noite", Value = "NOITE" }
                                                             }, new { @class = "form-control select2 input-lg", @style = "width: 100%;", @onchange = "statusChange(this)", required = "required" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                        </div>
                                    </div>
                                    <div class="box-footer" style="border-top: solid 1px #A9D0F5;">
                                        <div class="col-md-12" style="display:none" id="lblMsgExperimente">
                                            <h3 class="pull-right">Solicitando Experimente...</h3>
                                        </div>
                                        <div class="col-md-12" id="btnExperimente">
                                            <button type="submit" class="btn2-gradient green text-uppercase text-bold pull-right" onclick="SolicitarExperimente()">Solicitar Experimente</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="box box-widget" id="ProdutoExperimente" style="box-shadow: 0px 5px 6px #A9D0F5!important">
                                    <div class="box-header" style="border-bottom: solid 10px #A9D0F5;" id="produtoHeaderBox">
                                        <div style="text-align:center; width:100%;">
                                            <h2>PRODUTOS QUE NÃO LEVOU</h2>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="divlistaProdutos">
                                                    @foreach (var item in Model)
                                                    {
                                                        var prodCor = item.produto + item.cor_produto;
                                                        <div class="col-md-2 text-center">
                                                            <div class="thumbnail" style="background-color:#@(item.cliente_escolheu == 1 ? "5cb85c" : "d9534f")" id="thumbnail_@prodCor">
                                                                <a href="#" onclick="Selecionar('@prodCor', @item.produto_id, '@item.grade', '@item.sku', '@item.tamanho', '@item.produto');" style="text-decoration:none">
                                                                    <img src="@item.imgSite.Replace("{posicao}", "01").Replace("{tamanho}", "320x480")" alt="Image" style="max-width:100%;" class="img-responsive">
                                                                    @*<span class="description-text" id="btn_@prodCor">@(item.cliente_escolheu == 1 ? "SELECIONADO!" : "SELECIONAR?")</span>*@
                                                                </a>
                                                            </div>
                                                            <h4 id="idPreco_@prodCor">@item.preco_format</h4>
                                                            <h6 id="idTitulo_@prodCor" style="height: 30px; color:#@(item.cliente_escolheu == 1 ? "5cb85c" : "d9534f")">@item.descricao_produto</h6>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="box-footer" style="border-top: solid 1px #A9D0F5;" id="divFootProdutos">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn2-gradient blue text-uppercase text-bold pull-right" onclick="EscolherLoja()">Próximo</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="box box-widget bg-orange-active">
                                    <div class="box-body">
                                        <div class="col-md-12 center">
                                            <h3>Total de produtos selecionados:  <span style="margin-top: 0px!important; margin-bottom: 0px!important" id="total">0</span></h3>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>


    <div class="modal fade" id="modalDetalhe" tabindex="-1" role="dialog" aria-labelledby="modalDetalheLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 id="tituloDetalhe" class="modal-title">-</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 text-center">
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img id="img1" src="@Url.Content("~/Images/notFound320x480.jpg")" alt="Image" style="max-width:100%;" class="img-responsive">

                                            <div class="carousel-caption">
                                                Foto 1
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img id="img2" src="@Url.Content("~/Images/notFound320x480.jpg")" alt="Image" style="max-width:100%;" class="img-responsive">

                                            <div class="carousel-caption">
                                                Foto 2
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img id="img3" src="@Url.Content("~/Images/notFound320x480.jpg")" alt="Image" style="max-width:100%;" class="img-responsive">

                                            <div class="carousel-caption">
                                                Foto 3
                                            </div>
                                        </div>
                                    </div>
                                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                        <span class="fa fa-angle-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                        <span class="fa fa-angle-right"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div style="height:400px!important">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <p class="text-black well well-sm no-shadow">
                                                <strong style="position: absolute;top: -10px;left: 20px;">Preço</strong>
                                                <span id="spanPreco" style="margin-top: 10px; font-size:35px; font-weight:bold"></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center" style="display:none">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="6" placeholder="Observação ..." id="obsProduto"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <p class="text-muted well well-sm no-shadow" style="margin-top: 10px; background-color: inherit!important">
                                                <strong style="position: absolute;top: 0px;left: 20px;">Cor</strong>
                                                <span class="pull-right-container" id="spanCor">
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 text-center" style="position:absolute">
                                            <div class="text-muted well well-sm no-shadow" style="margin-top: 10px;background-color: inherit!important; ">
                                                <strong style="position: absolute;top: 0px;left: 20px;">Tamanho</strong>
                                                <div class="pull-right-container text-center">
                                                    <div class="row text-center">
                                                        <div class="col-xs-12" id="spanTamanho">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 text-center" style="position:absolute; top: 280px;">


                                            <button type="submit" class="btn2-gradient blue text-uppercase text-bold" id="btnFinalizar"><i class="glyphicon glyphicon-ok"></i> ESCOLHER</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="idProdutoSelecionado" id="idProdutoSelecionado" value="" />
    <input type="hidden" name="_idProdSelecionado" id="_idProdSelecionado" value="" />
    <input type="hidden" name="_prodSelecionadoSku" id="_prodSelecionadoSku" value="" />

    <input type="hidden" name="_prodSelecionado" id="_prodSelecionado" value="" />
    <input type="hidden" name="_prodGradeSelecionado" id="_prodGradeSelecionado" value="" />
    <input type="hidden" name="_prodCorSelecionado" id="_prodCorSelecionado" value="" />
    <input type="hidden" name="_itensSelecionados" id="_itensSelecionados" value="0" />
    <script>

        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return null;
            }
            return decodeURI(results[1]) || 0;
        }

        function EscolherLoja() {
            if ($("#_itensSelecionados").val() != "0") {
                $('#LojaExperimente').show();
                $('#divFootProdutos').hide();
                $('#localHeaderBox').attr("style", "border-bottom: solid 10px #A9D0F5;");
                $('#produtoHeaderBox').attr("style", "border-bottom: solid 10px #D8D8D8;");
                $('#ProdutoExperimente').attr("style", "box-shadow: 0px 5px 6px #D8D8D8!important");
                $('#LojaExperimente').attr("style", "box-shadow: 0px 5px 6px #A9D0F5!important");
            } else {
                swal("Atenção", "Nenhum Produto foi selecionado!", "warning");
            }
        }

        function AbrirDetalhe(IdObj, grade, sku, tamanho, produto) {
            $("#tituloDetalhe").html($("#idTitulo_" + IdObj).html());

            $.ajax({
                type: 'POST',
                url: '@Url.Action("DetalheProduto", "AcessoExterno")',
                dataType: 'json',
                data: { produto: produto },
                success: function (result) {
                    CarregarDetalheProduto(result);
                }
            });

            $('#modalDetalhe').modal('show');
        }

            $("#btnFinalizar").click(function () {
                SalvarProdutoSelecionado("INCLUIR")
                $('#modalDetalhe').modal('hide');
            });

        function EnviarProdutos() {
            enviarEmailIndicacao();
        }

        function SelecionarCorTamanho(_tamanho, _cor) {

            if (_tamanho == "")
                _tamanho = $("#_prodGradeSelecionado").val();

            if (_cor == "")
                _cor = $("#_prodCorSelecionado").val();

              $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DetalheProdutoValidaEstoque", "AcessoExterno")',
                    dataType: 'json',
                  data: { tamanho: _tamanho, cor : _cor },
                    success: function (result) {
                        CarregarDetalheProduto(result, _tamanho, _cor);
                    }
                });
        }

        function CarregarDetalheProduto(obj, _tamanho2, _cor2) {

            if (obj.success) {
                $("#img1").attr("src", "https://imagens.usereserva.com.br/images/853x1280/" + obj.produtoCor + "_01.jpg?ims=320x480").attr("onerror","this.src = '@Url.Content("~/Images/notFound320x480.jpg")'");
                $("#img2").attr("src", "https://imagens.usereserva.com.br/images/853x1280/" + obj.produtoCor + "_02.jpg?ims=320x480").attr("onerror","this.src = '@Url.Content("~/Images/notFound320x480.jpg")'");
                $("#img3").attr("src", "https://imagens.usereserva.com.br/images/853x1280/" + obj.produtoCor + "_03.jpg?ims=320x480").attr("onerror","this.src = '@Url.Content("~/Images/notFound320x480.jpg")'");
                            
                var _cor = '';
                var _tamanho = '';

                $.each(obj.dados, function (i, item) {
                    $("#spanPreco").html(item.preco_format);
                    $("#tituloDetalhe").html(item.t);
                });

                $.each(obj._listCor, function (i, item) {
                    _cor += item;
                });

                $.each(obj._listGrade, function (i, item) {
                    _tamanho += item;
                });

                if (obj._existeCor && _cor2 != "")
                    $("#_prodCorSelecionado").val(_cor2);
                else
                    $("#_prodCorSelecionado").val("");

                if (obj._existeTamanho && _tamanho2 != "")
                    $("#_prodGradeSelecionado").val(_tamanho2);
                else
                    $("#_prodGradeSelecionado").val("");

                $("#spanCor").html(_cor);
                $("#spanTamanho").html(_tamanho);

                $("#carousel-example-generic").carousel(0);
            }
        }

        function SalvarProdutoSelecionado(_tipoInclusao, ) {
            var _grade = $("#_prodGradeSelecionado").val();
            var _produtoCor = $("#_prodCorSelecionado").val();
            var _produto = $("#_prodSelecionado").val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddprodutoAbandonado", "AcessoExterno")',
                dataType: 'json',
                data: { produto: _produto, cor_produto: _produtoCor, grade: _grade, tipoInclusao: _tipoInclusao },
                success: function (result) {
                    if (result.success) {
                        var itens = "";
                        var total = 0;
                        $.each(result.dados, function (i, item) {

                            var produtoCor = item.produto + item.cor_produto;
                            var urlImg = "https://imagens.usereserva.com.br/images/853x1280/" + item.produto + item.cor_produto + "_01.jpg?ims=320x480";
                            var urlImgErro = "../../Images/notFound320x480.jpg";

                            itens += "<div class='col-md-2 text-center'>";
                            itens += "<div class='thumbnail' style='background-color:#" + (item.cliente_escolheu == 1 ? "5cb85c" : "d9534f") + "' id='thumbnail_" + produtoCor + "'>";
                            itens += '<a href="#" onclick="Selecionar(\'' + produtoCor + '\', \'' + item.produto_id + '\', \'' + item.grade + '\', \'' + item.sku + '\', \'' + item.tamanho + '\', \'' + item.produto + '\');" style="text-decoration:none"><img src="' + urlImg + '" alt="Image" style="max-width:100%;" class="img-responsive" onerror="this.src=\'' + urlImgErro + '\'">';
                            //itens += '<span class="description-text" id="btn_' + produtoCor + '">' + (item.cliente_escolheu == 1 ? "ALTERAR" : "SELECIONAR?") + '</span>';
                            itens += "</a></div>";
                            itens += "<h4 id='idPreco_" + produtoCor + "'>" + item.preco_format + "</h4>";
                            itens += "<h6 id='idTitulo_" + produtoCor + "' style='height: 30px; color:#" + (item.cliente_escolheu == 1 ? "5cb85c" : "d9534f") + "'>" + item.descricao_produto + "</h6>";

                            if (item.cliente_escolheu == 1) {
                                itens += '<img src="../../Images/delete-button2.png" alt="Image" onclick="ExluirProduto(\'' + item.produto + '\', \'EXCLUIR\')" style="position: absolute; top: -10px; right: 4px;  cursor: pointer; z-index:1001;">';
                                itens += '<div style="padding-left:5px; padding-bottom: 5px; position: absolute; bottom: 94px; right: 23px;  cursor: pointer; z-index:1001;"><div class="bg-gray-gradient" style="width: 100%;min-width: 29px;padding: 4px;text-align:center; font-size:14px;font-weight:bold; border-radius: .25em; border-color:black!important; border:solid; border-width:1px;font-weight: bold;">' + item.grade + '</div></div>';
                            }

                            itens += "</div>";
                            if (item.cliente_escolheu == 1)
                                total += 1
                        });
                        $("#_itensSelecionados").val(total);
                        $("#divlistaProdutos").html(itens);
                        $("#total").html(total);
                        $("#obsProduto").val("");

                        $("#_prodGradeSelecionado").val("");
                        $("#_prodCorSelecionado").val("");
                        $("#_prodSelecionado").val("");
                    }

                },
                complete: function () {
                },
                error: function (ex) {
                }
            });
            return false;
        }

        function ExluirProduto(produto) {
            $("#_prodSelecionado").val(produto);
            SalvarProdutoSelecionado('EXCLUIR');
        }

        function Selecionar(IdObj, id, grade, sku, tamanho, produto) {
                $("#_idProdSelecionado").val(id);
                $("#_prodSelecionadoSku").val(sku);
                $("#idProdutoSelecionado").val(IdObj);
                $("#_prodSelecionado").val(produto);

                AbrirDetalhe(IdObj, grade, sku, tamanho, produto);

            return false;
        }

        function SolicitarExperimente() {


            var _uf = $("#uf").val();
            var _loja = $("#loja").val();
            var _periodo = $("#periodo").val();
            var _data = $("#dataExperimente").val();
            var _dataAbandono = $("#dataExperimente").val();

            var valido = true;
            if (_uf == '') {
                swal("Atenção", "Informe a Uf!", "warning");
                valido = false;
            } else if (_loja == '') {
                swal("Atenção", "Informe a Loja!", "warning");
                valido = false;
            } else if (_data == '') {
                swal("Atenção", "Informe quando quer ir!", "warning");
                valido = false;
            } else if (_periodo == '') {
                swal("Atenção", "Informe o período!", "warning");
                valido = false;
            } else if ($("#_itensSelecionados").val() == "0") {
                swal("Atenção", "Nenhum Produto foi selecionado!", "warning");
                valido = false;
            }

            if (valido) {
                $("#lblMsgExperimente").show();
                $("#btnExperimente").hide();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EnviarExperimentacao", "AcessoExterno")',
                    dataType: 'json',
                    data: { cpf: $.urlParam("cpf"), loja: _loja, data: _data, periodo: _periodo, dataAbandono: _dataAbandono },
                    success: function (result) {
                        if (result.success) {
                            //swal("Sucesso", "Campos obrigatórios!", "success");
                            setTimeout(function () { location.reload(); }, 2000);
                        }
                        else {
                        }
                    },
                    complete: function () {
                    },
                    error: function (ex) {
                        $("#lblMsgExperimente").hide();
                        $("#btnExperimente").show();
                    }
                });
                return false;
            }
        }

        BuscaUfLojaPorMarca('RESERVA');

        function BuscaUfLojaPorMarca(_marca) {
           // var _objVal = $(obj).val();

            $("#uf").children().remove();
            $("#uf").append('<option value="">Selecione...</option>');

             $.ajax({
                type: 'POST',
                url: '@Url.Action("BuscaUfLojaPorMarca", "AcessoExterno")',
                dataType: 'json',
                 data: { marca: _marca },
                 success: function (result) {
                     $("#uf").prop("disabled", false);
                     $("#loja").prop("disabled", true);
                     $.each(result.list, function (i, item) {
                         $("#uf").append('<option value="' + item + '">' + item + '</option>');
                     });
                }
            });
        }

        function BuscaLojaPorUf(obj) {
            var _objVal = $(obj).val();
            //var _objMarcaVal = $("#marca").val();
            var _objMarcaVal = 'RESERVA';

            $("#loja").children().remove();
            $("#loja").append('<option value="">Selecione...</option>');
             $.ajax({
                type: 'POST',
                url: '@Url.Action("BuscaLojaPorUf", "AcessoExterno")',
                dataType: 'json',
                 data: { uf: _objVal, marca: _objMarcaVal },
                 success: function (result) {

                     $("#loja").prop("disabled", false);
                     $.each(result.list, function (i, item) {
                         $("#loja").append('<option value="' + item.id_loja + '">' + item.filial + '</option>');
                     });
                }
            });
        }

        function BuscaShippingTime(obj) {
            var _objVal = $(obj).val();
            var _shippingTime = 5;
             $.ajax({
                type: 'POST',
                url: '@Url.Action("BuscaShippingTime", "AcessoExterno")',
                dataType: 'json',
                 data: { idLoja: _objVal },
                 success: function (result) {
                     _shippingTime = parseInt(result.ShippingTime);
                     var date = new Date();
                     date.setDate(date.getDate() + _shippingTime);
                     var dateEnd = new Date();
                     dateEnd.setDate(dateEnd.getDate() + 60);

                     $('#dataExperimente').datepicker({
                         autoclose: true,
                         startDate: date,
                         endDate: dateEnd
                     })
                 }
            });
        }


    </script>

</body>
</html>

