﻿@{
                /**/

                Layout = null;
}

<html xmlns='http://www.w3.org/1999/xhtml'>
<head>

    <meta http-equiv='content-type' content='text/html; charset=utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='format-detection' content='telephone=no' />
    <style>
        /* Reset styles */
        body {
            margin: 0;
            padding: 0;
            min-width: 100%;
            width: 100% !important;
            height: 100% !important;
            font-family: Helvetica,sans-serif;
        }

        body, table, td, div, p, a {
            -webkit-font-smoothing: antialiased;
            text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
            line-height: 100%;
        }

        table, td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
            border-collapse: collapse !important;
            border-spacing: 0;
        }

        img {
            border: 0;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        #outlook a {
            padding: 0;
        }

        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                line-height: 100%;
            }

        /* Rounded corners for advanced mail clients only */


        /* Set color for auto links (addresses, dates, etc.) */
        a, a:hover {
            color: #127DB3;
        }

        .footer a, .footer a:hover {
            color: #999999;
        }



        .list-type1 {
            /* width: 400px;*/
            margin: 0 auto;
        }

            .list-type1 ol {
                counter-reset: li;
                list-style: none;
                *list-style: decimal;
                font-size: 15px;
                font-family: 'Raleway', sans-serif;
                padding: 0;
                margin-bottom: 4em;
            }

                .list-type1 ol ol {
                    margin: 0 0 0 2em;
                }

            .list-type1 a {
                position: relative;
                display: block;
                padding: .4em .4em .4em 2em;
                *padding: .4em;
                margin: .5em 0;
                background: #93C775;
                color: #000;
                text-decoration: none;
                -moz-border-radius: .3em;
                -webkit-border-radius: .3em;
                border-radius: 10em;
                transition: all .2s ease-in-out;
            }

                .list-type1 a:hover {
                    background: #d6d4d4;
                    text-decoration: none;
                    transform: scale(1.1);
                }

                .list-type1 a:before {
                    content: counter(li);
                    counter-increment: li;
                    position: absolute;
                    left: -1.3em;
                    top: 50%;
                    margin-top: -1.3em;
                    background: #93C775;
                    height: 2em;
                    width: 2em;
                    line-height: 2em;
                    border: .3em solid #fff;
                    text-align: center;
                    font-weight: bold;
                    -moz-border-radius: 2em;
                    -webkit-border-radius: 2em;
                    border-radius: 2em;
                    color: #FFF;
                }

        .list-type1_hover {
            background: #93C775;
            text-decoration: none;
            transform: scale(1.1);
        }

        .corpo-email {
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            -webkit-font-smoothing: antialiased;
            text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
            line-height: 100%;
            background-color: #F0F0F0;
            color: #000000;
        }

        .saudacao-cliente {
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0;
            padding: 0;
            padding-left: 6.25%;
            padding-right: 6.25%;
            width: 87.5%;
            font-size: 24px;
            font-weight: bold;
            line-height: 130%;
            padding-top: 25px;
            color: #000000;
            font-family: sans-serif;
        }

        .img-vendedor {
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0;
            padding: 0;
            padding-bottom: 3px;
            padding-left: 6.25%;
            padding-right: 6.25%;
            width: 87.5%;
            font-size: 18px;
            font-weight: 300;
            line-height: 150%;
            padding-top: 5px;
            color: #000000;
            font-family: sans-serif;
        }

        .btn-enviar-avaliacao {
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0;
            padding: 0;
            padding-left: 6.25%;
            padding-right: 6.25%;
            width: 87.5%;
            padding-top: 25px;
            padding-bottom: 5px;
        }

        .nps-icon {
            text-decoration: none;
            padding: 1rem;
            background-color: #e2e6ea;
            border-color: #dae0e5;
            color: #a0a1a1;
            padding-left: 17px;
            padding-right: 17px;
            font-size: 13pt;
            font-weight: 600;
            margin-right: 4px;
        }

            .nps-icon:hover {
                background-color: #f1c40f;
                color: #505050;
                border: solid 1px #505050;
            }


        .nps-icon-select {
            background-color: #f1c40f;
            color: #505050;
            border: solid 1px #505050;
        }

        .nps-pouco-feliz {
            float: left;
            /*font-size: 11pt;*/
            margin-top: 45px;
            margin-right: -91px;
            font-family: Helvetica,sans-serif;
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
            padding-left: 0px;
            margin-left: 22px;
            position: absolute;
            color: #E0E0E0;
        }

        .nps-muito-feliz {
            float: right;
            font-family: Helvetica,sans-serif;
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 28px;
            padding-right: 30px;
            color: #E0E0E0;
        }

        .link-final {
            line-height: 20px;
            text-decoration: none;
            color: #404040;
            font-family: Helvetica,sans-serif;
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .textos-arquivo {
            line-height: 20px;
            text-decoration: none;
            color: #333333;
            font-family: sans-serif;
            font-size: 11px;
            font-weight: bold;
        }

        .texto-complemento-avaliacao {
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0;
            padding: 0;
            padding-left: 6.25%;
            padding-right: 6.25%;
            width: 87.5%;
            font-size: 17px;
            font-weight: 400;
            /*line-height: 160%;*/
            padding-top: 5px;
            color: #000000;
            font-family: Helvetica,sans-serif;
            line-height: 30px
        }
    </style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="@Url.Content("~/plugins/RatingJs/js/funcoes.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#telefone').mask('(00) 0000-0000');
            $('#cpf_cliente').mask('000.000.000-00');
        });

        var getQueryString = function (field, url) {
            var href = url ? url : window.location.href;
            var reg = new RegExp('[?&]' + field + '=([^&#]*)', 'i');
            var string = reg.exec(href);
            return string ? string[1] : null;
        };

        $(function () {
            var _idContato = getQueryString('id');
            var vlrAvaliacao = getQueryString('avaliacao');
            var imgUrl = getQueryString('imgurl');
            //Avaliar(parseInt(vlrAvaliacao));

              $.ajax({
                    type: 'POST',
                    url: '@Url.Action("BuscarContatoCliente", "AcessoExterno")',
                    dataType: 'json',
                    data: { telefone: _idContato },
                    success: function (result) {
                        if (result.success) {

                            if (imgUrl != null && imgUrl != "") {
                                var _img = "<img border='0' vspace='0' hspace='0' src='http://usereserva.dyndns.org:82/Intranet/images/fotosVendedores/" + imgUrl + "' width='120' height='120' alt='Logo' title='Logo' style='border-radius: 50%;' />"

                                $("#imgVendedor").html(_img);
                            }

                            //$(".logo").attr('src', result.contato.url_avaliacao);
                            if (result.success) {
                                $(".avaliacao").hide();
                                $(".resultado").show();
                                $(".tdNaoRecebiContato").hide();

                                if ((getQueryString('naorecebi') != null && getQueryString('naorecebi') == 0) || result.contato.flg_contato_feito == 0) {
                                    //$(".resultadoText").html("Já Registramos que o vendedor <span style='color:red'>NÃO</span> entrou em contato! Motivo " + texto);
                                    var texto = "";
                                    if (getQueryString('texto') != null) {
                                        texto = getQueryString('texto').replace(/%2520/g, " ").replace(/%20/g, " ").
                                            replace("N%C3%A3o", "<span style='color:red'>NÃO</span>").
                                            replace("VENDEDOR", "<span style='color:red'>vendedor</span>").
                                            replace("apenas", "<span style='color:red'>apenas</span>");
                                    }

                                    $(".resultadoText").html("Já registramos: " + texto + "!");
                                    $(".textMensagem").hide();
                                    $(".tdNaoRecebiContato").hide();
                                    $("#nome_cliente").val() = result.contato.nome;
                                }
                            }
                            else {

                                if (getQueryString('naorecebi') == 0) {
                                    //EnviarNaoRecebiContato(getQueryString('naorecebi'));
                                    SalvarNaoRecebiContato(getQueryString('naorecebi'), getQueryString('texto'))
                                }

                                if (getQueryString('naorecebi') < 0) {
                                    $(".avaliacao").show();
                                    $(".resultado").hide();
                                    $("#opcaoRespNaoRecebi").hide();
                                }
                                else {
                                    $(".avaliacao").show();
                                    $(".resultado").hide();
                                }
                            }

                            var qtd_nome = result.contato.VendedorNome.split(' ').length;
                            $(".spnCliente").html(result.contato.clienteNome);
                            $("#spnVendedor").html(result.contato.VendedorNome.split(' ')[0] + ' ' + result.contato.VendedorNome.split(' ')[qtd_nome-1]);
                            $("#spnVendedor2").html(result.contato.VendedorNome.split(' ')[0] + ' ' + result.contato.VendedorNome.split(' ')[qtd_nome - 1]);

                        }
                    },
                    complete: function () {
                    },
                    error: function (ex) {
                    }
                });
        });

        function EnviarAvaliacao() {
            var _idvendedor = getQueryString('id');

             $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EnviarCadastroCliente", "AcessoExterno")',
                    dataType: 'json',
                 data: { vendedor_id: _idvendedor, nome: $('#nome_cliente').val(), cpf: $('#cpf_cliente').val(), telefone: $('#telefone').val(), email: $('#email_cliente').val()},
                    success: function (result) {
                        if (result.success) {

                                $(".avaliacao").hide();
                                $(".resultado").show();

                            $(".spnCliente").html(result.contato.clienteNome);
                            $("#spnVendedor").html(result.contato.VendedorNome);
                        }
                    },
                    complete: function () {
                    },
                    error: function (ex) {
                    }
                });
                return false;
        }

        function GravarResposta(texto, obj) {
            $('#txtAvaliacao').val(texto);
            $('.list-type1_hover').removeClass("list-type1_hover");
            $(obj).addClass("list-type1_hover");
        }

         function EnviarNaoRecebiContato(_naorecebi) {
             $("#opcaoRespNaoRecebi").show("show");
             $(".avaliacao").hide('show');
             $(".textMensagem").hide('show');

            return false;
        }

    </script>
    <!-- MESSAGE SUBJECT -->
    <title>Complete seu cadastro</title>
</head>


<body topmargin='0' rightmargin='0' bottommargin='0' leftmargin='0' marginwidth='0' marginheight='0' width='100%' class='corpo-email textos-arquivo' bgcolor='#F0F0F0' text='#000000'>
    <input type="hidden" value="" id="hddAvaliacao" />
    <!-- SECTION / BACKGROUND -->
    <!-- Set message background color one again -->
    <table width='100%' align='center' border='0' cellpadding='0' cellspacing='0' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%;' class='background'>
        <tr>
            <td align='center' valign='top' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;'
                bgcolor='#F0F0F0'>
                <!-- WRAPPER -->
                <!-- Set wrapper width (twice) -->
                <table border='0' cellpadding='0' cellspacing='0' align='center'
                       width='600' style='border-collapse: collapse; border-spacing: 0; padding: 0; width: inherit;	max-width: 600px;' class='wrapper'>
                    <tr>
                        <td align='center' valign='top' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; padding-top: 20px;			padding-bottom: 20px;'>
                            <!-- PREHEADER -->
                            <!-- Set text color to background color -->
                            <div style='display: none; visibility: hidden; overflow: hidden; opacity: 0; font-size: 1px; line-height: 1px; height: 0; max-height: 0; max-width: 0;color: #F0F0F0;' class='preheader'>
                                Queremos ouvir você!!!
                            </div>

                            <!-- LOGO -->
                            <!-- Image text color should be opposite to background color. Set your url, image src, alt and title. Alt text should fit the image size. Real image size should be x2. URL format: http://domain.com/?utm_source={{Campaign-Source}}&utm_medium=email&utm_content=logo&utm_campaign={{Campaign-Name}} -->
                            <a target='_blank' style='text-decoration: none;'
                               href='http://www.usereserva.com.br'>
                                <img border='0' vspace='0' hspace='0'
                                     src='https://imagens.usereserva.com.br/rsv_assets/img/logo.png'
                                     width='100' class="logo"
                                     alt='Logo' title='Logo' style='color: #000000;font-size: 10px; margin: 0; padding: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block;' />
                            </a>
                        </td>
                    </tr>
                    <!-- End of WRAPPER -->
                </table>
                <!-- WRAPPER / CONTEINER -->
                <!-- Set conteiner background color -->
                <table border='0' cellpadding='0' cellspacing='0' align='center' bgcolor='#FFFFFF' width='600' style='border-collapse: collapse; border-spacing: 0; padding: 0; width: inherit;	max-width: 600px;' class='container'>
                    <!-- HEADER -->
                    <!-- Set text color and font family ('sans-serif' or 'Georgia, serif') -->
                    @*<tr>
                            <td align='center' valign='top' class='saudacao-cliente header'>
                                Olá, <span class="spnCliente"></span>
                            </td>
                        </tr>*@

                    <!-- SUBHEADER -->
                    <!-- Set text color and font family ('sans-serif' or 'Georgia, serif') -->
                    <tr>
                        <td align='center' valign='top' class='img-vendedor subheader'>
                            <br />
                            <div id="imgVendedor" style="margin-bottom: 20px;float: left;"></div>
                            <div style="float: left;margin-left: 20px;line-height: 50px;font-size: 24px;font-weight: 700;">
                                <span id="spnVendedor"></span><br />
                                Entrou em contato com você.
                            </div>
                        </td>
                    </tr>

                    <tr class="tdNaoRecebiContato avaliacao">
                        <td align='center' valign='top' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;padding-bottom:40px;' class='button'>
                            <a href="#" style="text-decoration:none; display:none" onclick="EnviarNaoRecebiContato(0)">
                                <table border='0' cellpadding='0' cellspacing='0' align='center' style='max-width: 240px; min-width: 120px; border-collapse: collapse; border-spacing: 0; padding: 0;'>
                                    <tr>
                                        <td align='center' valign='middle' style='padding: 7px 10px; margin: 0; border-collapse: collapse; border-spacing: 0; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px;'
                                            bgcolor='red'>
                                            <div style='color: #FFFFFF; font-family: sans-serif; font-size: 12px; font-weight: 400; line-height: 120%;'>

                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </a>

                            <div id="opcaoRespNaoRecebi">
                                <br />
                                <span style='padding-top: 50px; font-size: 18px; font-weight: 300; line-height: 150%; padding-top: 5px; color: #000000; font-family: sans-serif;' class='subheader'>
                                    Olá <span class="spnCliente" style="font-style: italic;"></span>, para que possamos <b style="color:crimson">concluir seu cadastro</b>, por favor, preencha os dados abaixo:
                                </span>
                                <table border='0' cellpadding='0' cellspacing='0' align='center' style='max-width: 600px; min-width: 120px; border-collapse: collapse;margin-top:30px; border-spacing: 0; padding: 0;'>
                                    <tr>
                                        <td class="m_-4791612877786818603pb-30" style="padding:0 0 43px">
                                            <table align="center" style="margin:0 auto" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <div class='paragraph' style="padding:30px;padding-top:0;line-height:20px;">
                                                        <div class="texto-complemento-avaliacao " style="padding-left: 0px;">Nome Completo <br /></div>
                                                        <input style="width:100%;margin-top: 15px;line-height: 1.5;height: calc(2.25rem + 2px);-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: .375rem 1.75rem .375rem .75rem;border: 1px solid #ced4da;border-radius: .25rem;" id="nome_cliente" \>
                                                    </div>
                                                    <div class='paragraph' style="padding:30px;padding-top:0;line-height:20px;">
                                                        <div class="texto-complemento-avaliacao " style="padding-left: 0px;">Email <br /></div>
                                                        <input style="width:100%;margin-top: 15px;line-height: 1.5;height: calc(2.25rem + 2px);-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: .375rem 1.75rem .375rem .75rem;border: 1px solid #ced4da;border-radius: .25rem;" id="email_cliente" \>
                                                    </div>
                                                    <div class='paragraph' style="padding:30px;padding-top:0;line-height:20px;">
                                                        <div class="texto-complemento-avaliacao " style="padding-left: 0px;">CPF <br /></div>
                                                        <input style="width:100%;margin-top: 15px;line-height: 1.5;height: calc(2.25rem + 2px);-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: .375rem 1.75rem .375rem .75rem;border: 1px solid #ced4da;border-radius: .25rem;" id="cpf_cliente" \>
                                                    </div>
                                                    <div class='paragraph' style="padding:30px;padding-top:0;line-height:20px;">
                                                        <div class="texto-complemento-avaliacao " style="padding-left: 0px;">TELEFONE CELULAR <br /></div>
                                                        <input type="text" id="telefone" data-mask="(00) 00000-0000" style="width:50%;margin-top: 15px;line-height: 1.5;height: calc(2.25rem + 2px);-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: .375rem 1.75rem .375rem .75rem;border: 1px solid #ced4da;border-radius: .25rem;" \>
                                                    </div>
                                                    <tr>
                                                        <td align="center" style="min-width: 240px;font:bold 16px/20px Arial,Helvetica,sans-serif,Apercu;border-radius:5px;">
                                                            @*<a style="text-decoration:none;display:block;max-width: 150px;border: solid 1px;padding: 1rem;height:75px;margin-left: -60px !important;background-color: #e2e6ea;border-color: #dae0e5;color: #a0a1a1;" class="link-final" href="#" onclick="SalvarNaoRecebiContato(0, 'Nenhum VENDEDOR entrou em contato!')">

                    <div style="font-size: 25pt;margin-bottom: 10px;"><i class="fas fa-user-times"></i></div>
                    <b>Nenhum VENDEDOR entrou em contato!</b>
                </a>*@
                                                        </td>
                                                        <td align="center" style="padding: 18px;font:bold 16px/20px Arial,Helvetica,sans-serif,Apercu;border-radius:5px"></td>
                                                        <td align="center" style="min-width: 240px;font:bold 16px/20px Arial,Helvetica,sans-serif,Apercu;border-radius:5px;">
                                                            @*<a style="text-decoration:none;display:block;text-decoration:none;display:block;max-width: 150px;border: solid 1px;padding: 1rem;height:75px;margin-left: 57px !important;
                 background-color: #e2e6ea;border-color: #dae0e5;color: #a0a1a1;" class="link-final" href="#" onclick="SalvarNaoRecebiContato(0, 'Não sou o cliente informado!')">

                    <div style="font-size: 25pt;margin-bottom: 10px;"><i class="fas fa-user-slash"></i></div>
                    <b>Não sou o cliente informado!</b>
                </a>*@
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr class="avaliacao">
                        <td align='center' valign='top' class='btn-enviar-avaliacao button'>
                            <a href="#" style="text-decoration:none" onclick="EnviarAvaliacao()">
                                <table border='0' cellpadding='0' cellspacing='0' align='center' style='max-width: 240px; min-width: 120px; border-collapse: collapse; border-spacing: 0; padding: 0;'>
                                    <tr>
                                        <td align='center' valign='middle' style='padding: 12px 24px; margin: 0; border-collapse: collapse; border-spacing: 0; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px;background-color: #D73C2C;'>
                                            <div style='color: #FFFFFF; font-family: Helvetica,sans-serif; font-size: 15px; font-weight: 800; line-height: 120%'>
                                                ENVIAR CADASTRO
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </a>

                        </td>
                    </tr>

                    <tr class="resultado" style="display:none">
                        <td align='center' valign='top' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 24px; font-weight: bold; line-height: 130%;
			            padding-top: 25px;color: #000000;font-family: sans-serif;' class='header resultadoText'>
                            Cadastro concluido!
                        </td>
                    </tr>


                </table>

                <!-- AREA DE MARKETING -->
                <table align="center" bgcolor="#FFF" cellpadding="0" cellspacing="0" role="presentation" width="600" style="border-bottom:1px dashed #cccccc;background-color:#fff;min-width:600px">
                    <tbody>
                        <tr align="center">
                            <td style="padding:20px 0">
                                <table align="center" cellpadding="0" cellspacing="0" role="presentation" width="600">
                                    <tbody>
                                        <tr align="center">
                                            <td class="m_4684720521131554839show-mob" align="center" width="200" style="line-height:15px;padding:0 10px;display:none">
                                                <a href="http://news.usereserva.com/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%3DUADSDUWT&amp;_ei_=EkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0." style="text-decoration:none;color:#333333;font-family:Helvetica,sans-serif;font-size:11px;font-weight:bold;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://news.usereserva.com/pub/cc?_ri_%3DX0Gzc2X%253DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%253DUADSDUWT%26_ei_%3DEkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0.&amp;source=gmail&amp;ust=1555608106301000&amp;usg=AFQjCNHCauvx-HZ6Ajikfij-ZtrNKIJ7-Q">
                                                    <img src="https://ci4.googleusercontent.com/proxy/-K0R2yY3YHZ9iF8xQIsHcuWJ5L0wX2ow6PRWk_Lr6gNNXIfCB0t5QfGXsmABxa1iGcuefwbYVy5BdAqgXdy9qULdYrFsWl2skzba-efTTPuWkGs0kuPQ=s0-d-e1-ft#https://imagens.usereserva.com.br/usereserva/news/template/phone.png" width="31" alt="Televendas" style="display:block;border:0;padding-bottom:5px" class="CToWUd">
                                                    Televendas:<br>21 3003-1255
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table align="center" cellpadding="0" cellspacing="0" role="presentation" width="600" bgcolor="#FFF" style="background-color:#fff;min-width:600px">
                    <tbody>
                        <tr>
                            <td align="center" style="font-family:Helvetica,sans-serif;font-size:11px;line-height:11px;color:#333333;padding:30px 30px 10px 30px">Sigam-me os bons:</td>
                        </tr>
                    </tbody>
                </table>
                <table align="center" cellpadding="0" cellspacing="0" role="presentation" width="600" bgcolor="#FFF" style="background-color:#fff;min-width:600px">
                    <tbody>
                        <tr>
                            <td align="center" width="600" style="padding:0 30px 20px 30px">
                                <a href="http://news.usereserva.com/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%3DUCDSCRRT&amp;_ei_=EkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0." style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://news.usereserva.com/pub/cc?_ri_%3DX0Gzc2X%253DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%253DUCDSCRRT%26_ei_%3DEkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0.&amp;source=gmail&amp;ust=1555608106301000&amp;usg=AFQjCNEej_fWU650siCjN3BfLasF3t23Ig">
                                    <img src="https://ci5.googleusercontent.com/proxy/hRZkkTwUYP2ciT1iGyxWuTe0GVWRBGe6szGCsr5keDO_0k7o7ysY2gUDh2-YtL9XSnZVKUUYk3yFU5LZMIdrO5mNC5XAoLThaagCoW7Svlx3ZQGZ3dRkRA8=s0-d-e1-ft#https://imagens.usereserva.com.br/usereserva/news/template/icon-fb.png" width="22" alt="Facebook" style="border:0;display:inline-block;padding-right:5px" class="CToWUd">
                                </a>
                                <a href="http://news.usereserva.com/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%3DUADSDUCT&amp;_ei_=EkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0." style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://news.usereserva.com/pub/cc?_ri_%3DX0Gzc2X%253DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%253DUADSDUCT%26_ei_%3DEkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0.&amp;source=gmail&amp;ust=1555608106301000&amp;usg=AFQjCNEbtOapSk6CBqIrLy1IiALsxQpS6Q">
                                    <img src="https://ci4.googleusercontent.com/proxy/KJCEUwVZqMLZMNXk3Hfx5oGV_w1M0O1bRLGgLEzK-Pa-amJjsdp2JF-aVT1CMssPXUCqH2gbgslks_L2ZbbDs64LXB18bHDdfnvIIAdvpSawKWtVTrMKg94=s0-d-e1-ft#https://imagens.usereserva.com.br/usereserva/news/template/icon-tt.png" width="22" alt="Twitter" style="border:0;display:inline-block;padding-right:7px" class="CToWUd">
                                </a>
                                <a href="http://news.usereserva.com/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%3DUCDSCRTT&amp;_ei_=EkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0." style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://news.usereserva.com/pub/cc?_ri_%3DX0Gzc2X%253DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%253DUCDSCRTT%26_ei_%3DEkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0.&amp;source=gmail&amp;ust=1555608106302000&amp;usg=AFQjCNH8M30WnoiSJHxWkM27QXNbpeafSw">
                                    <img src="https://ci6.googleusercontent.com/proxy/9PrFY08Qtb9rzzHzz5UyXU3FUuLGU7MdepzGZg991vwjIBRELFVkxiRpF1TqG64HquSiFnZiwXdg075lTwGm-z59OwXIm7bdLoGmxwySgL_sYrRR4J6OEHI=s0-d-e1-ft#https://imagens.usereserva.com.br/usereserva/news/template/icon-ig.png" width="22" alt="Instagram" style="border:0;display:inline-block;padding-right:8px" class="CToWUd">
                                </a>
                                <a href="http://news.usereserva.com/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%3DUCDSCRWT&amp;_ei_=EkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0." style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://news.usereserva.com/pub/cc?_ri_%3DX0Gzc2X%253DYQpglLjHJlTQGgYBBRwdYzeDItn6loyDgCyUJBfWzazdoze6p0uwmEp55igTCza8CIIzaVXtpKX%253DUCDSCRWT%26_ei_%3DEkLIVj8x9EsyUELCtX-jUiJ7Rup0MmWF5RKin5Eq9OJeaKdy4CTrCCRwSZvQeDsrA2m3lzinv9i7g8r1S3L5H4EeD7hD8s3_t8kl5bnnSi31Q5iuSJAo-RhYj3deU5ySCdnLZ3vxjQ58q9vXPdB3ZQHqxxIB3otFiZV9e6BLrCKDy_mgjCH9XqcNPMfKDhBs-VU-U4jljDERrzp8stB54QHZGxQgA0.&amp;source=gmail&amp;ust=1555608106302000&amp;usg=AFQjCNFIo1w5tEd62vi9eEh6n4GyLlRFSw">
                                    <img src="https://ci4.googleusercontent.com/proxy/gSmNGbIwh0H8dmZKNqp0Ikpm1iJVolBwJhk5y0DpQwZ2Xm03s9mURsI9Iw3mH_ThE0ii4zSPAFtjy-OcAVU5WEYQ_FZhla84COmLxuvtemTSkmXuEyosIiY=s0-d-e1-ft#https://imagens.usereserva.com.br/usereserva/news/template/icon-yt.png" width="22" alt="Youtube" style="border:0;display:inline-block" class="CToWUd">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- AREA DE MARKETING -->
                <!-- WRAPPER -->
                <!-- Set wrapper width (twice) -->
                <table border='0' cellpadding='0' cellspacing='0' align='center' width='560' style='border-collapse: collapse; border-spacing: 0; padding: 0; width: inherit;	max-width: 560px;' class='wrapper'>

                    <!-- Set text color and font family ('sans-serif' or 'Georgia, serif'). Duplicate all text styles in links, including line-height -->
                    <tr>
                        <td align='center' valign='top' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 13px; font-weight: 400; line-height: 150%;
			            padding-top: 20px;padding-bottom: 20px;color: #999999;font-family: sans-serif;' class='footer'>

                            @*<a href='https://www.usereserva.com' target='_blank' style='text-decoration: underline; color: #999999; font-family: sans-serif; font-size: 13px; font-weight: 400; line-height: 150%;'>useReserva.com</a>*@.

                            <!-- ANALYTICS -->
                            <!-- http://www.google-analytics.com/collect?v=1&tid={{UA-Tracking-ID}}&cid={{Client-ID}}&t=event&ec=email&ea=open&cs={{Campaign-Source}}&cm=email&cn={{Campaign-Name}} -->

                            <img width='1' height='1' border='0' vspace='0' hspace='0' style='margin: 0; padding: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block;'
                                 src='https://raw.githubusercontent.com/konsav/email-templates/master/images/tracker.png' />
                        </td>
                        </
                    </tr>

                    <!-- End of WRAPPER -->
                </table>
                <!-- End of SECTION / BACKGROUND -->
            </td>
        </tr>
    </table>
</body>

</html>
