﻿@using Now.Domain;

@model IndicacaoProduto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndicacaoProdutos</title>
    <link rel="stylesheet" href="@Url.Content("~/bootstrap/css/bootstrap.min.css")" )">
    <link rel="stylesheet" href="@Url.Content("~/Content/btn.css?data=" + DateTime.Now.ToString("ddMMyyyyHHmmss"))" )">
    <style>
        body, html {
            height: 100%;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="@Url.Content("~/bootstrap/js/bootstrap.min.js")"></script>
</head>

<body>
    <input type="hidden" id="idIndicacao" value="@Model.id" />
    @if (Model.cliente_respondeu == 1)
    {

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="text-align:center; width:100%;">
                        <br />
                        <img src="@Url.Content("~/Images/fovorito_pica.png")" />
                        <h2>SUGESTÃO DE PRODUTOS</h2>
                        <h3>
                            <strong>@Model.nome_cliente</strong> <br />
                        </h3>
                        <p class="text-muted"><h4>os produtos abaixo já foram enviados para o vendedor.</h4></p>
                        
                        <hr />
                        <div class="col-md-2">
                            <img src="@Url.Content("~/Images/bag.png")" />
                            <h1 style="margin-top: 0px!important; margin-bottom: 0px!important" id="total">@(Model.lista_produtos.Where(x => x.cliente_escolheu == 1).ToList().Count())</h1>
                            <h6 style="margin-top: 0px!important">Produto(s) enviados(s)</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @foreach (var item in Model.lista_produtos.Where(x=>x.cliente_escolheu ==1).ToList())
                {
                    var prodCor = item.produto.produto + item.produto.cor_produto;
                        <div class="col-md-2 text-center">
                            <div class="thumbnail" style="background-color:#@(item.cliente_escolheu == 1 ? "5cb85c" : "d9534f")">
                                <img src="@item.produto.imgSite.Replace("{posicao}", "01").Replace("{tamanho}", "320x480")" alt="Image" style="max-width:100%;" class="img-responsive">
                                @*<div id="idDetalhe_@prodCor" style="position:absolute; text-align:right; width:100%; right: 26px; top: 0px; display:none"><h6><span id="idCor">[Verde]</span><br /><span id="idTamanho">[M]</span><br /><span id="idQtde">[1]</span></h6></div>*@
                               <span class="label @(item.cliente_escolheu == 1 ? "label-success" : "label-danger")">@(item.cliente_escolheu == 1 ? "SELECIONADO!" : "SELECIONAR?")</span>
                            </div>
                            <h6 style="color:#@(item.cliente_escolheu == 1 ? "5cb85c" : "d9534f")">@item.produto.descricao_produto</h6>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="text-align:center; width:100%;">
                        <br />
                        <img src="@Url.Content("~/Images/fovorito_pica.png")" />
                        <h2>SUGESTÃO DE PRODUTOS</h2>
                        <h3>
                            <strong>@Model.nome_cliente</strong> <br />
                        </h3>
                        <p class="text-muted"><h4>separamos os melhores produtos dentro do seu perfil. Sou o Vendedor @Model.nome_vendedor da loja @Model.nome_loja selecione o que você mais gosta para eu possa dar uma caprichada especial na bolsa.</h4></p>
                        <div class="col-md-10">
                            <hr />
                            <button type="submit" class="btn2-gradient blue text-uppercase text-bold" onclick="EnviarProdutos()">Enviar Produtos <i class="glyphicon glyphicon-check"></i></button>
                            <hr />
                        </div>
                        <div class="col-md-2">
                            <img src="@Url.Content("~/Images/bag.png")" />
                            <h1 style="margin-top: 0px!important; margin-bottom: 0px!important" id="total">@(Model.lista_produtos.Where(x => x.cliente_escolheu == 1).ToList().Count())</h1>
                            <h6 style="margin-top: 0px!important">Produto(s) Selecionado(s)</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @foreach (var item in Model.lista_produtos)
                {
                    var prodCor = item.produto.produto + item.produto.cor_produto;
                        <div class="col-md-2 text-center">
                            <div class="thumbnail" style="background-color:#@(item.cliente_escolheu == 1 ? "5cb85c" : "d9534f")" id="thumbnail_@prodCor">
                                <img src="@item.produto.imgSite.Replace("{posicao}", "01").Replace("{tamanho}", "320x480")" alt="Image" style="max-width:100%;" class="img-responsive">
                                @*<div id="idDetalhe_@prodCor" style="position:absolute; text-align:right; width:100%; right: 26px; top: 0px; display:none"><h6><span id="idCor">[Verde]</span><br /><span id="idTamanho">[M]</span><br /><span id="idQtde">[1]</span></h6></div>*@
                                <a href="#" onclick="Selecionar('@prodCor', @item.produto_id);" style="text-decoration:none"><span class="label @(item.cliente_escolheu == 1 ? "label-success" : "label-danger")" id="btn_@prodCor">@(item.cliente_escolheu == 1 ? "SELECIONADO!" : "SELECIONAR?")</span></a>
                            </div>
                            <h6 id="idTitulo_@prodCor" style="color:#@(item.cliente_escolheu == 1 ? "5cb85c" : "d9534f")">@item.produto.descricao_produto</h6>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalDetalhe" tabindex="-1" role="dialog" aria-labelledby="modalDetalheLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" data-dismiss="modal" class="close" type="button">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Selecione o Detalhe</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6 text-center">
                                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <img id="img1" src="https://imagens.usereserva.com.br/images/853x1280/0030862040_01.jpg?ims=320x480" alt="Image" style="max-width:100%;" class="img-responsive">

                                                <div class="carousel-caption">
                                                    Foto 1
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img id="img2" src="https://imagens.usereserva.com.br/images/853x1280/0030862040_02.jpg?ims=320x480" alt="Image" style="max-width:100%;" class="img-responsive">

                                                <div class="carousel-caption">
                                                    Foto 2
                                                </div>
                                            </div>
                                            <div class="item">
                                                <img id="img3" src="https://imagens.usereserva.com.br/images/853x1280/0030862040_03.jpg?ims=320x480" alt="Image" style="max-width:100%;" class="img-responsive">

                                                <div class="carousel-caption">
                                                    Foto 3
                                                </div>
                                            </div>
                                        </div>
                                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                            <span class="fa fa-angle-left"></span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                            <span class="fa fa-angle-right"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center">
                                    <div class="row">
                                        <h3 id="tituloDetalhe">CAMISETA RESERVA GAZE DETALHES</h3>
                                        <hr />
                                        <div class="col-md-12 text-center">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="6" placeholder="Observação ..." id="obsProduto"></textarea>
                                            </div>

                                        </div>
                                        <button type="submit" class="btn2-gradient blue text-uppercase text-bold" id="btnFinalizar"><i class="glyphicon glyphicon-ok"></i> ESCOLHER</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <input type="hidden" name="idProdutoSelecionado" id="idProdutoSelecionado" value="" />
        <input type="hidden" name="_idProdSelecionado" id="_idProdSelecionado" value="" />
        <script>
            function AbrirDetalhe(IdObj) {
                $("#img1").attr("src", "https://imagens.usereserva.com.br/images/853x1280/" + IdObj + "_01.jpg?ims=320x480");
                $("#img2").attr("src", "https://imagens.usereserva.com.br/images/853x1280/" + IdObj + "_02.jpg?ims=320x480");
                $("#img3").attr("src", "https://imagens.usereserva.com.br/images/853x1280/" + IdObj + "_03.jpg?ims=320x480");
                $("#tituloDetalhe").html($("#idTitulo_" + IdObj).html());

                $('#modalDetalhe').modal('show');
            }

            $("#btnFinalizar").click(function () {
                SelecaoProduto();
                $('#modalDetalhe').modal('hide');
            });

            function EnviarProdutos() {
                enviarEmailIndicacao();
            }

            function SelecaoProduto() {
                var IdObj = $("#idProdutoSelecionado").val();

                $("#thumbnail_" + IdObj).css("background-color", "#5cb85c");
                $("#btn_" + IdObj).html('SELECIONADO!');
                $("#btn_" + IdObj).removeClass("label-danger").addClass("label-success");

                //$("#idDetalhe_" + IdObj).show('fade');
                $("#idTitulo_" + IdObj).css('color', '#5cb85c');

                SalvarProdutoSelecionado();
            }

            function SalvarProdutoSelecionado() {
                var observacao = $("#obsProduto").val();
                var idIndicacao = $("#idIndicacao").val();
                var idProdSelecionado = $("#_idProdSelecionado").val();

                var clienteId = $('#clienteId').val();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Addproduto", "AcessoExterno")',
                    dataType: 'json',
                    data: { idIndicacao: idIndicacao, idProduto: idProdSelecionado, observacao: observacao },
                    success: function (result) {
                        if (result.success) {
                            $("#total").html(result.dados.length);
                            $("#obsProduto").val("");
                        }
                        //else {

                        //}
                    },
                    complete: function () {
                    },
                    error: function (ex) {
                    }
                });
                return false;
            }


            function Selecionar(IdObj, id) {
                if ($("#btn_" + IdObj).html() != 'SELECIONADO!') {
                    $("#_idProdSelecionado").val(id);
                    $("#idProdutoSelecionado").val(IdObj);
                    AbrirDetalhe(IdObj);
                }
                else {
                    $('#idDetalhe').hide('fade');
                    $("#thumbnail_" + IdObj).css("background-color", "#d9534f");
                    $("#btn_" + IdObj).html('SELECIONAR?');
                    $("#btn_" + IdObj).removeClass("label-success").addClass("label-danger");
                    $("#idTitulo_" + IdObj).css('color', '#d9534f');
                    $("#_idProdSelecionado").val("");
                    $("#idProdutoSelecionado").val("");

                    // Exclui o produto
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delproduto", "AcessoExterno")',
                        dataType: 'json',
                        data: { idProduto: id },
                        success: function (result) {
                            if (result.success) {
                                $("#total").html(result.dados.length);
                            }
                        },
                        complete: function () {
                        },
                        error: function (ex) {
                        }
                    });
                }
                return false;
            }

            function enviarEmailIndicacao() {
                var idIndicacao = $("#idIndicacao").val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EnviaEmailIndicacao", "AcessoExterno")',
                    dataType: 'json',
                    data: { idIndicacao: idIndicacao },
                    success: function (result) {
                        if (result.success) {
                        }
                        else {
                        }
                    },
                    complete: function () {
                    },
                    error: function (ex) {
                    }
                });
                return false;
            }
        </script>

    }

</body>
</html>
