﻿@using Now.Domain;

@model IList<ClienteReservadoAgendada>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReservadoAgendado</title>
    <link rel="stylesheet" href="@Url.Content("~/bootstrap/css/bootstrap.min.css")" )">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrapValidator.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/ionicons.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/dist/css/AdminLTE_2.min.css")">
    <!-- iCheck -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/iCheck/square/blue.css")">
    <link rel="stylesheet" href="@Url.Content("~/dist/css/skins/_all-skins.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/btn.css?data=" + DateTime.Now.ToString("ddMMyyyyHHmmss"))" )">
    <link rel="stylesheet" href="@Url.Content("~/plugins/datepicker/datepicker3.css")">



    <style>
        body {
            /*background: url('../Images/reservadobg.jpg') no-repeat center center fixed;*/
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            text-align: center;
            padding: 50px;
        }

        div.profile-box {
            background: url('../Images/reservadobg.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            filter: grayscale(50);
            width: 100%;
            margin: 0 auto;
            border: white solid 1px;
        }

        div.profile-box-a {
            height: 250px;
        }


        div.profile-box-b {
            height: 300px;
        }
    </style>
</head>
<body style="background-color: #ecf0f5;">


    <div class="row">
        <div class="col-md-12">

            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="box box-widget">
                    <div class="box-header">
                        <div class="col-md-12">
                            <img src="~/Images/miniReserva.png" class="img-responsive" style="display: inline!important" />

                            @if (Model.Count > 0)
                            {
                                <h3>Oi, @Model.FirstOrDefault().cliente_nome</h3>
                                <p style="@(Model.FirstOrDefault().solicitou == 0 ? "" : "display:none!important")">Estamos quase lá! Clique e confirme seu telefone ou corrija se estiver errado. Depois aperte o botão “Finalizar Cadastro” pra gente entrar em contato e agilizar seu atendimento!</p>
                            }
                            else
                            {
                                <h3>Nenhum Cliente Localizado!</h3>
                            }
                        </div>
                        @*<div class="col-md-12">
                                <h2>Cpf: @Model.FirstOrDefault().cpf</h2>
                            </div>*@
                    </div>
                    @if (Model.Count > 0)
                    {
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="h3">Telefone</label>
                                        <div class="input-group" style="@(Model.FirstOrDefault().solicitou == 0 ? "" : "display:none!important")">
                                            <div class="input-group-addon" style="padding: 0px 12px!important">
                                                <div class="checkbox icheck">
                                                    <label>
                                                        <input type="checkbox" class="checkTelefone">

                                                    </label>
                                                </div>
                                                @*<i class="fa fa-phone"></i>*@
                                            </div>
                                            <input type="text" class="form-control pull-right text-center input-lg telefone" id="telefone" value="@Model.FirstOrDefault().telefone">
                                        </div>
                                        <p class="h2 text-muted" style="@(Model.FirstOrDefault().solicitou == 1 ? "" : "display:none!important")">@Model.FirstOrDefault().telefone_alterado</p>
                                    </div>
                                    <p style="@(Model.FirstOrDefault().solicitou == 0 ? "" : "display:none!important")">Na ligação, não esqueça de confirmar seu endereço e consultar regiões atendidas!</p>
                                </div>
                                @*<div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="h3">Marca</label>

                                                    <div style="@(Model.FirstOrDefault().solicitou == 0 ? "":"display:none!important")">
                                                        @Html.DropDownList("marca", new List<SelectListItem>
                                                               {
                                                                  new SelectListItem{ Text="Selecione", Value = "", Selected=true },
                                                                  new SelectListItem{ Text="RESERVA", Value = "RESERVA" },
                                                                  new SelectListItem{ Text="RESERVA MINI", Value = "MINI" },
                                                               }, new { @class = "form-control select2 input-lg", @style = "width: 100%;", @onchange = "BuscaUfLojaPorMarca(this)", required = "required" })
                                                    </div>

                                                    <p class="h2 text-muted" style="@(Model.FirstOrDefault().solicitou == 1 ? "":"display:none!important")">@Model.FirstOrDefault().filial</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="h3">UF</label>
                                                    <div style="@(Model.FirstOrDefault().solicitou == 0 ? "":"display:none!important")">
                                                        @Html.DropDownList("uf",
                                                        new List<SelectListItem>
                                                               {
                                                                  new SelectListItem{ Text="Selecione", Value = "", Selected=true },
                                                               },
                                                        new { @class = "form-control select2 input-lg", @style = "width: 100%;", required = "required", onchange = "BuscaLojaPorUf(this)", disabled = true })
                                                    </div>

                                                    <p class="h2 text-muted" style="@(Model.FirstOrDefault().solicitou == 1 ? "":"display:none!important")">@Model.FirstOrDefault().filial</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="h3">Loja de Preferência</label>
                                            <div style="@(Model.FirstOrDefault().solicitou == 0 ? "":"display:none!important")">
                                                @Html.DropDownList("loja",
                                                new List<SelectListItem>
                                                               {
                                                                  new SelectListItem{ Text="Selecione", Value = "", Selected=true },
                                                               },
                                                new { @class = "form-control select2 input-lg", @style = "width: 100%;", required = "required", onchange = "BuscarEndereco(this)", disabled = true  })
                                            </div>

                                            <p class="h2 text-muted" style="@(Model.FirstOrDefault().solicitou == 1 ? "":"display:none!important")">@Model.FirstOrDefault().filial</p>
                                        </div>
                                        <div style="display:none!important">
                                            <label class="h4 endereco">Endereço: @Model.FirstOrDefault().endereco, </label>
                                            <label class="h4 cidade">Cidade: @Model.FirstOrDefault().cidade, </label>
                                            <label class="h4 bairro">Bairro: @Model.FirstOrDefault().bairro</label>
                                            <label class="h4 uf"> - Uf: @Model.FirstOrDefault().uf</label>
                                        </div>
                                    </div>*@

                            </div>
                        </div>
                        <div class="box-footer center">
                            <label class="h3 text-green" style="@(Model.FirstOrDefault().solicitou == 1 ? "" : "display:none!important")">Cadastro completo! Agora é só aguardar nossa ligação!</label>
                            <button type="submit" class="btn2-gradient green text-uppercase text-bold" onclick="ConfirmarVisita()" style="@(Model.FirstOrDefault().solicitou == 0 ? "" : "display:none!important")">Finalizar Cadastro</button>
                        </div>
                    }
                    else
                    {


                    }
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/bootstrap/js/bootstrap.min.js")"></script>
    <!-- iCheck -->
    <script src="@Url.Content("~/plugins/iCheck/icheck.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/plugins/datepicker/bootstrap-datepicker.js")"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>

    @*<script src="/vendors/formvalidation/dist/js/FormValidation.min.js"></script>*@
    <script>

        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%'
        });

        jQuery("input.telefone")
            .mask("(999) 9999-9999?9")
            .focusout(function (event) {
                var target, phone, element;
                target = (event.currentTarget) ? event.currentTarget : event.srcElement;
                phone = target.value.replace(/\D/g, '');
                element = $(target);
                element.unmask();
                if (phone.length > 11) {
                    element.mask("(999) 99999-999?9");
                } else {
                    element.mask("(999) 9999-9999?9");
                }
            });

        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return null;
            }
            return decodeURI(results[1]) || 0;
        }



        function ConfirmarVisita() {

            var _telefone = $("#telefone").val();
            var _loja = $.urlParam("loja");
            var _tipo = $.urlParam("tipo");
            var _cpf = $.urlParam("cpf");;

            var _checkTelefone = $(".checkTelefone").is(':checked');

            if (_telefone != '' && _loja != '' && _checkTelefone) {
                console.log('foi');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ConfirmarReservadoAgendado", "AcessoExterno")',
                    dataType: 'json',
                    data: { cpf: _cpf, telefone: _telefone, loja: _loja, tipo: _tipo },
                    success: function (result) {
                        if (result.success) {
                            swal("Sucesso", "Cadastro completo! Agora é só aguardar nossa ligação!", "success");
                            setTimeout(function () { location.reload(); }, 2000);
                        }
                        else {
                            swal("Atenção", "Ocorreu um erro durante o cadastro!", "warning");
                        }
                    }
                });
            }
            else {
                if (_telefone == '') {
                    swal("Atenção", "O preenchimento do TELEFONE é obrigatório!", "warning");
                } else if (!_checkTelefone)
                    swal("Atenção", "Por favor confirme o telefone ao lado!", "warning");

                if (_loja == '') {
                    swal("Atenção", "A seleção da LOJA é obrigatório!", "warning");
                }
            }


            return false;
        }

        function BuscarEndereco(obs) {
            var _idLoja = $(obs).val();

             $.ajax({
                type: 'POST',
                url: '@Url.Action("BuscarLoja", "AcessoExterno")',
                dataType: 'json',
                 data: { idLoja: _idLoja },
                 success: function (result) {
                     $(".endereco").html(result.loja.endereco+", ");
                     $(".bairro").html(result.loja.bairro + " - ");
                     $(".cidade").html(result.loja.cidade + ", ");
                     $(".uf").html(result.loja.uf);
                }
            });
        }

        function BuscaUfLojaPorMarca(obj) {
            var _objVal = $(obj).val();

            $("#uf").children().remove();
            $("#uf").append('<option value="">Selecione...</option>');

             $.ajax({
                type: 'POST',
                url: '@Url.Action("BuscaUfLojaPorMarca", "AcessoExterno")',
                dataType: 'json',
                 data: { marca: _objVal },
                 success: function (result) {
                     $("#uf").prop("disabled", false);
                     $("#loja").prop("disabled", true);
                     $.each(result.list, function (i, item) {
                         $("#uf").append('<option value="' + item + '">' + item + '</option>');
                     });
                }
            });
        }

        function BuscaLojaPorUf(obj) {
            var _objVal = $(obj).val();
            var _objMarcaVal = $("#marca").val();
            $("#loja").children().remove();
            $("#loja").append('<option value="">Selecione...</option>');
             $.ajax({
                type: 'POST',
                url: '@Url.Action("BuscaLojaPorUf", "AcessoExterno")',
                dataType: 'json',
                 data: { uf: _objVal, marca: _objMarcaVal },
                 success: function (result) {
                     console.log(result.list);
                     $("#loja").prop("disabled", false);
                     $.each(result.list, function (i, item) {
                         $("#loja").append('<option value="' + item.id_loja + '">' + item.filial + '</option>');
                     });
                }
            });
        }

    </script>
</body>
</html>
