﻿@using Now.Domain;
@model IList<ReportEfetividadeAgendaLojas>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Resultado Efetividade Agenda @ViewBag.AgendaRelatorio Vendedor</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive no-padding tableExport">
            <table id="tbPesquisa" class="table table-bordered table-striped">
                <thead>
                    <tr class="bg-gray-gradient">
                        <th class="text-center" #titulo#>#</th>
                        <th class="text-center" #titulo#>LOJA</th>
                        <th class="text-center" #titulo#>VENDEDOR</th>
                        <th class="text-center" #titulo#>CONTATOS EFETUADOS</th>
                        <th class="text-center" #titulo#>CONTATOS DISPONÍVEIS</th>
                        <th class="text-center" #titulo#>PRODUTIVIDADE(%)</th>
                        <th class="text-center" #titulo#>EFETIVIDADE</th>
                    </tr>
                    <tr class="bg-green-gradient">                                                
                        <th #total# colspan="3">Total</th>
                        <th class="text-center" #total#>@(Model.Sum(x => x.lig_efetuadas))</th>
                        <th class="text-center" #total#>@(Model.Sum(x => x.LigDisponiveis))</th>
                        <th class="text-center" #total#>@(String.Format("{0:P}", Model.Sum(x => x.lig_efetuadas) > 0 && Model.Sum(x => x.LigDisponiveis) > 0 ? Convert.ToDecimal(Model.Sum(x => x.lig_efetuadas)) / Convert.ToDecimal(Model.Sum(x => x.LigDisponiveis)) : Convert.ToDecimal(0)))</th>
                        <th class="text-center" #total#>@(String.Format("{0:C}", Model.Sum(x => x.efetividade)))</th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (ReportEfetividadeAgendaLojas item in Model)
                    {
                    <tr>
                        <td>@item.ranking</td>
                        <td>@item.loja</td>
                        <td>@item.vendedor</td>
                        <td class="text-center">@item.lig_efetuadas</td>
                        <td class="text-center">@item.LigDisponiveis</td>
                        <td class="text-center">@(String.Format("{0:P}", item.produtividade))</td>
                        <td class="text-center">@(String.Format("{0:C}", item.efetividade))</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
