﻿@using Now.Domain;
@model IList<ReportRankingVendedores>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Resultado Ranking Vendedores</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive no-padding tableExport">

            <table id="tbPesquisa" class="table table-bordered table-striped">
                <thead>
                    <tr class="bg-gray-gradient">
                        <th class="text-center" #titulo#>#</th>
                        <th class="text-center" #titulo#>LOJA</th>
                        <th class="text-center" #titulo#>VENDEDOR</th>
                        <th class="text-center" #titulo#>VALOR</th>
                        <th class="text-center" #titulo#>PA</th>
                        <th class="text-center" #titulo#>VM</th>
                        <th class="text-center" #titulo#>VENDEU</th>
                        <th class="text-center" #titulo#>GEROU</th>
                        <th class="text-center" #titulo#>% EFETIVIDADE</th>

                    </tr>
                </thead>
                <thead>
                    <tr class="bg-green-gradient">
                        <th class="text-center" #total# colspan="3">Total</th>
                        <th class="text-center" #total#>@(String.Format("{0:C}", Model.Sum(x => x.valor)))</th>
                        <th class="text-center" #total#>@(String.Format("{0:0.##}", Model.Sum(x => x.pa)))</th>
                        <th class="text-center" #total#>@(String.Format("{0:C}", Model.Sum(x => x.vm)))</th>
                        <th class="text-center" #total#>@(String.Format("{0:C}", Model.Sum(x => x.valor_venda_now)))</th>
                        <th class="text-center" #total#>@(String.Format("{0:C}", Model.Sum(x => x.valor_contato_now)))</th>
                        <th class="text-center" #total#>@(String.Format("{0:P}", (Model.Sum(x => x.valor) > 0 && Model.Sum(x => x.valor_contato_now) > 0) ? Model.Sum(x => x.valor_contato_now) / Model.Sum(x => x.valor) : 0))</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ReportRankingVendedores item in Model)
                    {
                    <tr>
                        <td class="text-center">@item.ranking</td>
                        <td class="text-center">@item.loja</td>
                        <td class="text-center">@Html.Raw(item.vendedor)</td>
                        <td class="text-center">@(String.Format("{0:C}", item.valor))</td>
                        <td class="text-center">@(String.Format("{0:0.##}", item.pa))</td>
                        <td class="text-center">@(String.Format("{0:C}", item.vm))</td>
                        <td class="text-center">@(String.Format("{0:C}", item.valor_venda_now))</td>
                        <td class="text-center">@(String.Format("{0:C}", item.valor_contato_now))</td>
                        <td class="text-center">@(String.Format("{0:P}", item.valor > 0 ? item.valor_contato_now / item.valor : 0))</td>
                        
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
