﻿@using Now.Domain;
@model IList<ReportEfetividade>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Resultado Ranking Vendedores</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive no-padding tableExport">

            <table id="tbPesquisa" class="table table-bordered table-striped">
                <thead>
                    <tr class="bg-gray-gradient">
                        <th class="text-center" #titulo#>#</th>
                        <th class="text-center" #titulo#>LOJA</th>
                        <th class="text-center" #titulo#>EFETIVIDADE</th>
                    </tr>
                    <tr class="bg-green-gradient">                        
                        <th colspan="2" class="text-center" #total#>Total</th>                        
                        <th class="text-center" #total#>@(String.Format("{0:C}", Model.Sum(x => x.valor_now)))</th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (ReportEfetividade item in Model)
                    {
                        <tr>
                            <td class="text-center">@item.ranking</td>
                            <td class="text-center">@item.loja</td>                                                   
                            <td class="text-center">@(String.Format("{0:C}", item.valor_now))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
