﻿@using Now.Domain;
@model IList<OmniAcompanhamento>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Resultado Acompanhamento Delivery</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive no-padding tableExport">
            <table id="tbPesquisa" class="table table-bordered table-striped">
                <thead class="bg-gray-gradient">
                    <tr style="vertical-align:central!important">
                        <th class="text-center" style="vertical-align:middle!important">Pedido</th>
                        <th class="text-center" style="vertical-align:middle!important">Cpf</th>
                        <th class="text-center" style="vertical-align:middle!important">Data</th>
                        <th class="text-center" style="vertical-align:middle!important">Qtde</th>
                        <th class="text-center" style="vertical-align:middle!important">Valor</th>
                        <th class="text-center" style="vertical-align:middle!important">Loja</th>
                        <th class="text-center" style="vertical-align:middle!important">Vendedor</th>
                        <th class="text-center" style="vertical-align:middle!important">Status</th>
                        @*<th class="text-center" style="vertical-align:middle!important">Visto</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (OmniAcompanhamento item in Model.Where(x => x.visto_flag == 0).ToList())
                    {
                        string _checked = "";
                        if (@item.visto_flag == 1)
                        {
                            _checked = "checked='checked'";
                        }

                        <tr>
                            <td class="text-center">@item.pedido</td>                                                        
                            <td class="text-center">@item.cpf</td>
                            <td class="text-center">@(item.pedido_data.ToString("dd/MM/yyyy"))</td>
                            <td class="text-center">@item.quatidade</td>
                            <td class="text-center" style="white-space:nowrap">@(String.Format("{0:C}", item.valor))</td>
                            <td class="text-center">@item.filial</td>
                            <td class="text-center">@item.vendedor</td>
                            <td class="text-center"><a href="javascript:AbrirStatusOmni('@item.status_pedido');">@item.status_pedido</a></td>
                            @*<td style="width: 20px">
                                    <input type="checkbox" @_checked value="@item.pedido" class="chekVistoOmni checkCss">
                                </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
