﻿@using Now.Domain;
@model IList<ReportClienteContatado>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Resultado Efetividade Agenda</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive no-padding tableExport">
            <table id="tbPesquisa" class="table table-bordered table-striped">
                <thead>
                    <tr class="bg-gray-gradient">
                        <th class="text-center" #titulo#>LOJA</th>
                        <th class="text-center" #titulo#>CPF</th>
                        <th class="text-center" #titulo#>CLIENTE</th>
                        <th class="text-center" #titulo#>AGENDA</th>
                        <th class="text-center" #titulo#>DATA CONTATO</th>
                        <th class="text-center" #titulo#>VENDEDOR QUE LIGOU</th>
                        <th class="text-center" #titulo#>STATUS LIGACAO</th>
                        <th class="text-center" #titulo#>MODO CONTATO</th>
                        <th class="text-center" #titulo#>TERMOMETRO</th>
                        <th class="text-center" style="width: 20%"  #titulo#>OBSERVAÇÕES</th>

                    </tr>                 
                </thead>
                <tbody>
                    @foreach (ReportClienteContatado item in Model)
                    {
                        <tr>                            
                            <td>@item.loja</td>                                                        
                            <td class="text-center">@item.cpf</td>
                            <td class="text-center">@item.cliente</td>
                            <td class="text-center">@item.motivo</td>
                            <td class="text-center">@item.data_contato</td>
                            <td class="text-center">@item.vendedor_ligou</td>
                            <td class="text-center">@item.status_ligacao</td>
                            <td class="text-center">@item.modo</td>
                            <td class="text-center">@item.termometro</td>
                            <td class="text-center">@item.observacao</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
