﻿@using Now.Domain;
@model IList<ReportEfetividade>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Resultado Efetividade Lojas</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive no-padding tableExport">
            <table id="tbPesquisa" class="table table-bordered table-striped">
                <thead>
                    <tr class="bg-gray-gradient">
                        <th class="text-center" #titulo#>#</th>
                        <th #titulo#>LOJA</th>
                        <th class="text-center" #titulo#>VALOR LOJA</th>
                        <th class="text-center" #titulo#>EFETIVIDADE</th>
                        <th class="text-center" #titulo#>SSSG EFETIVIDADE</th>
                        <th class="text-center" #titulo#>NOW</th>
                        <th class="text-center" #titulo#>CONTATO DIRETO</th>
                        <th class="text-center" #titulo#>EFETIVIDADE (%)</th>
                    </tr>
                    <tr class="bg-green-gradient">                    
                        @{ 
                            decimal perc_crescimento_total = (Model.Sum(x => x.efetividade_sssg) == 0 ? 0 : (Model.Sum(x => x.efetividade) / Model.Sum(x => x.efetividade_sssg)) - Convert.ToDecimal(1));
                        }                            
                        <th #total#></th>
                        <th #total#>Total</th>                        
                        <th class="text-center" #total#>@(String.Format("{0:C}", Model.Sum(x => x.valor_linx)))</th>   
                        <th class="text-center" #total#>@(String.Format("{0:C}", Model.Sum(x => x.efetividade)))</th>   
                        <th class="text-center @(perc_crescimento_total > Convert.ToDecimal(0.00) ? "" : perc_crescimento_total == 0 ? "text-muted" : "text-red") " #total# title="@(String.Format("{0:C}", Model.Sum(x => x.efetividade_sssg)))">@(String.Format("{0:P}", perc_crescimento_total))</th>   
                        <th class="text-center" #total#>@(String.Format("{0:C}", Model.Sum(x => x.valor_now)))</th>   
                        <th class="text-center" #total#>@(String.Format("{0:C}", Model.Sum(x => x.contato_direto)))</th>   
                        <th class="text-center" #total#>@(String.Format("{0:P}", Convert.ToDecimal(Model.Sum(x => x.efetividade)) / Convert.ToDecimal(Model.Sum(x => x.valor_linx))))</th>
                                             
                    </tr>
                </thead>
                <tbody>
                    @foreach (ReportEfetividade item in Model)
                    {
                        decimal perc_crescimento = (item.efetividade_sssg == 0 ? 0 : (item.efetividade / item.efetividade_sssg) - Convert.ToDecimal(1));

                        <tr>
                            <td class="text-center">@item.ranking</td>                              
                            <td>@item.loja</td>                                                        
                            <td class="text-center">@(String.Format("{0:C}", item.valor_linx))</td>                            
                            <td class="text-center">@(String.Format("{0:C}", item.efetividade))</td>
                            <td class="text-center @(perc_crescimento > Convert.ToDecimal(0.00) ? "text-green" : perc_crescimento == 0 ? "text-muted" : "text-red")" title="@(item.efetividade_sssg > 0 ? String.Format("{0:C}", item.efetividade_sssg) : "N/A - Não existe valor nesse período" )" >@(String.Format("{0:P}", perc_crescimento))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.valor_now))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.contato_direto))</td>
                            <td class="text-center">@(String.Format("{0:P}", item.perc_efetividade))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Resultado Efetividade Lojas Supervisão</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive no-padding tableExport">
            <table id="tbPesquisa" class="table table-bordered table-striped">
                <thead>
                    <tr class="bg-gray-gradient">
                        <th class="text-center" #titulo#>#</th>
                        <th #titulo#>LOJA</th>
                        <th class="text-center" #titulo#>VALOR LOJA</th>
                        <th class="text-center" #titulo#>EFETIVIDADE</th>
                        <th class="text-center" #titulo#>SSSG EFETIVIDADE</th>
                        <th class="text-center" #titulo#>NOW</th>
                        <th class="text-center" #titulo#>CONTATO DIRETO</th>
                        <th class="text-center" #titulo#>EFETIVIDADE (%)</th>
                    </tr>
                    <tr class="bg-blue-gradient">
                        @{
                            decimal perc_crescimento_total2 = (Model.Sum(x => x.efetividade_sssg) == 0 ? 0 : (Model.Sum(x => x.efetividade) / Model.Sum(x => x.efetividade_sssg)) - Convert.ToDecimal(1));
                        }
                        
                        <th #total#></th>
                        <th #total#>Total</th>
                        <th class="text-center" #total#>@(String.Format("{0:C}", Model.Sum(x => x.valor_linx)))</th>
                        <th class="text-center" #total#>@(String.Format("{0:C}", Model.Sum(x => x.efetividade)))</th>
                        <th class="text-center @(perc_crescimento_total2 > Convert.ToDecimal(0.00) ? "" : perc_crescimento_total2 == 0 ? "text-muted" : "text-red") " #total# title="@(String.Format("{0:C}", Model.Sum(x => x.efetividade_sssg)))">@(String.Format("{0:P}", perc_crescimento_total2))</th>   
                        <th class="text-center" #total#>@(String.Format("{0:C}", Model.Sum(x => x.valor_now)))</th>
                        <th class="text-center" #total#>@(String.Format("{0:C}", Model.Sum(x => x.contato_direto)))</th>
                        <th class="text-center" #total#>@(String.Format("{0:P}", Convert.ToDecimal(Model.Sum(x => x.efetividade)) / Convert.ToDecimal(Model.Sum(x => x.valor_linx))))</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (ReportEfetividade item in ((IList<ReportEfetividade>)@ViewBag.listaSupervisor).ToList())
                    {
                        decimal perc_crescimento = (item.efetividade_sssg == 0 ? 0 : (item.efetividade / item.efetividade_sssg) - Convert.ToDecimal(1));

                        <tr>
                            <td class="text-center">@item.ranking</td>
                            <td>@item.supervisor</td>
                            <td class="text-center">@(String.Format("{0:C}", item.valor_linx))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.efetividade))</td>
                            <td class="text-center @(perc_crescimento > Convert.ToDecimal(0.00) ? "text-green" : perc_crescimento == 0 ? "text-muted" : "text-red")" title="@(item.efetividade_sssg > 0 ? String.Format("{0:C}", item.efetividade_sssg) : "N/A - Não existe valor nesse período" )">@(String.Format("{0:P}", perc_crescimento))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.valor_now))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.contato_direto))</td>
                            <td class="text-center">@(String.Format("{0:P}", item.perc_efetividade))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
