﻿@using Now.Domain;
@model IList<ReportEfetividadeAgenda>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Resultado Efetividade Agenda</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive no-padding tableExport">
            <table id="tbPesquisa" class="table table-bordered table-striped">
                <thead>
                    <tr class="bg-gray-gradient">
                        <th #titulo#>#</th>
                        <th #titulo#>VENDEDOR</th>
                        <th #titulo#>AGENDA</th>
                        <th class="text-center" #titulo#>LIGAÇÕES FEITAS</th>
                        <th class="text-center" #titulo#>DISPONÍVEIS</th>
                        <th class="text-center" #titulo#>PRODUTIVIDADE</th>
                        <th class="text-center" #titulo#>EFETIVIDADE</th>
                    </tr>
                    <tr class="bg-green-gradient">                                                
                        <th #total# colspan="3">Total</th>
                        <th class="text-center" #total#>@(Model.Sum(x => x.contatos_efetuados))</th>
                        <th class="text-center" #total#>@(Model.Sum(x => x.ligacoes_disponiveis))</th>
                        <th class="text-center" #total#>@(String.Format("{0:P}", Convert.ToDecimal(Model.Sum(x => x.contatos_efetuados)) / Convert.ToDecimal(Model.Sum(x => x.ligacoes_disponiveis))))</th>
                        <th class="text-center" #total#>@(String.Format("{0:C}", Model.Sum(x => x.valor_venda_now)))</th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (ReportEfetividadeAgenda item in Model)
                    {
                    <tr>
                        <td>@item.ranking</td>
                        <td>@item.nome</td>
                        <td>@item.agendamento</td>
                        <td class="text-center">@item.contatos_efetuados</td>
                        <td class="text-center">@item.ligacoes_disponiveis</td>
                        <td class="text-center">@(String.Format("{0:P}", item.produtividade))</td>
                        <td class="text-center">@(String.Format("{0:C}", item.valor_venda_now))</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
