﻿@using Now.Domain;
@model IList<RelatorioVisitasLojas>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Resultado Efetividade Agenda</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive no-padding tableExport">
            <table id="tbPesquisa" class="table table-bordered table-striped">
                <thead>
                    <tr class="bg-gray-gradient">
                        <th>LOJA</th>
                        <th class="text-center">Data Visita</th>
                        <th class="text-center">Mês Anterior</th>
                        <th class="text-center">Mês Visita</th>
                        <th class="text-center">Mês Visita %</th>
                        <th class="text-center">30d</th>
                        <th class="text-center">60d</th>
                        <th class="text-center">90d</th>
                        <th class="text-center">120d</th>
                        <th class="text-center">150d</th>
                        <th class="text-center">180d</th>
                        <th class="text-center">210d</th>
                        <th class="text-center">240d</th>
                        <th class="text-center">270d</th>
                        <th class="text-center">300d</th>
                        <th class="text-center">330d</th>
                        <th class="text-center">360d</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (RelatorioVisitasLojas item in Model)
                    {
                        <tr>
                            <td>@item.loja</td>
                            <td class="text-center">@(item.data_visita.ToString("dd/MM/yyyy"))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.mes_anterior))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.mes_corrente))</td>
                            <td class="text-center" style="color:@(item.mes_0<0?"red":"black")">@(String.Format("{0:P}", item.mes_0))</td>
                            <td class="text-center" style="color:@(item.mes_1<0?"red":"black")">@(String.Format("{0:P}", item.mes_1))</td>
                            <td class="text-center" style="color:@(item.mes_2<0?"red":"black")">@(String.Format("{0:P}", item.mes_2))</td>
                            <td class="text-center" style="color:@(item.mes_3<0?"red":"black")">@(String.Format("{0:P}", item.mes_3))</td>
                            <td class="text-center" style="color:@(item.mes_4<0?"red":"black")">@(String.Format("{0:P}", item.mes_4))</td>
                            <td class="text-center" style="color:@(item.mes_5<0?"red":"black")">@(String.Format("{0:P}", item.mes_5))</td>
                            <td class="text-center" style="color:@(item.mes_6<0?"red":"black")">@(String.Format("{0:P}", item.mes_6))</td>
                            <td class="text-center" style="color:@(item.mes_7<0?"red":"black")">@(String.Format("{0:P}", item.mes_7))</td>
                            <td class="text-center" style="color:@(item.mes_8<0?"red":"black")">@(String.Format("{0:P}", item.mes_8))</td>
                            <td class="text-center" style="color:@(item.mes_9<0?"red":"black")">@(String.Format("{0:P}", item.mes_9))</td>
                            <td class="text-center" style="color:@(item.mes_10<0?"red":"black")">@(String.Format("{0:P}", item.mes_10))</td>
                            <td class="text-center" style="color:@(item.mes_11<0?"red":"black")">@(String.Format("{0:P}", item.mes_11))</td>
                            <td class="text-center" style="color:@(item.mes_12<0?"red":"black")">@(String.Format("{0:P}", item.mes_12))</td>                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
