﻿@using Now.Domain;
@model IList<ReportCadastroDependentes>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Resultado Cadastro de Dependentes</h3>
        <div class="box-tools pull-right">
            <span class="badge bg-gray-gradient" style="cursor:pointer" onclick="AgruparRelatorioPorLoja()" id="bdAgrupar">Agrupar Por Loja?</span>
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="no-padding tableExport">

            <table id="tbPesquisa" class="table table-bordered table-striped PorVendedor">
                <thead>
                    <tr class="bg-gray-gradient">
                        <th class="text-center" #titulo#>LOJA</th>
                        <th class="text-center" #titulo#>VENDEDOR</th>
                        <th class="text-center" #titulo#>TICKETS</th>
                        <th class="text-center" #titulo#>DEPENDENTES POR CADA TICKET</th>
                        <th class="text-center" #titulo#>DEPENDENTES CADASTRADOS NO PERÍODO</th>
                        @*<th class="text-center" #titulo#>CADASTRO DE DEPENDENTES (%)</th>*@
                        <th class="text-center" #titulo#></th>
                    </tr>
                </thead>
                <thead>
                    <tr class="bg-green-gradient">
                        <th #total#></th>
                        <th class="text-center" #total#>Total</th>
                        <th class="text-center" #total#>@Model.Sum(x => x.qtde_ticket)</th>
                        <th class="text-center" #total#>@Model.Sum(x => x.qtde_dependentes_ticket)</th>
                        <th class="text-center" #total#>@Model.Sum(x => x.qtde_dependentes)</th>
                        <th class="text-center" #total#>@(String.Format("{0:P}", Model.Sum(x => x.qtde_dependentes) > 0 ? ((Convert.ToDecimal(Model.Sum(x => x.qtde_dependentes_ticket)) - Convert.ToDecimal(Model.Sum(x => x.qtde_dependentes))) / Convert.ToDecimal(Model.Sum(x => x.qtde_ticket))) : 0)) </th>
                        @*<th #total#></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (ReportCadastroDependentes item in Model)
                    {
                    <tr id="tr_@item.vendedor_id">
                        <td class="text-center">@item.loja</td>
                        <td class="text-center">@Html.Raw(item.vendedor)</td>
                        <td class="text-center">@item.qtde_ticket</td>
                        <td class="text-center">@item.qtde_dependentes_ticket</td>
                        <td class="text-center">@item.qtde_dependentes</td>
                        @*<td class="text-center">@(String.Format("{0:P}", item.qtde_dependentes_ticket > 0 ? ((Convert.ToDecimal(item.qtde_dependentes_ticket)) / Convert.ToDecimal(item.qtde_ticket)) : 0))</td>*@
                        <td class="text-center"><i class="glyphicon glyphicon-search" onclick="DetalheDependente('@item.loja_id', '@item.vendedor_id', '', '@item.vendedor');" style="cursor:pointer"></i></td>
                    </tr>
                    }
                </tbody>
            </table>

            <table id="tbPesquisa2" class="table table-bordered table-striped PorLojas" style="display:none">
                <thead>
                    <tr class="bg-gray-gradient">
                        <th class="text-center" #titulo#>LOJA</th>
                        <th class="text-center" #titulo#>VENDEDOR</th>
                        <th class="text-center" #titulo#>CAD. DE DEPENDENTES NO DIA</th>
                        <th class="text-center" #titulo#>DEPENDENTES DE CADA TICKET</th>
                        <th class="text-center" #titulo#>CADASTRO DE DEPENDENTES (%)</th>
                        <th class="text-center" #titulo#></th>
                    </tr>
                </thead>
                <thead>
                    <tr class="bg-green-gradient">
                        <th class="text-center" #total#>Total</th>
                        <th class="text-center" #total#>@Model.Sum(x => x.qtde_ticket)</th>
                        <th class="text-center" #total#>@Model.Sum(x => x.qtde_dependentes)</th>
                        <th class="text-center" #total#>@Model.Sum(x => x.qtde_dependentes_ticket)</th>
                        <th class="text-center" #total#>@(String.Format("{0:P}", Model.Sum(x => x.qtde_dependentes) > 0 ? (Convert.ToDecimal(Model.Sum(x => x.qtde_dependentes)) / Convert.ToDecimal(Model.Sum(x => x.qtde_ticket))) : 0)) </th>
                        <th #total#></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.GroupBy(x => x.loja).Select(y => new ReportCadastroDependentes { loja_id = y.First().loja_id, loja = y.First().loja, qtde_ticket = y.Sum(c => c.qtde_ticket), qtde_dependentes = y.Sum(c => c.qtde_dependentes) }).ToList())
                    {
                    <tr id="tr_@item.loja_id">
                        <td class="text-center">@item.loja</td>
                        <td class="text-center">@item.qtde_ticket</td>
                        <td class="text-center">@item.qtde_dependentes</td>
                        <td class="text-center">@item.qtde_dependentes_ticket</td>
                        <td class="text-center">@(String.Format("{0:P}", item.qtde_dependentes > 0 ? (Convert.ToDecimal(item.qtde_dependentes) / Convert.ToDecimal(item.qtde_ticket)) : 0))</td>
                        <td class="text-center"><i class="glyphicon glyphicon-search" onclick="DetalheDependentes('@item.loja_id', '', '@item.loja', '');" style="cursor:pointer"></i></td>
                    </tr>
                    }
                </tbody>
            </table>

            <input type="hidden" id="linhaSelecionada" />
        </div>
    </div>
</div>
<div class="box box-warning">
    <div class="box-header">
        <h3 class="box-title">Detalhe do Cadastro Dependentes: <span id="nomeVendedor"></span></h3>
    </div>
    <div class="box-body">
        <div class="table-responsive no-padding tableExport">

            <table id="tbDetalhe" class="table table-bordered table-striped tableDetalheDependente">
                <thead>
                    <tr class="bg-gray-gradient">
                        <th class="text-center" #titulo# style="width:5%!important">CPF</th>
                        <th class="text-center" #titulo# style="width:15%!important">CLIENTE</th>
                        <th class="text-center" #titulo# style="width:10%!important">GRAU PARENTESCO</th>
                        <th class="text-center" #titulo# style="width:10%!important">SEXO</th>
                        <th class="text-center" #titulo# style="width:15%!important">DEPENDENTE</th>
                        <th class="text-center" #titulo# style="width:55%!important">IDADE</th>
                        <th class="text-center" #titulo# style="width:55%!important">OBSERVAÇÃO</th>
                    </tr>
                </thead>
                <tbody id="tBodyDetalheDependente"></tbody>
            </table>
        </div>
    </div>
</div>
