﻿@using Now.Domain;
@model IList<RelatorioRankingOficina>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Resultado Ranking Oficina</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive no-padding tableExport">
            <table id="tbPesquisa" class="table table-bordered table-striped">
                <thead class="bg-gray-gradient">
                    <tr style="vertical-align:central!important">
                        <th class="text-center" style="vertical-align:middle!important">Loja</th>
                        <th class="text-center" style="vertical-align:middle!important">Vendedor</th>
                        <th class="text-center" style="vertical-align:middle!important">Peça Pronta</th>
                        <th class="text-center" style="vertical-align:middle!important">Personalizada</th>
                        <th class="text-center" style="vertical-align:middle!important">Total</th>
                    </tr>
                   
                </thead>
                <thead class="bg-yellow-gradient">
                 
                    <tr style="vertical-align:central!important">
                        <th class="text-center" style="vertical-align:middle!important"></th>
                        <th class="text-center" style="vertical-align:middle!important">Total</th>
                        <th class="text-center" style="vertical-align:middle!important">@(String.Format("{0:C}", Model.ToList().Sum(x => x.peca_pronta)))</th>
                        <th class="text-center" style="vertical-align:middle!important">@(String.Format("{0:C}", Model.ToList().Sum(x => x.personalizada)))</th>
                        <th class="text-center" style="vertical-align:middle!important">@(String.Format("{0:C}", Model.ToList().Sum(x => x.peca_pronta) +  Model.ToList().Sum(x => x.personalizada)))</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (RelatorioRankingOficina item in Model.ToList())
                    {
                        <tr>
                            <td class="text-center">@item.filial</td>
                            <td class="text-center">@item.vendedor</td>
                            <td class="text-center" style="white-space:nowrap">@(String.Format("{0:C}", item.peca_pronta))</td>
                            <td class="text-center" style="white-space:nowrap">@(String.Format("{0:C}", item.personalizada))</td>
                            <td class="text-center" style="white-space:nowrap">@(String.Format("{0:C}", item.peca_pronta + item.personalizada))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
