﻿@using Now.Domain;
@model IList<ReportInfoVendas>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Resultado Info Vendas</h3>
        <div class="box-tools pull-right">
            <span class="badge bg-gray-gradient" style="cursor:pointer" onclick="AgruparRelatorioPorLoja()" id="bdAgrupar">Agrupar Por Loja?</span>
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="no-padding tableExport">

            <table id="tbPesquisa" class="table table-bordered table-striped PorVendedor">
                <thead>
                    <tr class="bg-gray-gradient">
                        <th class="text-center" #titulo#>LOJA</th>
                        <th class="text-center" #titulo#>VENDEDOR</th>
                        <th class="text-center" #titulo#>INFO VENDAS</th>
                        <th class="text-center" #titulo#>TICKET'S DISPONÍVEIS</th>
                        <th class="text-center" #titulo#>PERCENTUAL (%)</th>
                        <th class="text-center" #titulo#></th>
                    </tr>
                </thead>
                <thead>
                    <tr class="bg-green-gradient">
                        <th #total#></th>
                        <th class="text-center" #total#>Total</th>
                        <th class="text-center" #total#>@Model.Sum(x => x.total_info)</th>
                        <th class="text-center" #total#>@Model.Sum(x => x.total_lig)</th>
                        <th class="text-center" #total#>@(String.Format("{0:P}", Model.Sum(x => x.total_info) > 0 ? (Convert.ToDecimal(Model.Sum(x => x.total_info)) / Convert.ToDecimal(Model.Sum(x => x.total_lig))) : 0)) </th>
                        <th #total#></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ReportInfoVendas item in Model)
                    {
                        <tr id="tr_@item.vendedor_id">
                            <td class="text-center">@item.loja</td>
                            <td class="text-center">@Html.Raw(item.vendedor)</td>
                            <td class="text-center">@item.total_info</td>
                            <td class="text-center">@item.total_lig</td>
                            <td class="text-center">@(String.Format("{0:P}", item.total_info > 0 ? (Convert.ToDecimal(item.total_info) / Convert.ToDecimal(item.total_lig)) : 0))</td>
                            <td class="text-center"><i class="glyphicon glyphicon-search" onclick="DetalheInfoVendas('@item.loja_id', '@item.vendedor_id', '', '@item.vendedor');" style="cursor:pointer"></i></td>
                        </tr>
                    }
                </tbody>
            </table>

            <table id="tbPesquisa2" class="table table-bordered table-striped PorLojas" style="display:none">
                <thead>
                    <tr class="bg-gray-gradient">
                        <th class="text-center" #titulo#>LOJA</th>
                        <th class="text-center" #titulo#>INFO VENDAS</th>
                        <th class="text-center" #titulo#>TICKET'S DISPONÍVEIS</th>
                        <th class="text-center" #titulo#>PERCENTUAL (%)</th>
                        <th class="text-center" #titulo#></th>
                    </tr>
                </thead>
                <thead>
                    <tr class="bg-green-gradient">
                        <th class="text-center" #total#>Total</th>
                        <th class="text-center" #total#>@Model.Sum(x => x.total_info)</th>
                        <th class="text-center" #total#>@Model.Sum(x => x.total_lig)</th>
                        <th class="text-center" #total#>@(String.Format("{0:P}", Model.Sum(x => x.total_info) > 0 ? (Convert.ToDecimal(Model.Sum(x => x.total_info)) / Convert.ToDecimal(Model.Sum(x => x.total_lig))) : 0)) </th>
                        <th #total#></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.GroupBy(x => x.loja).Select(y => new ReportInfoVendas { loja_id = y.First().loja_id, loja = y.First().loja, total_info = y.Sum(c => c.total_info), total_lig = y.Sum(c => c.total_lig) }).ToList())
                    {
                        <tr id="tr_@item.loja_id">
                            <td class="text-center">@item.loja</td>
                            <td class="text-center">@item.total_info</td>
                            <td class="text-center">@item.total_lig</td>
                            <td class="text-center">@(String.Format("{0:P}", item.total_info > 0 ? (Convert.ToDecimal(item.total_info) / Convert.ToDecimal(item.total_lig)) : 0))</td>
                            <td class="text-center"><i class="glyphicon glyphicon-search" onclick="DetalheInfoVendas('@item.loja_id', '', '@item.loja', '');" style="cursor:pointer"></i></td>
                        </tr>
                    }
                </tbody>
            </table>

            <input type="hidden" id="linhaSelecionada" />
        </div>
    </div>
</div>
<div class="box box-warning">
    <div class="box-header">
        <h3 class="box-title">Detalhe do Info Vendas: <span id="nomeVendedor"></span></h3>
    </div>
    <div class="box-body">
        <div class="table-responsive no-padding tableExport">

            <table id="tbDetalhe" class="table table-bordered table-striped tableDetalheInfoVendas">
                <thead>
                    <tr class="bg-gray-gradient">
                        <th class="text-center" #titulo# style="width:5%!important">CPF</th>
                        <th class="text-center" #titulo# style="width:15%!important">CLIENTE</th>
                        <th class="text-center" #titulo# style="width:10%!important">DATA DA VENDA</th>
                        <th class="text-center" #titulo# style="width:15%!important">VENDEDOR</th>
                        <th class="text-center" #titulo# style="width:55%!important">INFO VENDAS</th>
                    </tr>
                </thead>
                <tbody id="tBodyDetalheInfoVendas"></tbody>
            </table>
        </div>
    </div>
</div>
