﻿@using Now.Domain;
@model IList<RelatorioEfetividadePorMes>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Resultado Efetividade Agenda</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive no-padding tableExport">
            <table id="tbPesquisa" class="table table-bordered table-striped">
                <thead>
                    <tr class="bg-gray-gradient">
                        <th>LOJA</th>
                        <th class="text-center">JANEIRO</th>
                        <th class="text-center">FEVEREIRO</th>
                        <th class="text-center">MARÇO</th>
                        <th class="text-center">ABRIL</th>
                        <th class="text-center">MAIO</th>
                        <th class="text-center">JUNHO</th>
                        <th class="text-center">JULHO</th>
                        <th class="text-center">AGOSTO</th>
                        <th class="text-center">SETEMBRO</th>
                        <th class="text-center">OUTUBRO</th>
                        <th class="text-center">NOVEMBRO</th>
                        <th class="text-center">DEZEMBRO</th>
                        <th class="text-center">MÉDIA</th>
                    </tr>
                    <tr class="bg-green-gradient">                                                
                        <th>Total</th>                        
                        <td class="text-center">@(String.Format("{0:C}", Model.Sum(x => x.janeiro)))</td>
                        <td class="text-center">@(String.Format("{0:C}", Model.Sum(x => x.fevereiro)))</td>
                        <td class="text-center">@(String.Format("{0:C}", Model.Sum(x => x.marco)))</td>
                        <td class="text-center">@(String.Format("{0:C}", Model.Sum(x => x.abril)))</td>
                        <td class="text-center">@(String.Format("{0:C}", Model.Sum(x => x.maio)))</td>
                        <td class="text-center">@(String.Format("{0:C}", Model.Sum(x => x.junho)))</td>
                        <td class="text-center">@(String.Format("{0:C}", Model.Sum(x => x.julho)))</td>
                        <td class="text-center">@(String.Format("{0:C}", Model.Sum(x => x.agosto)))</td>
                        <td class="text-center">@(String.Format("{0:C}", Model.Sum(x => x.setembro)))</td>
                        <td class="text-center">@(String.Format("{0:C}", Model.Sum(x => x.outubro)))</td>
                        <td class="text-center">@(String.Format("{0:C}", Model.Sum(x => x.novembro)))</td>
                        <td class="text-center">@(String.Format("{0:C}", Model.Sum(x => x.dezembro)))</td>                       
                        <td class="text-center">@(String.Format("{0:C}", (Model.Sum(x => x.janeiro) + Model.Sum(x => x.fevereiro) + Model.Sum(x => x.marco) + Model.Sum(x => x.abril) + Model.Sum(x => x.maio) + Model.Sum(x => x.junho) + Model.Sum(x => x.julho) + Model.Sum(x => x.agosto) + Model.Sum(x => x.setembro) + Model.Sum(x => x.outubro) + Model.Sum(x => x.novembro) + Model.Sum(x => x.dezembro)) / 12))</td> 
                    </tr>
                </thead>
                <tbody>
                    @foreach (RelatorioEfetividadePorMes item in Model)
                    {
                        <tr>                            
                            <td>@item.loja</td>                                                        
                            <td class="text-center">@(String.Format("{0:C}", item.janeiro))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.fevereiro))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.marco))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.abril))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.maio))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.junho))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.julho))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.agosto))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.setembro))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.outubro))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.novembro))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.dezembro))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.media))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
