﻿@using Now.Domain;
@model IList<ReportRankingCornerOficina>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Resultado Corner Oficina</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive no-padding tableExport">
            <table id="tbPesquisa" class="table table-bordered table-striped">
                <thead>
                    <tr class="bg-gray-gradient">
                        <th class="text-center" #titulo#>#</th>
                        <th class="text-center" #titulo#>LOJA</th>
                        <th class="text-center" #titulo#>VENDEDOR</th>
                        <th class="text-center" #titulo#>VALOR</th>
                        <th class="text-center" #titulo#>VALOR TOTAL</th>
                        <th class="text-center" #titulo#>% CONNER OFICINA</th>
                        <th class="text-center" #titulo#>VENDEU</th>
                        <th class="text-center" #titulo#>GEROU</th>
                    </tr>
                    <tr  class="bg-green-gradient">
                        <th #total#></th>
                        <th #total#></th>
                        <th class="text-center" #total#>Total</th>
                        <th class="text-center" #total#>@(String.Format("{0:C}", Model.Sum(x => x.valor)))</th>
                        <th class="text-center" #total#>@(String.Format("{0:C}", Model.Sum(x => x.valor_total)))</th>
                        <th class="text-center" #total#>@(String.Format("{0:P}", (Model.Sum(x => x.valor) == 0 || Model.Sum(x => x.valor) == 0) ? 0 : Model.Sum(x => x.valor) / Model.Sum(x => x.valor_total)))</th>
                        <th class="text-center" #total#>@(String.Format("{0:C}", Model.Sum(x => x.valor_venda_now)))</th>
                        <th class="text-center" #total#>@(String.Format("{0:C}", Model.Sum(x => x.valor_contato_now)))</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ReportRankingCornerOficina item in Model)
                    {
                        <tr>
                            <td class="text-center">@item.ranking</td>
                            <td class="text-center">@item.loja</td>
                            <td class="text-center">@Html.Raw(item.vendedor)</td>
                            <td class="text-center">@(String.Format("{0:C}", item.valor))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.valor_total))</td>
                            <td class="text-center">@(String.Format("{0:P}", (item.valor == 0 || item.valor == 0) ? 0 : item.valor / item.valor_total))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.valor_venda_now))</td>
                            <td class="text-center">@(String.Format("{0:C}", item.valor_contato_now))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
