﻿@using Now.Domain;
@model object

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Resultado Efetividade Geral</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive no-padding tableExport">
            @Html.Raw(Model)
        </div>
    </div>
</div>


