﻿@using Now.Domain;
@model IList<ReportProdutividadeGerente>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Produtividade Vendedores</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive no-padding tableExport">

            <table id="tbPesquisa" class="table table-bordered table-striped">
                <thead>
                    <tr class="bg-gray-gradient">
                        <th class="text-center" #titulo#>#</th>
                        <th class="text-center" #titulo#>LOJA</th>
                        <th class="text-center" #titulo#>GERENTE</th>
                        <th class="text-center" #titulo#>CONTATOS EFETUADOS</th>                        
                        <th class="text-center" #titulo#>GEROU</th>
                    </tr>
                    <tr class="bg-green-gradient">                        
                        <th colspan="3" class="text-center" #total#>Total</th>
                        <th class="text-center" #total#>@(Model.Sum(x => x.contatos_efetuados))</th>
                        <th class="text-center" #total#>@(String.Format("{0:C}", Model.Sum(x => x.valor_contato_now)))</th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (ReportProdutividadeGerente item in Model)
                    {
                        <tr>
                            <td class="text-center">@item.ranking</td>
                            <td class="text-center">@item.loja</td>
                            <td class="text-center">@Html.Raw(item.vendedor)</td>
                            <td class="text-center">@item.contatos_efetuados</td>                            
                            <td class="text-center">@(String.Format("{0:C}", item.valor_contato_now))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
