﻿@using Now.Domain;
@model RelatorioPesquisa

@{
    ViewBag.Title = "Relatório";
}

<style>
    #t-responsive .row {
        margin-right: 0 !important;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-default color-palette-box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-info"></i>&nbspDados da Pesquisa</h3>
            </div>

            @using (Ajax.BeginForm("Pesquisar", "dadosPesquisa", new AjaxOptions
            {
                HttpMethod = "POST",
            }, new { @id = "form-pesquisa", @class = "form-pesquisa" }))
            {
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Loja</label>
                                @if (((IList<SelectListItem>)ViewBag.LojasFiltradoListBox).Count() > 1)
                                {
                                                @Html.ListBoxFor(x => x.lojaIds,
                                                 ((IList<SelectListItem>)ViewBag.LojasFiltradoListBox).Where(x => x.Value != "").ToList(),
                                      new { @class = "drop-mult_loja", @style = "width: 100%;", required = "required", multiple = "Multiple" })
                                }
                                else
                                {
                                    <h5 >@Html.LabelFor(x => x.loja_id, ((IList<SelectListItem>)ViewBag.LojasFiltradoListBox)[0].Text)</h5>
                                }
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <div class="col-md-2">
                            <!-- /.form-group -->
                            <div class="form-group">
                                <label>Motivo</label>
                                @Html.DropDownListFor(x => x.procedure,
                  (SelectList)ViewBag.Relatorios, "Tipo de Relatório",
                  new { @class = "form-control select2", @style = "width: 100%;", required = "required" })
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Data Inicial</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(x => x.data_inicial, new { @class = "form-control text-center datepickerRangeFrom", required = "required", data_provide = "datepicker", placeholder = "dd/mm/yyyy" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Data Final</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(x => x.data_final, new { @class = "form-control text-center datepickerRangeTo", required = "required", data_provide = "datepicker", placeholder = "dd/mm/yyyy" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <!-- /.form-group -->
                            <div class="form-group">
                                <label>Gerente</label>
                                @Html.DropDownListFor(x => x.gerente, new List<SelectListItem>
                 {
                    new SelectListItem{ Text="Total", Value = "0", Selected=true },
                    new SelectListItem{ Text="Gerente", Value = "1" }
                 }, new { @class = "form-control select2", @style = "width: 100%;" })
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        @*<button type="button" name="btnConsultar" class="btn2-gradient green btnExportar text-uppercase text-bold"><i class="glyphicon glyphicon-export"></i> EXPORTAR</button>*@
                        <button type="submit" name="btnConsultar" class="btn2-gradient blue pull-right btnConsultar text-uppercase text-bold"><i class="glyphicon glyphicon-search"></i> pesquisar</button>
                    </div>
                    <!-- /.row -->
                </div>
            }
        </div>
        <div id="divRelatorio">
        </div>
        <div id="divTableExport" style="display:none">

        </div>
    </div>
    <!-- /.col -->
</div>
@section Scripts{

    <script type="text/javascript">
        
        //$("#tbPesquisa").DataTable({
        //    "language": {
        //        "decimal": ",",
        //        "thousands": "."
        //    }
        //});

        //$(document).ready(function () {
        //    $('#<%= gvwRelatorio.ClientID %>').DataTable({
        //        "paging": false,
        //        "aoColumnDefs": [
        //            { "type": "numeric-comma", targets: ["_all"] }
        //        ]
        //    });
        //});

        function DetalheGrid(tipoClick, param, colspan, tipo, param2) {
            var nome = $(".nm" + tipo + param).html();

            if (tipoClick == 'minus') {
                $(".subTot" + param + "").html($("." + param + "Fabinho").html());

                $(".subTot" + param).replaceWith("<td colspan='" + colspan + "' class='subTot" + param + " " + param2 + "' ><a href='javascript:DetalheGrid(\"plus\", \"" + param + "\", " + colspan + ",  \"" + tipo + "\", \"" + param2 + "\");' class='glyphicon glyphicon-plus' style='text-decoration: none !important;'></a>" + nome + " </td>");
                                
                $("." + param + "").hide();

            } else {

                $(".subTot" + param).replaceWith("<td colspan='" + colspan + "' class='subTot" + param + " " + param2 + "' >Sub Total</td>");

                //$(".subTot" + param + "").replaceWith("<td colspan='" + colspan + "' class='subTot" + param + " " + param2 + "' ><a href='javascript:DetalheGrid(\"minus\", \"" + param + "\", " + colspan + ",  \"" + tipo + "\", \"" + param2 + "\");' class='glyphicon glyphicon-minus' style='text-decoration: none !important;'></a>" + nome + " </td>");

                $("." + param + "").show();
            }
        }

        $(".btnConsultar").click(function (e) {
            var titulo = "Relatório: " + $("#procedure option:selected").text();
            loading();
            e.preventDefault();
            $.ajaxSubmitLoadResultCallback("tbPesquisa", ".form-pesquisa", "#divRelatorio", titulo, function () {
            });

            //$('#tbPesquisa').DataTable({
            //    "ajax": function (data, callback, settings) {
            //        callback(
            //          $.ajaxSubmitLoadResultCallback("",".form-pesquisa", "#divRelatorio", function () {
            //          })
            //        );
            //    }
            //}
            //    );
            //    "paging": false,
            //    "lengthChange": false,
            //    "searching": false,
            //    "ordering": true,
            //    "info": false,
            //    "autoWidth": false
            //});
        });

        $(".btnExportar").click(function (e) {

            var tabela = $(".tableExport").html().replace('tbPesquisa', 'tbExport').replace(/#total#/g, 'style="background-color:green; color:white"').replace(/#titulo#/g, 'style="background-color:gray"');            
            
            $("#divTableExport").html(tabela);

            $("#tbExport").btechco_excelexport({
                containerid: "tbExport"
              , datatype: $datatype.Table
            });


            @*alert($("#procedure").val());

            var html = $(".tableExport").html().replace(/</g, '=!').replace(/>/g, '!=');
            alert(html);

            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ExportarExcel", "Relatorio")',
                dataType: 'json',
                data: { html: html, nomeRelatorio: $("#procedure").val() },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                }
            });
            return false;*@
        });

    </script>

    <script>
        // Relatório Info Vendas - Gerador detalhe

        function DetalheInfoVendas(idLoja, idVendedor, nLoja, nVendedor) {
            var dataInicio = $('#data_inicial').val();
            var dataFim = $('#data_final').val();

            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListaInfoVendas", "InfoVendas")',
                dataType: 'json',
                data: { lojaId: idLoja, vendedorId: idVendedor, dataInicio: dataInicio, dataFim: dataFim },
                success: function (result) {
                    if (result.success) {
                        var table = $('.tableDetalheInfoVendas').DataTable();
                        table.destroy();

                        var _tr = '';
                        var nomeVendedor = '';
                        $.each(result.lista, function (i, item) {

                            _tr += '<tr>';
                            _tr += '<td class="text-center">' + item.cpf + '</td>';
                            _tr += '<td class="text-center">' + item.nome_cliente + '</td>';
                            _tr += '<td class="text-center">' + item._data_registro + '</td>';
                            _tr += '<td class="text-center">' + item.vendedor + '</td>';
                            _tr += '<td class="text-center">' + item.info + '</td>';
                            _tr += '</tr>';
                        });

                        nomeVendedor = nVendedor;
                        if (nVendedor == '')
                            nomeVendedor = nLoja;

                        $('#nomeVendedor').html(nomeVendedor);
                        $('#tBodyDetalheInfoVendas').html(_tr);

                        $('#tr_' + $('#linhaSelecionada').val()).removeClass("bg-blue-gradient");

                        var parametro = idVendedor == '' ? idLoja : idVendedor;
                        $('#linhaSelecionada').val(parametro);
                        $('#tr_' + parametro).addClass("bg-blue-gradient");

                        $('.tableDetalheInfoVendas').DataTable();

                        $.unblockUI();
                    }
                    else {

                    }
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    //SessaoAtiva();
                }
            });
            return false;
        }

        function AgruparRelatorioPorLoja() {
            $('#tr_' + $('#linhaSelecionada').val()).removeClass("bg-blue-gradient");

            if ($(".PorVendedor").css("display") == 'none') {

                var selectedEffect = 'bounce';
                var options = {};
                // some effects have required parameters
                if (selectedEffect === "scale") {
                    options = { percent: 50 };
                } else if (selectedEffect === "transfer") {
                    options = { to: "#button", className: "ui-effects-transfer" };
                } else if (selectedEffect === "size") {
                    options = { to: { width: 200, height: 60 } };
                }

                $(".PorVendedor").show();

                // Run the effect
                $(".PorVendedor").effect(selectedEffect, options, 500, callback);

                $(".PorLojas").hide();

                $('#bdAgrupar').removeClass("bg-blue-gradient");
                $('#bdAgrupar').addClass("bg-gray-gradient");
                $('#bdAgrupar').html("Agrupar Por Loja?");
            } else {
                $(".PorVendedor").hide();

                var selectedEffect = 'bounce';
                var options = {};
                // some effects have required parameters
                if (selectedEffect === "scale") {
                    options = { percent: 50 };
                } else if (selectedEffect === "transfer") {
                    options = { to: "#button", className: "ui-effects-transfer" };
                } else if (selectedEffect === "size") {
                    options = { to: { width: 200, height: 60 } };
                }

                $(".PorLojas").show();

                // Run the effect
                $(".PorLojas").effect(selectedEffect, options, 500, callback);

                $('#bdAgrupar').addClass("bg-blue-gradient");
                $('#bdAgrupar').removeClass("bg-gray-gradient");
                $('#bdAgrupar').html("Desagrupar Por Loja?");
            }

            $('#nomeVendedor').html('');
            $('#tBodyDetalheInfoVendas').html('');
        }


        // Relatório Dependente - Gerador detalhe

        function DetalheDependente(idLoja, idVendedor, nLoja, nVendedor) {
            var dataInicio = $('#data_inicial').val();
            var dataFim = $('#data_final').val();

            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListaDependentesDetalhe", "Cliente")',
                dataType: 'json',
                data: { lojaId: idLoja, vendedorId: idVendedor, dataInicio: dataInicio, dataFim: dataFim },
                success: function (result) {
                    if (result.success) {
                        var table = $('.tableDetalheDependente').DataTable();
                        table.destroy();

                        var _tr = '';
                        var nomeVendedor = '';
                        $.each(result.lista, function (i, item) {

                            _tr += '<tr>';
                            _tr += '<td class="text-center">' + item.cpf + '</td>';
                            _tr += '<td class="text-center">' + item.nome_cliente + '</td>';
                            _tr += '<td class="text-center">' + item.grau_parentesco + '</td>';
                            _tr += '<td class="text-center">' + item.sexo + '</td>';
                            _tr += '<td class="text-center">' + item.nome_dependente + '</td>';
                            _tr += '<td class="text-center">' + item.idade + '</td>';
                            _tr += '<td class="text-center">' + item.observacao + '</td>';
                            _tr += '</tr>';
                        });

                        nomeVendedor = nVendedor;
                        if (nVendedor == '')
                            nomeVendedor = nLoja;

                        $('#nomeVendedor').html(nomeVendedor);
                        $('#tBodyDetalheDependente').html(_tr);

                        $('#tr_' + $('#linhaSelecionada').val()).removeClass("bg-blue-gradient");

                        var parametro = idVendedor == '' ? idLoja : idVendedor;
                        $('#linhaSelecionada').val(parametro);
                        $('#tr_' + parametro).addClass("bg-blue-gradient");

                        $('.tableDetalheDependente').DataTable();

                        $.unblockUI();
                    }
                    else {

                    }
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    //SessaoAtiva();
                }
            });
            return false;
        }

        function callback() {
            setTimeout(function () {
                $("#effect").removeAttr("style").hide().fadeIn();
            }, 1000);
        }
    </script>
}


