﻿@using Now.Domain;

@{
    ViewBag.Title = "Administrar Perfil";
}

@Html.Hidden("vendedor_id", (ViewBag.Vendedor as Vendedor).id)
@Html.Hidden("loja_id", (ViewBag.Vendedor as Vendedor).loja_id)

<div class="row">
    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Configurações</h3>
            </div>
            <div class="box-body">
                <div class="col-md-6">
                    <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">
                        <span class="username">
                            <a href="#"> @((ViewBag.Vendedor as Vendedor).nome)</a>
                        </span>
                        <span class="description">Cpf: @((ViewBag.Vendedor as Vendedor).cpf)</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Hidden("cargo", "0")
                        <label>Cargo</label>
                        <br />
                        <button type="button" class="btn2-gradient mini text-uppercase text-bold btnCargo" onmouseout="$.unblockUI();" onclick="AtivarCargo(this, 'GERENTE')">
                            Gerente
                        </button>
                        <button type="button" class="btn2-gradient mini text-uppercase text-bold btnCargo" onmouseout="$.unblockUI();" onclick="AtivarCargo(this, 'VENDEDOR')">
                            Vendedor
                        </button>
                        <button type="button" class="btn2-gradient mini text-uppercase text-bold btnCargo" onmouseout="$.unblockUI();" onclick="AtivarCargo(this, 'CAIXA')">
                            Caixa
                        </button>
                    </div>

                    <div class="form-group">
                        @Html.Hidden("acessaNow", "0")
                        <label>Acesso ao NOW</label><br />
                        <button type="button" class="btn2-gradient mini text-uppercase text-bold btnAcessaNow" onmouseout="$.unblockUI();" onclick="AtivarAcessoNow()">
                            <i class="glyphicon glyphicon-check"></i>
                            Não Acessa!
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="col-md-12">
                    <button type="button" class="btn2-gradient blue mini pull-right text-uppercase text-bold" onclick="SalvarConfiguracoes();"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar</button>
                </div>
            </div>
        </div>        

        <div class="row" id="areaNovoLoginNow" style="display:@((ViewBag.Usuario as Usuario).id != 0? "none":"block")">
            <div class="col-md-12 text-center">
                <div style="border: 1.5px dotted #999; height: 100px; padding-top:35px!important; padding-bottom:25px!important">
                    <button type="button" class="btn2-gradient mini yellow text-uppercase text-bold" onmouseout="$.unblockUI();" onclick="AtivarPainellogin()">
                        <i class="glyphicon glyphicon-plus"></i>
                        Adicionar Login NOW
                    </button>
                </div>
            </div>
        </div>

        <div class="box box-default" id="areaCadastroLoginNow" style="display:@((ViewBag.Usuario as Usuario).id != 0? "block":"none")">
            <div class="box-header with-border">
                <h3 class="box-title">Dados Usuário NOW</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nome Usuario</label>
                            @Html.TextBox("username"
                                 , (ViewBag.Usuario as Usuario).username
                                 , new { @class = "form-control", @style = "width: 100%;", required = "required" })
                        </div>
                        <div class="form-group">
                            <label>Login</label>
                            @Html.TextBox("email"
                                 , (ViewBag.Usuario as Usuario).email
                                 , new { @class = "form-control", @style = "width: 100%;", required = "required" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Perfil</label>
                            @Html.DropDownList("id_perfil"
                                 , (SelectList)ViewBag.ListaPerfis
                                 , new { @class = "form-control select2", @style = "width: 100%;" })
                        </div>
                        <div class="form-group">
                            <label>Rede</label>
                            <div class="checkbox icheck">
                                <label>
                                    <input type="checkbox" checked="@((ViewBag.Usuario as Usuario).Rede)" class="checkCss">
                                    Sim
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="col-md-12">
                    <button type="button" name="btnSalvaAcoes" class="btn2-gradient blue mini pull-right btnSalvaAcoes text-uppercase text-bold" onclick="SalvarAcoesUsuario();"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar</button>
                </div>
            </div>
        </div>

    </div>



    <div class="col-md-6 text-center" id="areaLicencaNova">
        <div style="border: 1.5px dotted #999; height: 100px; padding-top:35px!important; padding-bottom:25px!important">
            <button type="button" class="btn2-gradient mini yellow text-uppercase text-bold" onmouseout="$.unblockUI();" data-toggle="modal" data-target="#modal-licenca">
                <i class="glyphicon glyphicon-plus"></i>
                Adicionar Licença
            </button>
        </div>
    </div>

    <div class="col-md-6" id="areaLicenca" style="display:none">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Licença Vendedor</h3>

                <a href="" class="btn2-gradient yellow mini text-uppercase text-bold pull-right" onmouseout="$.unblockUI();" data-toggle="modal" data-target="#modal-licenca">
                    <i class="glyphicon glyphicon-plus"></i> Adicionar
                </a>
                <button type="button" class="btn2-gradient green mini text-uppercase text-bold pull-right" style="margin-right:5px!important" onmouseout="$.unblockUI();" onclick="popDistribuir()" no>
                    Distribuir Clientes
                </button>
            </div>
            <div class="box-body">


                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Data Inicial</th>
                            <th>Data Final</th>
                            <th>Motivo</th>
                            <th>Status</th>
                            <th>Tempo</th>
                            <th>Observações</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="listaAfastados"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-licenca">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Cadastrar Afastamento</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Motivo</label>
                    @Html.DropDownList("motivo_id"
                            , (SelectList)ViewBag.Vendedores
                            , new { @class = "form-control select2", @style = "width: 100%;", required = "required" })
                </div>

                <div class="form-group">
                    <label>Tempo?</label>
                    @Html.DropDownList("flgIndeterminado"
                            , new List<SelectListItem>{
                                new SelectListItem { Text = "Selecione", Value = "", Selected = true },
                                new SelectListItem { Text = "Por Período", Value = "0" },
                                new SelectListItem { Text = "Indeterminado", Value = "1" }
                            }
                            , new { @class = "form-control select2", @style = "width: 100%;", required = "required" })
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Data Inicial</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.TextBox("data_inicial", "", new { @class = "form-control text-center datepickerRangeFrom", required = "required", data_provide = "datepicker", placeholder = "dd/mm/yyyy" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Data Final</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.TextBox("data_final", "", new { @class = "form-control text-center datepickerRangeTo", required = "required", data_provide = "datepicker", placeholder = "dd/mm/yyyy" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Observações</label>
                    @Html.TextArea("tbxObservacao", new { @class = "form-control ", @rows = "6", @style = "width: 100%;" })
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancelar" name="btnCancelar" class="btn2-gradient red btnCancelar text-uppercase text-bold  pull-left"><i class="glyphicon glyphicon-remove"></i> Cancelar</button>
                <button type="button" id="btnSalvarLicenca" name="btnSalvarLicenca" class="btn2-gradient green btnSalvar text-uppercase text-bold pull-right"><i class="glyphicon glyphicon-ok"></i> Salvar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="modal-distribuicao">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Distribuir Clientes</h4>
            </div>
            <div class="modal-body" id="listAgenda">

            </div>
            <div class="modal-footer mfooterdistribuicao" style="text-align:center">
                <button type="button" id="btnDistribuir" name="btnDistribuir" class="btn2-gradient green text-uppercase text-bold" onclick="DistribuirClientes()"><i class="glyphicon glyphicon-play"></i> DISTRIBUIR</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts{
    <script type="text/javascript">

        function AtivarAcessoNow() {
            if ($("#acessaNow").val() == 1) {
                $("#acessaNow").val(0);
                $(".btnAcessaNow").removeClass("red");

                if ($("#username").val() == "") {
                    $("#areaCadastroLoginNow").hide();
                    $("#areaNovoLoginNow").show();
                } else {
                    $("#areaCadastroLoginNow").show();
                    $("#areaNovoLoginNow").hide();
                }

            } else {
                $("#acessaNow").val(1);
                $(".btnAcessaNow").addClass("red");

                $("#areaCadastroLoginNow").hide();
                $("#areaNovoLoginNow").hide();

            }

        }
        s

        function AtivarCargo(obj, val) {
            $(".btnCargo").removeClass("green");

            $(obj).addClass("green");

            $("#cargo").val(val);
        }

        function SalvarConfiguracoes() {
             $.ajax({
                type: 'POST',
                url: '@Url.Action("SalvarConfiguracoes", "Usuario")',
                dataType: 'json',
                 data: { lojaId: $("#loja_id").val(), vendedorId: $("#vendedor_id").val(), cargo: $("#cargo").val(), ativoNow: $("#acessaNow").val() },
                success: function (result) {
                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                }
            });
            $.unblockUI();
        }

        function SalvarAcoesUsuario() {
            var uBloqueado = 0;
            if ($(".chekUsuBloqueado").is(':checked')) {
                uBloqueado = 1;
            }

            var uchekUsuResetSenha = 0;
            if ($(".chekUsuResetSenha").is(':checked')) {
                uchekUsuResetSenha = 0;
            }

            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SalvarUsuario", "Usuario")',
                dataType: 'json',
                data: { nomeUsuario: $("#username").val(), login: $("#email").val(), idLoja: $("#loja_id").val(), idVendedor: $("#vendedor_id").val(), aBloquearUsuario: uBloqueado, aResetar: uchekUsuResetSenha },
                success: function () {
                    $.msg({ content: 'Operação Realizada com Sucesso!', tipo: 'alert-success', titulo: 'Sucesso', img: 'fa-check' });
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
            return false;
        }

        function AtivarPainellogin() {
            $("#areaNovoLoginNow").hide();
            $("#areaCadastroLoginNow").show();
        }

        $("#btnSalvarLicenca").click(function (e) {

            loading();

            var validacao = true;
            var lojaId = $("#loja_id").val();
            var vendedorId = $("#vendedor_id").val();
            var motivoId = $("#motivo_id").val();
            var dataInicial = $("#data_inicial").val();
            var dataFinal = $("#data_final").val();
            var tbxObservacao = $("#tbxObservacao").val();
            var flgIndeterminado = $("#flgIndeterminado").val();

            if (validacao) {

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SalvarLicenca", "Usuario")',
                    dataType: 'json',
                    data: { lojaId: lojaId, vendedorId: vendedorId, motivoId: motivoId, dataInicial: dataInicial, dataFinal: dataFinal, tbxObservacao: tbxObservacao, flgIndeterminado: flgIndeterminado },
                    success: function (result) {
                        if (result.success) {
                            $.msg({ content: result.msg, tipo: 'alert-success', titulo: 'Sucesso', img: 'fa-check' });
                        } else {

                        }
                        $("#modal-licenca").modal("hide");
                        ListarLicenca();

                        $.unblockUI();
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                    error: function (ex) {
                        $.unblockUI();
                    }
                });
                $.unblockUI();
            }
            return false;
        });

        ListarMotivos();

        function ListarMotivos()
        {
            $("#motivo_id").empty();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListarMotivos", "Usuario")',
                dataType: 'json',
                success: function (result) {
                    if (result.success) {
                        $.each(result.data, function (i, item) {
                            $("#motivo_id").append('<option value="' + item.id + '">' + item.nome + '</option>');
                        });
                    } else {

                    }
                    //ListarClienteNovo();
                    //CancelarCadastroNovo();
                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                }
            });
        }

        ListarLicenca();

        function ListarLicenca() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListarLicencaVendedores", "Usuario")',
                dataType: 'json',
                data: { lojaId: $("#loja_id").val(), vendedorId: $("#vendedor_id").val() },
                success: function (result) {
                    var tr = '';
                    $.each(result.dados, function (i, item) {
                        tr += '<tr>';
                        tr += '<td>' + item.data_inicio_bloqueio_formatada + '</td>';
                        tr += '<td>' + item.data_fim_bloqueio_formatada + '</td>';
                        tr += '<td>' + item.vendedor_licenciados_tipo + '</td>';
                        tr += '<td>' + item.status + '</td>';
                        tr += '<td>' + item.tempo + '</td>';
                        tr += '<td>' + item.motivo + '</td>';
                        tr += '<td>';

                        if (item.isExpirado)
                            tr += '<button type="button" class="btn btn-danger btn-sm" data-widget="remove" data-toggle="tooltip" style="padding: 5px 10px!important;" title="" data-original-title="Excluir" onclick="DesativarLicenca(' + item.id + ')" ><i class="fa fa-times"></i></button>';

                        tr += '</td>';
                        tr += '</tr>';
                    });                    

                    $("#areaLicencaNova").hide();
                    $("#areaLicenca").show();

                    if (result.dados.length == 0) {                       
                        $("#areaLicenca").hide();
                        $("#areaLicencaNova").show();
                    }

                    $("#listaAfastados").html(tr);

                    if (result.success) {

                    }
                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                }
            });
            $.unblockUI();
        }


        function DesativarLicenca(id) {
             $.ajax({
                type: 'POST',
                url: '@Url.Action("DesativarLicencaVendedores", "Usuario")',
                dataType: 'json',
                data: { idLicenca: id },
                success: function (result) {
                    if (result.success) {
                        $.msg({ content: result.msg, tipo: 'alert-success', titulo: 'Sucesso', img: 'fa-check' });
                        ListarLicenca();
                    }
                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                }
            });
            $.unblockUI();
        }

        function popDistribuir() {
            BuscarAgendaDistribuidas();
            $("#modal-distribuicao").modal("show");
        }

        function DistribuirClientes() {
            var vendedorId = $("#vendedor_id").val();
             $.ajax({
                type: 'POST',
                url: '@Url.Action("DistribuirAgendas", "Usuario")',
                dataType: 'json',
                 data: { vendedorId: vendedorId },
                success: function (result) {
                    if (result.success) {
                        alert(result.success);
                    }
                    $.unblockUI();
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                }
            });
            $.unblockUI();
        }

        function BuscarAgendaDistribuidas() {

            var vendedorId = $("#vendedor_id").val();
             $.ajax({
                type: 'POST',
                url: '@Url.Action("BuscarAgendaDistribuidas", "Usuario")',
                dataType: 'json',
                 data: { vendedorId: vendedorId },
                 success: function (result) {
                     var agenda = '';

                     if (result.dados.length > 0) {
                         $.each(result.dados, function (i, item) {
                             agenda += '<p class="text-muted well well-sm no-shadow" style="margin-top: 10px; text-align:center">';
                             agenda += '<span style="font-size:35px">' + item.total + '</span>';
                             agenda += '<br />';
                             agenda += '<span stylse="font-size:25px">' + item.agenda + '</span>';
                             agenda += '</p>';
                         });

                         $(".mfooterdistribuicao").show();
                     }
                     else {
                         agenda += '<p class="text-muted well well-sm no-shadow" style="margin-top: 10px; text-align:center">';
                         agenda += 'Não existe Agendas para DISTRIBUIÇÃO!';
                         agenda += '</p>';

                         $(".mfooterdistribuicao").hide();
                     }

                     $("#listAgenda").html(agenda);
                     $.unblockUI();
                 },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                }
            });
            $.unblockUI();
        }





    </script>
}
