﻿@using Now.Domain;

@{
    ViewBag.Title = "Perfil";
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Usuário do Now</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="t-responsive" class="table-responsive no-padding">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        @*<th >Lojas</th>*@
                        <th>Nome</th>
                        <th>Login</th>
                        @*<th>Data Senha</th>*@
                        <th style="text-align:center">Loja(s)</th>
                        <th style="text-align:center">Perfil</th>
                        <th style="text-align:center">Status Login</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (UsuarioPerfil item in ((List<UsuarioPerfil>)ViewBag.ListaUsuario).OrderBy(x => x.usuario_ordem))
                    {
                        <tr>
                            @*<td>@item.ListaLojas.Replace(",", "")</td>*@
                            <td>@item.nome.ToUpper()</td>
                            <td>@item.login</td>
                            @*<td>@(item.updated_at.ToString("dd/MM/yyyy"))</td>*@
                            <td class="text-center">
                                <span class="label label-success" data-toggle="tooltip" data-original-title="@item.ListaLojas">@item.Lojas.Count()</span>
                            </td>
                            <td class="text-center">
                                @Html.Raw((item.perfil == "Administrador Sistema" ? "<span class='text-green'>" + item.perfil + "</span>" : ""))
                                @Html.Raw((item.perfil == "Supervisor Brasil" ? "<span class='text-blue'>" + item.perfil + "</span>" : ""))
                                @Html.Raw((item.perfil == "Supervisor Regional" ? "<span class='text-muted'>" + item.perfil + "</span>" : ""))
                                @Html.Raw((item.perfil == "Supervisor" ? "<span class='text-red'>" + item.perfil + "</span>" : ""))
                                @Html.Raw((item.perfil == "Gerente" ? "<span class='text-yellow'>" + item.perfil + "</span>" : ""))
                                @Html.Raw((item.perfil == "Vendedor" ? "<span class='text-light-blue'>" + item.perfil + "</span>" : ""))
                                @Html.Raw((item.perfil == "Administrador Loja" ? "<span class='text-aqua'>" + item.perfil + "</span>" : ""))
                            </td>
                            <td class="text-center">
                                @Html.Raw(item.status_login)                              
                            </td>
                            <td class="text-center">
                                @*<div class="btn-group btn-sm">
                                    <a href="@Url.Action("PerfilDetalhe", "Usuario")?id=@item.id" class="btn btn-@(item.id == 0 ? "default":"success")" onclick="location.href='@Url.Action("PerfilDetalhe", "Usuario")'">@(item.id == 0 ? "Ação" : "Editar")</a>
                                    <button type="button" class="btn btn-@(item.id == 0 ? "default":"success") cc>
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>*@
                                <a href="@Url.Action("PerfilDetalhe", "Usuario")?id=@item.vendedor_id" class="btn2-gradient blue mini text-uppercase text-bold" onmouseout="$.unblockUI();" data-toggle="tooltip" data-original-title="Editar">
                                     Editar
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.box-body -->
</div>

@section Scripts{

    <script type="text/javascript">
        $("#example2").DataTable();
    </script>
}
