﻿@{
    ViewBag.Title = "Cadastrar Perguntas";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h4 class="box-title">Perguntas</h4>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" data-original-title="Contacts">
                        <i class="fa fa-sitemap"></i>
                    </button>
                </div>

            </div>
            <div class="box-body">
                <table id="tbPesquisa" class="table table-bordered table-striped infoVendasPorVendedor">
                    <thead>
                        <tr class="bg-gray-gradient">
                            <th class="text-center" #titulo# style="width:65%!important">PERGUNTA</th>
                            <th class="text-center" #titulo# style="width:15%!important">TIPO PERGUNTA</th>
                            <th class="text-center" #titulo# style="width:10%!important">ORDEM</th>
                            <th class="text-center" #titulo# style="width:2%!important"><i class="glyphicon glyphicon-plus" style="cursor:pointer" title="Cadastrar nova Pergunta" data-toggle="tooltip" onclick="AbrirCadPerguntas()"></i></th>
                            <th class="text-center" #titulo# style="width:2%!important"></th>
                            <th class="text-center" #titulo# style="width:2%!important"></th>
                        </tr>
                    </thead>
                    <tbody id="tBodyPerguntas">                       
                    </tbody>
                </table>
                @Html.Hidden("idPergunta")
            </div>
        </div>
    </div>
    <div class="col-md-12" id="listResposta" style="display:none">
        <div class="box box-primary">
            <div class="box-header with-border bg-blue-gradient">
                <h4 class="box-title">Respostas: <span id="tituloPergResposta"></span></h4>
            </div>
            <div class="box-body">
                <table id="tbPesquisa" class="table table-bordered table-striped infoVendasPorVendedor">
                    <thead>
                        <tr class="bg-gray-gradient">
                            <th class="text-center" #titulo# style="width:50%!important">RESPOSTA</th>
                            <th class="text-center" #titulo# style="width:48%!important">PERGUNTA SUBSEQUENTE</th>
                            <th class="text-center" #titulo# style="width:2%!important"><i class="glyphicon glyphicon-plus" style="cursor:pointer" title="Cadastrar nova Resposta" data-toggle="tooltip" onclick="AbrirCadRespostas()"></i></th>
                            <th class="text-center" #titulo# style="width:2%!important"></th>
                        </tr>
                    </thead>
                    <tbody id="tBodyRespostas"></tbody>
                </table>
                @Html.Hidden("idResposta")
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div id="chart-container"></div>
    </div>
</div>

<div class="modal fade" id="modalCadastroPerguntas" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-gray-gradient">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">×</span>
                </button>
                <h2 class="modal-title">Cadastrar Perguntas</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Tipo Pergunta</label>
                            @Html.DropDownList("ddlTipoPergunta", new List<SelectListItem>
                                                {
                                                    new SelectListItem{ Text="Resposta", Value = "RESPOSTA", Selected=true },
                                                    new SelectListItem{ Text="Multipla Escolha", Value = "ESCOLHA" }
                                                }, new { @class = "form-control select2", @style = "width: 100%;", @onchange = "statusChange(this)", required = "required" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Ordem</label>
                            @Html.TextBox("tbxOrdem", "", new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Pergunta</label>
                            @Html.TextArea("txtPergunta", new { @class = "form-control", @style = "width: 100%;", @rows = "5" })
                        </div>
                    </div>
                </div>
                @Html.Hidden("idPergunta")
            </div>
            <div class="modal-footer">
                <button class="btn2-gradient btn-warning pull-left text-uppercase text-bold" data-dismiss="modal" type="button"><i class="fa fa-close"></i> <b>FECHAR</b></button>
                <button class="btn2-gradient btn-primary btnSalvarPergunta text-uppercase text-bold" type="submit"><i class="fa fa-check"></i> <b>SALVAR</b></button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalCadastroRespostas" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-blue-gradient">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">×</span>
                </button>
                <h2 class="modal-title">Cadastrar Resposta</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Pergunta SUBSEQUENTE</label>
                            @Html.DropDownList("ddlPerguntaPredecessora", new List<SelectListItem>(), new { @class = "form-control select2", @style = "width: 100%;", @onchange = "statusChange(this)", required = "required" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Pergunta</label>
                            <span id="lblPergunta"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Resposta</label>
                            @Html.TextArea("txtResposta", new { @class = "form-control", @style = "width: 100%;", @rows = "5" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn2-gradient btn-warning pull-left text-uppercase text-bold" data-dismiss="modal" type="button"><i class="fa fa-close"></i> <b>FECHAR</b></button>
                <button class="btn2-gradient btn-primary btnSalvarResposta text-uppercase text-bold" type="submit"><i class="fa fa-check"></i> <b>SALVAR</b></button>
            </div>
        </div>
    </div>
</div>
<div id="treeview"></div>

@section Scripts{
    <script type="text/javascript">

        $.ajax({
            type: 'GET',
            url: '@Url.Action("ListaWorkFlowRespostas", "PerguntasQuemEle")',
            dataType: 'json',
            success: function (dados) {
                $('#chart-container').orgchart({
                    'data': jQuery.parseJSON(dados),
                    'nodeContent': 'title'
                });

            },
            error: function (ex) {
                SessaoAtiva();
            }
        });

        function AbrirCadPerguntas() {
            $("#modalCadastroPerguntas").modal('show');        
        }
        function AbrirCadRespostas() {
            $("#modalCadastroRespostas").modal('show');
        }

        $(".btnSalvarPergunta").click(function () {
            //$('#form-validation-pergunta').data('bootstrapValidator').validate();

            //if ($('#form-validation-pergunta').data('bootstrapValidator').isValid()) {
            SalvarPergunta();
            //}
            //else {
            //    $.msg({ content: 'Campos obrigatórios!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
            //}
        });

        $(".btnSalvarResposta").click(function () {
            //$('#form-validation-pergunta').data('bootstrapValidator').validate();

            //if ($('#form-validation-pergunta').data('bootstrapValidator').isValid()) {
            SalvarResposta();
            //}
            //else {
            //    $.msg({ content: 'Campos obrigatórios!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
            //}
        });

        function SalvarPergunta() {
            loading();
            var tipoPergunta = $("#ddlTipoPergunta").val();
            var ordem = $("#tbxOrdem").val();
            var pergunta = $("#txtPergunta").val();
            var idPergunta = $("#idPergunta").val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SalvarPergunta", "PerguntasQuemEle")',
                dataType: 'json',
                data: { tipoPergunta: tipoPergunta, ordem: ordem, Pergunta: pergunta, idPergunta: idPergunta },
                success: function (result) {
                    if (result.success) {
                        ListaGridPerguntas(result);
                        $("#modalCadastroPerguntas").modal('hide');
                        $("#idResposta").val('');
                        $("#ddlTipoPergunta").val('');
                        $("#tbxOrdem").val('');
                        $("#txtPergunta").val('');
                        $.unblockUI();
                        $.msg({ content: result.mensagem, tipo: 'alert-success', titulo: 'Atenção', img: 'fa-warning' });
                    }
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
            return false;
        }

        function ExcluirPergunta(id) {
            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ExcluirPergunta", "PerguntasQuemEle")',
                dataType: 'json',
                data: { id: id },
                success: function (result) {
                    if (result.success) {
                        ListaGridPerguntas(result);                      
                        $.unblockUI();
                        $.msg({ content: result.mensagem, tipo: 'alert-success', titulo: 'Atenção', img: 'fa-warning' });
                    }
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
            return false;
        }

        function EditarPergunta(pergunta, tipo_pergunta, ordem, id) {
            $("#ddlTipoPergunta").val(tipo_pergunta);
            $("#tbxOrdem").val(ordem);
            $("#txtPergunta").val(pergunta);
            $("#idPergunta").val(id);
            $("#modalCadastroPerguntas").modal('show');
        }        

        function SalvarResposta() {
            loading();

            var idPergunta = $("#idPergunta").val();
            var resposta = $("#txtResposta").val();
            var idPerguntasPredecessora = $("#ddlPerguntaPredecessora").val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SalvarResposta", "PerguntasQuemEle")',
                dataType: 'json',
                data: { idPergunta: idPergunta, idPerguntasPredecessora: idPerguntasPredecessora, resposta: resposta },
                success: function (result) {
                    if (result.success) {
                        ListaGridRespostas(result);
                        $("#modalCadastroRespostas").modal('hide');
                        $.unblockUI();
                        $.msg({ content: result.mensagem, tipo: 'alert-success', titulo: 'Atenção', img: 'fa-warning' });
                    }
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
            return false;
        }

        function ExcluirResposta(id, idPergunta) {
            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ExcluirResposta", "PerguntasQuemEle")',
                dataType: 'json',
                data: { id: id, idPergunta: idPergunta },
                success: function (result) {
                    if (result.success) {
                        ListaGridRespostas(result);                      
                        $.unblockUI();
                        $.msg({ content: result.mensagem, tipo: 'alert-success', titulo: 'Atenção', img: 'fa-warning' });
                    }
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
            return false;
        }

        function EditarResposta(resposta, perg_subsequente, id) {
            $("#txtResposta").val(resposta);
            $("#ddlPerguntaPredecessora").val(perg_subsequente);
            $("#idResposta").val(id);
            $("#modalCadastroRespostas").modal('show');
        }

        function CarregarListaRespostas(pergunta, idPergunta) {
            $("#listResposta").hide();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListaRespostas", "PerguntasQuemEle")',
                dataType: 'json',
                data: { idPergunta: idPergunta },
                success: function (result) {
                    $("#idPergunta").val(idPergunta);
                    ListaGridRespostas(result);
                    $("#tituloPergResposta").html(pergunta);
                    $("#lblPergunta").html(pergunta);

                    var selectedEffect = 'bounce';
                    var options = {};
                    // some effects have required parameters
                    if (selectedEffect === "scale") {
                        options = { percent: 50 };
                    } else if (selectedEffect === "transfer") {
                        options = { to: "#button", className: "ui-effects-transfer" };
                    } else if (selectedEffect === "size") {
                        options = { to: { width: 200, height: 60 } };
                    }

                    $("#listResposta").show();
                    $("#listResposta").effect(selectedEffect, options, 500, callback);
                },
                error: function (ex) {
                    SessaoAtiva();
                }
            });
            return false;
        }

        function ListaGridRespostas(result) {
            var _tr = '';
            $.each(result.dados, function (i, item) {
                _tr += '<tr><td>' + item.resposta + '</td>';
                _tr += '<td>' + item.perg_subsequente + '</td>';
                _tr += '<td class="text-center"><i class="glyphicon glyphicon-edit" title="Editar Resposta" data-toggle="tooltip" style="cursor:pointer" onclick="EditarResposta(\'' + item.resposta + '\',' + item.perg_subsequente + ', ' + item.id + ')"></i></td>';
                _tr += '<td class="text-center"><i class="glyphicon glyphicon-remove" title="Excluir Resposta" data-toggle="tooltip" style="cursor:pointer" onclick="ExcluirResposta(\'' + item.id + '\', \'' + item.id_perguntas_quem_ele + '\')"></i></td></tr>';
            });

            $('#tBodyRespostas').html(_tr);
        }

        CarregarListaPerguntas();

        function CarregarListaPerguntas() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListaPerguntas", "PerguntasQuemEle")',
                dataType: 'json',
                success: function (result) {
                    ListaGridPerguntas(result);
                },
                error: function (ex) {
                    SessaoAtiva();
                }
            });
            return false;
        }

        function ListaGridPerguntas(result) {
            var _tr = '';
            $("#ddlPerguntaPredecessora").empty();
            $("#ddlPerguntaPredecessora").append('<option value="0">Nenhuma Pergunta</option>');
            $.each(result.dados, function (i, item) {
                $("#ddlPerguntaPredecessora").append('<option value="' + item.id + '">' + item.pergunta + '</option>');

                _tr += '<tr><td>' + item.pergunta + '</td>';
                _tr += '<td>' + item.tipo_pergunta + '</td>';
                _tr += '<td>' + item.ordem + '</td>';
                _tr += '<td class="text-center"><i class="glyphicon glyphicon-edit" title="Editar Pergunta" data-toggle="tooltip" style="cursor:pointer" onclick="EditarPergunta(\'' + item.pergunta + '\',\'' + item.tipo_pergunta + '\',\'' + item.ordem + '\',\'' + item.id + '\')"></i></td>';
                _tr += '<td class="text-center"><i class="glyphicon glyphicon-remove" title="Excluir Pergunta" data-toggle="tooltip" style="cursor:pointer" onclick="ExcluirPergunta(\'' + item.id + '\')"></i></td>';
                _tr += '<td class="text-center"><i class="glyphicon glyphicon-search" title="Listar Respostas" data-toggle="tooltip" style="cursor:pointer" onclick="CarregarListaRespostas(\'' + item.pergunta + '\',' + item.id + ')"></i></td></tr>';
            });
            $('#tBodyPerguntas').html(_tr);
        }

    </script>
}

