﻿
@{
    ViewBag.Title = "Index";
}
<div class="row ">
    <div class="col-md-9 col-lg-9">
    </div>
    <div class="col-md-3 col-lg-3">
        <div class="card bg-success">
            <div class="card-body text-center">
                <div class="text-wrap">
                    <h4 class="text-gray">Vendedores Em Atendimento</h4>

                    <div class="avatar-list avatar-list-stacked popoverOnline" style="cursor: pointer;" data-toggle="popover" data-popover-color="default" data-placement="bottom">
                        <span class="avatar cover-image brround avatar-xl" data-image-src="assets/images/faces/female/12.jpg"></span>
                        <span class="avatar cover-image brround avatar-xl" data-image-src="assets/images/faces/female/21.jpg"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row ">
    <div class="col-md-12 col-lg-12 features">
        <div class="card ">
            <div class="card-body">
                <div class="feature">

                    <div class="visitor-list">
                        <div class="media m-0">
                            <div class="avatar brround avatar-xl mr-3 mb-3 cover-image" data-image-src="assets/images/faces/male/18.jpg" style="background: url(&quot;assets/images/faces/male/18.jpg&quot;) center center;">
                                <span class="avatar-status bg-green" style="right: 0px!important; bottom: 5px!important"></span>
                            </div>

                            <div class="media-body mt-3">
                                <a href="#" class="h5 text-default font-weight-semibold">John Paige</a>
                                <p class="text-muted ">Uploaded new invoices for RedBus</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="p-4 b-t card-footer">
                <div class="row text-center">
                    <div class="col-4 border-right text-center">
                        <div class="text-center">
                            <div class="chip bg-danger text-white" onclick="SairFila()" style="cursor: pointer;"><b>Sair da Fila</b></div>
                            <div class="chip bg-warning text-white" onclick="DarVez()" style="cursor: pointer;"><b>Dar a Vez</b></div>
                        </div>
                    </div>
                    <div class="col-8 text-right">
                        <a href="#" class="btn btn-success btn text-white"><b>Iniciar Atendimento</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 features">
        <div class="card ">
            <div class="card-body" onclick="OpcaoFila('footeropPeixoto')" style="cursor: pointer;">
                <div class="feature">
                    <div class="visitor-list">
                        <div class="media mt-3">
                            <div class="avatar brround avatar-xl mr-3 mb-3 cover-image" data-image-src="assets/images/faces/male/20.jpg" style="background: url(&quot;assets/images/faces/male/20.jpg&quot;) center center;">
                                <span class="avatar-status bg-green" style="right: 0px!important; bottom: 5px!important"></span>
                            </div>
                            <div class="media-body mt-3">
                                <a href="#" class="h5 text-default font-weight-semibold">Lillian Quinn</a>
                                <p class="text-muted">Created new work flow for the current</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="p-4 b-t card-footer footeropPeixoto" style="display:none">
                <div class="row text-center">
                    <div class="col-4 border-right text-center">
                        <div class="text-center">
                            <div class="chip bg-danger text-white"><b>Sair da Fila</b></div>
                        </div>
                    </div>
                    <div class="col-8 text-right">
                        <a href="#" class="btn btn-secondary btn-sm"><b>Aguarde sua vez...</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 features">
        <div class="card">

            <div class="card-body" onclick="OpcaoFila('footeropCarlos')" style="cursor: pointer;">
                <div class="feature">
                    <div class="visitor-list">

                        <div class="media mt-3">
                            <div class="avatar brround avatar-xl mr-3 mb-3 cover-image" data-image-src="assets/images/faces/female/8.jpg" style="background: url(&quot;assets/images/faces/female/8.jpg&quot;) center center;">
                                <span class="avatar-status bg-green" style="right: 0px!important; bottom: 5px!important"></span>
                            </div>
                            <div class="media-body mt-3">
                                <a href="#" class="h5 text-default font-weight-semibold">Irene Harris</a>
                                <p class="text-muted">Submitted the project schedule to the manager</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="p-4 b-t card-footer footeropCarlos" style="display:none">
                <div class="row text-center">
                    <div class="col-4 border-right text-center">
                        <div class="text-center">
                            <div class="chip bg-danger text-white"><b>Sair da Fila</b></div>
                        </div>
                    </div>
                    <div class="col-8 text-right">
                        <a href="#" class="btn btn-secondary btn-sm"><b>Aguarde sua vez...</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 features">
        <div class="card ">
            <div class="card-body" onclick="OpcaoFila('footeropErica')" style="cursor: pointer;">
                <div class="feature">
                    <div class="visitor-list">
                        <div class="media mt-3">
                            <div class="avatar brround avatar-xl mr-3 mb-3 cover-image" data-image-src="assets/images/faces/female/22.jpg" style="background: url(&quot;assets/images/faces/female/22.jpg&quot;) center center;">
                                <span class="avatar-status bg-green" style="right: 0px!important; bottom: 5px!important"></span>
                            </div>
                            <div class="media-body mt-3">
                                <a href="#" class="h5 text-default font-weight-semibold">Harry Fisher</a>
                                <p class="text-muted">Scheduled a meeting with the next</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-4 b-t card-footer footeropErica" style="display:none">
                <div class="row text-center">
                    <div class="col-4 border-right text-center">
                        <div class="text-center">
                            <div class="chip bg-danger text-white"><b>Sair da Fila</b></div>
                        </div>
                    </div>
                    <div class="col-8 text-right">
                        <a href="#" class="btn btn-secondary btn-sm"><b>Aguarde sua vez...</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-gray br-tr-7 br-tl-7">
                <h3 class="card-title text-white">Vendedores Offline</h3>
                <div class="card-options ">
                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x text-white"></i></a>
                </div>
            </div>
            <div class="card-body">
                <div class="feature">
                    <div class="visitor-list">
                        <div class="media m-0 border-bottom">
                            <div class="avatar brround avatar-xl mr-3 mb-3 cover-image" data-image-src="assets/images/faces/male/18.jpg" style="background: url(&quot;assets/images/faces/male/18.jpg&quot;) center center;">
                                <span class="avatar-status bg-gray" style="right: 0px!important; bottom: 5px!important"></span>
                            </div>
                            <div class="media-body mt-3">
                                <a href="#" class="h5 text-default font-weight-semibold">John Paige</a><span class="label label-warning arrowed-in-right arrowed">Almoço</span>
                                <p class="text-muted ">Uploaded new invoices for RedBus</p>
                            </div>
                            <a href="#" class="btn btn-info btn-sm"><b>Voltar para lista!</b></a>
                        </div>
                        <div class="media mt-3 border-bottom">
                            <div class="avatar brround avatar-xl mr-3 mb-3 cover-image" data-image-src="assets/images/faces/male/20.jpg" style="background: url(&quot;assets/images/faces/male/20.jpg&quot;) center center;"><span class="avatar-status bg-gray" style="right: 0px!important; bottom: 5px!important"></span></div>
                            <div class="media-body mt-3">
                                <a href="#" class="h5 text-default font-weight-semibold">Lillian Quinn</a><span class="label label-warning arrowed-in-right arrowed">Ausente</span>
                                <p class="text-muted">Created new work flow for the current</p>
                            </div>
                            <a href="#" class="btn btn-info btn-sm"><b>Voltar para lista!</b></a>
                        </div>
                        <div class="media mt-3 border-bottom">
                            <div class="avatar brround avatar-xl mr-3 mb-3 cover-image" data-image-src="assets/images/faces/female/8.jpg" style="background: url(&quot;assets/images/faces/female/8.jpg&quot;) center center;"><span class="avatar-status bg-gray" style="right: 0px!important; bottom: 5px!important"></span></div>
                            <div class="media-body mt-3">
                                <a href="#" class="h5 text-default font-weight-semibold">Irene Harris</a><span class="label label-warning arrowed-in-right arrowed">Férias</span>
                                <p class="text-muted">Submitted the project schedule to the manager</p>
                            </div>
                            <a href="#" class="btn btn-info btn-sm"><b>Voltar para lista!</b></a>
                        </div>
                        <div class="media mt-3 border-bottom">
                            <div class="avatar brround avatar-xl mr-3 mb-3 cover-image" data-image-src="assets/images/faces/female/22.jpg" style="background: url(&quot;assets/images/faces/female/22.jpg&quot;) center center;"><span class="avatar-status bg-gray" style="right: 0px!important; bottom: 5px!important"></span></div>
                            <div class="media-body mt-3">
                                <a href="#" class="h5 text-default font-weight-semibold">Harry Fisher</a><span class="label label-warning arrowed-in-right arrowed">Almoço</span>
                                <p class="text-muted">Scheduled a meeting with the next</p>
                            </div>
                            <a href="#" class="btn btn-info btn-sm"><b>Voltar para lista!</b></a>
                        </div>
                        <div class="media mt-3">
                            <div class="avatar brround avatar-xl mr-3 cover-image" data-image-src="assets/images/faces/male/18.jpg" style="background: url(&quot;assets/images/faces/male/18.jpg&quot;) center center;"><span class="avatar-status bg-gray" style="right: 0px!important; bottom: 5px!important"></span></div>
                            <div class="media-body mt-3">
                                <a href="#" class="h5 text-default font-weight-semibold">John Doe</a><span class="label label-warning arrowed-in-right arrowed">Almoço</span>
                                <p class="text-muted m-0">Completed the task for the new project</p>
                            </div>
                            <a href="#" class="btn btn-info btn-sm"><b>Voltar para lista!</b></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="hidden" style="display:none">
    <div class="visitor-list popover-content">
        <div class="media m-0 mt-0 border-bottom">
            <img class="avatar brround avatar-md mr-3" alt="avatra-img" src="assets/images/faces/male/18.jpg">
            <div class="media-body mr-3">
                <a href="" class="text-default font-weight-semibold">John Paige</a>
                <p class="text-muted">Tempo: 00:25min</p>
            </div>
            <a href="#" class="btn btn-info btn-sm" onclick="FinalizarAtendimento()"><b>Finalizar</b></a>
        </div>
        <div class="media mt-2 border-bottom">
            <img class="avatar brround avatar-md mr-3" alt="avatra-img" src="assets/images/faces/male/20.jpg">
            <div class="media-body mr-3">
                <a href="" class="text-default font-weight-semibold">Lillian Quinn</a>
                <p class="text-muted">Tempo: 00:25min</p>
            </div>
            <a href="#" class="btn btn-info btn-sm" onclick="FinalizarAtendimento()"><b>Finalizar</b></a>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" style="display: none; z-index:9999999!important" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example-Modal3">Converteu em Venda?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 col-md-12 col-lg-12 convertida perguntasPai" onclick="convertiVenda(1)" style="cursor: pointer;">
                    <div class="card bg-success">
                        <div class="card-body">
                            <div class="d-flex no-block align-items-center">
                                <div>
                                    <h6 class="text-white">Atendimento convertido?</h6>
                                    <h2 class="text-white m-0 ">Vendi</h2>
                                </div>
                                <div class="ml-auto">
                                    <span class="text-white display-3"><i class="fa fa-thumbs-up fa-2x"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 nao-convertida perguntasPai" onclick="convertiVenda(0)" style="cursor: pointer;">
                    <div class="card bg-danger">
                        <div class="card-body">
                            <div class="d-flex no-block align-items-center">
                                <div>
                                    <h6 class="text-white">Atendimento não convertido?</h6>
                                    <h2 class="text-white m-0 ">Não Vendi</h2>
                                </div>
                                <div class="ml-auto">
                                    <span class="text-white display-3"><i class="fa fa-thumbs-down fa-2x"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-12 venda-convertida perguntasFilho" style="display:none">
                    <div class="card" onclick="SalvarVenda('venda-convertida')" style="cursor: pointer;">
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="float-right">
                                    <i class="mdi mdi-check text-success icon-size"></i>
                                </div>
                                <div class="float-left">
                                    <p class="mb-0 text-left">Cliente saiu 100% satisfeito!</p>
                                    <div class="">
                                        <h3 class="font-weight-semibold text-left mb-0">Vendi 100%</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" onclick="SalvarVenda('venda-nao-convertida')" style="cursor: pointer;">
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="float-right">
                                    <i class="mdi mdi-check text-warning icon-size"></i>
                                </div>
                                <div class="float-left">
                                    <p class="mb-0 text-left">Cliente saiu 99% satisfeito!</p>
                                    <div class="">
                                        <h3 class="font-weight-semibold text-left mb-0">Vendi 99%</h3>
                                    </div>
                                </div>
                            </div>
                            <p class="text-muted mb-0">
                                <i class="mdi mdi-arrow-down-drop-circle mr-1 text-danger" aria-hidden="true"></i> Itens da compra NÃO disponível na loja!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-12 venda-nao-convertida perguntasFilho" style="display:none">
                    <div class="card" onclick="SalvarVenda('venda-nao-convertida')" style="cursor: pointer;">
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="float-right">
                                    <i class="mdi mdi-close text-danger icon-size"></i>
                                </div>
                                <div class="float-left">
                                    <p class="mb-0 text-left">Cliente tentou efetuar o pagamento, sem sucesso!</p>
                                    <div class="">
                                        <h3 class="font-weight-semibold text-left mb-0">Cartão não Passou</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" onclick="SalvarVenda('venda-nao-convertida')" style="cursor: pointer;">
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="float-right">
                                    <i class="mdi mdi-close text-danger icon-size"></i>
                                </div>
                                <div class="float-left">
                                    <p class="mb-0 text-left">Cliente gostou mas achou caro!</p>
                                    <div class="">
                                        <h3 class="font-weight-semibold text-left mb-0">Achou Caro</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" onclick="SalvarVenda('venda-nao-convertida')" style="cursor: pointer;">
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="float-right">
                                    <i class="mdi mdi-close text-danger icon-size"></i>
                                </div>
                                <div class="float-left">
                                    <p class="mb-0 text-left">Cliente entrou olhou e saiu!</p>
                                    <div class="">
                                        <h3 class="font-weight-semibold text-left mb-0">Curioso Loja</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" onclick="SalvarVenda('venda-nao-convertida')" style="cursor: pointer;">
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="float-right">
                                    <i class="mdi mdi-close text-danger icon-size"></i>
                                </div>
                                <div class="float-left">
                                    <p class="mb-0 text-left">Cliente não entrou olhou a vitrine foi embora!</p>
                                    <div class="">
                                        <h3 class="font-weight-semibold text-left mb-0">Curioso Vitrine</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-dark" data-dismiss="modal"><b>Cancelar</b></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SairFila" tabindex="-1" role="dialog" style="display: none; z-index:9999999!important" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example-Modal3">Deseja sair?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 col-md-12 col-lg-12 convertida perguntasSairPai" onclick="RespostaSair('almoco')" style="cursor: pointer;">
                    <div class="card bg-info card-img-holder text-white">
                        <div class="card-body">
                            <img src="assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                            <div class="d-flex no-block align-items-center">
                                <div>
                                    <h3 class="m-0 ">Sair para Almoço</h3>
                                </div>
                                <div class="ml-auto">
                                    <span class="display-6"><i class="fa fa-ban"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 convertida perguntasSairPai" onclick="RespostaSair('fimexpediente')" style="cursor: pointer;">
                    <div class="card bg-gray card-img-holder text-white">
                        <div class="card-body">
                            <img src="assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                            <div class="d-flex no-block align-items-center">
                                <div>
                                    <h3 class="m-0 ">Fim Expediente</h3>
                                </div>
                                <div class="ml-auto">
                                    <span class="display-6"><i class="fa fa-ban"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-dark" data-dismiss="modal"><b>Cancelar</b></button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">

        $('.popoverOnline').popover({
            html: true,
            content: function () {
                return $('.popover-content').html();
            }
        });


        

        function SairFila() {
            $("#SairFila").modal('show');
        }

        function FinalizarAtendimento() {
            $('.perguntasPai').fadeIn(0);
            $('.perguntasFilho').fadeOut(0);
            $("#exampleModal3").modal('show');
        }

        function OpcaoFila(opcao) {
            if ($('.' + opcao).is(":hidden"))
                $('.' + opcao).fadeIn("slow");
            else
                $('.' + opcao).fadeOut('slow');
        }

        function convertiVenda(opcao) {
            $('.nao-convertida').fadeOut(0);
            $('.convertida').fadeOut(0, convertiVendaOpcao(opcao));
        }

        function convertiVendaOpcao(opcao) {
            // Conversao da Venda
            if (opcao == 1) {
                $('.venda-convertida').fadeIn(1000);
                $('.venda-nao-convertida').fadeOut(1000);
            }
            else {
                $('.venda-convertida').fadeOut(1000);
                $('.venda-nao-convertida').fadeIn(1000);
            }
        }

        function SalvarVenda() {
            swal('Atendimento Finalizado!', 'Dados salvo com sucesso!', 'success');
            $("#exampleModal3").modal('hide');
        }

        function SalvarVenda() {
            swal('Atendimento Finalizado!', 'Dados salvo com sucesso!', 'success');
            $("#exampleModal3").modal('hide');
        }

        function RespostaSair() {
            swal('Saiu da Lista!', 'Saída realizada com sucesso!', 'success');
            $("#SairFila").modal('hide');
        }        

    </script>
}

