﻿@{
    ViewBag.Title = "Cadastrar e Enviar Mensagem";
}

<div class="box box-default">
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-share-square"></i> Remetente
                        <small class="pull-right Bold">@ViewBag.NomeUsuario</small>
                    </h2>
                    <div class="form-group">
                        <label>Mensagem</label>
                        <textarea class="form-control" rows="3" placeholder="Mensagem..." id="tbxmensagem"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Data Envio</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right col-md-4" id="datepicker">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <h2 class="page-header">
                    <i class="fa fa-comments"></i> Destinatário
                </h2>

                <div class="form-group">
                    <label>Pesquisar Loja</label>
                    <input type="text" class="form-control" placeholder="Enter ...">
                </div>
                <div class="form-group">
                    <label>Lojas</label>
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Código Loja</th>
                                    <th>Loja</th>
                                    <th>Seleção</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                    <td>Call of Duty IV</td>
                                    <td><span class="label label-danger">Selecionar</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <label>Pesquisar Vendedor</label>
                    <input type="text" class="form-control" placeholder="Enter ...">
                </div>
                <div class="form-group">
                    <label>Lojas</label>
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Código Vendedor</th>
                                    <th>Loja</th>
                                    <th>Seleção</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                    <td>Call of Duty IV</td>
                                    <td><span class="label label-danger">Selecionar</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="button" id="btnConfirmar" name="btnConfirmar" class="btn2-gradient blue btnSalvar text-uppercase text-bold pull-right"><i class="glyphicon glyphicon-ok"></i> Enviar</button>

        <button type="button" id="btnCancelar" name="btnCancelar" class="btn2-gradient red btnSalvar text-uppercase text-bold pull-left"><i class="glyphicon glyphicon-remove"></i> Cancelar</button>                
    </div>
</div>


@section Scripts{
    <script type="text/javascript">

        @*$.ajax({
            type: 'GET',
            url: '@Url.Action("ListaWorkFlowRespostas", "PerguntasQuemEle")',
            dataType: 'json',
            success: function (dados) {
                $('#chart-container').orgchart({
                    'data': jQuery.parseJSON(dados),
                    'nodeContent': 'title'
                });

            },
            error: function (ex) {
                SessaoAtiva();
            }
        });

        function AbrirCadPerguntas() {
            $("#modalCadastroPerguntas").modal('show');
        }
        function AbrirCadRespostas() {
            $("#modalCadastroRespostas").modal('show');
        }

        $(".btnSalvarPergunta").click(function () {
            //$('#form-validation-pergunta').data('bootstrapValidator').validate();

            //if ($('#form-validation-pergunta').data('bootstrapValidator').isValid()) {
            SalvarPergunta();
            //}
            //else {
            //    $.msg({ content: 'Campos obrigatórios!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
            //}
        });

        $(".btnSalvarResposta").click(function () {
            //$('#form-validation-pergunta').data('bootstrapValidator').validate();

            //if ($('#form-validation-pergunta').data('bootstrapValidator').isValid()) {
            SalvarResposta();
            //}
            //else {
            //    $.msg({ content: 'Campos obrigatórios!', tipo: 'alert-warning', titulo: 'Atenção', img: 'fa-warning' });
            //}
        });*@

        function SalvarMensagem() {
            loading();
            var mensagem = $("#tbxmensagem").val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SalvarMensagem", "Chat")',
                dataType: 'json',
                data: { mensagem: mensagem },
                success: function (result) {
                    if (result.success) {
                        //ListaGridPerguntas(result);
                        //$("#modalCadastroPerguntas").modal('hide');
                        //$("#idResposta").val('');
                        //$("#ddlTipoPergunta").val('');
                        //$("#tbxOrdem").val('');
                        //$("#txtPergunta").val('');
                        $.unblockUI();
                        $.msg({ content: result.mensagem, tipo: 'alert-success', titulo: 'Atenção', img: 'fa-warning' });
                    }
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
            return false;
        }

        @*function ExcluirPergunta(id) {
            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ExcluirPergunta", "PerguntasQuemEle")',
                dataType: 'json',
                data: { id: id },
                success: function (result) {
                    if (result.success) {
                        ListaGridPerguntas(result);
                        $.unblockUI();
                        $.msg({ content: result.mensagem, tipo: 'alert-success', titulo: 'Atenção', img: 'fa-warning' });
                    }
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
            return false;
        }

        function EditarPergunta(pergunta, tipo_pergunta, ordem, id) {
            $("#ddlTipoPergunta").val(tipo_pergunta);
            $("#tbxOrdem").val(ordem);
            $("#txtPergunta").val(pergunta);
            $("#idPergunta").val(id);
            $("#modalCadastroPerguntas").modal('show');
        }

        function SalvarResposta() {
            loading();

            var idPergunta = $("#idPergunta").val();
            var resposta = $("#txtResposta").val();
            var idPerguntasPredecessora = $("#ddlPerguntaPredecessora").val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SalvarResposta", "PerguntasQuemEle")',
                dataType: 'json',
                data: { idPergunta: idPergunta, idPerguntasPredecessora: idPerguntasPredecessora, resposta: resposta },
                success: function (result) {
                    if (result.success) {
                        ListaGridRespostas(result);
                        $("#modalCadastroRespostas").modal('hide');
                        $.unblockUI();
                        $.msg({ content: result.mensagem, tipo: 'alert-success', titulo: 'Atenção', img: 'fa-warning' });
                    }
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
            return false;
        }

        function ExcluirResposta(id, idPergunta) {
            loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ExcluirResposta", "PerguntasQuemEle")',
                dataType: 'json',
                data: { id: id, idPergunta: idPergunta },
                success: function (result) {
                    if (result.success) {
                        ListaGridRespostas(result);
                        $.unblockUI();
                        $.msg({ content: result.mensagem, tipo: 'alert-success', titulo: 'Atenção', img: 'fa-warning' });
                    }
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (ex) {
                    $.unblockUI();
                    SessaoAtiva();
                }
            });
            return false;
        }

        function EditarResposta(resposta, perg_subsequente, id) {
            $("#txtResposta").val(resposta);
            $("#ddlPerguntaPredecessora").val(perg_subsequente);
            $("#idResposta").val(id);
            $("#modalCadastroRespostas").modal('show');
        }

        function CarregarListaRespostas(pergunta, idPergunta) {
            $("#listResposta").hide();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListaRespostas", "PerguntasQuemEle")',
                dataType: 'json',
                data: { idPergunta: idPergunta },
                success: function (result) {
                    $("#idPergunta").val(idPergunta);
                    ListaGridRespostas(result);
                    $("#tituloPergResposta").html(pergunta);
                    $("#lblPergunta").html(pergunta);

                    var selectedEffect = 'bounce';
                    var options = {};
                    // some effects have required parameters
                    if (selectedEffect === "scale") {
                        options = { percent: 50 };
                    } else if (selectedEffect === "transfer") {
                        options = { to: "#button", className: "ui-effects-transfer" };
                    } else if (selectedEffect === "size") {
                        options = { to: { width: 200, height: 60 } };
                    }

                    $("#listResposta").show();
                    $("#listResposta").effect(selectedEffect, options, 500, callback);
                },
                error: function (ex) {
                    SessaoAtiva();
                }
            });
            return false;
        }

        function ListaGridRespostas(result) {
            var _tr = '';
            $.each(result.dados, function (i, item) {
                _tr += '<tr><td>' + item.resposta + '</td>';
                _tr += '<td>' + item.perg_subsequente + '</td>';
                _tr += '<td class="text-center"><i class="glyphicon glyphicon-edit" title="Editar Resposta" data-toggle="tooltip" style="cursor:pointer" onclick="EditarResposta(\'' + item.resposta + '\',' + item.perg_subsequente + ', ' + item.id + ')"></i></td>';
                _tr += '<td class="text-center"><i class="glyphicon glyphicon-remove" title="Excluir Resposta" data-toggle="tooltip" style="cursor:pointer" onclick="ExcluirResposta(\'' + item.id + '\', \'' + item.id_perguntas_quem_ele + '\')"></i></td></tr>';
            });

            $('#tBodyRespostas').html(_tr);
        }

        CarregarListaPerguntas();

        function CarregarListaPerguntas() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListaPerguntas", "PerguntasQuemEle")',
                dataType: 'json',
                success: function (result) {
                    ListaGridPerguntas(result);
                },
                error: function (ex) {
                    SessaoAtiva();
                }
            });
            return false;
        }

        function ListaGridPerguntas(result) {
            var _tr = '';
            $("#ddlPerguntaPredecessora").empty();
            $("#ddlPerguntaPredecessora").append('<option value="0">Nenhuma Pergunta</option>');
            $.each(result.dados, function (i, item) {
                $("#ddlPerguntaPredecessora").append('<option value="' + item.id + '">' + item.pergunta + '</option>');

                _tr += '<tr><td>' + item.pergunta + '</td>';
                _tr += '<td>' + item.tipo_pergunta + '</td>';
                _tr += '<td>' + item.ordem + '</td>';
                _tr += '<td class="text-center"><i class="glyphicon glyphicon-edit" title="Editar Pergunta" data-toggle="tooltip" style="cursor:pointer" onclick="EditarPergunta(\'' + item.pergunta + '\',\'' + item.tipo_pergunta + '\',\'' + item.ordem + '\',\'' + item.id + '\')"></i></td>';
                _tr += '<td class="text-center"><i class="glyphicon glyphicon-remove" title="Excluir Pergunta" data-toggle="tooltip" style="cursor:pointer" onclick="ExcluirPergunta(\'' + item.id + '\')"></i></td>';
                _tr += '<td class="text-center"><i class="glyphicon glyphicon-search" title="Listar Respostas" data-toggle="tooltip" style="cursor:pointer" onclick="CarregarListaRespostas(\'' + item.pergunta + '\',' + item.id + ')"></i></td></tr>';
            });
            $('#tBodyPerguntas').html(_tr);
        }*@

    </script>
}

