﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Token - Now</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/styleSocial.css")">

    <script type="text/javascript">
        function countDown(secs) {
            var span = document.getElementById('tokenSegundo');
            span.innerHTML = "Token gerado expira em " + secs + " segundos";
            if (secs < 1) {
                secs = 60;                
                TokenGenerate();
            }
            secs--;
            var timer = setTimeout('countDown(' + secs + ')', 1000);
        }


        function TokenGenerate() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("RetornaToken", "token")',
                dataType: 'json',
                success: function (token) {                    
                    $("#spanToken").html(token);
                },
                error: function (ex) {
                }
            });
        }
    </script>
</head>
<body onload="TokenGenerate()">
    <section class="container">
        <img src="@Url.Content("~/Images/LogoNOW.png")" />
        <br />
        <br />
        <br />
        <a href="javascript:TokenGenerate()" class="share-btn">
            <span class="share-btn-action share-btn-plus">Token Acesso Vendedor</span>
            <span class="share-btn-count" id="spanToken">------</span>
        </a>
    </section>
    <section class="about">        
        <p class="about-author">
            <span id="tokenSegundo"></span>

        </p>
    </section>
    <script type="text/javascript">        
        countDown(60);        
    </script>

    <!-- jQuery 2.2.0 -->
    <script src="@Url.Content("~/plugins/jQuery/jQuery-2.2.0.min.js")"></script>

    <!-- jQuery UI 1.11.4 -->
    <script src="@Url.Content("~/plugins/jQueryUI/jquery-ui.min.js")"></script>
</body>


</html>
